workflows/Agente_Mestre_Z-API_-_Desativar_Agente.json
{
  "updatedAt": "2025-12-17T18:56:55.000Z",
  "createdAt": "2025-12-06T13:35:25.234Z",
  "id": "3aRbzKeHB4JTSNEU",
  "name": "Agente Mestre Z-API - Desativar Agente",
  "active": true,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "IdConversa"
            },
            {
              "name": "TempoInatividadeAgente"
            },
            {
              "name": "WhatsAppHumano"
            }
          ]
        }
      },
      "id": "7e13254c-8cd6-49e6-8efa-96038de3da9b",
      "typeVersion": 1.1,
      "name": "DesativarAgente",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        416
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.IdConversa }}_status",
        "value": "Desativado",
        "expire": true,
        "ttl": "={{ $json.TempoInatividadeAgente }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        480,
        416
      ],
      "id": "91180b10-722c-4138-a336-f89509b23b39",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "2YLmSxsr6T77RzwN",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d720d485-d934-4859-9f63-cc2b6f1232ea",
              "leftValue": "={{ $json.WhatsAppHumano }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        704,
        416
      ],
      "id": "78799e89-4fb4-4c13-b888-ebc6b5f33c57",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        928,
        512
      ],
      "id": "8823a89e-524d-4a4a-a551-03215673c842",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        992,
        112
      ],
      "id": "6cb242cd-96de-4185-8895-dc27e8281391",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.IdConversa }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1104,
        304
      ],
      "id": "af32df1a-a77f-4cb6-88a2-b6ba27846105",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "0Z8zeX4ox8eTEGL1",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages }}",
        "messages": {
          "messageValues": [
            {
              "message": "=# Instruções | Faça um resumo da conversa realizada entre o usuário e a IA para ser repassado a um consultor especializado que irá dar seguimento nessa conversa.\n\n#Importante \n\n- Divida as mensagens de forma natural e humanizada;\n- Use quebras de linhas (\\n\\n) após pontos finais para legibilidade;\n- Para negrito (bold) use apenas um \"*\" nunca duas (exemplo: *negrito*)."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1344,
        112
      ],
      "id": "17812edb-ab43-419f-98e2-e333fabe80ea",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1424,
        336
      ],
      "id": "4b408b2e-b85c-4ad7-b005-d408639ccd83",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "47a3ptzhP4wlIUiz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3EAC63EE98C5F14530FE227360D3178E/token/198DF2D98C4EB52EFD1319EA/send-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('DesativarAgente').item.json.WhatsAppHumano }}"
            },
            {
              "name": "message",
              "value": "=⭐ Nova Solicitação de Atendimento\n\nℹ️ *IdConversa:* \n{{ $('DesativarAgente').item.json.IdConversa }}\n\n💭 *Resumo da Conversa*\n{{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1712,
        112
      ],
      "id": "35387437-7a61-4912-9b4f-f846b094a78e",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8jRtMgiJTpVow7wP",
          "name": "Z-API tutoriais no code"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1920,
        112
      ],
      "id": "81ac3291-7e75-4f32-9137-8b39f1a04819",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "## Desativar Agente, Fazer Resumo da Conversa e Avisar Humano\n",
        "height": 780,
        "width": 2120,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -64
      ],
      "id": "51b19b59-563f-4ef4-a65b-61a315ce4736",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/?utm_source=template-n8n",
        "height": 126,
        "width": 593,
        "color": 7
      },
      "id": "d580f907-f882-45b3-87e2-c425e2ae99e0",
      "name": "Sticky Note23",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1680,
        768
      ]
    }
  ],
  "connections": {
    "DesativarAgente": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "868449a4-fed0-4673-a315-b2525f8877fc",
  "activeVersionId": "868449a4-fed0-4673-a315-b2525f8877fc",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-06T13:35:25.240Z",
      "createdAt": "2025-12-06T13:35:25.240Z",
      "role": "workflow:owner",
      "workflowId": "3aRbzKeHB4JTSNEU",
      "projectId": "SoH44tJE4dqRVTiw"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-31T19:17:10.384Z",
    "createdAt": "2026-01-31T19:17:10.384Z",
    "versionId": "868449a4-fed0-4673-a315-b2525f8877fc",
    "workflowId": "3aRbzKeHB4JTSNEU",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "IdConversa"
              },
              {
                "name": "TempoInatividadeAgente"
              },
              {
                "name": "WhatsAppHumano"
              }
            ]
          }
        },
        "id": "7e13254c-8cd6-49e6-8efa-96038de3da9b",
        "typeVersion": 1.1,
        "name": "DesativarAgente",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          272,
          416
        ]
      },
      {
        "parameters": {
          "operation": "set",
          "key": "={{ $json.IdConversa }}_status",
          "value": "Desativado",
          "expire": true,
          "ttl": "={{ $json.TempoInatividadeAgente }}"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          480,
          416
        ],
        "id": "91180b10-722c-4138-a336-f89509b23b39",
        "name": "Redis",
        "credentials": {
          "redis": {
            "id": "2YLmSxsr6T77RzwN",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "d720d485-d934-4859-9f63-cc2b6f1232ea",
                "leftValue": "={{ $json.WhatsAppHumano }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          704,
          416
        ],
        "id": "78799e89-4fb4-4c13-b888-ebc6b5f33c57",
        "name": "If"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          928,
          512
        ],
        "id": "8823a89e-524d-4a4a-a551-03215673c842",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.memoryManager",
        "typeVersion": 1.1,
        "position": [
          992,
          112
        ],
        "id": "6cb242cd-96de-4185-8895-dc27e8281391",
        "name": "Chat Memory Manager"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.IdConversa }}",
          "contextWindowLength": 20
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          1104,
          304
        ],
        "id": "af32df1a-a77f-4cb6-88a2-b6ba27846105",
        "name": "Postgres Chat Memory",
        "credentials": {
          "postgres": {
            "id": "0Z8zeX4ox8eTEGL1",
            "name": "Postgres account 2"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.messages }}",
          "messages": {
            "messageValues": [
              {
                "message": "=# Instruções | Faça um resumo da conversa realizada entre o usuário e a IA para ser repassado a um consultor especializado que irá dar seguimento nessa conversa.\n\n#Importante \n\n- Divida as mensagens de forma natural e humanizada;\n- Use quebras de linhas (\\n\\n) após pontos finais para legibilidade;\n- Para negrito (bold) use apenas um \"*\" nunca duas (exemplo: *negrito*)."
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          1344,
          112
        ],
        "id": "17812edb-ab43-419f-98e2-e333fabe80ea",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          1424,
          336
        ],
        "id": "4b408b2e-b85c-4ad7-b005-d408639ccd83",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "47a3ptzhP4wlIUiz",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.z-api.io/instances/3EAC63EE98C5F14530FE227360D3178E/token/198DF2D98C4EB52EFD1319EA/send-text",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "={{ $('DesativarAgente').item.json.WhatsAppHumano }}"
              },
              {
                "name": "message",
                "value": "=⭐ Nova Solicitação de Atendimento\n\nℹ️ *IdConversa:* \n{{ $('DesativarAgente').item.json.IdConversa }}\n\n💭 *Resumo da Conversa*\n{{ $json.text }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1712,
          112
        ],
        "id": "35387437-7a61-4912-9b4f-f846b094a78e",
        "name": "HTTP Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "8jRtMgiJTpVow7wP",
            "name": "Z-API tutoriais no code"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1920,
          112
        ],
        "id": "81ac3291-7e75-4f32-9137-8b39f1a04819",
        "name": "No Operation, do nothing1"
      },
      {
        "parameters": {
          "content": "## Desativar Agente, Fazer Resumo da Conversa e Avisar Humano\n",
          "height": 780,
          "width": 2120,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          160,
          -64
        ],
        "id": "51b19b59-563f-4ef4-a65b-61a315ce4736",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "content": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/?utm_source=template-n8n",
          "height": 126,
          "width": 593,
          "color": 7
        },
        "id": "d580f907-f882-45b3-87e2-c425e2ae99e0",
        "name": "Sticky Note23",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1680,
          768
        ]
      }
    ],
    "connections": {
      "DesativarAgente": {
        "main": [
          [
            {
              "node": "Redis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Chat Memory Manager",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "Chat Memory Manager",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Chat Memory Manager": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2025-12-04T00:12:32.689Z",
      "createdAt": "2025-12-04T00:12:32.689Z",
      "id": "JW0HiSC3YYTXh5aL",
      "name": "NoCode StartUp"
    }
  ]
}