workflows/DesativarAgente_sem_autofixing_parser.json
{
  "updatedAt": "2025-12-17T18:56:55.000Z",
  "createdAt": "2025-12-06T00:55:23.538Z",
  "id": "XwQNh8UPYj5OgXSw",
  "name": "DesativarAgente sem autofixing parser",
  "active": true,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "idConversa"
            },
            {
              "name": "tempo_inatividade_agente"
            },
            {
              "name": "whatsapp_humano"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "DesativarAgente",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.idConversa }}_status",
        "value": "Desativado",
        "expire": "={{ $json.tempo_inatividade_agente }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        480,
        352
      ],
      "id": "0d43f063-d4b4-43d0-aed7-123eefce90c7",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "2YLmSxsr6T77RzwN",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a98facef-6d4f-43fc-943d-1ac1792e25b4",
              "leftValue": "={{ $json.whatsapp_humano }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        688,
        352
      ],
      "id": "f26b2352-5ee5-4dc7-99c5-ec7f03829a30",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        832,
        576
      ],
      "id": "3e0909b9-f02f-4cb3-9874-18fc62eb4eb7",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        896,
        256
      ],
      "id": "a78fc483-428e-442e-b962-d9f7ffad3630",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.idConversa }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        896,
        416
      ],
      "id": "da038bd2-1ac6-4c1f-9013-0328993c7f03",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "0Z8zeX4ox8eTEGL1",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages }}",
        "messages": {
          "messageValues": [
            {
              "message": "# Instruções | Faça um resumo da conversa realizada entre o usuário e a IA para ser repassado a um consultor especializado que irá dar seguimento nessa conversa.\n\n#Importante \n\n- Divida as mensagens de forma natural e humanizada;\n- Use quebras de linhas (\\n\\n) após pontos finais para legibilidade;\n- Para negrito (bold) use apenas um \"*\" nunca duas (exemplo: *negrito*)."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1248,
        256
      ],
      "id": "de63bb21-c2ab-4615-8c11-8fc3928772fe",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1184,
        464
      ],
      "id": "009b7911-b0f9-405d-91bb-0abfd567ca88",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "47a3ptzhP4wlIUiz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3EAC63EE98C5F14530FE227360D3178E/token/198DF2D98C4EB52EFD1319EA/send-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('DesativarAgente').item.json.whatsapp_humano }}"
            },
            {
              "name": "message",
              "value": "=⭐ Nova Solicitação de Atendimento  \n\nℹ️ *IdConversa:*   \n{{ $('DesativarAgente').item.json.idConversa }}\n\n💭 *Resumo da Conversa* \n{{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1600,
        256
      ],
      "id": "3a43e683-9d84-426d-85a2-994ac6978b39",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8jRtMgiJTpVow7wP",
          "name": "Z-API tutoriais no code"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1808,
        256
      ],
      "id": "8e18cfe1-e879-4b23-9b0f-6da946ef282e",
      "name": "No Operation, do nothing1"
    }
  ],
  "connections": {
    "DesativarAgente": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d688ee65-58fa-45e8-95b2-c28669ff33e9",
  "activeVersionId": "d688ee65-58fa-45e8-95b2-c28669ff33e9",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-06T00:55:23.542Z",
      "createdAt": "2025-12-06T00:55:23.542Z",
      "role": "workflow:owner",
      "workflowId": "XwQNh8UPYj5OgXSw",
      "projectId": "SoH44tJE4dqRVTiw"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-31T19:17:10.384Z",
    "createdAt": "2026-01-31T19:17:10.384Z",
    "versionId": "d688ee65-58fa-45e8-95b2-c28669ff33e9",
    "workflowId": "XwQNh8UPYj5OgXSw",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "idConversa"
              },
              {
                "name": "tempo_inatividade_agente"
              },
              {
                "name": "whatsapp_humano"
              }
            ]
          }
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "DesativarAgente",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          272,
          352
        ]
      },
      {
        "parameters": {
          "operation": "set",
          "key": "={{ $json.idConversa }}_status",
          "value": "Desativado",
          "expire": "={{ $json.tempo_inatividade_agente }}"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          480,
          352
        ],
        "id": "0d43f063-d4b4-43d0-aed7-123eefce90c7",
        "name": "Redis",
        "credentials": {
          "redis": {
            "id": "2YLmSxsr6T77RzwN",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "a98facef-6d4f-43fc-943d-1ac1792e25b4",
                "leftValue": "={{ $json.whatsapp_humano }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          688,
          352
        ],
        "id": "f26b2352-5ee5-4dc7-99c5-ec7f03829a30",
        "name": "If"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          832,
          576
        ],
        "id": "3e0909b9-f02f-4cb3-9874-18fc62eb4eb7",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.memoryManager",
        "typeVersion": 1.1,
        "position": [
          896,
          256
        ],
        "id": "a78fc483-428e-442e-b962-d9f7ffad3630",
        "name": "Chat Memory Manager"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.idConversa }}",
          "contextWindowLength": 20
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          896,
          416
        ],
        "id": "da038bd2-1ac6-4c1f-9013-0328993c7f03",
        "name": "Postgres Chat Memory",
        "credentials": {
          "postgres": {
            "id": "0Z8zeX4ox8eTEGL1",
            "name": "Postgres account 2"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.messages }}",
          "messages": {
            "messageValues": [
              {
                "message": "# Instruções | Faça um resumo da conversa realizada entre o usuário e a IA para ser repassado a um consultor especializado que irá dar seguimento nessa conversa.\n\n#Importante \n\n- Divida as mensagens de forma natural e humanizada;\n- Use quebras de linhas (\\n\\n) após pontos finais para legibilidade;\n- Para negrito (bold) use apenas um \"*\" nunca duas (exemplo: *negrito*)."
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          1248,
          256
        ],
        "id": "de63bb21-c2ab-4615-8c11-8fc3928772fe",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          1184,
          464
        ],
        "id": "009b7911-b0f9-405d-91bb-0abfd567ca88",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "47a3ptzhP4wlIUiz",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.z-api.io/instances/3EAC63EE98C5F14530FE227360D3178E/token/198DF2D98C4EB52EFD1319EA/send-text",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "={{ $('DesativarAgente').item.json.whatsapp_humano }}"
              },
              {
                "name": "message",
                "value": "=⭐ Nova Solicitação de Atendimento  \n\nℹ️ *IdConversa:*   \n{{ $('DesativarAgente').item.json.idConversa }}\n\n💭 *Resumo da Conversa* \n{{ $json.text }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1600,
          256
        ],
        "id": "3a43e683-9d84-426d-85a2-994ac6978b39",
        "name": "HTTP Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "8jRtMgiJTpVow7wP",
            "name": "Z-API tutoriais no code"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1808,
          256
        ],
        "id": "8e18cfe1-e879-4b23-9b0f-6da946ef282e",
        "name": "No Operation, do nothing1"
      }
    ],
    "connections": {
      "DesativarAgente": {
        "main": [
          [
            {
              "node": "Redis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Chat Memory Manager",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "Chat Memory Manager",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Chat Memory Manager": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}