workflows/DesativarAgente.json
{
  "updatedAt": "2025-12-17T18:57:47.000Z",
  "createdAt": "2025-12-14T14:03:07.145Z",
  "id": "ozfnELYwsGvdAMvC",
  "name": "DesativarAgente",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "IdConversa"
            },
            {
              "name": "TempoInatividadeAgente"
            },
            {
              "name": "WhatsAppHumano"
            }
          ]
        }
      },
      "id": "6aee7f82-1e4b-40cc-868a-99f65f36eafe",
      "typeVersion": 1.1,
      "name": "DesativarAgente",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        112,
        464
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.IdConversa }}_status",
        "value": "Desativado",
        "expire": true,
        "ttl": "={{ $json.TempoInatividadeAgente }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        320,
        464
      ],
      "id": "d2a448a0-008f-484e-add9-74268132c14e",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "2YLmSxsr6T77RzwN",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d720d485-d934-4859-9f63-cc2b6f1232ea",
              "leftValue": "={{ $json.WhatsAppHumano }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        464
      ],
      "id": "4cd05810-8250-4679-8f9e-aadebb6febb0",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        768,
        560
      ],
      "id": "bcfea51d-65f3-4d99-b9ae-d24d66428bd3",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        832,
        160
      ],
      "id": "d526f509-8e9a-4ec4-ae40-13ca927b6775",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.IdConversa }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        944,
        368
      ],
      "id": "ba17c3d8-e21f-437a-9318-9e3c4e60a7f3",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "1bIg7I25XlEBm4j3",
          "name": "Fernando_prosperidade"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages }}",
        "messages": {
          "messageValues": [
            {
              "message": "=# Instruções | Faça um resumo da conversa realizada entre o usuário e a IA para ser repassado a um consultor especializado que irá dar seguimento nessa conversa.\n\n#Importante \n\n- Divida as mensagens de forma natural e humanizada;\n- Use quebras de linhas (\\n\\n) após pontos finais para legibilidade;\n- Para negrito (bold) use apenas um \"*\" nunca duas (exemplo: *negrito*)."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1184,
        160
      ],
      "id": "1f96b05d-9939-438e-9911-96d8a87d74bc",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1264,
        384
      ],
      "id": "5775469a-88c0-4595-8418-f75d6a48bd26",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "VqrbOmkmcbSCq58f",
          "name": "Formacao n8n"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3EAC63EE98C5F14530FE227360D3178E/token/198DF2D98C4EB52EFD1319EA/send-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('DesativarAgente').item.json.WhatsAppHumano }}"
            },
            {
              "name": "message",
              "value": "=⭐ Nova Solicitação de Atendimento\n\nℹ️ *IdConversa:* \n{{ $('DesativarAgente').item.json.IdConversa }}\n\n💭 *Resumo da Conversa*\n{{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        160
      ],
      "id": "9b06c179-0d59-4ecc-88c8-ed1ddff085d3",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8jRtMgiJTpVow7wP",
          "name": "Z-API tutoriais no code"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1760,
        160
      ],
      "id": "f54b347d-093b-4e26-b5f0-f5e56bd2c6cb",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "## Desativar Agente, Fazer Resumo da Conversa e Avisar Humano\n",
        "height": 780,
        "width": 2120,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b37b964d-9838-4956-8b9f-c82d2dc7650e",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/?utm_source=template-n8n",
        "height": 126,
        "width": 593,
        "color": 7
      },
      "id": "0a88504a-66a3-4b45-a5f5-db50e0714ba5",
      "name": "Sticky Note23",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1520,
        832
      ]
    }
  ],
  "connections": {
    "DesativarAgente": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3b01b70b-7e6f-4fd5-8811-b3cbe35a2fb7",
  "activeVersionId": "3b01b70b-7e6f-4fd5-8811-b3cbe35a2fb7",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-14T14:03:07.148Z",
      "createdAt": "2025-12-14T14:03:07.148Z",
      "role": "workflow:owner",
      "workflowId": "ozfnELYwsGvdAMvC",
      "projectId": "SoH44tJE4dqRVTiw"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-31T19:17:10.384Z",
    "createdAt": "2026-01-31T19:17:10.384Z",
    "versionId": "3b01b70b-7e6f-4fd5-8811-b3cbe35a2fb7",
    "workflowId": "ozfnELYwsGvdAMvC",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "IdConversa"
              },
              {
                "name": "TempoInatividadeAgente"
              },
              {
                "name": "WhatsAppHumano"
              }
            ]
          }
        },
        "id": "6aee7f82-1e4b-40cc-868a-99f65f36eafe",
        "typeVersion": 1.1,
        "name": "DesativarAgente",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          112,
          464
        ]
      },
      {
        "parameters": {
          "operation": "set",
          "key": "={{ $json.IdConversa }}_status",
          "value": "Desativado",
          "expire": true,
          "ttl": "={{ $json.TempoInatividadeAgente }}"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          320,
          464
        ],
        "id": "d2a448a0-008f-484e-add9-74268132c14e",
        "name": "Redis",
        "credentials": {
          "redis": {
            "id": "2YLmSxsr6T77RzwN",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "d720d485-d934-4859-9f63-cc2b6f1232ea",
                "leftValue": "={{ $json.WhatsAppHumano }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          544,
          464
        ],
        "id": "4cd05810-8250-4679-8f9e-aadebb6febb0",
        "name": "If"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          768,
          560
        ],
        "id": "bcfea51d-65f3-4d99-b9ae-d24d66428bd3",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.memoryManager",
        "typeVersion": 1.1,
        "position": [
          832,
          160
        ],
        "id": "d526f509-8e9a-4ec4-ae40-13ca927b6775",
        "name": "Chat Memory Manager"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.IdConversa }}",
          "contextWindowLength": 20
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          944,
          368
        ],
        "id": "ba17c3d8-e21f-437a-9318-9e3c4e60a7f3",
        "name": "Postgres Chat Memory",
        "credentials": {
          "postgres": {
            "id": "1bIg7I25XlEBm4j3",
            "name": "Fernando_prosperidade"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.messages }}",
          "messages": {
            "messageValues": [
              {
                "message": "=# Instruções | Faça um resumo da conversa realizada entre o usuário e a IA para ser repassado a um consultor especializado que irá dar seguimento nessa conversa.\n\n#Importante \n\n- Divida as mensagens de forma natural e humanizada;\n- Use quebras de linhas (\\n\\n) após pontos finais para legibilidade;\n- Para negrito (bold) use apenas um \"*\" nunca duas (exemplo: *negrito*)."
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          1184,
          160
        ],
        "id": "1f96b05d-9939-438e-9911-96d8a87d74bc",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          1264,
          384
        ],
        "id": "5775469a-88c0-4595-8418-f75d6a48bd26",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "VqrbOmkmcbSCq58f",
            "name": "Formacao n8n"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.z-api.io/instances/3EAC63EE98C5F14530FE227360D3178E/token/198DF2D98C4EB52EFD1319EA/send-text",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "={{ $('DesativarAgente').item.json.WhatsAppHumano }}"
              },
              {
                "name": "message",
                "value": "=⭐ Nova Solicitação de Atendimento\n\nℹ️ *IdConversa:* \n{{ $('DesativarAgente').item.json.IdConversa }}\n\n💭 *Resumo da Conversa*\n{{ $json.text }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1552,
          160
        ],
        "id": "9b06c179-0d59-4ecc-88c8-ed1ddff085d3",
        "name": "HTTP Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "8jRtMgiJTpVow7wP",
            "name": "Z-API tutoriais no code"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1760,
          160
        ],
        "id": "f54b347d-093b-4e26-b5f0-f5e56bd2c6cb",
        "name": "No Operation, do nothing1"
      },
      {
        "parameters": {
          "content": "## Desativar Agente, Fazer Resumo da Conversa e Avisar Humano\n",
          "height": 780,
          "width": 2120,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "b37b964d-9838-4956-8b9f-c82d2dc7650e",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "content": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/?utm_source=template-n8n",
          "height": 126,
          "width": 593,
          "color": 7
        },
        "id": "0a88504a-66a3-4b45-a5f5-db50e0714ba5",
        "name": "Sticky Note23",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1520,
          832
        ]
      }
    ],
    "connections": {
      "DesativarAgente": {
        "main": [
          [
            {
              "node": "Redis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Chat Memory Manager",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "Chat Memory Manager",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Chat Memory Manager": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2025-12-04T00:12:32.689Z",
      "createdAt": "2025-12-04T00:12:32.689Z",
      "id": "JW0HiSC3YYTXh5aL",
      "name": "NoCode StartUp"
    }
  ]
}