workflows/M_dulo_05R___Regenera__o_de_TTS.json
{
  "updatedAt": "2026-04-10T21:00:44.885Z",
  "createdAt": "2026-03-31T23:42:03.735Z",
  "id": "ivaHfIgh7u3cuGEW",
  "name": "Módulo 05R — Regeneração de TTS",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tts/regenerar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c57d6927-743b-4305-909c-2665219e1eff",
      "name": "Webhook Regenerar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -7008,
        208
      ],
      "webhookId": "tts-regenerar-05r",
      "notes": "POST /tts/regenerar { video_id }\nDisparado pelo frontend de narração."
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst video_id = item.video_id || (item.body && item.body.video_id) || null;\nif (!video_id) throw new Error('video_id obrigatório.');\nreturn [{ json: { video_id } }];"
      },
      "id": "828982c2-c9eb-44bb-8b4b-577deb9f45e3",
      "name": "Normalizar Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6800,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-url",
              "name": "SUPABASE_URL",
              "value": "https://vngtopghlmgqjaibqiyb.supabase.co",
              "type": "string"
            },
            {
              "id": "cfg-key",
              "name": "SUPABASE_SERVICE_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuZ3RvcGdobG1ncWphaWJxaXliIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzUzOTg4NiwiZXhwIjoyMDg5MTE1ODg2fQ.xywZiNZ3h6_uVE9-ltt2LAXtZJ8jTezHCE4LmjBxzTk",
              "type": "string"
            },
            {
              "id": "cfg-nv",
              "name": "NETWORK_VOLUME_ID",
              "value": "1kyj01kp0v",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d6756e17-44d9-41af-b8fd-50f078d21188",
      "name": "Configuração",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6608,
        208
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/cenas?video_id=eq.{{ $('Normalizar Input').first().json.video_id }}&opcao_id=is.null&tts_status=eq.pendente&tipo_cena=neq.texto&narracao=not.is.null&narracao=neq.&order=ordem.asc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "2660fef7-4620-4298-8989-4c4820ddf96f",
      "name": "Ler Cenas Pendentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6400,
        208
      ],
      "notes": "GET cenas com tts_status='pendente', ordem ASC."
    },
    {
      "parameters": {
        "jsCode": "const cenas = $('Ler Cenas Pendentes').all().map(i => i.json);\nconst total = Array.isArray(cenas[0]) ? cenas[0].length : cenas.length;\nreturn [{ json: { success: true, pendentes: total, mensagem: 'Regeneração TTS iniciada.' } }];"
      },
      "id": "848f4f89-c506-4a27-9dc9-6fe226ef9b96",
      "name": "Contar e Responder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6208,
        208
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a42b7020-bb57-4619-9b30-2e3047ec2680",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -6000,
        208
      ],
      "notes": "Responde imediatamente ao frontend. Processamento continua async."
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/videos?id=eq.{{ $('Normalizar Input').first().json.video_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ geracao_tts_status: 'gerando' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "d31b365b-01b4-449f-b7ef-0006b73641fd",
      "name": "Marcar Gerando",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5808,
        208
      ],
      "notes": "PATCH videos: geracao_tts_status = 'gerando'."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.runpod.io/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: '{ myself { pods { id name desiredStatus runtime { uptimeInSeconds } } } }' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "91183adf-9dc7-42be-a8df-7a86c6e370b9",
      "name": "Verificar Pod Existente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5600,
        208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zQVkS3cYGiH3Ff5m",
          "name": "RunPod API"
        }
      },
      "notes": "Lista pods para verificar se clay-comfyui já está rodando."
    },
    {
      "parameters": {
        "jsCode": "var response = $input.first().json;\nvar staticData = $getWorkflowStaticData('global');\n\nvar podEncontrado = false;\nvar podId = null;\nvar comfyuiUrl = null;\n\ntry {\n  var pods = response.data.myself.pods || [];\n  for (var p of pods) {\n    if (p.name === 'clay-comfyui' && p.desiredStatus === 'RUNNING') {\n      var uptime = p.runtime ? p.runtime.uptimeInSeconds : 0;\n      if (uptime > 30) {\n        podEncontrado = true;\n        podId = p.id;\n        comfyuiUrl = 'https://' + p.id + '-8188.proxy.runpod.net';\n        break;\n      }\n    }\n  }\n} catch(e) {}\n\nif (podEncontrado) {\n  staticData.podId = podId;\n  staticData.comfyuiUrl = comfyuiUrl;\n}\n\nreturn [{ json: { _podExiste: podEncontrado, podId: podId, comfyuiUrl: comfyuiUrl } }];"
      },
      "id": "c498d513-e44c-4be5-a94b-d1048abd086d",
      "name": "Avaliar Pod Existente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5408,
        208
      ],
      "notes": "Verifica se pod clay-comfyui existe e está RUNNING.\nSe sim, reutiliza. Se não, cria novo."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "pod-existe",
              "leftValue": "={{ $json._podExiste }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3acd1ffb-49c8-4825-82b4-df63ad76ad19",
      "name": "IF Pod Existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -5200,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nstaticData.comfyRetries = 0;\nreturn [{ json: { checkUrl: staticData.comfyuiUrl + '/object_info' } }];"
      },
      "id": "8043323f-d141-4cb7-87d1-1ff0ac21b41e",
      "name": "Usar Pod Existente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5008,
        112
      ],
      "notes": "Pod já rodando, vai direto para check ComfyUI."
    },
    {
      "parameters": {
        "jsCode": "const config = $('Configuração').first().json;\nconst nvId = config.NETWORK_VOLUME_ID;\nconst createBody = {\n  query: `mutation { podFindAndDeployOnDemand(input: { name: \"clay-comfyui\", cloudType: SECURE, gpuTypeId: \"NVIDIA A40\", gpuCount: 1, containerDiskInGb: 10, networkVolumeId: \"${nvId}\", ports: \"8188/http,8080/http,8888/http\", volumeMountPath: \"/workspace\", imageName: \"runpod/comfyui:latest\" }) { id desiredStatus } }`\n};\nreturn [{ json: { createBody } }];"
      },
      "id": "6456bdc7-47db-4552-abb7-0a94f032be15",
      "name": "Prep Criar Pod",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5008,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.runpod.io/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.createBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "9468831e-7bde-4144-a753-3dbabb57d910",
      "name": "Criar Pod",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4800,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zQVkS3cYGiH3Ff5m",
          "name": "RunPod API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nif (response.errors && response.errors.length > 0) {\n  throw new Error('RunPod: ' + response.errors.map(e => e.message).join('; '));\n}\nconst newPodId = response?.data?.podFindAndDeployOnDemand?.id;\nif (!newPodId) throw new Error('Falha ao criar pod');\nvar staticData = $getWorkflowStaticData('global');\nstaticData.podId = newPodId;\nstaticData.comfyuiUrl = 'https://' + newPodId + '-8188.proxy.runpod.net';\nstaticData.podRetries = 0;\nreturn [{ json: { podId: newPodId } }];"
      },
      "id": "637b8eb9-54eb-4fca-af01-d680981066d8",
      "name": "Processar Novo Pod",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4608,
        400
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "6c0a9643-2b6a-4c62-a0d8-d990c9aeb3ca",
      "name": "Wait Pod",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4400,
        400
      ],
      "webhookId": "m05r-wait-pod-001"
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { podStatusBody: { query: '{ pod(input: {podId: \"' + staticData.podId + '\"}) { id desiredStatus runtime { uptimeInSeconds } } }' } } }];"
      },
      "id": "8b7ded98-1910-47e2-b82b-719020316006",
      "name": "Prep Checar Pod",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4208,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.runpod.io/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.podStatusBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "555358b5-c8c5-4a0a-81fe-ebe4bf7555a8",
      "name": "Checar Pod",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4000,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zQVkS3cYGiH3Ff5m",
          "name": "RunPod API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var response = $('Checar Pod').first().json;\nvar staticData = $getWorkflowStaticData('global');\nstaticData.podRetries = (staticData.podRetries || 0) + 1;\nvar running = false;\ntry {\n  var status = response.data.pod.desiredStatus;\n  var uptime = response.data.pod.runtime.uptimeInSeconds;\n  running = (status === 'RUNNING' && uptime > 0);\n} catch(e) {}\nreturn [{ json: { _podReady: running, _podTimeout: (!running && staticData.podRetries >= 20) } }];"
      },
      "id": "743a80a7-ba57-4153-95fd-f85678fce6c4",
      "name": "Avaliar Pod",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3808,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "pod-ready",
              "leftValue": "={{ $json._podReady }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dcef93fc-2c7c-4016-8693-d9a25ff7efff",
      "name": "IF Pod Pronto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3600,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "pod-timeout",
              "leftValue": "={{ $json._podTimeout }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eaa8c978-c467-4bb8-a553-69d413c69db0",
      "name": "IF Pod Timeout",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3600,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nvar podId = staticData.podId || 'unknown';\nreturn [{ json: { stopBody: { query: 'mutation { podTerminate(input: {podId: \"' + podId + '\"}) }' }, erro: 'Pod ou ComfyUI timeout' } }];"
      },
      "id": "3026cac1-6de9-4d39-8298-dd5345ad29a9",
      "name": "Prep Desligar Timeout",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3408,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.runpod.io/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.stopBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "33ae2a06-fb43-442c-99ec-04038e87a89a",
      "name": "Desligar Pod Erro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3200,
        800
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zQVkS3cYGiH3Ff5m",
          "name": "RunPod API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nstaticData.comfyRetries = 0;\nreturn [{ json: { checkUrl: staticData.comfyuiUrl + '/object_info' } }];"
      },
      "id": "b9f613b4-17d0-4e52-bf3a-109ac1ad6c97",
      "name": "Prep Polling ComfyUI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3200,
        208
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "597c04d5-fbea-4489-b437-c5a5b9a09d21",
      "name": "Wait ComfyUI",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3008,
        208
      ],
      "webhookId": "m05r-wait-comfy-001"
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { checkUrl: staticData.comfyuiUrl + '/object_info' } }];"
      },
      "id": "bd1cd2a1-90f7-4b6b-93a0-8f0f3c26bc10",
      "name": "Prep Checar ComfyUI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2800,
        208
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.checkUrl }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 15000
        }
      },
      "id": "cd746931-c68f-44d0-b70f-30152a8f7ab6",
      "name": "Checar ComfyUI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2608,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "var response = $('Checar ComfyUI').first().json;\nvar staticData = $getWorkflowStaticData('global');\nstaticData.comfyRetries = (staticData.comfyRetries || 0) + 1;\nvar ready = false;\ntry {\n  var keys = Object.keys(response);\n  var hasNodes = keys.length > 50;\n  var hasTTS = response.hasOwnProperty('FB_Qwen3TTSVoiceClone');\n  ready = hasNodes && hasTTS;\n} catch(e) {}\nreturn [{ json: { _comfyReady: ready, _comfyTimeout: (!ready && staticData.comfyRetries >= 40) } }];"
      },
      "id": "f3fbf6f2-8f0f-4962-852e-b814f1982feb",
      "name": "Avaliar ComfyUI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2400,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "comfy-ready",
              "leftValue": "={{ $json._comfyReady }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1d95ceee-f7e2-4578-9d50-e14eb420d6e0",
      "name": "IF ComfyUI Pronto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2208,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "comfy-timeout",
              "leftValue": "={{ $json._comfyTimeout }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "19a8d23e-797b-45e5-a380-16fda5d84e2b",
      "name": "IF ComfyUI Timeout",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2208,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nconst comfyuiUrl = staticData.comfyuiUrl;\nconst testPayload = {\n  \"24\": { \"inputs\": { \"audio\": \"Neutro.mp3\" }, \"class_type\": \"LoadAudio\", \"_meta\": { \"title\": \"Load Audio\" } },\n  \"40\": { \"inputs\": { \"target_text\": \"Teste.\", \"model_choice\": \"1.7B\", \"device\": \"auto\", \"precision\": \"bf16\", \"language\": \"Portuguese\", \"ref_text\": \"Naquela noite, eu ouvi passos no corredor.\", \"seed\": 12345, \"max_new_tokens\": 2048, \"top_p\": 0.8, \"top_k\": 20, \"temperature\": 1, \"repetition_penalty\": 1.05, \"x_vector_only\": false, \"attention\": \"sdpa\", \"unload_model_after_generate\": false, \"custom_model_path\": \"\", \"ref_audio\": [\"24\", 0] }, \"class_type\": \"FB_Qwen3TTSVoiceClone\", \"_meta\": { \"title\": \"Test TTS\" } },\n  \"41\": { \"inputs\": { \"filename_prefix\": \"Test\", \"quality\": \"V0\", \"audio\": [\"40\", 0] }, \"class_type\": \"SaveAudioMP3\", \"_meta\": { \"title\": \"Save Test\" } }\n};\nstaticData.testRetries = 0;\nreturn [{ json: { promptUrl: comfyuiUrl + '/prompt', promptBody: { prompt: testPayload } } }];"
      },
      "id": "b75220f4-7f33-4178-87c4-e9810e0065fa",
      "name": "Prep Teste TTS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2000,
        208
      ],
      "notes": "Envia teste mínimo para verificar que o Qwen TTS funciona."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.promptUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.promptBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "b3e03a50-f211-432f-95dc-93383d405cf6",
      "name": "Enviar Teste TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1808,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "var response = $input.first().json;\nvar staticData = $getWorkflowStaticData('global');\nstaticData.testPromptId = response.prompt_id;\nstaticData.testHistoryUrl = staticData.comfyuiUrl + '/history/' + response.prompt_id;\nstaticData.testRetries = 0;\nreturn [{ json: { promptId: response.prompt_id } }];"
      },
      "id": "c6c3c56e-0ae5-4d67-b1bb-73af7f23523a",
      "name": "Prep Polling Teste",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        208
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "095bc577-11f0-4797-bdad-367ebcbbfcd3",
      "name": "Wait Teste",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1408,
        208
      ],
      "webhookId": "m05r-wait-test-001"
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { historyUrl: staticData.testHistoryUrl, promptId: staticData.testPromptId } }];"
      },
      "id": "afa49cdb-4db8-44f5-8d5e-f2cf1a985ccc",
      "name": "Prep Buscar Teste",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        208
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.historyUrl }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "2192cb05-0ee6-47d8-9aa2-4d3e42f545bd",
      "name": "Buscar Resultado Teste",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1008,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "var input = $('Buscar Resultado Teste').first().json;\nvar staticData = $getWorkflowStaticData('global');\nvar promptId = staticData.testPromptId;\nstaticData.testRetries = (staticData.testRetries || 0) + 1;\nvar pronto = false; var erro = false; var erroMsg = '';\ntry {\n  var hist = input[promptId];\n  if (hist) {\n    var statusStr = hist.status ? hist.status.status_str : null;\n    if (statusStr === 'error') {\n      erro = true;\n      var msgs = hist.status.messages || [];\n      for (var m of msgs) { if (m[0] === 'execution_error') { erroMsg = m[1].exception_message || 'Erro desconhecido'; break; } }\n    } else if (hist.outputs) {\n      var keys = Object.keys(hist.outputs);\n      for (var k = 0; k < keys.length; k++) {\n        if (hist.outputs[keys[k]].audio && hist.outputs[keys[k]].audio.length > 0) { pronto = true; break; }\n      }\n    }\n  }\n} catch(e) {}\nreturn [{ json: { _testOk: pronto, _testErro: erro, _testErroMsg: erroMsg, _testTimeout: (!pronto && !erro && staticData.testRetries >= 12) } }];"
      },
      "id": "69537d07-3b21-477e-9b4d-78457f9a1110",
      "name": "Avaliar Teste",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "test-ok",
              "leftValue": "={{ $json._testOk }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "adfc99c3-a7ab-4713-96df-fe0f34cc8fc1",
      "name": "IF Teste OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -608,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "test-erro",
              "leftValue": "={{ $json._testErro }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dade16a3-67b4-4197-9742-5ee09bcf1b76",
      "name": "IF Teste Erro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -608,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "test-timeout",
              "leftValue": "={{ $json._testTimeout }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2394b5e6-1b92-4480-8fe4-e542de79552d",
      "name": "IF Teste Timeout",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -608,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "var msg = $('Avaliar Teste').first().json._testErroMsg || 'Erro desconhecido';\nthrow new Error('❌ TTS FALHOU NO TESTE: ' + msg);"
      },
      "id": "71787175-1f53-4369-a351-2bdc877758ea",
      "name": "Erro TTS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const cenasRaw = $('Ler Cenas Pendentes').all().map(i => i.json);\nconst cenas = Array.isArray(cenasRaw[0]) ? cenasRaw[0] : cenasRaw;\nconst videoId = $('Normalizar Input').first().json.video_id;\n\nconst items = cenas.map(c => ({ json: { ...c, _videoId: videoId } }));\nreturn items;"
      },
      "id": "27ed3085-6d1a-4688-ae97-48ff7b351251",
      "name": "Preparar Geração",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        208
      ],
      "notes": "Prepara array de cenas pendentes para o loop."
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "500d7c42-e6e7-4c1f-abdb-6f42f2d2093e",
      "name": "Loop Cenas",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -208,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $('Loop Cenas').first().json;\nvar staticData = $getWorkflowStaticData('global');\nconst comfyuiUrl = staticData.comfyuiUrl;\nconst seed = Math.floor(Math.random() * 999999999999999);\n\nconst VOICE_MAP = {\n  calma: { audio: 'Calma.mp3', ref_text: 'Esta é uma história que aconteceu numa pequena cidade do interior. Ninguém fala sobre isso. Mas todo mundo lembra. E todo mundo tem medo.' },\n  neutra: { audio: 'Neutro.mp3', ref_text: 'Naquela noite, eu ouvi passos no corredor. Lentos, pesados, arrastados. Quando abri a porta, não havia ninguém. Mas as pegadas no chão ainda estavam quentes.' },\n  tensa: { audio: 'Tensa.mp3', ref_text: 'Ele não devia ter atendido aquele telefone. Alguma coisa estava errada. A voz do outro lado não era humana. Ele sabia disso. Mas não conseguia desligar.' },\n  suspense: { audio: 'Suspense.mp3', ref_text: 'Tem algo embaixo da cama. Eu sei porque consigo sentir a respiração. Está quente. Está perto. E está esperando eu colocar os pés no chão.' },\n  panico: { audio: 'Panico.mp3', ref_text: 'Corre! Não olha pra trás! Aquilo não é a sua mãe! Eu vi o rosto daquela coisa e não era humano! Pelo amor de Deus, não abre essa porta!' }\n};\n\nconst emocao = item.emocao || 'neutra';\nconst voice = VOICE_MAP[emocao] || VOICE_MAP.neutra;\n\nconst payload = {\n  \"24\": { \"inputs\": { \"audio\": voice.audio }, \"class_type\": \"LoadAudio\", \"_meta\": { \"title\": \"Load Audio\" } },\n  \"40\": { \"inputs\": { \"target_text\": item.narracao, \"model_choice\": \"1.7B\", \"device\": \"auto\", \"precision\": \"bf16\", \"language\": \"Portuguese\", \"ref_text\": voice.ref_text, \"seed\": seed, \"max_new_tokens\": 2048, \"top_p\": 0.8, \"top_k\": 20, \"temperature\": 1, \"repetition_penalty\": 1.05, \"x_vector_only\": false, \"attention\": \"sdpa\", \"unload_model_after_generate\": false, \"custom_model_path\": \"\", \"ref_audio\": [\"24\", 0] }, \"class_type\": \"FB_Qwen3TTSVoiceClone\", \"_meta\": { \"title\": \"\\ud83c\\udfad Qwen3-TTS VoiceClone\" } },\n  \"41\": { \"inputs\": { \"filename_prefix\": \"Narr_\" + (item.numero || 'unknown'), \"quality\": \"V0\", \"audio\": [\"40\", 0] }, \"class_type\": \"SaveAudioMP3\", \"_meta\": { \"title\": \"Save Audio (MP3)\" } }\n};\n\nreturn [{ json: { promptUrl: comfyuiUrl + '/prompt', promptBody: { prompt: payload }, cenaId: item.id, cenaNumero: item.numero, videoId: item._videoId, emocao: emocao } }];"
      },
      "id": "9151287d-aaed-495a-b31e-732c3d057cbf",
      "name": "Montar Payload TTS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.promptUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.promptBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "bf6b6cec-1b61-48c3-af8c-d2fbb08b518f",
      "name": "Enviar ComfyUI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "var response = $input.first().json;\nvar staticData = $getWorkflowStaticData('global');\nvar meta = $('Montar Payload TTS').first().json;\nstaticData.audioPromptId = response.prompt_id;\nstaticData.audioHistoryUrl = staticData.comfyuiUrl + '/history/' + response.prompt_id;\nstaticData.audioRetries = 0;\nreturn [{ json: { promptId: response.prompt_id, cenaId: meta.cenaId, cenaNumero: meta.cenaNumero, videoId: meta.videoId, emocao: meta.emocao } }];"
      },
      "id": "212c7238-c3b5-4113-ac27-4ae41c5f565a",
      "name": "Preparar Polling Audio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        400
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "34e42313-831a-47ad-8681-31f5070ead0b",
      "name": "Wait Audio",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        608,
        400
      ],
      "webhookId": "m05r-wait-audio-001"
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { historyUrl: staticData.audioHistoryUrl, promptId: staticData.audioPromptId } }];"
      },
      "id": "0d9a5b14-10af-4ab9-94de-22a091cfb5df",
      "name": "Prep Buscar Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.historyUrl }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "10832e14-568a-4703-989a-c873b07eae49",
      "name": "Buscar Resultado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "var input = $('Buscar Resultado').first().json;\nvar staticData = $getWorkflowStaticData('global');\nvar promptId = staticData.audioPromptId;\nstaticData.audioRetries = (staticData.audioRetries || 0) + 1;\nvar pronto = false; var filename = null; var erro = false; var erroMsg = '';\ntry {\n  var hist = input[promptId];\n  if (hist) {\n    var statusStr = hist.status ? hist.status.status_str : null;\n    if (statusStr === 'error') {\n      erro = true;\n      var msgs = hist.status.messages || [];\n      for (var m of msgs) { if (m[0] === 'execution_error') { erroMsg = m[1].exception_message || 'Erro desconhecido'; break; } }\n    } else if (hist.outputs) {\n      var keys = Object.keys(hist.outputs);\n      for (var k = 0; k < keys.length; k++) {\n        var nodeOut = hist.outputs[keys[k]];\n        if (nodeOut.audio && nodeOut.audio.length > 0) { filename = nodeOut.audio[0].filename; pronto = true; break; }\n      }\n    }\n  }\n} catch(e) {}\nvar meta = $('Preparar Polling Audio').first().json;\nreturn [{ json: { _ready: pronto, _error: erro, _errorMsg: erroMsg, _timeout: (!pronto && !erro && staticData.audioRetries >= 60), filename: filename, downloadUrl: pronto ? (staticData.comfyuiUrl + '/view?filename=' + encodeURIComponent(filename) + '&type=output') : null, cenaId: meta.cenaId, cenaNumero: meta.cenaNumero, videoId: meta.videoId, emocao: meta.emocao } }];"
      },
      "id": "0cb8bd0e-0cf0-4076-a7e0-af23c7284b9d",
      "name": "Avaliar Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        400
      ],
      "notes": "Detecta _ready, _error, _timeout. Máx 60 retries (10min)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "audio-ready",
              "leftValue": "={{ $json._ready }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "58aede92-d967-45de-8a37-b3d285099492",
      "name": "IF Audio Pronto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1408,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "audio-error",
              "leftValue": "={{ $json._error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b729549a-04e0-446e-81de-942b582b82e6",
      "name": "IF Audio Erro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1408,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "var msg = $('Avaliar Resultado').first().json._errorMsg || 'Erro desconhecido';\nvar meta = $('Avaliar Resultado').first().json;\nthrow new Error('❌ TTS ERRO na cena ' + meta.cenaNumero + ': ' + msg);"
      },
      "id": "eff8a28e-e988-4ee6-8395-6ebcb286d3bb",
      "name": "Erro Geração",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const meta = $input.first().json;\nconst config = $('Configuração').first().json;\nconst storagePath = meta.videoId + '/narr_' + meta.cenaNumero + '.mp3';\nconst publicUrl = config.SUPABASE_URL + '/storage/v1/object/public/narracoes/' + storagePath;\nreturn [{ json: { downloadUrl: meta.downloadUrl, uploadUrl: config.SUPABASE_URL + '/storage/v1/object/narracoes/' + storagePath, publicUrl: publicUrl, cenaId: meta.cenaId, cenaNumero: meta.cenaNumero, videoId: meta.videoId, supabaseKey: config.SUPABASE_SERVICE_KEY } }];"
      },
      "id": "d92d04a7-aa02-43d4-a7c9-3819c77a5888",
      "name": "Prep Download",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        208
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.downloadUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "c3c8f7c7-cb8a-4f60-b673-344dcb0e4e06",
      "name": "Baixar Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1808,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const meta = $('Prep Download').first().json;\n\n// Download via httpRequest helper (segue redirects)\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: meta.downloadUrl,\n  encoding: 'arraybuffer',\n  returnFullResponse: true,\n});\n\nconst buffer = Buffer.from(response.body);\n\nlet duration = 0;\ntry {\n  const brV1L3 = [0,32,40,48,56,64,80,96,112,128,160,192,224,256,320,0];\n  const brV2L3 = [0,8,16,24,32,40,48,56,64,80,96,112,128,144,160,0];\n  const srV1 = [44100,48000,32000];\n  const srV2 = [22050,24000,16000];\n  let frameCount = 0; let sampleRate = 24000; let samplesPerFrame = 576; let pos = 0;\n  while (pos < buffer.length - 4) {\n    if (buffer[pos] === 0xFF && (buffer[pos + 1] & 0xE0) === 0xE0) {\n      const header = buffer.readUInt32BE(pos);\n      const mpegVer = (header >> 19) & 3;\n      const brIdx = (header >> 12) & 15;\n      const srIdx = (header >> 10) & 3;\n      const padding = (header >> 9) & 1;\n      let br, sr, spf, frameLen;\n      if (mpegVer === 3) { br = brV1L3[brIdx]*1000; sr = srIdx<3?srV1[srIdx]:44100; spf=1152; frameLen=br>0?Math.floor((144*br)/sr)+padding:0; }\n      else { br = brV2L3[brIdx]*1000; sr = srIdx<3?srV2[srIdx]:24000; spf=576; frameLen=br>0?Math.floor((72*br)/sr)+padding:0; }\n      if (frameLen > 0) { frameCount++; sampleRate=sr; samplesPerFrame=spf; pos+=frameLen; } else { pos++; }\n    } else { pos++; }\n  }\n  if (frameCount > 0 && sampleRate > 0) { duration = (frameCount * samplesPerFrame) / sampleRate; }\n} catch(e) {}\n\nduration = Math.round(duration * 100) / 100;\n\n// Passar binary para upload\nconst binaryData = await this.helpers.prepareBinaryData(buffer, 'audio.mp3', 'audio/mpeg');\n\nreturn [{ json: { duracao_real: duration }, binary: { data: binaryData } }];"
      },
      "id": "25885b9d-09e5-4dec-a0fb-fe06a04f7bd4",
      "name": "Medir Duração",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        208
      ],
      "notes": "Frame counting para MPEG v2 24kHz mono (Qwen TTS output)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Prep Download').first().json.uploadUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Prep Download').first().json.supabaseKey }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Prep Download').first().json.supabaseKey }}"
            },
            {
              "name": "Content-Type",
              "value": "audio/mpeg"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "37718edb-d5b3-4e54-ade3-ac7832cf5825",
      "name": "Upload Supabase Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2208,
        208
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/cenas?id=eq.{{ $('Prep Download').first().json.cenaId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tts_url: $('Prep Download').first().json.publicUrl, tts_status: 'gerada', duracao_real: $('Medir Duração').first().json.duracao_real, efeito_status: 'pendente', efeito_url: null }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "dd21570f-69a3-4d47-b247-d449e2cbf57f",
      "name": "Atualizar Cena",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2400,
        208
      ],
      "notes": "PATCH cena: tts_url, tts_status='gerada', duracao_real."
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { _consolidado: true } }];"
      },
      "id": "b11e88c8-9663-425b-beed-dfd4e01a452f",
      "name": "Consolidar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nvar podId = staticData.podId || '';\nreturn [{ json: { stopBody: { query: 'mutation { podTerminate(input: {podId: \"' + podId + '\"}) }' } } }];"
      },
      "id": "d6a3061d-bd29-408f-8709-f3e840e4b5d6",
      "name": "Prep Desligar Pod",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.runpod.io/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.stopBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "baacc797-2880-4bf8-a0dc-d2d817e75c12",
      "name": "Desligar Pod",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zQVkS3cYGiH3Ff5m",
          "name": "RunPod API"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/videos?id=eq.{{ $('Normalizar Input').first().json.video_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ geracao_tts_status: 'concluido' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "e18138f9-c5c2-4fba-9558-f06bac14a68d",
      "name": "Marcar Concluído",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        0
      ],
      "notes": "PATCH videos: geracao_tts_status = 'concluido'."
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "video_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -7056,
        -80
      ],
      "id": "81943279-9066-4a09-9d90-8e69c9df6bd4",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Webhook Regenerar": {
      "main": [
        [
          {
            "node": "Normalizar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Input": {
      "main": [
        [
          {
            "node": "Configuração",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuração": {
      "main": [
        [
          {
            "node": "Ler Cenas Pendentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Cenas Pendentes": {
      "main": [
        [
          {
            "node": "Contar e Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contar e Responder": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Webhook": {
      "main": [
        [
          {
            "node": "Marcar Gerando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Gerando": {
      "main": [
        [
          {
            "node": "Verificar Pod Existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Pod Existente": {
      "main": [
        [
          {
            "node": "Avaliar Pod Existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avaliar Pod Existente": {
      "main": [
        [
          {
            "node": "IF Pod Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Pod Existe": {
      "main": [
        [
          {
            "node": "Usar Pod Existente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Criar Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usar Pod Existente": {
      "main": [
        [
          {
            "node": "Prep Polling ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Criar Pod": {
      "main": [
        [
          {
            "node": "Criar Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Pod": {
      "main": [
        [
          {
            "node": "Processar Novo Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Novo Pod": {
      "main": [
        [
          {
            "node": "Wait Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Pod": {
      "main": [
        [
          {
            "node": "Prep Checar Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Checar Pod": {
      "main": [
        [
          {
            "node": "Checar Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checar Pod": {
      "main": [
        [
          {
            "node": "Avaliar Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avaliar Pod": {
      "main": [
        [
          {
            "node": "IF Pod Pronto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Pod Pronto": {
      "main": [
        [
          {
            "node": "Prep Polling ComfyUI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Pod Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Pod Timeout": {
      "main": [
        [
          {
            "node": "Prep Desligar Timeout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Desligar Timeout": {
      "main": [
        [
          {
            "node": "Desligar Pod Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Polling ComfyUI": {
      "main": [
        [
          {
            "node": "Wait ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait ComfyUI": {
      "main": [
        [
          {
            "node": "Prep Checar ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Checar ComfyUI": {
      "main": [
        [
          {
            "node": "Checar ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checar ComfyUI": {
      "main": [
        [
          {
            "node": "Avaliar ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avaliar ComfyUI": {
      "main": [
        [
          {
            "node": "IF ComfyUI Pronto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF ComfyUI Pronto": {
      "main": [
        [
          {
            "node": "Prep Teste TTS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF ComfyUI Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF ComfyUI Timeout": {
      "main": [
        [
          {
            "node": "Prep Desligar Timeout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Teste TTS": {
      "main": [
        [
          {
            "node": "Enviar Teste TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Teste TTS": {
      "main": [
        [
          {
            "node": "Prep Polling Teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Polling Teste": {
      "main": [
        [
          {
            "node": "Wait Teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Teste": {
      "main": [
        [
          {
            "node": "Prep Buscar Teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Buscar Teste": {
      "main": [
        [
          {
            "node": "Buscar Resultado Teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Resultado Teste": {
      "main": [
        [
          {
            "node": "Avaliar Teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avaliar Teste": {
      "main": [
        [
          {
            "node": "IF Teste OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Teste OK": {
      "main": [
        [
          {
            "node": "Preparar Geração",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Teste Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Teste Erro": {
      "main": [
        [
          {
            "node": "Erro TTS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Teste Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Teste Timeout": {
      "main": [
        [
          {
            "node": "Prep Desligar Timeout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Geração": {
      "main": [
        [
          {
            "node": "Loop Cenas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Cenas": {
      "main": [
        [
          {
            "node": "Prep Desligar Pod",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Montar Payload TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Payload TTS": {
      "main": [
        [
          {
            "node": "Enviar ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar ComfyUI": {
      "main": [
        [
          {
            "node": "Preparar Polling Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Polling Audio": {
      "main": [
        [
          {
            "node": "Wait Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Audio": {
      "main": [
        [
          {
            "node": "Prep Buscar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Buscar Resultado": {
      "main": [
        [
          {
            "node": "Buscar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Resultado": {
      "main": [
        [
          {
            "node": "Avaliar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avaliar Resultado": {
      "main": [
        [
          {
            "node": "IF Audio Pronto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Audio Pronto": {
      "main": [
        [
          {
            "node": "Prep Download",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Audio Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Audio Erro": {
      "main": [
        [
          {
            "node": "Erro Geração",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Download": {
      "main": [
        [
          {
            "node": "Baixar Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar Audio": {
      "main": [
        [
          {
            "node": "Medir Duração",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Medir Duração": {
      "main": [
        [
          {
            "node": "Upload Supabase Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Supabase Storage": {
      "main": [
        [
          {
            "node": "Atualizar Cena",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Cena": {
      "main": [
        [
          {
            "node": "Consolidar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidar": {
      "main": [
        [
          {
            "node": "Loop Cenas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Desligar Pod": {
      "main": [
        [
          {
            "node": "Desligar Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desligar Pod": {
      "main": [
        [
          {
            "node": "Marcar Concluído",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalizar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "global": {
      "podId": "5sbhv7udeq16x3",
      "comfyuiUrl": "https://5sbhv7udeq16x3-8188.proxy.runpod.net",
      "podRetries": 1,
      "comfyRetries": 13,
      "testRetries": 3,
      "testPromptId": "405646bc-48db-4cde-b667-1eb17889c96f",
      "testHistoryUrl": "https://5sbhv7udeq16x3-8188.proxy.runpod.net/history/405646bc-48db-4cde-b667-1eb17889c96f",
      "audioPromptId": "b48e32af-1db2-4707-898e-e9a92512cefc",
      "audioHistoryUrl": "https://5sbhv7udeq16x3-8188.proxy.runpod.net/history/b48e32af-1db2-4707-898e-e9a92512cefc",
      "audioRetries": 1
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "26cb7c59-52d0-4395-a218-e5cba091ead7",
  "activeVersionId": "26cb7c59-52d0-4395-a218-e5cba091ead7",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-31T23:42:03.742Z",
      "createdAt": "2026-03-31T23:42:03.742Z",
      "role": "workflow:owner",
      "workflowId": "ivaHfIgh7u3cuGEW",
      "projectId": "SoH44tJE4dqRVTiw"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-10T21:00:47.000Z",
    "createdAt": "2026-04-10T21:00:44.888Z",
    "versionId": "26cb7c59-52d0-4395-a218-e5cba091ead7",
    "workflowId": "ivaHfIgh7u3cuGEW",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "tts/regenerar",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "c57d6927-743b-4305-909c-2665219e1eff",
        "name": "Webhook Regenerar",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -7008,
          208
        ],
        "webhookId": "tts-regenerar-05r",
        "notes": "POST /tts/regenerar { video_id }\nDisparado pelo frontend de narração."
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst video_id = item.video_id || (item.body && item.body.video_id) || null;\nif (!video_id) throw new Error('video_id obrigatório.');\nreturn [{ json: { video_id } }];"
        },
        "id": "828982c2-c9eb-44bb-8b4b-577deb9f45e3",
        "name": "Normalizar Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -6800,
          208
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cfg-url",
                "name": "SUPABASE_URL",
                "value": "https://vngtopghlmgqjaibqiyb.supabase.co",
                "type": "string"
              },
              {
                "id": "cfg-key",
                "name": "SUPABASE_SERVICE_KEY",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuZ3RvcGdobG1ncWphaWJxaXliIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzUzOTg4NiwiZXhwIjoyMDg5MTE1ODg2fQ.xywZiNZ3h6_uVE9-ltt2LAXtZJ8jTezHCE4LmjBxzTk",
                "type": "string"
              },
              {
                "id": "cfg-nv",
                "name": "NETWORK_VOLUME_ID",
                "value": "1kyj01kp0v",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "d6756e17-44d9-41af-b8fd-50f078d21188",
        "name": "Configuração",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -6608,
          208
        ]
      },
      {
        "parameters": {
          "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/cenas?video_id=eq.{{ $('Normalizar Input').first().json.video_id }}&opcao_id=is.null&tts_status=eq.pendente&tipo_cena=neq.texto&narracao=not.is.null&narracao=neq.&order=ordem.asc",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "2660fef7-4620-4298-8989-4c4820ddf96f",
        "name": "Ler Cenas Pendentes",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -6400,
          208
        ],
        "notes": "GET cenas com tts_status='pendente', ordem ASC."
      },
      {
        "parameters": {
          "jsCode": "const cenas = $('Ler Cenas Pendentes').all().map(i => i.json);\nconst total = Array.isArray(cenas[0]) ? cenas[0].length : cenas.length;\nreturn [{ json: { success: true, pendentes: total, mensagem: 'Regeneração TTS iniciada.' } }];"
        },
        "id": "848f4f89-c506-4a27-9dc9-6fe226ef9b96",
        "name": "Contar e Responder",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -6208,
          208
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "id": "a42b7020-bb57-4619-9b30-2e3047ec2680",
        "name": "Responder Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          -6000,
          208
        ],
        "notes": "Responde imediatamente ao frontend. Processamento continua async."
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/videos?id=eq.{{ $('Normalizar Input').first().json.video_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ geracao_tts_status: 'gerando' }) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "d31b365b-01b4-449f-b7ef-0006b73641fd",
        "name": "Marcar Gerando",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -5808,
          208
        ],
        "notes": "PATCH videos: geracao_tts_status = 'gerando'."
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.runpod.io/graphql",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ query: '{ myself { pods { id name desiredStatus runtime { uptimeInSeconds } } } }' }) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "91183adf-9dc7-42be-a8df-7a86c6e370b9",
        "name": "Verificar Pod Existente",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -5600,
          208
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "zQVkS3cYGiH3Ff5m",
            "name": "RunPod API"
          }
        },
        "notes": "Lista pods para verificar se clay-comfyui já está rodando."
      },
      {
        "parameters": {
          "jsCode": "var response = $input.first().json;\nvar staticData = $getWorkflowStaticData('global');\n\nvar podEncontrado = false;\nvar podId = null;\nvar comfyuiUrl = null;\n\ntry {\n  var pods = response.data.myself.pods || [];\n  for (var p of pods) {\n    if (p.name === 'clay-comfyui' && p.desiredStatus === 'RUNNING') {\n      var uptime = p.runtime ? p.runtime.uptimeInSeconds : 0;\n      if (uptime > 30) {\n        podEncontrado = true;\n        podId = p.id;\n        comfyuiUrl = 'https://' + p.id + '-8188.proxy.runpod.net';\n        break;\n      }\n    }\n  }\n} catch(e) {}\n\nif (podEncontrado) {\n  staticData.podId = podId;\n  staticData.comfyuiUrl = comfyuiUrl;\n}\n\nreturn [{ json: { _podExiste: podEncontrado, podId: podId, comfyuiUrl: comfyuiUrl } }];"
        },
        "id": "c498d513-e44c-4be5-a94b-d1048abd086d",
        "name": "Avaliar Pod Existente",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -5408,
          208
        ],
        "notes": "Verifica se pod clay-comfyui existe e está RUNNING.\nSe sim, reutiliza. Se não, cria novo."
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "pod-existe",
                "leftValue": "={{ $json._podExiste }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "3acd1ffb-49c8-4825-82b4-df63ad76ad19",
        "name": "IF Pod Existe",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -5200,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "var staticData = $getWorkflowStaticData('global');\nstaticData.comfyRetries = 0;\nreturn [{ json: { checkUrl: staticData.comfyuiUrl + '/object_info' } }];"
        },
        "id": "8043323f-d141-4cb7-87d1-1ff0ac21b41e",
        "name": "Usar Pod Existente",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -5008,
          112
        ],
        "notes": "Pod já rodando, vai direto para check ComfyUI."
      },
      {
        "parameters": {
          "jsCode": "const config = $('Configuração').first().json;\nconst nvId = config.NETWORK_VOLUME_ID;\nconst createBody = {\n  query: `mutation { podFindAndDeployOnDemand(input: { name: \"clay-comfyui\", cloudType: SECURE, gpuTypeId: \"NVIDIA A40\", gpuCount: 1, containerDiskInGb: 10, networkVolumeId: \"${nvId}\", ports: \"8188/http,8080/http,8888/http\", volumeMountPath: \"/workspace\", imageName: \"runpod/comfyui:latest\" }) { id desiredStatus } }`\n};\nreturn [{ json: { createBody } }];"
        },
        "id": "6456bdc7-47db-4552-abb7-0a94f032be15",
        "name": "Prep Criar Pod",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -5008,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.runpod.io/graphql",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.createBody) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "9468831e-7bde-4144-a753-3dbabb57d910",
        "name": "Criar Pod",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -4800,
          400
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "zQVkS3cYGiH3Ff5m",
            "name": "RunPod API"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const response = $input.first().json;\nif (response.errors && response.errors.length > 0) {\n  throw new Error('RunPod: ' + response.errors.map(e => e.message).join('; '));\n}\nconst newPodId = response?.data?.podFindAndDeployOnDemand?.id;\nif (!newPodId) throw new Error('Falha ao criar pod');\nvar staticData = $getWorkflowStaticData('global');\nstaticData.podId = newPodId;\nstaticData.comfyuiUrl = 'https://' + newPodId + '-8188.proxy.runpod.net';\nstaticData.podRetries = 0;\nreturn [{ json: { podId: newPodId } }];"
        },
        "id": "637b8eb9-54eb-4fca-af01-d680981066d8",
        "name": "Processar Novo Pod",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4608,
          400
        ]
      },
      {
        "parameters": {
          "amount": 15
        },
        "id": "6c0a9643-2b6a-4c62-a0d8-d990c9aeb3ca",
        "name": "Wait Pod",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -4400,
          400
        ],
        "webhookId": "m05r-wait-pod-001"
      },
      {
        "parameters": {
          "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { podStatusBody: { query: '{ pod(input: {podId: \"' + staticData.podId + '\"}) { id desiredStatus runtime { uptimeInSeconds } } }' } } }];"
        },
        "id": "8b7ded98-1910-47e2-b82b-719020316006",
        "name": "Prep Checar Pod",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4208,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.runpod.io/graphql",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.podStatusBody) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "555358b5-c8c5-4a0a-81fe-ebe4bf7555a8",
        "name": "Checar Pod",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -4000,
          400
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "zQVkS3cYGiH3Ff5m",
            "name": "RunPod API"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "var response = $('Checar Pod').first().json;\nvar staticData = $getWorkflowStaticData('global');\nstaticData.podRetries = (staticData.podRetries || 0) + 1;\nvar running = false;\ntry {\n  var status = response.data.pod.desiredStatus;\n  var uptime = response.data.pod.runtime.uptimeInSeconds;\n  running = (status === 'RUNNING' && uptime > 0);\n} catch(e) {}\nreturn [{ json: { _podReady: running, _podTimeout: (!running && staticData.podRetries >= 20) } }];"
        },
        "id": "743a80a7-ba57-4153-95fd-f85678fce6c4",
        "name": "Avaliar Pod",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3808,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "pod-ready",
                "leftValue": "={{ $json._podReady }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "dcef93fc-2c7c-4016-8693-d9a25ff7efff",
        "name": "IF Pod Pronto",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -3600,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "pod-timeout",
                "leftValue": "={{ $json._podTimeout }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "eaa8c978-c467-4bb8-a553-69d413c69db0",
        "name": "IF Pod Timeout",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -3600,
          608
        ]
      },
      {
        "parameters": {
          "jsCode": "var staticData = $getWorkflowStaticData('global');\nvar podId = staticData.podId || 'unknown';\nreturn [{ json: { stopBody: { query: 'mutation { podTerminate(input: {podId: \"' + podId + '\"}) }' }, erro: 'Pod ou ComfyUI timeout' } }];"
        },
        "id": "3026cac1-6de9-4d39-8298-dd5345ad29a9",
        "name": "Prep Desligar Timeout",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3408,
          800
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.runpod.io/graphql",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.stopBody) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "33ae2a06-fb43-442c-99ec-04038e87a89a",
        "name": "Desligar Pod Erro",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -3200,
          800
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "zQVkS3cYGiH3Ff5m",
            "name": "RunPod API"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "var staticData = $getWorkflowStaticData('global');\nstaticData.comfyRetries = 0;\nreturn [{ json: { checkUrl: staticData.comfyuiUrl + '/object_info' } }];"
        },
        "id": "b9f613b4-17d0-4e52-bf3a-109ac1ad6c97",
        "name": "Prep Polling ComfyUI",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3200,
          208
        ]
      },
      {
        "parameters": {
          "amount": 10
        },
        "id": "597c04d5-fbea-4489-b437-c5a5b9a09d21",
        "name": "Wait ComfyUI",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -3008,
          208
        ],
        "webhookId": "m05r-wait-comfy-001"
      },
      {
        "parameters": {
          "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { checkUrl: staticData.comfyuiUrl + '/object_info' } }];"
        },
        "id": "bd1cd2a1-90f7-4b6b-93a0-8f0f3c26bc10",
        "name": "Prep Checar ComfyUI",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2800,
          208
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.checkUrl }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            },
            "timeout": 15000
          }
        },
        "id": "cd746931-c68f-44d0-b70f-30152a8f7ab6",
        "name": "Checar ComfyUI",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2608,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "var response = $('Checar ComfyUI').first().json;\nvar staticData = $getWorkflowStaticData('global');\nstaticData.comfyRetries = (staticData.comfyRetries || 0) + 1;\nvar ready = false;\ntry {\n  var keys = Object.keys(response);\n  var hasNodes = keys.length > 50;\n  var hasTTS = response.hasOwnProperty('FB_Qwen3TTSVoiceClone');\n  ready = hasNodes && hasTTS;\n} catch(e) {}\nreturn [{ json: { _comfyReady: ready, _comfyTimeout: (!ready && staticData.comfyRetries >= 40) } }];"
        },
        "id": "f3fbf6f2-8f0f-4962-852e-b814f1982feb",
        "name": "Avaliar ComfyUI",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2400,
          208
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "comfy-ready",
                "leftValue": "={{ $json._comfyReady }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "1d95ceee-f7e2-4578-9d50-e14eb420d6e0",
        "name": "IF ComfyUI Pronto",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -2208,
          208
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "comfy-timeout",
                "leftValue": "={{ $json._comfyTimeout }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "19a8d23e-797b-45e5-a380-16fda5d84e2b",
        "name": "IF ComfyUI Timeout",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -2208,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "var staticData = $getWorkflowStaticData('global');\nconst comfyuiUrl = staticData.comfyuiUrl;\nconst testPayload = {\n  \"24\": { \"inputs\": { \"audio\": \"Neutro.mp3\" }, \"class_type\": \"LoadAudio\", \"_meta\": { \"title\": \"Load Audio\" } },\n  \"40\": { \"inputs\": { \"target_text\": \"Teste.\", \"model_choice\": \"1.7B\", \"device\": \"auto\", \"precision\": \"bf16\", \"language\": \"Portuguese\", \"ref_text\": \"Naquela noite, eu ouvi passos no corredor.\", \"seed\": 12345, \"max_new_tokens\": 2048, \"top_p\": 0.8, \"top_k\": 20, \"temperature\": 1, \"repetition_penalty\": 1.05, \"x_vector_only\": false, \"attention\": \"sdpa\", \"unload_model_after_generate\": false, \"custom_model_path\": \"\", \"ref_audio\": [\"24\", 0] }, \"class_type\": \"FB_Qwen3TTSVoiceClone\", \"_meta\": { \"title\": \"Test TTS\" } },\n  \"41\": { \"inputs\": { \"filename_prefix\": \"Test\", \"quality\": \"V0\", \"audio\": [\"40\", 0] }, \"class_type\": \"SaveAudioMP3\", \"_meta\": { \"title\": \"Save Test\" } }\n};\nstaticData.testRetries = 0;\nreturn [{ json: { promptUrl: comfyuiUrl + '/prompt', promptBody: { prompt: testPayload } } }];"
        },
        "id": "b75220f4-7f33-4178-87c4-e9810e0065fa",
        "name": "Prep Teste TTS",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2000,
          208
        ],
        "notes": "Envia teste mínimo para verificar que o Qwen TTS funciona."
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $json.promptUrl }}",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.promptBody) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "b3e03a50-f211-432f-95dc-93383d405cf6",
        "name": "Enviar Teste TTS",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1808,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "var response = $input.first().json;\nvar staticData = $getWorkflowStaticData('global');\nstaticData.testPromptId = response.prompt_id;\nstaticData.testHistoryUrl = staticData.comfyuiUrl + '/history/' + response.prompt_id;\nstaticData.testRetries = 0;\nreturn [{ json: { promptId: response.prompt_id } }];"
        },
        "id": "c6c3c56e-0ae5-4d67-b1bb-73af7f23523a",
        "name": "Prep Polling Teste",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1600,
          208
        ]
      },
      {
        "parameters": {
          "amount": 15
        },
        "id": "095bc577-11f0-4797-bdad-367ebcbbfcd3",
        "name": "Wait Teste",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -1408,
          208
        ],
        "webhookId": "m05r-wait-test-001"
      },
      {
        "parameters": {
          "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { historyUrl: staticData.testHistoryUrl, promptId: staticData.testPromptId } }];"
        },
        "id": "afa49cdb-4db8-44f5-8d5e-f2cf1a985ccc",
        "name": "Prep Buscar Teste",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1200,
          208
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.historyUrl }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "2192cb05-0ee6-47d8-9aa2-4d3e42f545bd",
        "name": "Buscar Resultado Teste",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1008,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "var input = $('Buscar Resultado Teste').first().json;\nvar staticData = $getWorkflowStaticData('global');\nvar promptId = staticData.testPromptId;\nstaticData.testRetries = (staticData.testRetries || 0) + 1;\nvar pronto = false; var erro = false; var erroMsg = '';\ntry {\n  var hist = input[promptId];\n  if (hist) {\n    var statusStr = hist.status ? hist.status.status_str : null;\n    if (statusStr === 'error') {\n      erro = true;\n      var msgs = hist.status.messages || [];\n      for (var m of msgs) { if (m[0] === 'execution_error') { erroMsg = m[1].exception_message || 'Erro desconhecido'; break; } }\n    } else if (hist.outputs) {\n      var keys = Object.keys(hist.outputs);\n      for (var k = 0; k < keys.length; k++) {\n        if (hist.outputs[keys[k]].audio && hist.outputs[keys[k]].audio.length > 0) { pronto = true; break; }\n      }\n    }\n  }\n} catch(e) {}\nreturn [{ json: { _testOk: pronto, _testErro: erro, _testErroMsg: erroMsg, _testTimeout: (!pronto && !erro && staticData.testRetries >= 12) } }];"
        },
        "id": "69537d07-3b21-477e-9b4d-78457f9a1110",
        "name": "Avaliar Teste",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -800,
          208
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "test-ok",
                "leftValue": "={{ $json._testOk }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "adfc99c3-a7ab-4713-96df-fe0f34cc8fc1",
        "name": "IF Teste OK",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -608,
          208
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "test-erro",
                "leftValue": "={{ $json._testErro }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "dade16a3-67b4-4197-9742-5ee09bcf1b76",
        "name": "IF Teste Erro",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -608,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "test-timeout",
                "leftValue": "={{ $json._testTimeout }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "2394b5e6-1b92-4480-8fe4-e542de79552d",
        "name": "IF Teste Timeout",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -608,
          608
        ]
      },
      {
        "parameters": {
          "jsCode": "var msg = $('Avaliar Teste').first().json._testErroMsg || 'Erro desconhecido';\nthrow new Error('❌ TTS FALHOU NO TESTE: ' + msg);"
        },
        "id": "71787175-1f53-4369-a351-2bdc877758ea",
        "name": "Erro TTS",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -400,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "const cenasRaw = $('Ler Cenas Pendentes').all().map(i => i.json);\nconst cenas = Array.isArray(cenasRaw[0]) ? cenasRaw[0] : cenasRaw;\nconst videoId = $('Normalizar Input').first().json.video_id;\n\nconst items = cenas.map(c => ({ json: { ...c, _videoId: videoId } }));\nreturn items;"
        },
        "id": "27ed3085-6d1a-4688-ae97-48ff7b351251",
        "name": "Preparar Geração",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -400,
          208
        ],
        "notes": "Prepara array de cenas pendentes para o loop."
      },
      {
        "parameters": {
          "options": {
            "reset": false
          }
        },
        "id": "500d7c42-e6e7-4c1f-abdb-6f42f2d2093e",
        "name": "Loop Cenas",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -208,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $('Loop Cenas').first().json;\nvar staticData = $getWorkflowStaticData('global');\nconst comfyuiUrl = staticData.comfyuiUrl;\nconst seed = Math.floor(Math.random() * 999999999999999);\n\nconst VOICE_MAP = {\n  calma: { audio: 'Calma.mp3', ref_text: 'Esta é uma história que aconteceu numa pequena cidade do interior. Ninguém fala sobre isso. Mas todo mundo lembra. E todo mundo tem medo.' },\n  neutra: { audio: 'Neutro.mp3', ref_text: 'Naquela noite, eu ouvi passos no corredor. Lentos, pesados, arrastados. Quando abri a porta, não havia ninguém. Mas as pegadas no chão ainda estavam quentes.' },\n  tensa: { audio: 'Tensa.mp3', ref_text: 'Ele não devia ter atendido aquele telefone. Alguma coisa estava errada. A voz do outro lado não era humana. Ele sabia disso. Mas não conseguia desligar.' },\n  suspense: { audio: 'Suspense.mp3', ref_text: 'Tem algo embaixo da cama. Eu sei porque consigo sentir a respiração. Está quente. Está perto. E está esperando eu colocar os pés no chão.' },\n  panico: { audio: 'Panico.mp3', ref_text: 'Corre! Não olha pra trás! Aquilo não é a sua mãe! Eu vi o rosto daquela coisa e não era humano! Pelo amor de Deus, não abre essa porta!' }\n};\n\nconst emocao = item.emocao || 'neutra';\nconst voice = VOICE_MAP[emocao] || VOICE_MAP.neutra;\n\nconst payload = {\n  \"24\": { \"inputs\": { \"audio\": voice.audio }, \"class_type\": \"LoadAudio\", \"_meta\": { \"title\": \"Load Audio\" } },\n  \"40\": { \"inputs\": { \"target_text\": item.narracao, \"model_choice\": \"1.7B\", \"device\": \"auto\", \"precision\": \"bf16\", \"language\": \"Portuguese\", \"ref_text\": voice.ref_text, \"seed\": seed, \"max_new_tokens\": 2048, \"top_p\": 0.8, \"top_k\": 20, \"temperature\": 1, \"repetition_penalty\": 1.05, \"x_vector_only\": false, \"attention\": \"sdpa\", \"unload_model_after_generate\": false, \"custom_model_path\": \"\", \"ref_audio\": [\"24\", 0] }, \"class_type\": \"FB_Qwen3TTSVoiceClone\", \"_meta\": { \"title\": \"\\ud83c\\udfad Qwen3-TTS VoiceClone\" } },\n  \"41\": { \"inputs\": { \"filename_prefix\": \"Narr_\" + (item.numero || 'unknown'), \"quality\": \"V0\", \"audio\": [\"40\", 0] }, \"class_type\": \"SaveAudioMP3\", \"_meta\": { \"title\": \"Save Audio (MP3)\" } }\n};\n\nreturn [{ json: { promptUrl: comfyuiUrl + '/prompt', promptBody: { prompt: payload }, cenaId: item.id, cenaNumero: item.numero, videoId: item._videoId, emocao: emocao } }];"
        },
        "id": "9151287d-aaed-495a-b31e-732c3d057cbf",
        "name": "Montar Payload TTS",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $json.promptUrl }}",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.promptBody) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "bf6b6cec-1b61-48c3-af8c-d2fbb08b518f",
        "name": "Enviar ComfyUI",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          208,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "var response = $input.first().json;\nvar staticData = $getWorkflowStaticData('global');\nvar meta = $('Montar Payload TTS').first().json;\nstaticData.audioPromptId = response.prompt_id;\nstaticData.audioHistoryUrl = staticData.comfyuiUrl + '/history/' + response.prompt_id;\nstaticData.audioRetries = 0;\nreturn [{ json: { promptId: response.prompt_id, cenaId: meta.cenaId, cenaNumero: meta.cenaNumero, videoId: meta.videoId, emocao: meta.emocao } }];"
        },
        "id": "212c7238-c3b5-4113-ac27-4ae41c5f565a",
        "name": "Preparar Polling Audio",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          400
        ]
      },
      {
        "parameters": {
          "amount": 10
        },
        "id": "34e42313-831a-47ad-8681-31f5070ead0b",
        "name": "Wait Audio",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          608,
          400
        ],
        "webhookId": "m05r-wait-audio-001"
      },
      {
        "parameters": {
          "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { historyUrl: staticData.audioHistoryUrl, promptId: staticData.audioPromptId } }];"
        },
        "id": "0d9a5b14-10af-4ab9-94de-22a091cfb5df",
        "name": "Prep Buscar Resultado",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          800,
          400
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.historyUrl }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "10832e14-568a-4703-989a-c873b07eae49",
        "name": "Buscar Resultado",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1008,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "var input = $('Buscar Resultado').first().json;\nvar staticData = $getWorkflowStaticData('global');\nvar promptId = staticData.audioPromptId;\nstaticData.audioRetries = (staticData.audioRetries || 0) + 1;\nvar pronto = false; var filename = null; var erro = false; var erroMsg = '';\ntry {\n  var hist = input[promptId];\n  if (hist) {\n    var statusStr = hist.status ? hist.status.status_str : null;\n    if (statusStr === 'error') {\n      erro = true;\n      var msgs = hist.status.messages || [];\n      for (var m of msgs) { if (m[0] === 'execution_error') { erroMsg = m[1].exception_message || 'Erro desconhecido'; break; } }\n    } else if (hist.outputs) {\n      var keys = Object.keys(hist.outputs);\n      for (var k = 0; k < keys.length; k++) {\n        var nodeOut = hist.outputs[keys[k]];\n        if (nodeOut.audio && nodeOut.audio.length > 0) { filename = nodeOut.audio[0].filename; pronto = true; break; }\n      }\n    }\n  }\n} catch(e) {}\nvar meta = $('Preparar Polling Audio').first().json;\nreturn [{ json: { _ready: pronto, _error: erro, _errorMsg: erroMsg, _timeout: (!pronto && !erro && staticData.audioRetries >= 60), filename: filename, downloadUrl: pronto ? (staticData.comfyuiUrl + '/view?filename=' + encodeURIComponent(filename) + '&type=output') : null, cenaId: meta.cenaId, cenaNumero: meta.cenaNumero, videoId: meta.videoId, emocao: meta.emocao } }];"
        },
        "id": "0cb8bd0e-0cf0-4076-a7e0-af23c7284b9d",
        "name": "Avaliar Resultado",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          400
        ],
        "notes": "Detecta _ready, _error, _timeout. Máx 60 retries (10min)."
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "audio-ready",
                "leftValue": "={{ $json._ready }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "58aede92-d967-45de-8a37-b3d285099492",
        "name": "IF Audio Pronto",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1408,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "audio-error",
                "leftValue": "={{ $json._error }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "b729549a-04e0-446e-81de-942b582b82e6",
        "name": "IF Audio Erro",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1408,
          608
        ]
      },
      {
        "parameters": {
          "jsCode": "var msg = $('Avaliar Resultado').first().json._errorMsg || 'Erro desconhecido';\nvar meta = $('Avaliar Resultado').first().json;\nthrow new Error('❌ TTS ERRO na cena ' + meta.cenaNumero + ': ' + msg);"
        },
        "id": "eff8a28e-e988-4ee6-8395-6ebcb286d3bb",
        "name": "Erro Geração",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1600,
          608
        ]
      },
      {
        "parameters": {
          "jsCode": "const meta = $input.first().json;\nconst config = $('Configuração').first().json;\nconst storagePath = meta.videoId + '/narr_' + meta.cenaNumero + '.mp3';\nconst publicUrl = config.SUPABASE_URL + '/storage/v1/object/public/narracoes/' + storagePath;\nreturn [{ json: { downloadUrl: meta.downloadUrl, uploadUrl: config.SUPABASE_URL + '/storage/v1/object/narracoes/' + storagePath, publicUrl: publicUrl, cenaId: meta.cenaId, cenaNumero: meta.cenaNumero, videoId: meta.videoId, supabaseKey: config.SUPABASE_SERVICE_KEY } }];"
        },
        "id": "d92d04a7-aa02-43d4-a7c9-3819c77a5888",
        "name": "Prep Download",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1600,
          208
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.downloadUrl }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "c3c8f7c7-cb8a-4f60-b673-344dcb0e4e06",
        "name": "Baixar Audio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1808,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "const meta = $('Prep Download').first().json;\n\n// Download via httpRequest helper (segue redirects)\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: meta.downloadUrl,\n  encoding: 'arraybuffer',\n  returnFullResponse: true,\n});\n\nconst buffer = Buffer.from(response.body);\n\nlet duration = 0;\ntry {\n  const brV1L3 = [0,32,40,48,56,64,80,96,112,128,160,192,224,256,320,0];\n  const brV2L3 = [0,8,16,24,32,40,48,56,64,80,96,112,128,144,160,0];\n  const srV1 = [44100,48000,32000];\n  const srV2 = [22050,24000,16000];\n  let frameCount = 0; let sampleRate = 24000; let samplesPerFrame = 576; let pos = 0;\n  while (pos < buffer.length - 4) {\n    if (buffer[pos] === 0xFF && (buffer[pos + 1] & 0xE0) === 0xE0) {\n      const header = buffer.readUInt32BE(pos);\n      const mpegVer = (header >> 19) & 3;\n      const brIdx = (header >> 12) & 15;\n      const srIdx = (header >> 10) & 3;\n      const padding = (header >> 9) & 1;\n      let br, sr, spf, frameLen;\n      if (mpegVer === 3) { br = brV1L3[brIdx]*1000; sr = srIdx<3?srV1[srIdx]:44100; spf=1152; frameLen=br>0?Math.floor((144*br)/sr)+padding:0; }\n      else { br = brV2L3[brIdx]*1000; sr = srIdx<3?srV2[srIdx]:24000; spf=576; frameLen=br>0?Math.floor((72*br)/sr)+padding:0; }\n      if (frameLen > 0) { frameCount++; sampleRate=sr; samplesPerFrame=spf; pos+=frameLen; } else { pos++; }\n    } else { pos++; }\n  }\n  if (frameCount > 0 && sampleRate > 0) { duration = (frameCount * samplesPerFrame) / sampleRate; }\n} catch(e) {}\n\nduration = Math.round(duration * 100) / 100;\n\n// Passar binary para upload\nconst binaryData = await this.helpers.prepareBinaryData(buffer, 'audio.mp3', 'audio/mpeg');\n\nreturn [{ json: { duracao_real: duration }, binary: { data: binaryData } }];"
        },
        "id": "25885b9d-09e5-4dec-a0fb-fe06a04f7bd4",
        "name": "Medir Duração",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2000,
          208
        ],
        "notes": "Frame counting para MPEG v2 24kHz mono (Qwen TTS output)."
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Prep Download').first().json.uploadUrl }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Prep Download').first().json.supabaseKey }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Prep Download').first().json.supabaseKey }}"
              },
              {
                "name": "Content-Type",
                "value": "audio/mpeg"
              },
              {
                "name": "x-upsert",
                "value": "true"
              }
            ]
          },
          "sendBody": true,
          "contentType": "binaryData",
          "inputDataFieldName": "data",
          "options": {}
        },
        "id": "37718edb-d5b3-4e54-ade3-ac7832cf5825",
        "name": "Upload Supabase Storage",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2208,
          208
        ]
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/cenas?id=eq.{{ $('Prep Download').first().json.cenaId }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ tts_url: $('Prep Download').first().json.publicUrl, tts_status: 'gerada', duracao_real: $('Medir Duração').first().json.duracao_real, efeito_status: 'pendente', efeito_url: null }) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "dd21570f-69a3-4d47-b247-d449e2cbf57f",
        "name": "Atualizar Cena",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2400,
          208
        ],
        "notes": "PATCH cena: tts_url, tts_status='gerada', duracao_real."
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { _consolidado: true } }];"
        },
        "id": "b11e88c8-9663-425b-beed-dfd4e01a452f",
        "name": "Consolidar",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2608,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "var staticData = $getWorkflowStaticData('global');\nvar podId = staticData.podId || '';\nreturn [{ json: { stopBody: { query: 'mutation { podTerminate(input: {podId: \"' + podId + '\"}) }' } } }];"
        },
        "id": "d6a3061d-bd29-408f-8709-f3e840e4b5d6",
        "name": "Prep Desligar Pod",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.runpod.io/graphql",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.stopBody) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "baacc797-2880-4bf8-a0dc-d2d817e75c12",
        "name": "Desligar Pod",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          208,
          0
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "zQVkS3cYGiH3Ff5m",
            "name": "RunPod API"
          }
        }
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/videos?id=eq.{{ $('Normalizar Input').first().json.video_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ geracao_tts_status: 'concluido' }) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "e18138f9-c5c2-4fba-9558-f06bac14a68d",
        "name": "Marcar Concluído",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          400,
          0
        ],
        "notes": "PATCH videos: geracao_tts_status = 'concluido'."
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "video_id"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -7056,
          -80
        ],
        "id": "81943279-9066-4a09-9d90-8e69c9df6bd4",
        "name": "When Executed by Another Workflow"
      }
    ],
    "connections": {
      "Webhook Regenerar": {
        "main": [
          [
            {
              "node": "Normalizar Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalizar Input": {
        "main": [
          [
            {
              "node": "Configuração",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Configuração": {
        "main": [
          [
            {
              "node": "Ler Cenas Pendentes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ler Cenas Pendentes": {
        "main": [
          [
            {
              "node": "Contar e Responder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Contar e Responder": {
        "main": [
          [
            {
              "node": "Responder Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Responder Webhook": {
        "main": [
          [
            {
              "node": "Marcar Gerando",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Marcar Gerando": {
        "main": [
          [
            {
              "node": "Verificar Pod Existente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verificar Pod Existente": {
        "main": [
          [
            {
              "node": "Avaliar Pod Existente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Avaliar Pod Existente": {
        "main": [
          [
            {
              "node": "IF Pod Existe",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Pod Existe": {
        "main": [
          [
            {
              "node": "Usar Pod Existente",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prep Criar Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Usar Pod Existente": {
        "main": [
          [
            {
              "node": "Prep Polling ComfyUI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Criar Pod": {
        "main": [
          [
            {
              "node": "Criar Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar Pod": {
        "main": [
          [
            {
              "node": "Processar Novo Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Processar Novo Pod": {
        "main": [
          [
            {
              "node": "Wait Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait Pod": {
        "main": [
          [
            {
              "node": "Prep Checar Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Checar Pod": {
        "main": [
          [
            {
              "node": "Checar Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Checar Pod": {
        "main": [
          [
            {
              "node": "Avaliar Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Avaliar Pod": {
        "main": [
          [
            {
              "node": "IF Pod Pronto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Pod Pronto": {
        "main": [
          [
            {
              "node": "Prep Polling ComfyUI",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF Pod Timeout",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Pod Timeout": {
        "main": [
          [
            {
              "node": "Prep Desligar Timeout",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Desligar Timeout": {
        "main": [
          [
            {
              "node": "Desligar Pod Erro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Polling ComfyUI": {
        "main": [
          [
            {
              "node": "Wait ComfyUI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait ComfyUI": {
        "main": [
          [
            {
              "node": "Prep Checar ComfyUI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Checar ComfyUI": {
        "main": [
          [
            {
              "node": "Checar ComfyUI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Checar ComfyUI": {
        "main": [
          [
            {
              "node": "Avaliar ComfyUI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Avaliar ComfyUI": {
        "main": [
          [
            {
              "node": "IF ComfyUI Pronto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF ComfyUI Pronto": {
        "main": [
          [
            {
              "node": "Prep Teste TTS",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF ComfyUI Timeout",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF ComfyUI Timeout": {
        "main": [
          [
            {
              "node": "Prep Desligar Timeout",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait ComfyUI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Teste TTS": {
        "main": [
          [
            {
              "node": "Enviar Teste TTS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Teste TTS": {
        "main": [
          [
            {
              "node": "Prep Polling Teste",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Polling Teste": {
        "main": [
          [
            {
              "node": "Wait Teste",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait Teste": {
        "main": [
          [
            {
              "node": "Prep Buscar Teste",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Buscar Teste": {
        "main": [
          [
            {
              "node": "Buscar Resultado Teste",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Resultado Teste": {
        "main": [
          [
            {
              "node": "Avaliar Teste",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Avaliar Teste": {
        "main": [
          [
            {
              "node": "IF Teste OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Teste OK": {
        "main": [
          [
            {
              "node": "Preparar Geração",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF Teste Erro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Teste Erro": {
        "main": [
          [
            {
              "node": "Erro TTS",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF Teste Timeout",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Teste Timeout": {
        "main": [
          [
            {
              "node": "Prep Desligar Timeout",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait Teste",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Geração": {
        "main": [
          [
            {
              "node": "Loop Cenas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Cenas": {
        "main": [
          [
            {
              "node": "Prep Desligar Pod",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Montar Payload TTS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Montar Payload TTS": {
        "main": [
          [
            {
              "node": "Enviar ComfyUI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar ComfyUI": {
        "main": [
          [
            {
              "node": "Preparar Polling Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Polling Audio": {
        "main": [
          [
            {
              "node": "Wait Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait Audio": {
        "main": [
          [
            {
              "node": "Prep Buscar Resultado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Buscar Resultado": {
        "main": [
          [
            {
              "node": "Buscar Resultado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Resultado": {
        "main": [
          [
            {
              "node": "Avaliar Resultado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Avaliar Resultado": {
        "main": [
          [
            {
              "node": "IF Audio Pronto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Audio Pronto": {
        "main": [
          [
            {
              "node": "Prep Download",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF Audio Erro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Audio Erro": {
        "main": [
          [
            {
              "node": "Erro Geração",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Download": {
        "main": [
          [
            {
              "node": "Baixar Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Baixar Audio": {
        "main": [
          [
            {
              "node": "Medir Duração",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Medir Duração": {
        "main": [
          [
            {
              "node": "Upload Supabase Storage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Supabase Storage": {
        "main": [
          [
            {
              "node": "Atualizar Cena",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Atualizar Cena": {
        "main": [
          [
            {
              "node": "Consolidar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consolidar": {
        "main": [
          [
            {
              "node": "Loop Cenas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Desligar Pod": {
        "main": [
          [
            {
              "node": "Desligar Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Desligar Pod": {
        "main": [
          [
            {
              "node": "Marcar Concluído",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Normalizar Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Newton Omune",
    "name": "Version 26cb7c59",
    "description": "",
    "autosaved": true
  },
  "tags": []
}