workflows/M_dulo_04R___Regenera__o_de_Imagens.json
{
  "updatedAt": "2026-04-11T18:06:15.786Z",
  "createdAt": "2026-03-30T18:18:12.968Z",
  "id": "ggwAbeqUPUtmcYcE",
  "name": "Módulo 04R — Regeneração de Imagens",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "imagens/regenerar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4ddaab58-a13e-4f9a-ab4c-a43bae790c51",
      "name": "Webhook Regenerar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -6208,
        208
      ],
      "webhookId": "imagens-regenerar-04r",
      "notes": "POST /imagens/regenerar { video_id }\nDisparado pelo frontend."
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst video_id = item.video_id || (item.body && item.body.video_id) || null;\nif (!video_id) throw new Error('video_id obrigatório.');\nreturn [{ json: { video_id } }];"
      },
      "id": "a2b26def-34e0-4270-8cfe-70c734ecb550",
      "name": "Normalizar Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6000,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-url",
              "name": "SUPABASE_URL",
              "value": "https://vngtopghlmgqjaibqiyb.supabase.co",
              "type": "string"
            },
            {
              "id": "cfg-key",
              "name": "SUPABASE_SERVICE_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuZ3RvcGdobG1ncWphaWJxaXliIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzUzOTg4NiwiZXhwIjoyMDg5MTE1ODg2fQ.xywZiNZ3h6_uVE9-ltt2LAXtZJ8jTezHCE4LmjBxzTk",
              "type": "string"
            },
            {
              "id": "cfg-nv",
              "name": "NETWORK_VOLUME_ID",
              "value": "1kyj01kp0v",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "48b97dd0-1b4e-4e2f-a0e8-1bc1ab2e5f0c",
      "name": "Configuração",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5808,
        208
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/cenas?video_id=eq.{{ $('Normalizar Input').first().json.video_id }}&opcao_id=is.null&imagem_status=eq.pendente&order=ordem.asc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "9eacf59d-990a-43c1-b9eb-abb5b936f941",
      "name": "Ler Cenas Pendentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5600,
        208
      ],
      "notes": "GET cenas pendentes (imagem_status='pendente'), ordem ASC."
    },
    {
      "parameters": {
        "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/videos?id=eq.{{ $('Normalizar Input').first().json.video_id }}&select=formato",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "d0235611-ef2f-414c-9d32-9437583439bc",
      "name": "Ler Vídeo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5408,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const cenas = $('Ler Cenas Pendentes').all().map(i => i.json);\nconst total = Array.isArray(cenas[0]) ? cenas[0].length : cenas.length;\nreturn [{ json: { success: true, pendentes: total, mensagem: 'Regeneração iniciada.' } }];"
      },
      "id": "901765f4-7904-47d5-895a-84925725b507",
      "name": "Contar e Responder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5200,
        208
      ],
      "notes": "Conta pendentes e prepara resposta."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "1ddf7d5c-9c63-441a-b0ef-f928344fdb8a",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -5008,
        208
      ],
      "notes": "Responde imediatamente ao frontend. Processamento continua async."
    },
    {
      "parameters": {
        "jsCode": "// Separa cenas com nota de correção (Claude reescreve) vs sem nota (gera direto)\nconst cenasRaw = $('Ler Cenas Pendentes').all().map(i => i.json);\nconst cenas = Array.isArray(cenasRaw[0]) ? cenasRaw[0] : cenasRaw;\n\nconst comNota = cenas.filter(c => c.nota_correcao && c.nota_correcao.trim());\nconst semNota = cenas.filter(c => !c.nota_correcao || !c.nota_correcao.trim());\n\nvar staticData = $getWorkflowStaticData('global');\nstaticData.cenasComNota = comNota;\nstaticData.cenasSemNota = semNota;\nstaticData.videoId = $('Normalizar Input').first().json.video_id;\n\nconst videoArr = $('Ler Vídeo').all().map(i => i.json);\nconst video = Array.isArray(videoArr[0]) ? videoArr[0][0] : videoArr[0];\nstaticData.formato = video?.formato || 'shorts';\n\nreturn [{ json: { comNota: comNota.length, semNota: semNota.length, total: cenas.length, _temNotas: comNota.length > 0 } }];"
      },
      "id": "2eca126a-d31b-4916-9d50-4dcdf3354fc4",
      "name": "Separar Cenas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4800,
        208
      ],
      "notes": "Separa cenas com nota_correcao (Claude reescreve) vs sem (gera direto)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "tem-notas",
              "leftValue": "={{ $json._temNotas }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "70391938-cf78-4b26-b4ad-32dce1c20d64",
      "name": "IF Tem Notas",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4608,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Monta prompt para Claude reescrever os prompt_flux das cenas com nota\nvar staticData = $getWorkflowStaticData('global');\nconst cenas = staticData.cenasComNota || [];\n\nconst cenasTexto = cenas.map(c =>\n  `CENA ${c.numero} (id: ${c.id}):\\nPrompt atual: ${c.prompt_flux}\\nNota de correção: ${c.nota_correcao}\\nPersonagem presente: ${c.personagem_presente}\\nRedux strength: ${c.redux_strength || 'null'}`\n).join('\\n\\n---\\n\\n');\n\nconst systemPrompt = `Você é um diretor artístico de claymation horror. Receba prompts FLUX com notas de correção e reescreva APENAS os prompts corrigidos.\n\nREGRAS:\n1. Manter EXATAMENTE a mesma estrutura: claymation_stoners... ANGLE... SUBJECT... LIGHT... FOREGROUND... MIDGROUND... BACKGROUND... COLOR\n2. NUNCA partes do corpo no FOREGROUND (mãos, dedos, ombros) — gera duplicação\n3. NUNCA composição split/dividida — FLUX não entende\n4. \"single character only, one clay figure\" obrigatório em cenas com personagem\n5. Aplicar a correção descrita na nota mantendo o restante do prompt\n\nResponda APENAS com JSON válido, sem markdown:\n{\"cenas\": [{\"id\": \"uuid\", \"prompt_flux\": \"prompt corrigido completo\"}]}`;\n\nconst userMessage = `Reescreva os prompts FLUX aplicando as notas de correção:\\n\\n${cenasTexto}`;\n\nreturn [{ json: { _systemPrompt: systemPrompt, _userMessage: userMessage } }];"
      },
      "id": "64f2d96d-d94b-4231-8eb2-33feb38b200c",
      "name": "Preparar Prompt Correção",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4400,
        112
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "maxTokensToSample": 8192,
          "temperature": 0.5
        }
      },
      "id": "b07acfe8-8e03-4a92-aa8a-f7ab9af54beb",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -4096,
        304
      ],
      "credentials": {
        "anthropicApi": {
          "id": "h5r0hNi26YDkGMvp",
          "name": "Anthropic"
        }
      },
      "notes": "Sonnet 4.5, 8192 tokens, temp 0.5."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json._userMessage }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json._systemPrompt }}"
            }
          ]
        }
      },
      "id": "3fcbddab-954f-43af-9367-4b440d46ed7c",
      "name": "Claude Corretor",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -4208,
        112
      ],
      "notes": "Claude reescreve prompts FLUX baseado nas notas de correção."
    },
    {
      "parameters": {
        "jsCode": "// Parse resposta do Claude e atualiza prompts no Supabase\nconst response = $input.first().json;\nconst config = $('Configuração').first().json;\n\nlet cenasCorrigidas = [];\ntry {\n  const text = response.text || response.response || '';\n  const clean = text.replace(/```json|```/g, '').trim();\n  cenasCorrigidas = JSON.parse(clean).cenas || [];\n} catch(e) {\n  return [{ json: { _erro: 'Parse falhou: ' + e.message } }];\n}\n\nconst headers = {\n  'apikey': config.SUPABASE_SERVICE_KEY,\n  'Authorization': 'Bearer ' + config.SUPABASE_SERVICE_KEY,\n  'Content-Type': 'application/json',\n  'Prefer': 'return=minimal'\n};\n\nlet atualizadas = 0;\nfor (const c of cenasCorrigidas) {\n  if (!c.id || !c.prompt_flux) continue;\n  try {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: config.SUPABASE_URL + '/rest/v1/cenas?id=eq.' + c.id,\n      headers,\n      body: { prompt_flux: c.prompt_flux, nota_correcao: null }\n    });\n    atualizadas++;\n  } catch(e) {}\n}\n\nreturn [{ json: { _promptsAtualizados: atualizadas } }];"
      },
      "id": "c31fd922-5ae2-49b5-b839-962a7ad8fe37",
      "name": "Parse e Atualizar Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3808,
        -48
      ],
      "notes": "Parseia prompts corrigidos do Claude e atualiza no Supabase.\nLimpa nota_correcao após aplicar."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.runpod.io/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: '{ myself { pods { id name desiredStatus runtime { uptimeInSeconds } } } }' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "873eb65c-df60-4935-ad0f-31e2eff2908c",
      "name": "Verificar Pod Existente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3808,
        208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zQVkS3cYGiH3Ff5m",
          "name": "RunPod API"
        }
      },
      "notes": "Lista todos os pods do RunPod para verificar se clay-comfyui já está rodando."
    },
    {
      "parameters": {
        "jsCode": "var response = $input.first().json;\nvar staticData = $getWorkflowStaticData('global');\nvar config = $('Configuração').first().json;\n\nvar podEncontrado = false;\nvar podId = null;\nvar comfyuiUrl = null;\n\ntry {\n  var pods = response.data.myself.pods || [];\n  for (var p of pods) {\n    if (p.name === 'clay-comfyui' && p.desiredStatus === 'RUNNING') {\n      var uptime = p.runtime ? p.runtime.uptimeInSeconds : 0;\n      if (uptime > 30) {\n        podEncontrado = true;\n        podId = p.id;\n        comfyuiUrl = 'https://' + p.id + '-8188.proxy.runpod.net';\n        break;\n      }\n    }\n  }\n} catch(e) {}\n\nif (podEncontrado) {\n  staticData.podId = podId;\n  staticData.comfyuiUrl = comfyuiUrl;\n}\n\nreturn [{ json: { _podExiste: podEncontrado, podId: podId, comfyuiUrl: comfyuiUrl } }];"
      },
      "id": "010134d1-2806-4ec2-9152-da85efd2cf0b",
      "name": "Avaliar Pod Existente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3600,
        208
      ],
      "notes": "Verifica se pod clay-comfyui existe e está RUNNING.\nSe sim, reutiliza. Se não, cria novo."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "pod-existe",
              "leftValue": "={{ $json._podExiste }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "98bf81f7-a766-46bb-af2c-b9ed25844f84",
      "name": "IF Pod Existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3408,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nstaticData.comfyRetries = 0;\nreturn [{ json: { checkUrl: staticData.comfyuiUrl + '/object_info' } }];"
      },
      "id": "6c82d8f8-c000-494c-a1b1-babc436857ec",
      "name": "Usar Pod Existente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3200,
        112
      ],
      "notes": "Pod já está rodando, vai direto para check do ComfyUI."
    },
    {
      "parameters": {
        "jsCode": "const config = $('Configuração').first().json;\nconst nvId = config.NETWORK_VOLUME_ID;\nconst createBody = {\n  query: `mutation { podFindAndDeployOnDemand(input: { name: \"clay-comfyui\", cloudType: SECURE, gpuTypeId: \"NVIDIA A40\", gpuCount: 1, containerDiskInGb: 10, networkVolumeId: \"${nvId}\", ports: \"8188/http,8080/http,8888/http\", volumeMountPath: \"/workspace\", imageName: \"runpod/comfyui:latest\" }) { id desiredStatus } }`\n};\nreturn [{ json: { createBody } }];"
      },
      "id": "5b7d76b7-30b8-47c5-8229-ace5d30125a2",
      "name": "Prep Criar Pod",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3200,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.runpod.io/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.createBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "8bc35a26-91f5-4e0f-aef9-2945e71ffb67",
      "name": "Criar Pod",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3008,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zQVkS3cYGiH3Ff5m",
          "name": "RunPod API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nif (response.errors && response.errors.length > 0) {\n  throw new Error('RunPod: ' + response.errors.map(e => e.message).join('; '));\n}\nconst newPodId = response?.data?.podFindAndDeployOnDemand?.id;\nif (!newPodId) throw new Error('Falha ao criar pod');\nvar staticData = $getWorkflowStaticData('global');\nstaticData.podId = newPodId;\nstaticData.comfyuiUrl = 'https://' + newPodId + '-8188.proxy.runpod.net';\nstaticData.podRetries = 0;\nreturn [{ json: { podId: newPodId } }];"
      },
      "id": "da1c125e-3d06-43bd-afc7-9fc02ad33581",
      "name": "Processar Novo Pod",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2800,
        400
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "ebc8347f-d041-44cd-bdcf-ee7257311694",
      "name": "Wait Pod",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2608,
        400
      ],
      "webhookId": "2ea9c5cc-3c1c-41d4-ab05-680636c241a7"
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { podStatusBody: { query: '{ pod(input: {podId: \"' + staticData.podId + '\"}) { id desiredStatus runtime { uptimeInSeconds } } }' } } }];"
      },
      "id": "60da2238-fb5b-483a-ae42-d849fd4ddb5b",
      "name": "Prep Checar Pod",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2400,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.runpod.io/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.podStatusBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "01f4cb51-f386-44f8-85c1-1b4967caecbb",
      "name": "Checar Pod",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2208,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zQVkS3cYGiH3Ff5m",
          "name": "RunPod API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var response = $('Checar Pod').first().json;\nvar staticData = $getWorkflowStaticData('global');\nstaticData.podRetries = (staticData.podRetries || 0) + 1;\nvar running = false;\ntry {\n  var status = response.data.pod.desiredStatus;\n  var uptime = response.data.pod.runtime.uptimeInSeconds;\n  running = (status === 'RUNNING' && uptime > 0);\n} catch(e) {}\nreturn [{ json: { _podReady: running, _podTimeout: (!running && staticData.podRetries >= 20) } }];"
      },
      "id": "facdb987-a5bd-481e-aba3-975e40723a7a",
      "name": "Avaliar Pod",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2000,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "pod-ready",
              "leftValue": "={{ $json._podReady }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3a61e52-5c5d-40fe-8451-72ba06664664",
      "name": "IF Pod Pronto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1808,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "pod-timeout",
              "leftValue": "={{ $json._podTimeout }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "799e37be-af36-440d-be82-114b238dce84",
      "name": "IF Pod Timeout",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1904,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nstaticData.comfyRetries = 0;\nreturn [{ json: { checkUrl: staticData.comfyuiUrl + '/object_info' } }];"
      },
      "id": "c9ed77d6-f568-49bb-b6d7-da067cc28411",
      "name": "Prep Polling ComfyUI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        208
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "7868ce0e-f754-4097-9d46-e76f38741133",
      "name": "Wait ComfyUI",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1408,
        208
      ],
      "webhookId": "b4f79bb5-3999-41aa-a121-d44b6db2c1ba"
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { checkUrl: staticData.comfyuiUrl + '/object_info' } }];"
      },
      "id": "264beaca-fa2d-4950-af19-5146e8f4e45b",
      "name": "Prep Checar ComfyUI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        208
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.checkUrl }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 15000
        }
      },
      "id": "cd1b5f20-b6b6-464b-8e54-3c3aa5a15798",
      "name": "Checar ComfyUI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1008,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "var response = $('Checar ComfyUI').first().json;\nvar staticData = $getWorkflowStaticData('global');\nstaticData.comfyRetries = (staticData.comfyRetries || 0) + 1;\nvar ready = false;\ntry { ready = (Object.keys(response).length > 50); } catch(e) {}\nreturn [{ json: { _comfyReady: ready, _comfyTimeout: (!ready && staticData.comfyRetries >= 40) } }];"
      },
      "id": "c04b9701-03e2-43f4-b361-978590c19097",
      "name": "Avaliar ComfyUI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "comfy-ready",
              "leftValue": "={{ $json._comfyReady }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5a1af45f-ca65-413a-8018-bedbcbff6316",
      "name": "IF ComfyUI Pronto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -608,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "comfy-timeout",
              "leftValue": "={{ $json._comfyTimeout }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "afd6ea1a-eb4e-4266-a13d-bc8a184ea972",
      "name": "IF ComfyUI Timeout",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -608,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { stopBody: { query: 'mutation { podTerminate(input: {podId: \"' + (staticData.podId || '') + '\"}) }' } } }];"
      },
      "id": "5243705c-89d7-4df1-84a2-88af76fb79de",
      "name": "Prep Desligar Timeout",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        608
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.runpod.io/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.stopBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "7fadfdf8-f7d8-406c-a5d5-b295a73eb58f",
      "name": "Desligar Pod Erro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1408,
        608
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zQVkS3cYGiH3Ff5m",
          "name": "RunPod API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Re-lê cenas pendentes (prompts podem ter sido atualizados pelo Claude)\nconst config = $('Configuração').first().json;\nvar staticData = $getWorkflowStaticData('global');\nconst videoId = staticData.videoId;\n\nconst cenas = await this.helpers.httpRequest({\n  method: 'GET',\n  url: config.SUPABASE_URL + '/rest/v1/cenas?video_id=eq.' + videoId + '&opcao_id=is.null&imagem_status=eq.pendente&order=ordem.asc',\n  headers: {\n    'apikey': config.SUPABASE_SERVICE_KEY,\n    'Authorization': 'Bearer ' + config.SUPABASE_SERVICE_KEY\n  }\n});\n\nstaticData.lastPersonagemImage = null;\n\nconst items = cenas.map(c => ({\n  json: {\n    ...c,\n    _videoId: videoId,\n    _formato: staticData.formato,\n    _isThumbnail: false\n  }\n}));\n\nreturn items;"
      },
      "id": "26a764cf-88e0-44bc-b726-c3daba18c8ad",
      "name": "Preparar Geração",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        208
      ],
      "notes": "Re-lê cenas pendentes (prompts podem ter sido corrigidos pelo Claude)."
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "4c6f5169-1010-4e92-aab2-d23092ca8fca",
      "name": "Loop Cenas",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -208,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $('Loop Cenas').first().json;\nvar staticData = $getWorkflowStaticData('global');\nconst comfyuiUrl = staticData.comfyuiUrl;\nconst isShorts = item._formato === 'shorts';\nconst width = item._isThumbnail ? 1280 : (isShorts ? 768 : 1344);\nconst height = item._isThumbnail ? 720 : (isShorts ? 1344 : 768);\nconst seed = Math.floor(Math.random() * 999999999999999);\nconst useRedux = item.personagem_presente === true && !item._isThumbnail;\nlet referenceImage = 'Imagem Mestre Personagem.png';\nif (useRedux && item.continuidade === true && staticData.lastPersonagemImage) {\n  referenceImage = staticData.lastPersonagemImage;\n}\nconst loraStrength = (item.redux_strength !== null && item.redux_strength !== undefined) ? item.redux_strength : 0.7;\nlet payload;\nif (useRedux) {\n  payload = {\n    \"6\":{\"inputs\":{\"text\":item.prompt_flux,\"clip\":[\"55\",1]},\"class_type\":\"CLIPTextEncode\",\"_meta\":{\"title\":\"CLIP Text Encode (Positive Prompt)\"}},\n    \"8\":{\"inputs\":{\"samples\":[\"13\",0],\"vae\":[\"10\",0]},\"class_type\":\"VAEDecode\",\"_meta\":{\"title\":\"VAE Decode\"}},\n    \"9\":{\"inputs\":{\"filename_prefix\":\"Flux2\",\"images\":[\"8\",0]},\"class_type\":\"SaveImage\",\"_meta\":{\"title\":\"Save Image\"}},\n    \"10\":{\"inputs\":{\"vae_name\":\"flux2-vae.safetensors\"},\"class_type\":\"VAELoader\",\"_meta\":{\"title\":\"Load VAE\"}},\n    \"13\":{\"inputs\":{\"noise\":[\"25\",0],\"guider\":[\"22\",0],\"sampler\":[\"16\",0],\"sigmas\":[\"48\",0],\"latent_image\":[\"47\",0]},\"class_type\":\"SamplerCustomAdvanced\",\"_meta\":{\"title\":\"SamplerCustomAdvanced\"}},\n    \"16\":{\"inputs\":{\"sampler_name\":\"euler\"},\"class_type\":\"KSamplerSelect\",\"_meta\":{\"title\":\"KSamplerSelect\"}},\n    \"22\":{\"inputs\":{\"model\":[\"55\",0],\"conditioning\":[\"60\",0]},\"class_type\":\"BasicGuider\",\"_meta\":{\"title\":\"BasicGuider\"}},\n    \"25\":{\"inputs\":{\"noise_seed\":seed},\"class_type\":\"RandomNoise\",\"_meta\":{\"title\":\"RandomNoise\"}},\n    \"26\":{\"inputs\":{\"guidance\":4,\"conditioning\":[\"6\",0]},\"class_type\":\"FluxGuidance\",\"_meta\":{\"title\":\"FluxGuidance\"}},\n    \"40\":{\"inputs\":{\"pixels\":[\"41\",0],\"vae\":[\"10\",0]},\"class_type\":\"VAEEncode\",\"_meta\":{\"title\":\"VAE Encode\"}},\n    \"41\":{\"inputs\":{\"upscale_method\":\"area\",\"megapixels\":1,\"resolution_steps\":1,\"image\":[\"42\",0]},\"class_type\":\"ImageScaleToTotalPixels\",\"_meta\":{\"title\":\"ImageScaleToTotalPixels\"}},\n    \"42\":{\"inputs\":{\"image\":referenceImage},\"class_type\":\"LoadImage\",\"_meta\":{\"title\":\"Load Image\"}},\n    \"47\":{\"inputs\":{\"width\":width,\"height\":height,\"batch_size\":1},\"class_type\":\"EmptyFlux2LatentImage\",\"_meta\":{\"title\":\"Empty Flux 2 Latent\"}},\n    \"48\":{\"inputs\":{\"steps\":20,\"width\":width,\"height\":height},\"class_type\":\"Flux2Scheduler\",\"_meta\":{\"title\":\"Flux2Scheduler\"}},\n    \"52\":{\"inputs\":{\"unet_name\":\"flux2-dev-Q4_K_S.gguf\"},\"class_type\":\"UnetLoaderGGUF\",\"_meta\":{\"title\":\"Unet Loader (GGUF)\"}},\n    \"53\":{\"inputs\":{\"clip_name\":\"mistral_3_small_flux2_fp8.safetensors\",\"type\":\"flux2\",\"device\":\"default\"},\"class_type\":\"CLIPLoader\",\"_meta\":{\"title\":\"Load CLIP\"}},\n    \"55\":{\"inputs\":{\"PowerLoraLoaderHeaderWidget\":{\"type\":\"PowerLoraLoaderHeaderWidget\"},\"lora_1\":{\"on\":true,\"lora\":\"claymation_stoners.safetensors\",\"strength\":loraStrength},\"\\u2795 Add Lora\":\"\",\"model\":[\"52\",0],\"clip\":[\"53\",0]},\"class_type\":\"Power Lora Loader (rgthree)\",\"_meta\":{\"title\":\"Power Lora Loader (rgthree)\"}},\n    \"60\":{\"inputs\":{\"conditioning\":[\"26\",0],\"latent\":[\"40\",0]},\"class_type\":\"ReferenceLatent\",\"_meta\":{\"title\":\"ReferenceLatent\"}}\n  };\n} else {\n  payload = {\n    \"6\":{\"inputs\":{\"text\":item.prompt_flux,\"clip\":[\"83\",1]},\"class_type\":\"CLIPTextEncode\",\"_meta\":{\"title\":\"CLIP Text Encode (Positive Prompt)\"}},\n    \"8\":{\"inputs\":{\"samples\":[\"63\",0],\"vae\":[\"10\",0]},\"class_type\":\"VAEDecode\",\"_meta\":{\"title\":\"VAE Decode\"}},\n    \"9\":{\"inputs\":{\"filename_prefix\":\"Flux2\",\"images\":[\"8\",0]},\"class_type\":\"SaveImage\",\"_meta\":{\"title\":\"Save Image\"}},\n    \"10\":{\"inputs\":{\"vae_name\":\"flux2-vae.safetensors\"},\"class_type\":\"VAELoader\",\"_meta\":{\"title\":\"Load VAE\"}},\n    \"26\":{\"inputs\":{\"guidance\":4,\"conditioning\":[\"6\",0]},\"class_type\":\"FluxGuidance\",\"_meta\":{\"title\":\"FluxGuidance\"}},\n    \"47\":{\"inputs\":{\"width\":width,\"height\":height,\"batch_size\":1},\"class_type\":\"EmptyFlux2LatentImage\",\"_meta\":{\"title\":\"Empty Flux 2 Latent\"}},\n    \"63\":{\"inputs\":{\"seed\":seed,\"steps\":20,\"cfg\":1,\"sampler_name\":\"euler\",\"scheduler\":\"simple\",\"denoise\":1,\"model\":[\"83\",0],\"positive\":[\"26\",0],\"negative\":[\"79\",0],\"latent_image\":[\"47\",0]},\"class_type\":\"KSampler\",\"_meta\":{\"title\":\"KSampler\"}},\n    \"79\":{\"inputs\":{\"conditioning\":[\"26\",0]},\"class_type\":\"ConditioningZeroOut\",\"_meta\":{\"title\":\"ConditioningZeroOut\"}},\n    \"83\":{\"inputs\":{\"PowerLoraLoaderHeaderWidget\":{\"type\":\"PowerLoraLoaderHeaderWidget\"},\"lora_1\":{\"on\":true,\"lora\":\"claymation_stoners.safetensors\",\"strength\":0.7},\"\\u2795 Add Lora\":\"\",\"model\":[\"85\",0],\"clip\":[\"88\",0]},\"class_type\":\"Power Lora Loader (rgthree)\",\"_meta\":{\"title\":\"Power Lora Loader (rgthree)\"}},\n    \"85\":{\"inputs\":{\"unet_name\":\"flux2-dev-Q4_K_S.gguf\"},\"class_type\":\"UnetLoaderGGUF\",\"_meta\":{\"title\":\"Unet Loader (GGUF)\"}},\n    \"88\":{\"inputs\":{\"clip_name\":\"mistral_3_small_flux2_fp8.safetensors\",\"type\":\"flux2\",\"device\":\"default\"},\"class_type\":\"CLIPLoader\",\"_meta\":{\"title\":\"Load CLIP\"}}\n  };\n}\nreturn [{ json: { promptUrl: comfyuiUrl + '/prompt', promptBody: { prompt: payload }, cenaId: item.id, cenaNumero: item.numero, videoId: item._videoId, personagem_presente: item.personagem_presente || false, _isThumbnail: false, seed: seed } }];"
      },
      "id": "c388dcc2-1787-4846-bc21-4a96292b0f2b",
      "name": "Montar Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.promptUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.promptBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "5f84dd38-e625-4bc4-9b98-80a832e679ad",
      "name": "Enviar ComfyUI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "var response = $input.first().json;\nvar staticData = $getWorkflowStaticData('global');\nvar meta = $('Montar Payload').first().json;\nstaticData.imgPromptId = response.prompt_id;\nstaticData.imgHistoryUrl = staticData.comfyuiUrl + '/history/' + response.prompt_id;\nstaticData.imgRetries = 0;\nreturn [{ json: { promptId: response.prompt_id, cenaId: meta.cenaId, cenaNumero: meta.cenaNumero, videoId: meta.videoId, personagem_presente: meta.personagem_presente, _isThumbnail: false } }];"
      },
      "id": "1c839dcf-facb-43b7-bbb9-c8ad27f51a88",
      "name": "Preparar Polling Imagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        400
      ]
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "89cf62ec-04e6-4364-bf97-ce81ec65540b",
      "name": "Wait Imagem",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        608,
        400
      ],
      "webhookId": "b6427c7a-a087-44c3-b681-9890c79d983d"
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { historyUrl: staticData.imgHistoryUrl, promptId: staticData.imgPromptId } }];"
      },
      "id": "c8ba0415-8623-4b7d-a792-9ae4ac9d2bb3",
      "name": "Prep Buscar Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.historyUrl }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "6a4d0817-cdb2-4dda-8c5b-f0a8e06a28bd",
      "name": "Buscar Resultado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "var input = $('Buscar Resultado').first().json;\nvar staticData = $getWorkflowStaticData('global');\nvar promptId = staticData.imgPromptId;\nstaticData.imgRetries = (staticData.imgRetries || 0) + 1;\nvar pronto = false; var filename = null;\ntry {\n  var hist = input[promptId];\n  if (hist && hist.outputs) {\n    var keys = Object.keys(hist.outputs);\n    for (var k = 0; k < keys.length; k++) {\n      var nodeOut = hist.outputs[keys[k]];\n      if (nodeOut.images && nodeOut.images.length > 0) { filename = nodeOut.images[0].filename; pronto = true; break; }\n    }\n  }\n} catch(e) {}\nvar meta = $('Preparar Polling Imagem').first().json;\nreturn [{ json: { _ready: pronto, filename: filename, downloadUrl: pronto ? (staticData.comfyuiUrl + '/view?filename=' + encodeURIComponent(filename) + '&type=output') : null, cenaId: meta.cenaId, cenaNumero: meta.cenaNumero, videoId: meta.videoId, personagem_presente: meta.personagem_presente, _isThumbnail: false } }];"
      },
      "id": "64e4728a-088d-41d8-a16c-6cd2fb06d737",
      "name": "Avaliar Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "img-ready",
              "leftValue": "={{ $json._ready }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "51358f33-57c5-452c-b5f8-89650ebbcc0a",
      "name": "IF Imagem Pronta",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1408,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const meta = $input.first().json;\nvar staticData = $getWorkflowStaticData('global');\nconst config = $('Configuração').first().json;\n\nconst storagePath = meta._isThumbnail\n  ? meta.videoId + '/thumbnail.png'\n  : meta.videoId + '/cena_' + meta.cenaNumero + '.png';\n\nconst publicUrl = config.SUPABASE_URL + '/storage/v1/object/public/imagens/' + storagePath;\n\n// ==========================================================\n// REGRA 29 — continuidade visual entre cenas\n// Copia a imagem recém-gerada do /output do ComfyUI pro /input\n// com nome fixo 'continuity_{videoId}.png', pra próxima cena\n// com continuidade=true usar como Redux reference.\n// ==========================================================\nif (meta.personagem_presente && !meta._isThumbnail) {\n  try {\n    const comfyuiUrl = staticData.comfyuiUrl;\n    const continuityName = 'continuity_' + meta.videoId + '.png';\n\n    // 1. Baixar a imagem do /output via /view\n    const imageBuffer = await this.helpers.httpRequest({\n      method: 'GET',\n      url: comfyuiUrl + '/view',\n      qs: {\n        filename: meta.filename,\n        type: 'output',\n        subfolder: ''\n      },\n      encoding: 'arraybuffer',\n      returnFullResponse: false\n    });\n\n    // 2. Reupload via /upload/image como multipart\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: comfyuiUrl + '/upload/image',\n      formData: {\n        image: {\n          value: Buffer.from(imageBuffer),\n          options: {\n            filename: continuityName,\n            contentType: 'image/png'\n          }\n        },\n        overwrite: 'true',\n        type: 'input',\n        subfolder: ''\n      }\n    });\n\n    // 3. Guardar referência pra próxima cena usar no LoadImage\n    staticData.lastPersonagemImage = continuityName;\n  } catch (e) {\n    console.log('Regra 29 falhou: ' + e.message);\n  }\n}\n\nreturn [{ json: {\n  downloadUrl: meta.downloadUrl,\n  uploadUrl: config.SUPABASE_URL + '/storage/v1/object/imagens/' + storagePath,\n  publicUrl: publicUrl,\n  cenaId: meta.cenaId,\n  cenaNumero: meta.cenaNumero,\n  videoId: meta.videoId,\n  _isThumbnail: meta._isThumbnail,\n  supabaseKey: config.SUPABASE_SERVICE_KEY\n} }];"
      },
      "id": "ba852b15-ce27-47b1-b6b4-8b1230ca355e",
      "name": "Prep Download",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        208
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.downloadUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "146700a4-e952-4c1c-8e2b-d95f1fe0b799",
      "name": "Baixar Imagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1808,
        208
      ],
      "notes": "GET imagem do ComfyUI como binary."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Prep Download').first().json.uploadUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Prep Download').first().json.supabaseKey }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Prep Download').first().json.supabaseKey }}"
            },
            {
              "name": "Content-Type",
              "value": "image/png"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a2b0d077-9e21-4e55-aff6-bffc099e26b4",
      "name": "Upload Supabase Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        208
      ],
      "notes": "Upload imagem para Supabase Storage bucket imagens."
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/cenas?id=eq.{{ $('Prep Download').first().json.cenaId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ imagem_url: $('Prep Download').first().json.publicUrl, imagem_status: 'gerada', video_status: 'pendente', video_url: null }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "6dc86687-27e0-4471-a1f4-cead847f1f68",
      "name": "Atualizar Cena",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2576,
        208
      ],
      "notes": "PATCH cena: imagem_url + imagem_status='gerada'."
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { _consolidado: true } }];"
      },
      "id": "a3d334b0-ff93-48b4-a6ff-b86c9dd2c3d8",
      "name": "Consolidar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2768,
        208
      ],
      "notes": "Volta para Loop Cenas."
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { stopBody: { query: 'mutation { podTerminate(input: {podId: \"' + (staticData.podId || '') + '\"}) }' } } }];"
      },
      "id": "79596d84-c88f-4e39-a3f5-636f9d92ae0d",
      "name": "Prep Desligar Pod",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.runpod.io/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.stopBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "d593c632-0ba0-4c45-ab89-4fc6d4211575",
      "name": "Desligar Pod",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zQVkS3cYGiH3Ff5m",
          "name": "RunPod API"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "video_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -6240,
        0
      ],
      "id": "8c5542e5-f4fe-4ccc-bb3f-e497aa08425e",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// ===================================================================\n// COPIAR OUTPUT → INPUT (ComfyUI) — Regra 29 Continuidade\n// ===================================================================\n// Quando uma cena com personagem é gerada, o ComfyUI salva no /output/.\n// Para a próxima cena usar como referência Redux (continuidade=true),\n// precisamos copiar do /output/ para o /input/, porque LoadImage só lê\n// de /input/.\n//\n// Estratégia: baixa o PNG via /view (type=output) e sobe via\n// /upload/image (multipart) com nome fixo continuity_{videoId}.png.\n// O arquivo é sobrescrito a cada cena com personagem — auto-limpa.\n//\n// Só roda se personagem_presente && !_isThumbnail. Caso contrário,\n// passa o item adiante sem alterações.\n// ===================================================================\n\nconst meta = $input.first().json;\nvar staticData = $getWorkflowStaticData('global');\n\n// Passa direto se não for cena com personagem (ou se for thumbnail)\nif (!meta.personagem_presente || meta._isThumbnail) {\n  return [{ json: meta }];\n}\n\nconst comfyuiUrl = staticData.comfyuiUrl;\nconst outputFilename = meta.filename;\nconst continuityName = 'continuity_' + meta.videoId + '.png';\n\ntry {\n  // 1. Baixar PNG do /output/ como binário\n  const imageBuffer = await this.helpers.httpRequest({\n    method: 'GET',\n    url: comfyuiUrl + '/view',\n    qs: {\n      filename: outputFilename,\n      type: 'output'\n    },\n    encoding: 'arraybuffer',\n    returnFullResponse: false\n  });\n\n  // 2. Upload multipart para /input/\n  const FormData = require('form-data');\n  const formData = new FormData();\n  formData.append('image', Buffer.from(imageBuffer), {\n    filename: continuityName,\n    contentType: 'image/png'\n  });\n  formData.append('type', 'input');\n  formData.append('subfolder', '');\n  formData.append('overwrite', 'true');\n\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: comfyuiUrl + '/upload/image',\n    body: formData,\n    headers: formData.getHeaders()\n  });\n\n  // 3. Registrar nome do arquivo em /input/ para próxima cena com continuidade\n  staticData.lastPersonagemImage = continuityName;\n\n} catch (e) {\n  // Se falhar, loga mas não quebra o loop — a próxima cena cairá no\n  // fallback da Imagem Mestre Personagem.\n  console.log('[Regra 29] Falha ao copiar output→input: ' + (e.message || e));\n  staticData.lastPersonagemImage = null;\n}\n\nreturn [{ json: meta }];"
      },
      "id": "e492aace-c717-44f7-af0c-d35360606c06",
      "name": "Copiar Output → Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        224
      ],
      "notes": "REGRA 29 — Continuidade visual.\nCopia o PNG gerado de /output/ para /input/ do ComfyUI como continuity_{videoId}.png, para a próxima cena usar como referência Redux.\nSó roda se personagem_presente && !_isThumbnail.\nSeta staticData.lastPersonagemImage com o nome do arquivo em /input/."
    }
  ],
  "connections": {
    "Webhook Regenerar": {
      "main": [
        [
          {
            "node": "Normalizar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Input": {
      "main": [
        [
          {
            "node": "Configuração",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuração": {
      "main": [
        [
          {
            "node": "Ler Cenas Pendentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Cenas Pendentes": {
      "main": [
        [
          {
            "node": "Ler Vídeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Vídeo": {
      "main": [
        [
          {
            "node": "Contar e Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contar e Responder": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Webhook": {
      "main": [
        [
          {
            "node": "Separar Cenas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar Cenas": {
      "main": [
        [
          {
            "node": "IF Tem Notas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Tem Notas": {
      "main": [
        [
          {
            "node": "Preparar Prompt Correção",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar Pod Existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt Correção": {
      "main": [
        [
          {
            "node": "Claude Corretor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Claude Corretor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Claude Corretor": {
      "main": [
        [
          {
            "node": "Parse e Atualizar Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse e Atualizar Prompts": {
      "main": [
        [
          {
            "node": "Verificar Pod Existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Pod Existente": {
      "main": [
        [
          {
            "node": "Avaliar Pod Existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avaliar Pod Existente": {
      "main": [
        [
          {
            "node": "IF Pod Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Pod Existe": {
      "main": [
        [
          {
            "node": "Usar Pod Existente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Criar Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usar Pod Existente": {
      "main": [
        [
          {
            "node": "Prep Polling ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Criar Pod": {
      "main": [
        [
          {
            "node": "Criar Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Pod": {
      "main": [
        [
          {
            "node": "Processar Novo Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Novo Pod": {
      "main": [
        [
          {
            "node": "Wait Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Pod": {
      "main": [
        [
          {
            "node": "Prep Checar Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Checar Pod": {
      "main": [
        [
          {
            "node": "Checar Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checar Pod": {
      "main": [
        [
          {
            "node": "Avaliar Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avaliar Pod": {
      "main": [
        [
          {
            "node": "IF Pod Pronto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Pod Pronto": {
      "main": [
        [
          {
            "node": "Prep Polling ComfyUI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Pod Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Pod Timeout": {
      "main": [
        [
          {
            "node": "Prep Desligar Timeout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Polling ComfyUI": {
      "main": [
        [
          {
            "node": "Wait ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait ComfyUI": {
      "main": [
        [
          {
            "node": "Prep Checar ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Checar ComfyUI": {
      "main": [
        [
          {
            "node": "Checar ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checar ComfyUI": {
      "main": [
        [
          {
            "node": "Avaliar ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avaliar ComfyUI": {
      "main": [
        [
          {
            "node": "IF ComfyUI Pronto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF ComfyUI Pronto": {
      "main": [
        [
          {
            "node": "Preparar Geração",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF ComfyUI Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF ComfyUI Timeout": {
      "main": [
        [
          {
            "node": "Prep Desligar Timeout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Desligar Timeout": {
      "main": [
        [
          {
            "node": "Desligar Pod Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Geração": {
      "main": [
        [
          {
            "node": "Loop Cenas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Cenas": {
      "main": [
        [
          {
            "node": "Prep Desligar Pod",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Montar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Payload": {
      "main": [
        [
          {
            "node": "Enviar ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar ComfyUI": {
      "main": [
        [
          {
            "node": "Preparar Polling Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Polling Imagem": {
      "main": [
        [
          {
            "node": "Wait Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Imagem": {
      "main": [
        [
          {
            "node": "Prep Buscar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Buscar Resultado": {
      "main": [
        [
          {
            "node": "Buscar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Resultado": {
      "main": [
        [
          {
            "node": "Avaliar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avaliar Resultado": {
      "main": [
        [
          {
            "node": "IF Imagem Pronta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Imagem Pronta": {
      "main": [
        [
          {
            "node": "Prep Download",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Download": {
      "main": [
        [
          {
            "node": "Baixar Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar Imagem": {
      "main": [
        [
          {
            "node": "Upload Supabase Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Supabase Storage": {
      "main": [
        [
          {
            "node": "Copiar Output → Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Cena": {
      "main": [
        [
          {
            "node": "Consolidar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidar": {
      "main": [
        [
          {
            "node": "Loop Cenas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Desligar Pod": {
      "main": [
        [
          {
            "node": "Desligar Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalizar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copiar Output → Input": {
      "main": [
        [
          {
            "node": "Atualizar Cena",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "global": {
      "cenasComNota": [],
      "cenasSemNota": [
        {
          "id": "649a92fa-2227-42a4-b2a4-8b9d7e0ace64",
          "video_id": "0dbee9f6-6def-4099-a3e3-2adaaa94f8bf",
          "opcao_id": null,
          "numero": "4",
          "ordem": 4,
          "narracao": "Ele olhou no espelho. E o reflexo já não o seguia.",
          "emocao": "suspense",
          "duracao_estimada": 4.5,
          "duracao_real": 4.87,
          "som_ambiente": "Silêncio absoluto, sem respiração",
          "efeitos_sonoros": [
            {
              "tag": "heartbeat_slow",
              "tipo": "banco",
              "weight": 0.7
            }
          ],
          "visual": "Same basement — different angle. Clay standing before a cracked mirror on the wall, his reflection visible but slightly off, the sculpture sitting on table in background now fully detailed with eyes and face, Clay's own face appears somehow less defined than before",
          "movimento": "Clay leans closer to mirror slowly, hand reaches toward reflection",
          "tipo_cena": "personagem",
          "continuidade": false,
          "personagem_presente": true,
          "perspectiva": "terceira_pessoa",
          "transicao_entrada": "dip_to_black",
          "hook_tipo": null,
          "angulo": "Medium Shot, low angle",
          "abertura": "f/2.8",
          "iluminacao": "Low Key Chiaroscuro, single 60W tungsten bulb 3200K hanging overhead, harsh shadows with cooler temperature shift, mirror reflecting light creating secondary source 3500K, minimal fill light from basement window, subject well lit with visible clay textures",
          "foreground": "Blurred corner of cracked mirror frame with chipped paint texture and aged patina, extreme surface detail",
          "midground": "Cracked mirror mounted on basement wall showing Clay's reflection slightly offset from his actual position, scattered clay shavings with organic texture, three worn metal sculpting tools with patina and rust spots, small water bowl with ripples, completed sculpture on wooden table with fully detailed face including eyes and curved mouth",
          "background": "Soft bokeh of dim basement walls with peeling paint texture, blurred wooden shelves with dusty jars, creamy out-of-focus hanging bulb creating warm glow halo",
          "paleta_cores": "Cooler amber shifting to 3500K, steel grey mirror tones, muted terracotta clay, deep charcoal shadows, desaturated horror palette",
          "prompt_flux": "claymation_stoners, stop motion photography, miniature set photography, Canon C500 Mark II, macro lens, Cooke Speed Panchro vintage 50mm, 9:16 vertical frame, shallow depth of field, creamy bokeh, visible clay textures, plasticine texture, handmade imperfections, Kodak Vision3 500T emulation, medium film grain, subtle halation, organic texture, NO TEXT, NO WATERMARK, NO LOGO, NO PLASTIC HDR, NO OVERSHARPEN, NO DUPLICATE CLAY, NO TWO STANDING CLAY FIGURES, NO THREE FIGURES, only ONE living Clay character in the scene plus his reflection inside the mirror, NO HANDS RAISED, NO HAND IN FOREGROUND, NO RAINDROPS, NO WATER ON MIRROR, NO BROKEN GLASS, NO CRACKED MIRROR, NO SHATTERED GLASS, the mirror surface is clean and intact, single character only, one clay figure, ANGLE: Medium Shot side profile view, eye level, f/2.8, camera positioned to the side capturing both Clay in profile on the left side of the frame and the wall mirror on the right side of the frame in the same shot side by side, Clay is facing right toward the mirror, the mirror is hanging on the wall to his right, both visible in the same frame from a side angle. SUBJECT: ONE single Clay character standing in profile on the left side of the frame facing the mirror to his right, thin man with spiky dark brown hair, large curved mustache, deep set eyes with heavy dark circles, white shirt and suspenders, his arms hanging at his sides, his face seen in profile from the side staring quietly at the mirror, only his profile silhouette visible. To the right of him on the wall is a clean intact rectangular mirror with a wooden frame, inside the mirror his REFLECTION is visible from the front showing his complete face — the same thin man with spiky dark brown hair, large curved mustache, deep set eyes, white shirt and suspenders, the reflection facing the viewer, with a NEUTRAL expression, lips closed, eyes looking directly forward at the viewer, every clay fingerprint visible. CRITICAL: there is only ONE living Clay character in the room (in profile on the left), and his REFLECTION inside the mirror on the right — these are not two separate people, the reflection is just an image inside the glass. LIGHT: warm 3200K tungsten key light from a basement bulb creating dim domestic warmth on Clay in profile and matching warm light on his reflection inside the mirror, soft fill, gentle shadows, well lit subjects with visible clay textures. FOREGROUND: clean basement floor visible in soft focus with warm bokeh. MIDGROUND: Clay standing in profile on the left side facing right, and the wall mirror on the right side showing his reflection facing forward, both clearly visible side by side in the same frame. BACKGROUND: dim basement around them — peeling paint walls, edge of furniture in soft bokeh, warm bulb glow creating amber halo, creamy out-of-focus background. COLOR: warm amber tungsten ambient light, natural clay flesh tones on Clay and his reflection, white shirt and dark suspenders, brown hair and mustache, dim basement palette, desaturated horror palette",
          "prompt_movimento_wan": "Clay standing in profile on the left side of the frame remains completely still throughout the entire shot, motionless, frozen in place, his profile silhouette unchanging. Inside the mirror on the right, his reflection slowly turns its head sideways to its left looking away from where Clay is standing, breaking the rules of mirroring by acting independently, the reflection's head rotation is slow and continuous and deliberate, only the head moves while the body stays still, the reflection clearly turning away from the viewer's direction. Continuous slow head rotation from the reflection only, Clay completely frozen, no camera movement, static shot.",
          "redux_strength": 0.8,
          "imagem_status": "pendente",
          "imagem_url": null,
          "tts_status": "aprovada",
          "tts_url": "https://vngtopghlmgqjaibqiyb.supabase.co/storage/v1/object/public/narracoes/0dbee9f6-6def-4099-a3e3-2adaaa94f8bf/narr_4.mp3",
          "efeito_status": "pendente",
          "efeito_url": "https://vngtopghlmgqjaibqiyb.supabase.co/storage/v1/object/public/efeitos/0dbee9f6-6def-4099-a3e3-2adaaa94f8bf/fx_4.mp3",
          "video_status": "pendente",
          "video_url": null,
          "retencao_relativa": null,
          "created_at": "2026-04-10T01:26:23.959235+00:00",
          "updated_at": "2026-04-10T01:26:23.959235+00:00",
          "nota_correcao": null
        }
      ],
      "videoId": "0dbee9f6-6def-4099-a3e3-2adaaa94f8bf",
      "formato": "shorts",
      "podId": "l7r3ttw8mivyde",
      "comfyuiUrl": "https://l7r3ttw8mivyde-8188.proxy.runpod.net",
      "podRetries": 2,
      "comfyRetries": 10,
      "lastPersonagemImage": null,
      "imgPromptId": "26406a65-1489-4d79-bdf8-d84e6a7b6191",
      "imgHistoryUrl": "https://l7r3ttw8mivyde-8188.proxy.runpod.net/history/26406a65-1489-4d79-bdf8-d84e6a7b6191",
      "imgRetries": 13
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "db497e7b-372a-49a8-8f5e-7a61d8f254d1",
  "activeVersionId": "db497e7b-372a-49a8-8f5e-7a61d8f254d1",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-30T18:18:12.973Z",
      "createdAt": "2026-03-30T18:18:12.973Z",
      "role": "workflow:owner",
      "workflowId": "ggwAbeqUPUtmcYcE",
      "projectId": "SoH44tJE4dqRVTiw"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-11T18:06:20.000Z",
    "createdAt": "2026-04-11T18:06:15.787Z",
    "versionId": "db497e7b-372a-49a8-8f5e-7a61d8f254d1",
    "workflowId": "ggwAbeqUPUtmcYcE",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "imagens/regenerar",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "4ddaab58-a13e-4f9a-ab4c-a43bae790c51",
        "name": "Webhook Regenerar",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -6208,
          208
        ],
        "webhookId": "imagens-regenerar-04r",
        "notes": "POST /imagens/regenerar { video_id }\nDisparado pelo frontend."
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst video_id = item.video_id || (item.body && item.body.video_id) || null;\nif (!video_id) throw new Error('video_id obrigatório.');\nreturn [{ json: { video_id } }];"
        },
        "id": "a2b26def-34e0-4270-8cfe-70c734ecb550",
        "name": "Normalizar Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -6000,
          208
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cfg-url",
                "name": "SUPABASE_URL",
                "value": "https://vngtopghlmgqjaibqiyb.supabase.co",
                "type": "string"
              },
              {
                "id": "cfg-key",
                "name": "SUPABASE_SERVICE_KEY",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuZ3RvcGdobG1ncWphaWJxaXliIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzUzOTg4NiwiZXhwIjoyMDg5MTE1ODg2fQ.xywZiNZ3h6_uVE9-ltt2LAXtZJ8jTezHCE4LmjBxzTk",
                "type": "string"
              },
              {
                "id": "cfg-nv",
                "name": "NETWORK_VOLUME_ID",
                "value": "1kyj01kp0v",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "48b97dd0-1b4e-4e2f-a0e8-1bc1ab2e5f0c",
        "name": "Configuração",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -5808,
          208
        ]
      },
      {
        "parameters": {
          "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/cenas?video_id=eq.{{ $('Normalizar Input').first().json.video_id }}&opcao_id=is.null&imagem_status=eq.pendente&order=ordem.asc",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "9eacf59d-990a-43c1-b9eb-abb5b936f941",
        "name": "Ler Cenas Pendentes",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -5600,
          208
        ],
        "notes": "GET cenas pendentes (imagem_status='pendente'), ordem ASC."
      },
      {
        "parameters": {
          "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/videos?id=eq.{{ $('Normalizar Input').first().json.video_id }}&select=formato",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "d0235611-ef2f-414c-9d32-9437583439bc",
        "name": "Ler Vídeo",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -5408,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "const cenas = $('Ler Cenas Pendentes').all().map(i => i.json);\nconst total = Array.isArray(cenas[0]) ? cenas[0].length : cenas.length;\nreturn [{ json: { success: true, pendentes: total, mensagem: 'Regeneração iniciada.' } }];"
        },
        "id": "901765f4-7904-47d5-895a-84925725b507",
        "name": "Contar e Responder",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -5200,
          208
        ],
        "notes": "Conta pendentes e prepara resposta."
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "id": "1ddf7d5c-9c63-441a-b0ef-f928344fdb8a",
        "name": "Responder Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          -5008,
          208
        ],
        "notes": "Responde imediatamente ao frontend. Processamento continua async."
      },
      {
        "parameters": {
          "jsCode": "// Separa cenas com nota de correção (Claude reescreve) vs sem nota (gera direto)\nconst cenasRaw = $('Ler Cenas Pendentes').all().map(i => i.json);\nconst cenas = Array.isArray(cenasRaw[0]) ? cenasRaw[0] : cenasRaw;\n\nconst comNota = cenas.filter(c => c.nota_correcao && c.nota_correcao.trim());\nconst semNota = cenas.filter(c => !c.nota_correcao || !c.nota_correcao.trim());\n\nvar staticData = $getWorkflowStaticData('global');\nstaticData.cenasComNota = comNota;\nstaticData.cenasSemNota = semNota;\nstaticData.videoId = $('Normalizar Input').first().json.video_id;\n\nconst videoArr = $('Ler Vídeo').all().map(i => i.json);\nconst video = Array.isArray(videoArr[0]) ? videoArr[0][0] : videoArr[0];\nstaticData.formato = video?.formato || 'shorts';\n\nreturn [{ json: { comNota: comNota.length, semNota: semNota.length, total: cenas.length, _temNotas: comNota.length > 0 } }];"
        },
        "id": "2eca126a-d31b-4916-9d50-4dcdf3354fc4",
        "name": "Separar Cenas",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4800,
          208
        ],
        "notes": "Separa cenas com nota_correcao (Claude reescreve) vs sem (gera direto)."
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "tem-notas",
                "leftValue": "={{ $json._temNotas }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "70391938-cf78-4b26-b4ad-32dce1c20d64",
        "name": "IF Tem Notas",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -4608,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "// Monta prompt para Claude reescrever os prompt_flux das cenas com nota\nvar staticData = $getWorkflowStaticData('global');\nconst cenas = staticData.cenasComNota || [];\n\nconst cenasTexto = cenas.map(c =>\n  `CENA ${c.numero} (id: ${c.id}):\\nPrompt atual: ${c.prompt_flux}\\nNota de correção: ${c.nota_correcao}\\nPersonagem presente: ${c.personagem_presente}\\nRedux strength: ${c.redux_strength || 'null'}`\n).join('\\n\\n---\\n\\n');\n\nconst systemPrompt = `Você é um diretor artístico de claymation horror. Receba prompts FLUX com notas de correção e reescreva APENAS os prompts corrigidos.\n\nREGRAS:\n1. Manter EXATAMENTE a mesma estrutura: claymation_stoners... ANGLE... SUBJECT... LIGHT... FOREGROUND... MIDGROUND... BACKGROUND... COLOR\n2. NUNCA partes do corpo no FOREGROUND (mãos, dedos, ombros) — gera duplicação\n3. NUNCA composição split/dividida — FLUX não entende\n4. \"single character only, one clay figure\" obrigatório em cenas com personagem\n5. Aplicar a correção descrita na nota mantendo o restante do prompt\n\nResponda APENAS com JSON válido, sem markdown:\n{\"cenas\": [{\"id\": \"uuid\", \"prompt_flux\": \"prompt corrigido completo\"}]}`;\n\nconst userMessage = `Reescreva os prompts FLUX aplicando as notas de correção:\\n\\n${cenasTexto}`;\n\nreturn [{ json: { _systemPrompt: systemPrompt, _userMessage: userMessage } }];"
        },
        "id": "64f2d96d-d94b-4231-8eb2-33feb38b200c",
        "name": "Preparar Prompt Correção",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4400,
          112
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-sonnet-4-5-20250929",
            "mode": "list",
            "cachedResultName": "Claude Sonnet 4.5"
          },
          "options": {
            "maxTokensToSample": 8192,
            "temperature": 0.5
          }
        },
        "id": "b07acfe8-8e03-4a92-aa8a-f7ab9af54beb",
        "name": "Anthropic Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          -4096,
          304
        ],
        "credentials": {
          "anthropicApi": {
            "id": "h5r0hNi26YDkGMvp",
            "name": "Anthropic"
          }
        },
        "notes": "Sonnet 4.5, 8192 tokens, temp 0.5."
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json._userMessage }}",
          "messages": {
            "messageValues": [
              {
                "message": "={{ $json._systemPrompt }}"
              }
            ]
          }
        },
        "id": "3fcbddab-954f-43af-9367-4b440d46ed7c",
        "name": "Claude Corretor",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.4,
        "position": [
          -4208,
          112
        ],
        "notes": "Claude reescreve prompts FLUX baseado nas notas de correção."
      },
      {
        "parameters": {
          "jsCode": "// Parse resposta do Claude e atualiza prompts no Supabase\nconst response = $input.first().json;\nconst config = $('Configuração').first().json;\n\nlet cenasCorrigidas = [];\ntry {\n  const text = response.text || response.response || '';\n  const clean = text.replace(/```json|```/g, '').trim();\n  cenasCorrigidas = JSON.parse(clean).cenas || [];\n} catch(e) {\n  return [{ json: { _erro: 'Parse falhou: ' + e.message } }];\n}\n\nconst headers = {\n  'apikey': config.SUPABASE_SERVICE_KEY,\n  'Authorization': 'Bearer ' + config.SUPABASE_SERVICE_KEY,\n  'Content-Type': 'application/json',\n  'Prefer': 'return=minimal'\n};\n\nlet atualizadas = 0;\nfor (const c of cenasCorrigidas) {\n  if (!c.id || !c.prompt_flux) continue;\n  try {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: config.SUPABASE_URL + '/rest/v1/cenas?id=eq.' + c.id,\n      headers,\n      body: { prompt_flux: c.prompt_flux, nota_correcao: null }\n    });\n    atualizadas++;\n  } catch(e) {}\n}\n\nreturn [{ json: { _promptsAtualizados: atualizadas } }];"
        },
        "id": "c31fd922-5ae2-49b5-b839-962a7ad8fe37",
        "name": "Parse e Atualizar Prompts",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3808,
          -48
        ],
        "notes": "Parseia prompts corrigidos do Claude e atualiza no Supabase.\nLimpa nota_correcao após aplicar."
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.runpod.io/graphql",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ query: '{ myself { pods { id name desiredStatus runtime { uptimeInSeconds } } } }' }) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "873eb65c-df60-4935-ad0f-31e2eff2908c",
        "name": "Verificar Pod Existente",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -3808,
          208
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "zQVkS3cYGiH3Ff5m",
            "name": "RunPod API"
          }
        },
        "notes": "Lista todos os pods do RunPod para verificar se clay-comfyui já está rodando."
      },
      {
        "parameters": {
          "jsCode": "var response = $input.first().json;\nvar staticData = $getWorkflowStaticData('global');\nvar config = $('Configuração').first().json;\n\nvar podEncontrado = false;\nvar podId = null;\nvar comfyuiUrl = null;\n\ntry {\n  var pods = response.data.myself.pods || [];\n  for (var p of pods) {\n    if (p.name === 'clay-comfyui' && p.desiredStatus === 'RUNNING') {\n      var uptime = p.runtime ? p.runtime.uptimeInSeconds : 0;\n      if (uptime > 30) {\n        podEncontrado = true;\n        podId = p.id;\n        comfyuiUrl = 'https://' + p.id + '-8188.proxy.runpod.net';\n        break;\n      }\n    }\n  }\n} catch(e) {}\n\nif (podEncontrado) {\n  staticData.podId = podId;\n  staticData.comfyuiUrl = comfyuiUrl;\n}\n\nreturn [{ json: { _podExiste: podEncontrado, podId: podId, comfyuiUrl: comfyuiUrl } }];"
        },
        "id": "010134d1-2806-4ec2-9152-da85efd2cf0b",
        "name": "Avaliar Pod Existente",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3600,
          208
        ],
        "notes": "Verifica se pod clay-comfyui existe e está RUNNING.\nSe sim, reutiliza. Se não, cria novo."
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "pod-existe",
                "leftValue": "={{ $json._podExiste }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "98bf81f7-a766-46bb-af2c-b9ed25844f84",
        "name": "IF Pod Existe",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -3408,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "var staticData = $getWorkflowStaticData('global');\nstaticData.comfyRetries = 0;\nreturn [{ json: { checkUrl: staticData.comfyuiUrl + '/object_info' } }];"
        },
        "id": "6c82d8f8-c000-494c-a1b1-babc436857ec",
        "name": "Usar Pod Existente",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3200,
          112
        ],
        "notes": "Pod já está rodando, vai direto para check do ComfyUI."
      },
      {
        "parameters": {
          "jsCode": "const config = $('Configuração').first().json;\nconst nvId = config.NETWORK_VOLUME_ID;\nconst createBody = {\n  query: `mutation { podFindAndDeployOnDemand(input: { name: \"clay-comfyui\", cloudType: SECURE, gpuTypeId: \"NVIDIA A40\", gpuCount: 1, containerDiskInGb: 10, networkVolumeId: \"${nvId}\", ports: \"8188/http,8080/http,8888/http\", volumeMountPath: \"/workspace\", imageName: \"runpod/comfyui:latest\" }) { id desiredStatus } }`\n};\nreturn [{ json: { createBody } }];"
        },
        "id": "5b7d76b7-30b8-47c5-8229-ace5d30125a2",
        "name": "Prep Criar Pod",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3200,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.runpod.io/graphql",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.createBody) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "8bc35a26-91f5-4e0f-aef9-2945e71ffb67",
        "name": "Criar Pod",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -3008,
          400
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "zQVkS3cYGiH3Ff5m",
            "name": "RunPod API"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const response = $input.first().json;\nif (response.errors && response.errors.length > 0) {\n  throw new Error('RunPod: ' + response.errors.map(e => e.message).join('; '));\n}\nconst newPodId = response?.data?.podFindAndDeployOnDemand?.id;\nif (!newPodId) throw new Error('Falha ao criar pod');\nvar staticData = $getWorkflowStaticData('global');\nstaticData.podId = newPodId;\nstaticData.comfyuiUrl = 'https://' + newPodId + '-8188.proxy.runpod.net';\nstaticData.podRetries = 0;\nreturn [{ json: { podId: newPodId } }];"
        },
        "id": "da1c125e-3d06-43bd-afc7-9fc02ad33581",
        "name": "Processar Novo Pod",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2800,
          400
        ]
      },
      {
        "parameters": {
          "amount": 15
        },
        "id": "ebc8347f-d041-44cd-bdcf-ee7257311694",
        "name": "Wait Pod",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -2608,
          400
        ],
        "webhookId": "2ea9c5cc-3c1c-41d4-ab05-680636c241a7"
      },
      {
        "parameters": {
          "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { podStatusBody: { query: '{ pod(input: {podId: \"' + staticData.podId + '\"}) { id desiredStatus runtime { uptimeInSeconds } } }' } } }];"
        },
        "id": "60da2238-fb5b-483a-ae42-d849fd4ddb5b",
        "name": "Prep Checar Pod",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2400,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.runpod.io/graphql",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.podStatusBody) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "01f4cb51-f386-44f8-85c1-1b4967caecbb",
        "name": "Checar Pod",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2208,
          400
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "zQVkS3cYGiH3Ff5m",
            "name": "RunPod API"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "var response = $('Checar Pod').first().json;\nvar staticData = $getWorkflowStaticData('global');\nstaticData.podRetries = (staticData.podRetries || 0) + 1;\nvar running = false;\ntry {\n  var status = response.data.pod.desiredStatus;\n  var uptime = response.data.pod.runtime.uptimeInSeconds;\n  running = (status === 'RUNNING' && uptime > 0);\n} catch(e) {}\nreturn [{ json: { _podReady: running, _podTimeout: (!running && staticData.podRetries >= 20) } }];"
        },
        "id": "facdb987-a5bd-481e-aba3-975e40723a7a",
        "name": "Avaliar Pod",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2000,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "pod-ready",
                "leftValue": "={{ $json._podReady }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "c3a61e52-5c5d-40fe-8451-72ba06664664",
        "name": "IF Pod Pronto",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -1808,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "pod-timeout",
                "leftValue": "={{ $json._podTimeout }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "799e37be-af36-440d-be82-114b238dce84",
        "name": "IF Pod Timeout",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -1904,
          608
        ]
      },
      {
        "parameters": {
          "jsCode": "var staticData = $getWorkflowStaticData('global');\nstaticData.comfyRetries = 0;\nreturn [{ json: { checkUrl: staticData.comfyuiUrl + '/object_info' } }];"
        },
        "id": "c9ed77d6-f568-49bb-b6d7-da067cc28411",
        "name": "Prep Polling ComfyUI",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1600,
          208
        ]
      },
      {
        "parameters": {
          "amount": 10
        },
        "id": "7868ce0e-f754-4097-9d46-e76f38741133",
        "name": "Wait ComfyUI",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -1408,
          208
        ],
        "webhookId": "b4f79bb5-3999-41aa-a121-d44b6db2c1ba"
      },
      {
        "parameters": {
          "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { checkUrl: staticData.comfyuiUrl + '/object_info' } }];"
        },
        "id": "264beaca-fa2d-4950-af19-5146e8f4e45b",
        "name": "Prep Checar ComfyUI",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1200,
          208
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.checkUrl }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            },
            "timeout": 15000
          }
        },
        "id": "cd1b5f20-b6b6-464b-8e54-3c3aa5a15798",
        "name": "Checar ComfyUI",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1008,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "var response = $('Checar ComfyUI').first().json;\nvar staticData = $getWorkflowStaticData('global');\nstaticData.comfyRetries = (staticData.comfyRetries || 0) + 1;\nvar ready = false;\ntry { ready = (Object.keys(response).length > 50); } catch(e) {}\nreturn [{ json: { _comfyReady: ready, _comfyTimeout: (!ready && staticData.comfyRetries >= 40) } }];"
        },
        "id": "c04b9701-03e2-43f4-b361-978590c19097",
        "name": "Avaliar ComfyUI",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -800,
          208
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "comfy-ready",
                "leftValue": "={{ $json._comfyReady }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "5a1af45f-ca65-413a-8018-bedbcbff6316",
        "name": "IF ComfyUI Pronto",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -608,
          208
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "comfy-timeout",
                "leftValue": "={{ $json._comfyTimeout }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "afd6ea1a-eb4e-4266-a13d-bc8a184ea972",
        "name": "IF ComfyUI Timeout",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -608,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { stopBody: { query: 'mutation { podTerminate(input: {podId: \"' + (staticData.podId || '') + '\"}) }' } } }];"
        },
        "id": "5243705c-89d7-4df1-84a2-88af76fb79de",
        "name": "Prep Desligar Timeout",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1600,
          608
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.runpod.io/graphql",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.stopBody) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "7fadfdf8-f7d8-406c-a5d5-b295a73eb58f",
        "name": "Desligar Pod Erro",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1408,
          608
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "zQVkS3cYGiH3Ff5m",
            "name": "RunPod API"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Re-lê cenas pendentes (prompts podem ter sido atualizados pelo Claude)\nconst config = $('Configuração').first().json;\nvar staticData = $getWorkflowStaticData('global');\nconst videoId = staticData.videoId;\n\nconst cenas = await this.helpers.httpRequest({\n  method: 'GET',\n  url: config.SUPABASE_URL + '/rest/v1/cenas?video_id=eq.' + videoId + '&opcao_id=is.null&imagem_status=eq.pendente&order=ordem.asc',\n  headers: {\n    'apikey': config.SUPABASE_SERVICE_KEY,\n    'Authorization': 'Bearer ' + config.SUPABASE_SERVICE_KEY\n  }\n});\n\nstaticData.lastPersonagemImage = null;\n\nconst items = cenas.map(c => ({\n  json: {\n    ...c,\n    _videoId: videoId,\n    _formato: staticData.formato,\n    _isThumbnail: false\n  }\n}));\n\nreturn items;"
        },
        "id": "26a764cf-88e0-44bc-b726-c3daba18c8ad",
        "name": "Preparar Geração",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -400,
          208
        ],
        "notes": "Re-lê cenas pendentes (prompts podem ter sido corrigidos pelo Claude)."
      },
      {
        "parameters": {
          "options": {
            "reset": false
          }
        },
        "id": "4c6f5169-1010-4e92-aab2-d23092ca8fca",
        "name": "Loop Cenas",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -208,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $('Loop Cenas').first().json;\nvar staticData = $getWorkflowStaticData('global');\nconst comfyuiUrl = staticData.comfyuiUrl;\nconst isShorts = item._formato === 'shorts';\nconst width = item._isThumbnail ? 1280 : (isShorts ? 768 : 1344);\nconst height = item._isThumbnail ? 720 : (isShorts ? 1344 : 768);\nconst seed = Math.floor(Math.random() * 999999999999999);\nconst useRedux = item.personagem_presente === true && !item._isThumbnail;\nlet referenceImage = 'Imagem Mestre Personagem.png';\nif (useRedux && item.continuidade === true && staticData.lastPersonagemImage) {\n  referenceImage = staticData.lastPersonagemImage;\n}\nconst loraStrength = (item.redux_strength !== null && item.redux_strength !== undefined) ? item.redux_strength : 0.7;\nlet payload;\nif (useRedux) {\n  payload = {\n    \"6\":{\"inputs\":{\"text\":item.prompt_flux,\"clip\":[\"55\",1]},\"class_type\":\"CLIPTextEncode\",\"_meta\":{\"title\":\"CLIP Text Encode (Positive Prompt)\"}},\n    \"8\":{\"inputs\":{\"samples\":[\"13\",0],\"vae\":[\"10\",0]},\"class_type\":\"VAEDecode\",\"_meta\":{\"title\":\"VAE Decode\"}},\n    \"9\":{\"inputs\":{\"filename_prefix\":\"Flux2\",\"images\":[\"8\",0]},\"class_type\":\"SaveImage\",\"_meta\":{\"title\":\"Save Image\"}},\n    \"10\":{\"inputs\":{\"vae_name\":\"flux2-vae.safetensors\"},\"class_type\":\"VAELoader\",\"_meta\":{\"title\":\"Load VAE\"}},\n    \"13\":{\"inputs\":{\"noise\":[\"25\",0],\"guider\":[\"22\",0],\"sampler\":[\"16\",0],\"sigmas\":[\"48\",0],\"latent_image\":[\"47\",0]},\"class_type\":\"SamplerCustomAdvanced\",\"_meta\":{\"title\":\"SamplerCustomAdvanced\"}},\n    \"16\":{\"inputs\":{\"sampler_name\":\"euler\"},\"class_type\":\"KSamplerSelect\",\"_meta\":{\"title\":\"KSamplerSelect\"}},\n    \"22\":{\"inputs\":{\"model\":[\"55\",0],\"conditioning\":[\"60\",0]},\"class_type\":\"BasicGuider\",\"_meta\":{\"title\":\"BasicGuider\"}},\n    \"25\":{\"inputs\":{\"noise_seed\":seed},\"class_type\":\"RandomNoise\",\"_meta\":{\"title\":\"RandomNoise\"}},\n    \"26\":{\"inputs\":{\"guidance\":4,\"conditioning\":[\"6\",0]},\"class_type\":\"FluxGuidance\",\"_meta\":{\"title\":\"FluxGuidance\"}},\n    \"40\":{\"inputs\":{\"pixels\":[\"41\",0],\"vae\":[\"10\",0]},\"class_type\":\"VAEEncode\",\"_meta\":{\"title\":\"VAE Encode\"}},\n    \"41\":{\"inputs\":{\"upscale_method\":\"area\",\"megapixels\":1,\"resolution_steps\":1,\"image\":[\"42\",0]},\"class_type\":\"ImageScaleToTotalPixels\",\"_meta\":{\"title\":\"ImageScaleToTotalPixels\"}},\n    \"42\":{\"inputs\":{\"image\":referenceImage},\"class_type\":\"LoadImage\",\"_meta\":{\"title\":\"Load Image\"}},\n    \"47\":{\"inputs\":{\"width\":width,\"height\":height,\"batch_size\":1},\"class_type\":\"EmptyFlux2LatentImage\",\"_meta\":{\"title\":\"Empty Flux 2 Latent\"}},\n    \"48\":{\"inputs\":{\"steps\":20,\"width\":width,\"height\":height},\"class_type\":\"Flux2Scheduler\",\"_meta\":{\"title\":\"Flux2Scheduler\"}},\n    \"52\":{\"inputs\":{\"unet_name\":\"flux2-dev-Q4_K_S.gguf\"},\"class_type\":\"UnetLoaderGGUF\",\"_meta\":{\"title\":\"Unet Loader (GGUF)\"}},\n    \"53\":{\"inputs\":{\"clip_name\":\"mistral_3_small_flux2_fp8.safetensors\",\"type\":\"flux2\",\"device\":\"default\"},\"class_type\":\"CLIPLoader\",\"_meta\":{\"title\":\"Load CLIP\"}},\n    \"55\":{\"inputs\":{\"PowerLoraLoaderHeaderWidget\":{\"type\":\"PowerLoraLoaderHeaderWidget\"},\"lora_1\":{\"on\":true,\"lora\":\"claymation_stoners.safetensors\",\"strength\":loraStrength},\"\\u2795 Add Lora\":\"\",\"model\":[\"52\",0],\"clip\":[\"53\",0]},\"class_type\":\"Power Lora Loader (rgthree)\",\"_meta\":{\"title\":\"Power Lora Loader (rgthree)\"}},\n    \"60\":{\"inputs\":{\"conditioning\":[\"26\",0],\"latent\":[\"40\",0]},\"class_type\":\"ReferenceLatent\",\"_meta\":{\"title\":\"ReferenceLatent\"}}\n  };\n} else {\n  payload = {\n    \"6\":{\"inputs\":{\"text\":item.prompt_flux,\"clip\":[\"83\",1]},\"class_type\":\"CLIPTextEncode\",\"_meta\":{\"title\":\"CLIP Text Encode (Positive Prompt)\"}},\n    \"8\":{\"inputs\":{\"samples\":[\"63\",0],\"vae\":[\"10\",0]},\"class_type\":\"VAEDecode\",\"_meta\":{\"title\":\"VAE Decode\"}},\n    \"9\":{\"inputs\":{\"filename_prefix\":\"Flux2\",\"images\":[\"8\",0]},\"class_type\":\"SaveImage\",\"_meta\":{\"title\":\"Save Image\"}},\n    \"10\":{\"inputs\":{\"vae_name\":\"flux2-vae.safetensors\"},\"class_type\":\"VAELoader\",\"_meta\":{\"title\":\"Load VAE\"}},\n    \"26\":{\"inputs\":{\"guidance\":4,\"conditioning\":[\"6\",0]},\"class_type\":\"FluxGuidance\",\"_meta\":{\"title\":\"FluxGuidance\"}},\n    \"47\":{\"inputs\":{\"width\":width,\"height\":height,\"batch_size\":1},\"class_type\":\"EmptyFlux2LatentImage\",\"_meta\":{\"title\":\"Empty Flux 2 Latent\"}},\n    \"63\":{\"inputs\":{\"seed\":seed,\"steps\":20,\"cfg\":1,\"sampler_name\":\"euler\",\"scheduler\":\"simple\",\"denoise\":1,\"model\":[\"83\",0],\"positive\":[\"26\",0],\"negative\":[\"79\",0],\"latent_image\":[\"47\",0]},\"class_type\":\"KSampler\",\"_meta\":{\"title\":\"KSampler\"}},\n    \"79\":{\"inputs\":{\"conditioning\":[\"26\",0]},\"class_type\":\"ConditioningZeroOut\",\"_meta\":{\"title\":\"ConditioningZeroOut\"}},\n    \"83\":{\"inputs\":{\"PowerLoraLoaderHeaderWidget\":{\"type\":\"PowerLoraLoaderHeaderWidget\"},\"lora_1\":{\"on\":true,\"lora\":\"claymation_stoners.safetensors\",\"strength\":0.7},\"\\u2795 Add Lora\":\"\",\"model\":[\"85\",0],\"clip\":[\"88\",0]},\"class_type\":\"Power Lora Loader (rgthree)\",\"_meta\":{\"title\":\"Power Lora Loader (rgthree)\"}},\n    \"85\":{\"inputs\":{\"unet_name\":\"flux2-dev-Q4_K_S.gguf\"},\"class_type\":\"UnetLoaderGGUF\",\"_meta\":{\"title\":\"Unet Loader (GGUF)\"}},\n    \"88\":{\"inputs\":{\"clip_name\":\"mistral_3_small_flux2_fp8.safetensors\",\"type\":\"flux2\",\"device\":\"default\"},\"class_type\":\"CLIPLoader\",\"_meta\":{\"title\":\"Load CLIP\"}}\n  };\n}\nreturn [{ json: { promptUrl: comfyuiUrl + '/prompt', promptBody: { prompt: payload }, cenaId: item.id, cenaNumero: item.numero, videoId: item._videoId, personagem_presente: item.personagem_presente || false, _isThumbnail: false, seed: seed } }];"
        },
        "id": "c388dcc2-1787-4846-bc21-4a96292b0f2b",
        "name": "Montar Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $json.promptUrl }}",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.promptBody) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "5f84dd38-e625-4bc4-9b98-80a832e679ad",
        "name": "Enviar ComfyUI",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          208,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "var response = $input.first().json;\nvar staticData = $getWorkflowStaticData('global');\nvar meta = $('Montar Payload').first().json;\nstaticData.imgPromptId = response.prompt_id;\nstaticData.imgHistoryUrl = staticData.comfyuiUrl + '/history/' + response.prompt_id;\nstaticData.imgRetries = 0;\nreturn [{ json: { promptId: response.prompt_id, cenaId: meta.cenaId, cenaNumero: meta.cenaNumero, videoId: meta.videoId, personagem_presente: meta.personagem_presente, _isThumbnail: false } }];"
        },
        "id": "1c839dcf-facb-43b7-bbb9-c8ad27f51a88",
        "name": "Preparar Polling Imagem",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          400
        ]
      },
      {
        "parameters": {
          "amount": 30
        },
        "id": "89cf62ec-04e6-4364-bf97-ce81ec65540b",
        "name": "Wait Imagem",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          608,
          400
        ],
        "webhookId": "b6427c7a-a087-44c3-b681-9890c79d983d"
      },
      {
        "parameters": {
          "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { historyUrl: staticData.imgHistoryUrl, promptId: staticData.imgPromptId } }];"
        },
        "id": "c8ba0415-8623-4b7d-a792-9ae4ac9d2bb3",
        "name": "Prep Buscar Resultado",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          800,
          400
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.historyUrl }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "6a4d0817-cdb2-4dda-8c5b-f0a8e06a28bd",
        "name": "Buscar Resultado",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1008,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "var input = $('Buscar Resultado').first().json;\nvar staticData = $getWorkflowStaticData('global');\nvar promptId = staticData.imgPromptId;\nstaticData.imgRetries = (staticData.imgRetries || 0) + 1;\nvar pronto = false; var filename = null;\ntry {\n  var hist = input[promptId];\n  if (hist && hist.outputs) {\n    var keys = Object.keys(hist.outputs);\n    for (var k = 0; k < keys.length; k++) {\n      var nodeOut = hist.outputs[keys[k]];\n      if (nodeOut.images && nodeOut.images.length > 0) { filename = nodeOut.images[0].filename; pronto = true; break; }\n    }\n  }\n} catch(e) {}\nvar meta = $('Preparar Polling Imagem').first().json;\nreturn [{ json: { _ready: pronto, filename: filename, downloadUrl: pronto ? (staticData.comfyuiUrl + '/view?filename=' + encodeURIComponent(filename) + '&type=output') : null, cenaId: meta.cenaId, cenaNumero: meta.cenaNumero, videoId: meta.videoId, personagem_presente: meta.personagem_presente, _isThumbnail: false } }];"
        },
        "id": "64e4728a-088d-41d8-a16c-6cd2fb06d737",
        "name": "Avaliar Resultado",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "img-ready",
                "leftValue": "={{ $json._ready }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "51358f33-57c5-452c-b5f8-89650ebbcc0a",
        "name": "IF Imagem Pronta",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1408,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "const meta = $input.first().json;\nvar staticData = $getWorkflowStaticData('global');\nconst config = $('Configuração').first().json;\n\nconst storagePath = meta._isThumbnail\n  ? meta.videoId + '/thumbnail.png'\n  : meta.videoId + '/cena_' + meta.cenaNumero + '.png';\n\nconst publicUrl = config.SUPABASE_URL + '/storage/v1/object/public/imagens/' + storagePath;\n\n// ==========================================================\n// REGRA 29 — continuidade visual entre cenas\n// Copia a imagem recém-gerada do /output do ComfyUI pro /input\n// com nome fixo 'continuity_{videoId}.png', pra próxima cena\n// com continuidade=true usar como Redux reference.\n// ==========================================================\nif (meta.personagem_presente && !meta._isThumbnail) {\n  try {\n    const comfyuiUrl = staticData.comfyuiUrl;\n    const continuityName = 'continuity_' + meta.videoId + '.png';\n\n    // 1. Baixar a imagem do /output via /view\n    const imageBuffer = await this.helpers.httpRequest({\n      method: 'GET',\n      url: comfyuiUrl + '/view',\n      qs: {\n        filename: meta.filename,\n        type: 'output',\n        subfolder: ''\n      },\n      encoding: 'arraybuffer',\n      returnFullResponse: false\n    });\n\n    // 2. Reupload via /upload/image como multipart\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: comfyuiUrl + '/upload/image',\n      formData: {\n        image: {\n          value: Buffer.from(imageBuffer),\n          options: {\n            filename: continuityName,\n            contentType: 'image/png'\n          }\n        },\n        overwrite: 'true',\n        type: 'input',\n        subfolder: ''\n      }\n    });\n\n    // 3. Guardar referência pra próxima cena usar no LoadImage\n    staticData.lastPersonagemImage = continuityName;\n  } catch (e) {\n    console.log('Regra 29 falhou: ' + e.message);\n  }\n}\n\nreturn [{ json: {\n  downloadUrl: meta.downloadUrl,\n  uploadUrl: config.SUPABASE_URL + '/storage/v1/object/imagens/' + storagePath,\n  publicUrl: publicUrl,\n  cenaId: meta.cenaId,\n  cenaNumero: meta.cenaNumero,\n  videoId: meta.videoId,\n  _isThumbnail: meta._isThumbnail,\n  supabaseKey: config.SUPABASE_SERVICE_KEY\n} }];"
        },
        "id": "ba852b15-ce27-47b1-b6b4-8b1230ca355e",
        "name": "Prep Download",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1600,
          208
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.downloadUrl }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "146700a4-e952-4c1c-8e2b-d95f1fe0b799",
        "name": "Baixar Imagem",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1808,
          208
        ],
        "notes": "GET imagem do ComfyUI como binary."
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Prep Download').first().json.uploadUrl }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Prep Download').first().json.supabaseKey }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Prep Download').first().json.supabaseKey }}"
              },
              {
                "name": "Content-Type",
                "value": "image/png"
              },
              {
                "name": "x-upsert",
                "value": "true"
              }
            ]
          },
          "sendBody": true,
          "contentType": "binaryData",
          "inputDataFieldName": "data",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "a2b0d077-9e21-4e55-aff6-bffc099e26b4",
        "name": "Upload Supabase Storage",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2000,
          208
        ],
        "notes": "Upload imagem para Supabase Storage bucket imagens."
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/cenas?id=eq.{{ $('Prep Download').first().json.cenaId }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ imagem_url: $('Prep Download').first().json.publicUrl, imagem_status: 'gerada', video_status: 'pendente', video_url: null }) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "6dc86687-27e0-4471-a1f4-cead847f1f68",
        "name": "Atualizar Cena",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2576,
          208
        ],
        "notes": "PATCH cena: imagem_url + imagem_status='gerada'."
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { _consolidado: true } }];"
        },
        "id": "a3d334b0-ff93-48b4-a6ff-b86c9dd2c3d8",
        "name": "Consolidar",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2768,
          208
        ],
        "notes": "Volta para Loop Cenas."
      },
      {
        "parameters": {
          "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { stopBody: { query: 'mutation { podTerminate(input: {podId: \"' + (staticData.podId || '') + '\"}) }' } } }];"
        },
        "id": "79596d84-c88f-4e39-a3f5-636f9d92ae0d",
        "name": "Prep Desligar Pod",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.runpod.io/graphql",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.stopBody) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "d593c632-0ba0-4c45-ab89-4fc6d4211575",
        "name": "Desligar Pod",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          208,
          0
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "zQVkS3cYGiH3Ff5m",
            "name": "RunPod API"
          }
        }
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "video_id"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -6240,
          0
        ],
        "id": "8c5542e5-f4fe-4ccc-bb3f-e497aa08425e",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "jsCode": "// ===================================================================\n// COPIAR OUTPUT → INPUT (ComfyUI) — Regra 29 Continuidade\n// ===================================================================\n// Quando uma cena com personagem é gerada, o ComfyUI salva no /output/.\n// Para a próxima cena usar como referência Redux (continuidade=true),\n// precisamos copiar do /output/ para o /input/, porque LoadImage só lê\n// de /input/.\n//\n// Estratégia: baixa o PNG via /view (type=output) e sobe via\n// /upload/image (multipart) com nome fixo continuity_{videoId}.png.\n// O arquivo é sobrescrito a cada cena com personagem — auto-limpa.\n//\n// Só roda se personagem_presente && !_isThumbnail. Caso contrário,\n// passa o item adiante sem alterações.\n// ===================================================================\n\nconst meta = $input.first().json;\nvar staticData = $getWorkflowStaticData('global');\n\n// Passa direto se não for cena com personagem (ou se for thumbnail)\nif (!meta.personagem_presente || meta._isThumbnail) {\n  return [{ json: meta }];\n}\n\nconst comfyuiUrl = staticData.comfyuiUrl;\nconst outputFilename = meta.filename;\nconst continuityName = 'continuity_' + meta.videoId + '.png';\n\ntry {\n  // 1. Baixar PNG do /output/ como binário\n  const imageBuffer = await this.helpers.httpRequest({\n    method: 'GET',\n    url: comfyuiUrl + '/view',\n    qs: {\n      filename: outputFilename,\n      type: 'output'\n    },\n    encoding: 'arraybuffer',\n    returnFullResponse: false\n  });\n\n  // 2. Upload multipart para /input/\n  const FormData = require('form-data');\n  const formData = new FormData();\n  formData.append('image', Buffer.from(imageBuffer), {\n    filename: continuityName,\n    contentType: 'image/png'\n  });\n  formData.append('type', 'input');\n  formData.append('subfolder', '');\n  formData.append('overwrite', 'true');\n\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: comfyuiUrl + '/upload/image',\n    body: formData,\n    headers: formData.getHeaders()\n  });\n\n  // 3. Registrar nome do arquivo em /input/ para próxima cena com continuidade\n  staticData.lastPersonagemImage = continuityName;\n\n} catch (e) {\n  // Se falhar, loga mas não quebra o loop — a próxima cena cairá no\n  // fallback da Imagem Mestre Personagem.\n  console.log('[Regra 29] Falha ao copiar output→input: ' + (e.message || e));\n  staticData.lastPersonagemImage = null;\n}\n\nreturn [{ json: meta }];"
        },
        "id": "e492aace-c717-44f7-af0c-d35360606c06",
        "name": "Copiar Output → Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2192,
          224
        ],
        "notes": "REGRA 29 — Continuidade visual.\nCopia o PNG gerado de /output/ para /input/ do ComfyUI como continuity_{videoId}.png, para a próxima cena usar como referência Redux.\nSó roda se personagem_presente && !_isThumbnail.\nSeta staticData.lastPersonagemImage com o nome do arquivo em /input/."
      }
    ],
    "connections": {
      "Webhook Regenerar": {
        "main": [
          [
            {
              "node": "Normalizar Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalizar Input": {
        "main": [
          [
            {
              "node": "Configuração",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Configuração": {
        "main": [
          [
            {
              "node": "Ler Cenas Pendentes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ler Cenas Pendentes": {
        "main": [
          [
            {
              "node": "Ler Vídeo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ler Vídeo": {
        "main": [
          [
            {
              "node": "Contar e Responder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Contar e Responder": {
        "main": [
          [
            {
              "node": "Responder Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Responder Webhook": {
        "main": [
          [
            {
              "node": "Separar Cenas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Separar Cenas": {
        "main": [
          [
            {
              "node": "IF Tem Notas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Tem Notas": {
        "main": [
          [
            {
              "node": "Preparar Prompt Correção",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Verificar Pod Existente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Prompt Correção": {
        "main": [
          [
            {
              "node": "Claude Corretor",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Claude Corretor",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Claude Corretor": {
        "main": [
          [
            {
              "node": "Parse e Atualizar Prompts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse e Atualizar Prompts": {
        "main": [
          [
            {
              "node": "Verificar Pod Existente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verificar Pod Existente": {
        "main": [
          [
            {
              "node": "Avaliar Pod Existente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Avaliar Pod Existente": {
        "main": [
          [
            {
              "node": "IF Pod Existe",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Pod Existe": {
        "main": [
          [
            {
              "node": "Usar Pod Existente",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prep Criar Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Usar Pod Existente": {
        "main": [
          [
            {
              "node": "Prep Polling ComfyUI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Criar Pod": {
        "main": [
          [
            {
              "node": "Criar Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar Pod": {
        "main": [
          [
            {
              "node": "Processar Novo Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Processar Novo Pod": {
        "main": [
          [
            {
              "node": "Wait Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait Pod": {
        "main": [
          [
            {
              "node": "Prep Checar Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Checar Pod": {
        "main": [
          [
            {
              "node": "Checar Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Checar Pod": {
        "main": [
          [
            {
              "node": "Avaliar Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Avaliar Pod": {
        "main": [
          [
            {
              "node": "IF Pod Pronto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Pod Pronto": {
        "main": [
          [
            {
              "node": "Prep Polling ComfyUI",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF Pod Timeout",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Pod Timeout": {
        "main": [
          [
            {
              "node": "Prep Desligar Timeout",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Polling ComfyUI": {
        "main": [
          [
            {
              "node": "Wait ComfyUI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait ComfyUI": {
        "main": [
          [
            {
              "node": "Prep Checar ComfyUI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Checar ComfyUI": {
        "main": [
          [
            {
              "node": "Checar ComfyUI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Checar ComfyUI": {
        "main": [
          [
            {
              "node": "Avaliar ComfyUI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Avaliar ComfyUI": {
        "main": [
          [
            {
              "node": "IF ComfyUI Pronto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF ComfyUI Pronto": {
        "main": [
          [
            {
              "node": "Preparar Geração",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF ComfyUI Timeout",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF ComfyUI Timeout": {
        "main": [
          [
            {
              "node": "Prep Desligar Timeout",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait ComfyUI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Desligar Timeout": {
        "main": [
          [
            {
              "node": "Desligar Pod Erro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Geração": {
        "main": [
          [
            {
              "node": "Loop Cenas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Cenas": {
        "main": [
          [
            {
              "node": "Prep Desligar Pod",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Montar Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Montar Payload": {
        "main": [
          [
            {
              "node": "Enviar ComfyUI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar ComfyUI": {
        "main": [
          [
            {
              "node": "Preparar Polling Imagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Polling Imagem": {
        "main": [
          [
            {
              "node": "Wait Imagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait Imagem": {
        "main": [
          [
            {
              "node": "Prep Buscar Resultado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Buscar Resultado": {
        "main": [
          [
            {
              "node": "Buscar Resultado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Resultado": {
        "main": [
          [
            {
              "node": "Avaliar Resultado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Avaliar Resultado": {
        "main": [
          [
            {
              "node": "IF Imagem Pronta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Imagem Pronta": {
        "main": [
          [
            {
              "node": "Prep Download",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait Imagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Download": {
        "main": [
          [
            {
              "node": "Baixar Imagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Baixar Imagem": {
        "main": [
          [
            {
              "node": "Upload Supabase Storage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Supabase Storage": {
        "main": [
          [
            {
              "node": "Copiar Output → Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Atualizar Cena": {
        "main": [
          [
            {
              "node": "Consolidar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consolidar": {
        "main": [
          [
            {
              "node": "Loop Cenas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Desligar Pod": {
        "main": [
          [
            {
              "node": "Desligar Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Normalizar Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Copiar Output → Input": {
        "main": [
          [
            {
              "node": "Atualizar Cena",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Newton Omune",
    "name": "Version db497e7b",
    "description": "",
    "autosaved": true
  },
  "tags": []
}