workflows/M_dulo_05___TTS__Narra__o_.json
{
  "updatedAt": "2026-04-10T21:04:23.476Z",
  "createdAt": "2026-03-31T15:23:52.442Z",
  "id": "B9DJ66XN5Ddw4ilW",
  "name": "Módulo 05 — TTS (Narração)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "12b97af5-c787-4b8f-be61-eeef227baa97",
      "name": "Início Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        7520,
        1376
      ],
      "notes": "⚠️ TESTE MANUAL: clique 'Test workflow' com video_id no nó seguinte."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "test-vid",
              "name": "video_id",
              "value": "TROCAR-UUID-AQUI",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7b35aa73-a45a-4d82-8668-f1feb912b7b6",
      "name": "Video ID Teste",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7728,
        1376
      ],
      "notes": "⚠️ TROQUE O UUID AQUI para testar."
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "video_id"
            }
          ]
        }
      },
      "id": "4e66ff48-ba84-4a63-8eaa-658764427cf2",
      "name": "Trigger Externo",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        7520,
        1776
      ],
      "notes": "Recebe { video_id } do webhook Continuar."
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst video_id = item.video_id || null;\nif (!video_id) throw new Error('video_id não encontrado.');\nreturn [{ json: { video_id } }];"
      },
      "id": "66e0b837-c654-4c16-a6d7-fe06f68ac6be",
      "name": "Normalizar Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7920,
        1584
      ],
      "notes": "Unifica input. Saída: { video_id }"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-url",
              "name": "SUPABASE_URL",
              "value": "https://vngtopghlmgqjaibqiyb.supabase.co",
              "type": "string"
            },
            {
              "id": "cfg-key",
              "name": "SUPABASE_SERVICE_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuZ3RvcGdobG1ncWphaWJxaXliIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzUzOTg4NiwiZXhwIjoyMDg5MTE1ODg2fQ.xywZiNZ3h6_uVE9-ltt2LAXtZJ8jTezHCE4LmjBxzTk",
              "type": "string"
            },
            {
              "id": "cfg-nv",
              "name": "NETWORK_VOLUME_ID",
              "value": "1kyj01kp0v",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1f951458-1c6a-4da8-96d1-974712f93c10",
      "name": "Configuração",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8128,
        1584
      ],
      "notes": "Supabase + RunPod config."
    },
    {
      "parameters": {
        "url": "=={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/cenas?video_id=eq.{{ $('Normalizar Input').first().json.video_id }}&opcao_id=is.null&tts_status=eq.pendente&tipo_cena=neq.texto&narracao=not.is.null&narracao=neq.&order=ordem.asc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "81463028-5d41-48d7-a7bd-2a155b1e59ce",
      "name": "Ler Cenas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8320,
        1488
      ],
      "notes": "GET cenas com narração, ordem ASC."
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/videos?id=eq.{{ $('Normalizar Input').first().json.video_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ geracao_tts_status: 'gerando' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "127a5301-13de-43f9-95f4-bcb329eee370",
      "name": "Marcar Gerando",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8320,
        1680
      ],
      "notes": "PATCH videos: geracao_tts_status = 'gerando'."
    },
    {
      "parameters": {
        "jsCode": "const config = $('Configuração').first().json;\nconst nvId = config.NETWORK_VOLUME_ID;\nconst createBody = {\n  query: `mutation { podFindAndDeployOnDemand(input: { name: \"clay-comfyui\", cloudType: SECURE, gpuTypeId: \"NVIDIA A40\", gpuCount: 1, containerDiskInGb: 10, networkVolumeId: \"${nvId}\", ports: \"8188/http,8080/http,8888/http\", volumeMountPath: \"/workspace\", imageName: \"runpod/comfyui:latest\" }) { id desiredStatus } }`\n};\nreturn [{ json: { createBody } }];"
      },
      "id": "23f0c45c-5557-4bec-8976-edc8b8013c71",
      "name": "Prep Criar Pod",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8528,
        1584
      ],
      "notes": "Prepara mutation GraphQL para criar pod."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.runpod.io/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.createBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "7974f8e0-71dd-4e0f-8ce3-bbd20c08053d",
      "name": "Criar Pod",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8720,
        1584
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zQVkS3cYGiH3Ff5m",
          "name": "RunPod API"
        }
      },
      "notes": "POST RunPod GraphQL: criar pod A40."
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nif (response.errors && response.errors.length > 0) {\n  throw new Error('RunPod API erro: ' + response.errors.map(e => e.message).join('; '));\n}\nconst newPodId = response?.data?.podFindAndDeployOnDemand?.id;\nif (!newPodId) throw new Error('Falha ao criar pod: ' + JSON.stringify(response));\nvar staticData = $getWorkflowStaticData('global');\nstaticData.podId = newPodId;\nstaticData.comfyuiUrl = 'https://' + newPodId + '-8188.proxy.runpod.net';\nstaticData.podRetries = 0;\nreturn [{ json: { podId: newPodId, comfyuiUrl: staticData.comfyuiUrl } }];"
      },
      "id": "e72e02f3-9929-4a9b-b9ec-f38882c25f0b",
      "name": "Processar Novo Pod",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8928,
        1584
      ],
      "notes": "Extrai pod ID e monta URL ComfyUI."
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "4cebcfa0-0dbe-46b1-9e77-4ab8f027c4c5",
      "name": "Wait Pod",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        9120,
        1584
      ],
      "webhookId": "m05-wait-pod-v2",
      "notes": "Espera 15s para pod iniciar."
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { podStatusBody: { query: '{ pod(input: {podId: \"' + staticData.podId + '\"}) { id desiredStatus runtime { uptimeInSeconds } } }' } } }];"
      },
      "id": "25c0652d-7db9-4dcd-a14a-a1911fb38eb2",
      "name": "Prep Checar Pod",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9328,
        1584
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.runpod.io/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.podStatusBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f714e4ec-51da-4144-8beb-4c39ed2ef10b",
      "name": "Checar Pod",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9520,
        1584
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zQVkS3cYGiH3Ff5m",
          "name": "RunPod API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var response = $('Checar Pod').first().json;\nvar staticData = $getWorkflowStaticData('global');\nstaticData.podRetries = (staticData.podRetries || 0) + 1;\nvar running = false;\ntry { var status = response.data.pod.desiredStatus; var uptime = response.data.pod.runtime.uptimeInSeconds; running = (status === 'RUNNING' && uptime > 0); } catch(e) {}\nreturn [{ json: { _podReady: running, _podTimeout: (!running && staticData.podRetries >= 20) } }];"
      },
      "id": "901c8049-20d0-4092-9364-c18441e7b808",
      "name": "Avaliar Pod",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9728,
        1584
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "pod-ready",
              "leftValue": "={{ $json._podReady }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4d48bef2-81b5-48fb-a72d-f08abb72393d",
      "name": "IF Pod Pronto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        9920,
        1584
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "pod-timeout",
              "leftValue": "={{ $json._podTimeout }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6abe74e1-242e-4b57-9a45-e1b97eba65ec",
      "name": "IF Pod Timeout",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        9680,
        1808
      ]
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { stopBody: { query: 'mutation { podTerminate(input: {podId: \"' + (staticData.podId || 'unknown') + '\"}) }' }, erro: 'Pod ou ComfyUI timeout' } }];"
      },
      "id": "795f0414-4b45-4336-b446-f7aece64225c",
      "name": "Prep Desligar Timeout",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10064,
        1968
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.runpod.io/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.stopBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "2f59053c-37fa-4936-9c01-ddf6de0fd9fa",
      "name": "Desligar Pod Erro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10224,
        2112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zQVkS3cYGiH3Ff5m",
          "name": "RunPod API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nstaticData.comfyRetries = 0;\nreturn [{ json: { checkUrl: staticData.comfyuiUrl + '/object_info' } }];"
      },
      "id": "e4d51256-1315-44b5-a8cf-f36568746358",
      "name": "Prep Polling ComfyUI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10320,
        1584
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "1147574f-1e9c-4380-9846-74941140d48f",
      "name": "Wait ComfyUI",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        10528,
        1584
      ],
      "webhookId": "m05-wait-comfy-v2"
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { checkUrl: staticData.comfyuiUrl + '/object_info' } }];"
      },
      "id": "d96bcf8b-6e8d-4301-82fc-c7b3eebfa143",
      "name": "Prep Checar ComfyUI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10720,
        1584
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.checkUrl }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 15000
        }
      },
      "id": "00a59138-3957-4394-8ecc-016f045f7435",
      "name": "Checar ComfyUI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10928,
        1584
      ]
    },
    {
      "parameters": {
        "jsCode": "var response = $('Checar ComfyUI').first().json;\nvar staticData = $getWorkflowStaticData('global');\nstaticData.comfyRetries = (staticData.comfyRetries || 0) + 1;\nvar ready = false;\ntry {\n  var keys = Object.keys(response);\n  var hasNodes = keys.length > 50;\n  var hasTTS = response.hasOwnProperty('FB_Qwen3TTSVoiceClone');\n  var hasSaveMP3 = response.hasOwnProperty('SaveAudioMP3');\n  ready = hasNodes && hasTTS && hasSaveMP3;\n} catch(e) {}\nreturn [{ json: { _comfyReady: ready, _comfyTimeout: (!ready && staticData.comfyRetries >= 40) } }];"
      },
      "id": "0bb5eed9-2ec0-4128-b04e-7e7e6c03ea1a",
      "name": "Avaliar ComfyUI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11120,
        1584
      ],
      "notes": "Verifica ComfyUI + FB_Qwen3TTSVoiceClone + SaveAudioMP3."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "comfy-ready",
              "leftValue": "={{ $json._comfyReady }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "33fa60ee-85ab-4148-bf37-54b30d117121",
      "name": "IF ComfyUI Pronto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        11328,
        1584
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "comfy-timeout",
              "leftValue": "={{ $json._comfyTimeout }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ae0f5b53-3922-40b1-89f6-dcce1f8fa205",
      "name": "IF ComfyUI Timeout",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        11328,
        1776
      ]
    },
    {
      "parameters": {
        "jsCode": "const cenaItems = $('Ler Cenas').all().map(i => i.json);\nconst cenas = Array.isArray(cenaItems[0]) ? cenaItems[0] : cenaItems;\nconst videoId = $('Normalizar Input').first().json.video_id;\nreturn cenas.map(c => ({ json: { ...c, _videoId: videoId } }));"
      },
      "id": "fd6b90ce-d45e-4455-8a7f-807bcc43bb52",
      "name": "Preparar Geração",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11728,
        1584
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "6a30a15c-4455-4195-9d38-26e37331b04e",
      "name": "Loop Cenas",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        11920,
        1584
      ],
      "notes": "[done] → Desligar Pod\n[loop] → Gerar TTS"
    },
    {
      "parameters": {
        "jsCode": "const item = $('Loop Cenas').first().json;\nvar staticData = $getWorkflowStaticData('global');\nconst comfyuiUrl = staticData.comfyuiUrl;\nconst seed = Math.floor(Math.random() * 999999999999999);\n\nconst VOICE_MAP = {\n  calma: { audio: 'Calma.mp3', ref_text: 'Esta é uma história que aconteceu numa pequena cidade do interior. Ninguém fala sobre isso. Mas todo mundo lembra. E todo mundo tem medo.' },\n  neutra: { audio: 'Neutro.mp3', ref_text: 'Naquela noite, eu ouvi passos no corredor. Lentos, pesados, arrastados. Quando abri a porta, não havia ninguém. Mas as pegadas no chão ainda estavam quentes.' },\n  tensa: { audio: 'Tensa.mp3', ref_text: 'Ele não devia ter atendido aquele telefone. Alguma coisa estava errada. A voz do outro lado não era humana. Ele sabia disso. Mas não conseguia desligar.' },\n  suspense: { audio: 'Suspense.mp3', ref_text: 'Tem algo embaixo da cama. Eu sei porque consigo sentir a respiração. Está quente. Está perto. E está esperando eu colocar os pés no chão.' },\n  panico: { audio: 'Panico.mp3', ref_text: 'Corre! Não olha pra trás! Aquilo não é a sua mãe! Eu vi o rosto daquela coisa e não era humano! Pelo amor de Deus, não abre essa porta!' }\n};\n\nconst emocao = item.emocao || 'neutra';\nconst voice = VOICE_MAP[emocao] || VOICE_MAP.neutra;\n\nconst payload = {\n  \"24\": { \"inputs\": { \"audio\": voice.audio }, \"class_type\": \"LoadAudio\", \"_meta\": { \"title\": \"Load Audio\" } },\n  \"40\": { \"inputs\": { \"target_text\": item.narracao, \"model_choice\": \"1.7B\", \"device\": \"auto\", \"precision\": \"bf16\", \"language\": \"Portuguese\", \"ref_text\": voice.ref_text, \"seed\": seed, \"max_new_tokens\": 2048, \"top_p\": 0.8, \"top_k\": 20, \"temperature\": 1, \"repetition_penalty\": 1.05, \"x_vector_only\": false, \"attention\": \"sdpa\", \"unload_model_after_generate\": false, \"custom_model_path\": \"\", \"ref_audio\": [\"24\", 0] }, \"class_type\": \"FB_Qwen3TTSVoiceClone\", \"_meta\": { \"title\": \"\\ud83c\\udfad Qwen3-TTS VoiceClone\" } },\n  \"41\": { \"inputs\": { \"filename_prefix\": \"Narr_\" + (item.numero || 'unknown'), \"quality\": \"V0\", \"audio\": [\"40\", 0] }, \"class_type\": \"SaveAudioMP3\", \"_meta\": { \"title\": \"Save Audio (MP3)\" } }\n};\n\nreturn [{ json: { promptUrl: comfyuiUrl + '/prompt', promptBody: { prompt: payload }, cenaId: item.id, cenaNumero: item.numero, videoId: item._videoId, emocao: emocao } }];"
      },
      "id": "f5ea62fe-f9cc-48b3-9bc6-d8755aad5345",
      "name": "Montar Payload TTS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12128,
        1776
      ],
      "notes": "Monta payload Qwen TTS. Emoção → referência. Seed random."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.promptUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.promptBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "ca4490ef-15bb-485a-8e67-7bbb9d6e4882",
      "name": "Enviar ComfyUI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12320,
        1776
      ]
    },
    {
      "parameters": {
        "jsCode": "var response = $input.first().json;\nvar staticData = $getWorkflowStaticData('global');\nvar meta = $('Montar Payload TTS').first().json;\nvar promptId = response.prompt_id;\nstaticData.audioPromptId = promptId;\nstaticData.audioHistoryUrl = staticData.comfyuiUrl + '/history/' + promptId;\nstaticData.audioRetries = 0;\nreturn [{ json: { promptId: promptId, cenaId: meta.cenaId, cenaNumero: meta.cenaNumero, videoId: meta.videoId, emocao: meta.emocao } }];"
      },
      "id": "b406ffb9-4643-4897-b478-26db9eedcbaf",
      "name": "Preparar Polling Audio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12528,
        1776
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "a0059ea5-0268-4fc6-a978-3099e6ff2699",
      "name": "Wait Audio",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        12720,
        1776
      ],
      "webhookId": "m05-wait-audio-v2"
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { historyUrl: staticData.audioHistoryUrl, promptId: staticData.audioPromptId } }];"
      },
      "id": "e88998ec-77ae-4e51-9d4a-e76bc3e53d44",
      "name": "Prep Buscar Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12928,
        1776
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.historyUrl }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f7bf3745-5a90-4b82-8e6e-139439cf71a5",
      "name": "Buscar Resultado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13120,
        1776
      ]
    },
    {
      "parameters": {
        "jsCode": "var input = $('Buscar Resultado').first().json;\nvar staticData = $getWorkflowStaticData('global');\nvar promptId = staticData.audioPromptId;\nstaticData.audioRetries = (staticData.audioRetries || 0) + 1;\n\nvar pronto = false;\nvar filename = null;\nvar erro = false;\nvar erroMsg = '';\n\ntry {\n  var hist = input[promptId];\n  if (hist) {\n    // DETECTAR ERRO\n    if (hist.status && hist.status.status_str === 'error') {\n      erro = true;\n      var msgs = hist.status.messages || [];\n      for (var m = 0; m < msgs.length; m++) {\n        if (msgs[m][0] === 'execution_error') {\n          erroMsg = msgs[m][1].exception_message || 'Erro desconhecido';\n          break;\n        }\n      }\n      if (!erroMsg) erroMsg = 'ComfyUI status: error';\n    }\n    // DETECTAR SUCESSO\n    if (!erro && hist.outputs) {\n      var keys = Object.keys(hist.outputs);\n      for (var k = 0; k < keys.length; k++) {\n        var nodeOut = hist.outputs[keys[k]];\n        if (nodeOut.audio && nodeOut.audio.length > 0) {\n          filename = nodeOut.audio[0].filename;\n          pronto = true;\n          break;\n        }\n      }\n    }\n  }\n} catch(e) {}\n\nvar meta = $('Preparar Polling Audio').first().json;\n\nreturn [{ json: {\n  _ready: pronto,\n  _erro: erro,\n  _erroMsg: erroMsg,\n  _timeout: (!pronto && !erro && staticData.audioRetries >= 60),\n  filename: filename,\n  downloadUrl: pronto ? (staticData.comfyuiUrl + '/view?filename=' + encodeURIComponent(filename) + '&type=output') : null,\n  cenaId: meta.cenaId,\n  cenaNumero: meta.cenaNumero,\n  videoId: meta.videoId,\n  emocao: meta.emocao\n} }];"
      },
      "id": "9241891e-0dcf-49d1-9b8f-5410399f81bd",
      "name": "Avaliar Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13328,
        1776
      ],
      "notes": "CORRIGIDO v2: Detecta erro/sucesso/timeout.\nErro → para loop e reporta.\nTimeout (60 polls) → para loop."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "audio-ready",
              "leftValue": "={{ $json._ready }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8581c374-c4eb-4dd5-b632-7c7cfe9a8733",
      "name": "IF Audio Pronto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        13536,
        1776
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "audio-erro",
              "leftValue": "={{ $json._erro }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6fe10478-7f3e-4606-aaf2-a166534e07c7",
      "name": "IF Audio Erro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        13536,
        1984
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "audio-timeout",
              "leftValue": "={{ $json._timeout }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c75e1087-5a9e-4abc-b603-9b9e96646ff7",
      "name": "IF Audio Timeout",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        13536,
        2176
      ]
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nvar podId = staticData.podId || 'unknown';\nvar erroMsg = $input.first().json._erroMsg || $input.first().json.erro || 'Timeout sem resultado';\nreturn [{ json: {\n  stopBody: { query: 'mutation { podTerminate(input: {podId: \"' + podId + '\"}) }' },\n  erro: 'TTS FALHOU: ' + erroMsg + ' | AÇÃO: Rode post_boot.sh via JupyterLab (8888) e re-execute.'\n} }];"
      },
      "id": "ec18bcc5-3387-4d5a-b99b-d8b2697c2e99",
      "name": "Prep Desligar Erro TTS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13728,
        2080
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.runpod.io/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.stopBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "ba708c95-80ab-49ff-a462-1d661a1ff221",
      "name": "Desligar Pod Erro TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13936,
        2080
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zQVkS3cYGiH3Ff5m",
          "name": "RunPod API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "throw new Error($('Prep Desligar Erro TTS').first().json.erro);"
      },
      "id": "c2da8cc3-74a3-49c9-bb67-4bee59b26913",
      "name": "Reportar Erro TTS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14128,
        2080
      ],
      "notes": "Lança erro com mensagem clara."
    },
    {
      "parameters": {
        "jsCode": "const meta = $input.first().json;\nconst config = $('Configuração').first().json;\nconst storagePath = meta.videoId + '/narr_' + meta.cenaNumero + '.mp3';\nconst publicUrl = config.SUPABASE_URL + '/storage/v1/object/public/narracoes/' + storagePath;\nreturn [{ json: { downloadUrl: meta.downloadUrl, uploadUrl: config.SUPABASE_URL + '/storage/v1/object/narracoes/' + storagePath, publicUrl: publicUrl, cenaId: meta.cenaId, cenaNumero: meta.cenaNumero, videoId: meta.videoId, supabaseKey: config.SUPABASE_SERVICE_KEY } }];"
      },
      "id": "9c467b2b-f7a6-4ce1-b3bf-c3b6fa1c5701",
      "name": "Prep Download",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13728,
        1584
      ],
      "notes": "Bucket: narracoes. Path: {video_id}/narr_{numero}.mp3"
    },
    {
      "parameters": {
        "url": "={{ $json.downloadUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "9381fc03-7472-45c7-b8a6-f668d13fbccc",
      "name": "Baixar Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        13936,
        1584
      ]
    },
    {
      "parameters": {
        "jsCode": "const meta = $('Prep Download').first().json;\n\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: meta.downloadUrl,\n  encoding: 'arraybuffer',\n  returnFullResponse: true,\n});\n\nconst buffer = Buffer.from(response.body);\n\nlet duration = 0;\ntry {\n  const brV1L3 = [0,32,40,48,56,64,80,96,112,128,160,192,224,256,320,0];\n  const brV2L3 = [0,8,16,24,32,40,48,56,64,80,96,112,128,144,160,0];\n  const srV1 = [44100,48000,32000];\n  const srV2 = [22050,24000,16000];\n  let frameCount = 0; let sampleRate = 24000; let samplesPerFrame = 576; let pos = 0;\n  while (pos < buffer.length - 4) {\n    if (buffer[pos] === 0xFF && (buffer[pos + 1] & 0xE0) === 0xE0) {\n      const header = buffer.readUInt32BE(pos);\n      const mpegVer = (header >> 19) & 3;\n      const brIdx = (header >> 12) & 15;\n      const srIdx = (header >> 10) & 3;\n      const padding = (header >> 9) & 1;\n      let br, sr, spf, frameLen;\n      if (mpegVer === 3) { br = brV1L3[brIdx]*1000; sr = srIdx<3?srV1[srIdx]:44100; spf=1152; frameLen=br>0?Math.floor((144*br)/sr)+padding:0; }\n      else { br = brV2L3[brIdx]*1000; sr = srIdx<3?srV2[srIdx]:24000; spf=576; frameLen=br>0?Math.floor((72*br)/sr)+padding:0; }\n      if (frameLen > 0) { frameCount++; sampleRate=sr; samplesPerFrame=spf; pos+=frameLen; } else { pos++; }\n    } else { pos++; }\n  }\n  if (frameCount > 0 && sampleRate > 0) { duration = (frameCount * samplesPerFrame) / sampleRate; }\n} catch(e) {}\n\nduration = Math.round(duration * 100) / 100;\n\nconst binaryData = await this.helpers.prepareBinaryData(buffer, 'audio.mp3', 'audio/mpeg');\n\nreturn [{ json: { duracao_real: duration }, binary: { data: binaryData } }];"
      },
      "id": "392ed59c-27fa-405b-8592-800c147a9b0d",
      "name": "Medir Duração",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14128,
        1584
      ],
      "notes": "Parseia header Xing/CBR do MP3."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Prep Download').first().json.uploadUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Prep Download').first().json.supabaseKey }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Prep Download').first().json.supabaseKey }}"
            },
            {
              "name": "Content-Type",
              "value": "audio/mpeg"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "8352c148-cb6f-4546-882f-d64f7b51fec0",
      "name": "Upload Supabase Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        14336,
        1584
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/cenas?id=eq.{{ $('Prep Download').first().json.cenaId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tts_url: $('Prep Download').first().json.publicUrl, tts_status: 'gerada', duracao_real: $('Medir Duração').first().json.duracao_real }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "23ffc69d-beab-4723-9c1e-c342a91395f8",
      "name": "Atualizar Cena",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        14528,
        1584
      ],
      "notes": "PATCH cena: tts_url, tts_status='gerada', duracao_real."
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { _consolidado: true } }];"
      },
      "id": "fc266be1-25ac-4678-a1cd-9b4ab5cc5b46",
      "name": "Consolidar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14736,
        1472
      ]
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { stopBody: { query: 'mutation { podTerminate(input: {podId: \"' + (staticData.podId || '') + '\"}) }' } } }];"
      },
      "id": "3e3e0828-5a1a-4379-b970-80d95911db18",
      "name": "Prep Desligar Pod",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12128,
        1376
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.runpod.io/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.stopBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "018ca86f-e2b5-446d-8573-6bc0d7ab8c56",
      "name": "Desligar Pod",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12320,
        1376
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zQVkS3cYGiH3Ff5m",
          "name": "RunPod API"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/videos?id=eq.{{ $('Normalizar Input').first().json.video_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ geracao_tts_status: 'concluido' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "1c642b83-904a-4207-9780-d2a13143df89",
      "name": "Marcar Concluído",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12528,
        1376
      ]
    }
  ],
  "connections": {
    "Início Manual": {
      "main": [
        [
          {
            "node": "Video ID Teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video ID Teste": {
      "main": [
        [
          {
            "node": "Normalizar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Externo": {
      "main": [
        [
          {
            "node": "Normalizar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Input": {
      "main": [
        [
          {
            "node": "Configuração",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuração": {
      "main": [
        [
          {
            "node": "Ler Cenas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Marcar Gerando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Cenas": {
      "main": [
        [
          {
            "node": "Prep Criar Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Gerando": {
      "main": [
        [
          {
            "node": "Prep Criar Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Criar Pod": {
      "main": [
        [
          {
            "node": "Criar Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Pod": {
      "main": [
        [
          {
            "node": "Processar Novo Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Novo Pod": {
      "main": [
        [
          {
            "node": "Wait Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Pod": {
      "main": [
        [
          {
            "node": "Prep Checar Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Checar Pod": {
      "main": [
        [
          {
            "node": "Checar Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checar Pod": {
      "main": [
        [
          {
            "node": "Avaliar Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avaliar Pod": {
      "main": [
        [
          {
            "node": "IF Pod Pronto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Pod Pronto": {
      "main": [
        [
          {
            "node": "Prep Polling ComfyUI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Pod Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Pod Timeout": {
      "main": [
        [
          {
            "node": "Prep Desligar Timeout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Desligar Timeout": {
      "main": [
        [
          {
            "node": "Desligar Pod Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Polling ComfyUI": {
      "main": [
        [
          {
            "node": "Wait ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait ComfyUI": {
      "main": [
        [
          {
            "node": "Prep Checar ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Checar ComfyUI": {
      "main": [
        [
          {
            "node": "Checar ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checar ComfyUI": {
      "main": [
        [
          {
            "node": "Avaliar ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avaliar ComfyUI": {
      "main": [
        [
          {
            "node": "IF ComfyUI Pronto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF ComfyUI Pronto": {
      "main": [
        [
          {
            "node": "Preparar Geração",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF ComfyUI Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF ComfyUI Timeout": {
      "main": [
        [
          {
            "node": "Prep Desligar Timeout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Geração": {
      "main": [
        [
          {
            "node": "Loop Cenas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Cenas": {
      "main": [
        [
          {
            "node": "Prep Desligar Pod",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Montar Payload TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Payload TTS": {
      "main": [
        [
          {
            "node": "Enviar ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar ComfyUI": {
      "main": [
        [
          {
            "node": "Preparar Polling Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Polling Audio": {
      "main": [
        [
          {
            "node": "Wait Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Audio": {
      "main": [
        [
          {
            "node": "Prep Buscar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Buscar Resultado": {
      "main": [
        [
          {
            "node": "Buscar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Resultado": {
      "main": [
        [
          {
            "node": "Avaliar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avaliar Resultado": {
      "main": [
        [
          {
            "node": "IF Audio Pronto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Audio Pronto": {
      "main": [
        [
          {
            "node": "Prep Download",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Audio Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Audio Erro": {
      "main": [
        [
          {
            "node": "Prep Desligar Erro TTS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Audio Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Audio Timeout": {
      "main": [
        [
          {
            "node": "Prep Desligar Erro TTS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Desligar Erro TTS": {
      "main": [
        [
          {
            "node": "Desligar Pod Erro TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desligar Pod Erro TTS": {
      "main": [
        [
          {
            "node": "Reportar Erro TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Download": {
      "main": [
        [
          {
            "node": "Baixar Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar Audio": {
      "main": [
        [
          {
            "node": "Medir Duração",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Medir Duração": {
      "main": [
        [
          {
            "node": "Upload Supabase Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Supabase Storage": {
      "main": [
        [
          {
            "node": "Atualizar Cena",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Cena": {
      "main": [
        [
          {
            "node": "Consolidar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidar": {
      "main": [
        [
          {
            "node": "Loop Cenas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Desligar Pod": {
      "main": [
        [
          {
            "node": "Desligar Pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desligar Pod": {
      "main": [
        [
          {
            "node": "Marcar Concluído",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "global": {
      "podId": "4a6veet7b00c0t",
      "comfyuiUrl": "https://4a6veet7b00c0t-8188.proxy.runpod.net",
      "podRetries": 2,
      "comfyRetries": 4,
      "audioPromptId": "9cdc0b29-a102-4dd0-b6d3-50b58a6b31d3",
      "audioHistoryUrl": "https://vdn8pcsukfzf9v-8188.proxy.runpod.net/history/9cdc0b29-a102-4dd0-b6d3-50b58a6b31d3",
      "audioRetries": 1
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "a86bf360-4e37-4163-bb29-1a3269653f5a",
  "activeVersionId": "a86bf360-4e37-4163-bb29-1a3269653f5a",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-31T15:23:52.448Z",
      "createdAt": "2026-03-31T15:23:52.448Z",
      "role": "workflow:owner",
      "workflowId": "B9DJ66XN5Ddw4ilW",
      "projectId": "SoH44tJE4dqRVTiw"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-10T21:04:25.000Z",
    "createdAt": "2026-04-10T21:04:23.478Z",
    "versionId": "a86bf360-4e37-4163-bb29-1a3269653f5a",
    "workflowId": "B9DJ66XN5Ddw4ilW",
    "nodes": [
      {
        "parameters": {},
        "id": "12b97af5-c787-4b8f-be61-eeef227baa97",
        "name": "Início Manual",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          7520,
          1376
        ],
        "notes": "⚠️ TESTE MANUAL: clique 'Test workflow' com video_id no nó seguinte."
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "test-vid",
                "name": "video_id",
                "value": "TROCAR-UUID-AQUI",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "7b35aa73-a45a-4d82-8668-f1feb912b7b6",
        "name": "Video ID Teste",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          7728,
          1376
        ],
        "notes": "⚠️ TROQUE O UUID AQUI para testar."
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "video_id"
              }
            ]
          }
        },
        "id": "4e66ff48-ba84-4a63-8eaa-658764427cf2",
        "name": "Trigger Externo",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          7520,
          1776
        ],
        "notes": "Recebe { video_id } do webhook Continuar."
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst video_id = item.video_id || null;\nif (!video_id) throw new Error('video_id não encontrado.');\nreturn [{ json: { video_id } }];"
        },
        "id": "66e0b837-c654-4c16-a6d7-fe06f68ac6be",
        "name": "Normalizar Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          7920,
          1584
        ],
        "notes": "Unifica input. Saída: { video_id }"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cfg-url",
                "name": "SUPABASE_URL",
                "value": "https://vngtopghlmgqjaibqiyb.supabase.co",
                "type": "string"
              },
              {
                "id": "cfg-key",
                "name": "SUPABASE_SERVICE_KEY",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuZ3RvcGdobG1ncWphaWJxaXliIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzUzOTg4NiwiZXhwIjoyMDg5MTE1ODg2fQ.xywZiNZ3h6_uVE9-ltt2LAXtZJ8jTezHCE4LmjBxzTk",
                "type": "string"
              },
              {
                "id": "cfg-nv",
                "name": "NETWORK_VOLUME_ID",
                "value": "1kyj01kp0v",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "1f951458-1c6a-4da8-96d1-974712f93c10",
        "name": "Configuração",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          8128,
          1584
        ],
        "notes": "Supabase + RunPod config."
      },
      {
        "parameters": {
          "url": "=={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/cenas?video_id=eq.{{ $('Normalizar Input').first().json.video_id }}&opcao_id=is.null&tts_status=eq.pendente&tipo_cena=neq.texto&narracao=not.is.null&narracao=neq.&order=ordem.asc",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "81463028-5d41-48d7-a7bd-2a155b1e59ce",
        "name": "Ler Cenas",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          8320,
          1488
        ],
        "notes": "GET cenas com narração, ordem ASC."
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/videos?id=eq.{{ $('Normalizar Input').first().json.video_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ geracao_tts_status: 'gerando' }) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "127a5301-13de-43f9-95f4-bcb329eee370",
        "name": "Marcar Gerando",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          8320,
          1680
        ],
        "notes": "PATCH videos: geracao_tts_status = 'gerando'."
      },
      {
        "parameters": {
          "jsCode": "const config = $('Configuração').first().json;\nconst nvId = config.NETWORK_VOLUME_ID;\nconst createBody = {\n  query: `mutation { podFindAndDeployOnDemand(input: { name: \"clay-comfyui\", cloudType: SECURE, gpuTypeId: \"NVIDIA A40\", gpuCount: 1, containerDiskInGb: 10, networkVolumeId: \"${nvId}\", ports: \"8188/http,8080/http,8888/http\", volumeMountPath: \"/workspace\", imageName: \"runpod/comfyui:latest\" }) { id desiredStatus } }`\n};\nreturn [{ json: { createBody } }];"
        },
        "id": "23f0c45c-5557-4bec-8976-edc8b8013c71",
        "name": "Prep Criar Pod",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          8528,
          1584
        ],
        "notes": "Prepara mutation GraphQL para criar pod."
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.runpod.io/graphql",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.createBody) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "7974f8e0-71dd-4e0f-8ce3-bbd20c08053d",
        "name": "Criar Pod",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          8720,
          1584
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "zQVkS3cYGiH3Ff5m",
            "name": "RunPod API"
          }
        },
        "notes": "POST RunPod GraphQL: criar pod A40."
      },
      {
        "parameters": {
          "jsCode": "const response = $input.first().json;\nif (response.errors && response.errors.length > 0) {\n  throw new Error('RunPod API erro: ' + response.errors.map(e => e.message).join('; '));\n}\nconst newPodId = response?.data?.podFindAndDeployOnDemand?.id;\nif (!newPodId) throw new Error('Falha ao criar pod: ' + JSON.stringify(response));\nvar staticData = $getWorkflowStaticData('global');\nstaticData.podId = newPodId;\nstaticData.comfyuiUrl = 'https://' + newPodId + '-8188.proxy.runpod.net';\nstaticData.podRetries = 0;\nreturn [{ json: { podId: newPodId, comfyuiUrl: staticData.comfyuiUrl } }];"
        },
        "id": "e72e02f3-9929-4a9b-b9ec-f38882c25f0b",
        "name": "Processar Novo Pod",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          8928,
          1584
        ],
        "notes": "Extrai pod ID e monta URL ComfyUI."
      },
      {
        "parameters": {
          "amount": 15
        },
        "id": "4cebcfa0-0dbe-46b1-9e77-4ab8f027c4c5",
        "name": "Wait Pod",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          9120,
          1584
        ],
        "webhookId": "m05-wait-pod-v2",
        "notes": "Espera 15s para pod iniciar."
      },
      {
        "parameters": {
          "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { podStatusBody: { query: '{ pod(input: {podId: \"' + staticData.podId + '\"}) { id desiredStatus runtime { uptimeInSeconds } } }' } } }];"
        },
        "id": "25c0652d-7db9-4dcd-a14a-a1911fb38eb2",
        "name": "Prep Checar Pod",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          9328,
          1584
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.runpod.io/graphql",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.podStatusBody) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "f714e4ec-51da-4144-8beb-4c39ed2ef10b",
        "name": "Checar Pod",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          9520,
          1584
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "zQVkS3cYGiH3Ff5m",
            "name": "RunPod API"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "var response = $('Checar Pod').first().json;\nvar staticData = $getWorkflowStaticData('global');\nstaticData.podRetries = (staticData.podRetries || 0) + 1;\nvar running = false;\ntry { var status = response.data.pod.desiredStatus; var uptime = response.data.pod.runtime.uptimeInSeconds; running = (status === 'RUNNING' && uptime > 0); } catch(e) {}\nreturn [{ json: { _podReady: running, _podTimeout: (!running && staticData.podRetries >= 20) } }];"
        },
        "id": "901c8049-20d0-4092-9364-c18441e7b808",
        "name": "Avaliar Pod",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          9728,
          1584
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "pod-ready",
                "leftValue": "={{ $json._podReady }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "4d48bef2-81b5-48fb-a72d-f08abb72393d",
        "name": "IF Pod Pronto",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          9920,
          1584
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "pod-timeout",
                "leftValue": "={{ $json._podTimeout }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "6abe74e1-242e-4b57-9a45-e1b97eba65ec",
        "name": "IF Pod Timeout",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          9680,
          1808
        ]
      },
      {
        "parameters": {
          "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { stopBody: { query: 'mutation { podTerminate(input: {podId: \"' + (staticData.podId || 'unknown') + '\"}) }' }, erro: 'Pod ou ComfyUI timeout' } }];"
        },
        "id": "795f0414-4b45-4336-b446-f7aece64225c",
        "name": "Prep Desligar Timeout",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          10064,
          1968
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.runpod.io/graphql",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.stopBody) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "2f59053c-37fa-4936-9c01-ddf6de0fd9fa",
        "name": "Desligar Pod Erro",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          10224,
          2112
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "zQVkS3cYGiH3Ff5m",
            "name": "RunPod API"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "var staticData = $getWorkflowStaticData('global');\nstaticData.comfyRetries = 0;\nreturn [{ json: { checkUrl: staticData.comfyuiUrl + '/object_info' } }];"
        },
        "id": "e4d51256-1315-44b5-a8cf-f36568746358",
        "name": "Prep Polling ComfyUI",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          10320,
          1584
        ]
      },
      {
        "parameters": {
          "amount": 10
        },
        "id": "1147574f-1e9c-4380-9846-74941140d48f",
        "name": "Wait ComfyUI",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          10528,
          1584
        ],
        "webhookId": "m05-wait-comfy-v2"
      },
      {
        "parameters": {
          "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { checkUrl: staticData.comfyuiUrl + '/object_info' } }];"
        },
        "id": "d96bcf8b-6e8d-4301-82fc-c7b3eebfa143",
        "name": "Prep Checar ComfyUI",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          10720,
          1584
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.checkUrl }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            },
            "timeout": 15000
          }
        },
        "id": "00a59138-3957-4394-8ecc-016f045f7435",
        "name": "Checar ComfyUI",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          10928,
          1584
        ]
      },
      {
        "parameters": {
          "jsCode": "var response = $('Checar ComfyUI').first().json;\nvar staticData = $getWorkflowStaticData('global');\nstaticData.comfyRetries = (staticData.comfyRetries || 0) + 1;\nvar ready = false;\ntry {\n  var keys = Object.keys(response);\n  var hasNodes = keys.length > 50;\n  var hasTTS = response.hasOwnProperty('FB_Qwen3TTSVoiceClone');\n  var hasSaveMP3 = response.hasOwnProperty('SaveAudioMP3');\n  ready = hasNodes && hasTTS && hasSaveMP3;\n} catch(e) {}\nreturn [{ json: { _comfyReady: ready, _comfyTimeout: (!ready && staticData.comfyRetries >= 40) } }];"
        },
        "id": "0bb5eed9-2ec0-4128-b04e-7e7e6c03ea1a",
        "name": "Avaliar ComfyUI",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          11120,
          1584
        ],
        "notes": "Verifica ComfyUI + FB_Qwen3TTSVoiceClone + SaveAudioMP3."
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "comfy-ready",
                "leftValue": "={{ $json._comfyReady }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "33fa60ee-85ab-4148-bf37-54b30d117121",
        "name": "IF ComfyUI Pronto",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          11328,
          1584
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "comfy-timeout",
                "leftValue": "={{ $json._comfyTimeout }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "ae0f5b53-3922-40b1-89f6-dcce1f8fa205",
        "name": "IF ComfyUI Timeout",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          11328,
          1776
        ]
      },
      {
        "parameters": {
          "jsCode": "const cenaItems = $('Ler Cenas').all().map(i => i.json);\nconst cenas = Array.isArray(cenaItems[0]) ? cenaItems[0] : cenaItems;\nconst videoId = $('Normalizar Input').first().json.video_id;\nreturn cenas.map(c => ({ json: { ...c, _videoId: videoId } }));"
        },
        "id": "fd6b90ce-d45e-4455-8a7f-807bcc43bb52",
        "name": "Preparar Geração",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          11728,
          1584
        ]
      },
      {
        "parameters": {
          "options": {
            "reset": false
          }
        },
        "id": "6a30a15c-4455-4195-9d38-26e37331b04e",
        "name": "Loop Cenas",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          11920,
          1584
        ],
        "notes": "[done] → Desligar Pod\n[loop] → Gerar TTS"
      },
      {
        "parameters": {
          "jsCode": "const item = $('Loop Cenas').first().json;\nvar staticData = $getWorkflowStaticData('global');\nconst comfyuiUrl = staticData.comfyuiUrl;\nconst seed = Math.floor(Math.random() * 999999999999999);\n\nconst VOICE_MAP = {\n  calma: { audio: 'Calma.mp3', ref_text: 'Esta é uma história que aconteceu numa pequena cidade do interior. Ninguém fala sobre isso. Mas todo mundo lembra. E todo mundo tem medo.' },\n  neutra: { audio: 'Neutro.mp3', ref_text: 'Naquela noite, eu ouvi passos no corredor. Lentos, pesados, arrastados. Quando abri a porta, não havia ninguém. Mas as pegadas no chão ainda estavam quentes.' },\n  tensa: { audio: 'Tensa.mp3', ref_text: 'Ele não devia ter atendido aquele telefone. Alguma coisa estava errada. A voz do outro lado não era humana. Ele sabia disso. Mas não conseguia desligar.' },\n  suspense: { audio: 'Suspense.mp3', ref_text: 'Tem algo embaixo da cama. Eu sei porque consigo sentir a respiração. Está quente. Está perto. E está esperando eu colocar os pés no chão.' },\n  panico: { audio: 'Panico.mp3', ref_text: 'Corre! Não olha pra trás! Aquilo não é a sua mãe! Eu vi o rosto daquela coisa e não era humano! Pelo amor de Deus, não abre essa porta!' }\n};\n\nconst emocao = item.emocao || 'neutra';\nconst voice = VOICE_MAP[emocao] || VOICE_MAP.neutra;\n\nconst payload = {\n  \"24\": { \"inputs\": { \"audio\": voice.audio }, \"class_type\": \"LoadAudio\", \"_meta\": { \"title\": \"Load Audio\" } },\n  \"40\": { \"inputs\": { \"target_text\": item.narracao, \"model_choice\": \"1.7B\", \"device\": \"auto\", \"precision\": \"bf16\", \"language\": \"Portuguese\", \"ref_text\": voice.ref_text, \"seed\": seed, \"max_new_tokens\": 2048, \"top_p\": 0.8, \"top_k\": 20, \"temperature\": 1, \"repetition_penalty\": 1.05, \"x_vector_only\": false, \"attention\": \"sdpa\", \"unload_model_after_generate\": false, \"custom_model_path\": \"\", \"ref_audio\": [\"24\", 0] }, \"class_type\": \"FB_Qwen3TTSVoiceClone\", \"_meta\": { \"title\": \"\\ud83c\\udfad Qwen3-TTS VoiceClone\" } },\n  \"41\": { \"inputs\": { \"filename_prefix\": \"Narr_\" + (item.numero || 'unknown'), \"quality\": \"V0\", \"audio\": [\"40\", 0] }, \"class_type\": \"SaveAudioMP3\", \"_meta\": { \"title\": \"Save Audio (MP3)\" } }\n};\n\nreturn [{ json: { promptUrl: comfyuiUrl + '/prompt', promptBody: { prompt: payload }, cenaId: item.id, cenaNumero: item.numero, videoId: item._videoId, emocao: emocao } }];"
        },
        "id": "f5ea62fe-f9cc-48b3-9bc6-d8755aad5345",
        "name": "Montar Payload TTS",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          12128,
          1776
        ],
        "notes": "Monta payload Qwen TTS. Emoção → referência. Seed random."
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $json.promptUrl }}",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.promptBody) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "ca4490ef-15bb-485a-8e67-7bbb9d6e4882",
        "name": "Enviar ComfyUI",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          12320,
          1776
        ]
      },
      {
        "parameters": {
          "jsCode": "var response = $input.first().json;\nvar staticData = $getWorkflowStaticData('global');\nvar meta = $('Montar Payload TTS').first().json;\nvar promptId = response.prompt_id;\nstaticData.audioPromptId = promptId;\nstaticData.audioHistoryUrl = staticData.comfyuiUrl + '/history/' + promptId;\nstaticData.audioRetries = 0;\nreturn [{ json: { promptId: promptId, cenaId: meta.cenaId, cenaNumero: meta.cenaNumero, videoId: meta.videoId, emocao: meta.emocao } }];"
        },
        "id": "b406ffb9-4643-4897-b478-26db9eedcbaf",
        "name": "Preparar Polling Audio",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          12528,
          1776
        ]
      },
      {
        "parameters": {
          "amount": 10
        },
        "id": "a0059ea5-0268-4fc6-a978-3099e6ff2699",
        "name": "Wait Audio",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          12720,
          1776
        ],
        "webhookId": "m05-wait-audio-v2"
      },
      {
        "parameters": {
          "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { historyUrl: staticData.audioHistoryUrl, promptId: staticData.audioPromptId } }];"
        },
        "id": "e88998ec-77ae-4e51-9d4a-e76bc3e53d44",
        "name": "Prep Buscar Resultado",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          12928,
          1776
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.historyUrl }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "f7bf3745-5a90-4b82-8e6e-139439cf71a5",
        "name": "Buscar Resultado",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          13120,
          1776
        ]
      },
      {
        "parameters": {
          "jsCode": "var input = $('Buscar Resultado').first().json;\nvar staticData = $getWorkflowStaticData('global');\nvar promptId = staticData.audioPromptId;\nstaticData.audioRetries = (staticData.audioRetries || 0) + 1;\n\nvar pronto = false;\nvar filename = null;\nvar erro = false;\nvar erroMsg = '';\n\ntry {\n  var hist = input[promptId];\n  if (hist) {\n    // DETECTAR ERRO\n    if (hist.status && hist.status.status_str === 'error') {\n      erro = true;\n      var msgs = hist.status.messages || [];\n      for (var m = 0; m < msgs.length; m++) {\n        if (msgs[m][0] === 'execution_error') {\n          erroMsg = msgs[m][1].exception_message || 'Erro desconhecido';\n          break;\n        }\n      }\n      if (!erroMsg) erroMsg = 'ComfyUI status: error';\n    }\n    // DETECTAR SUCESSO\n    if (!erro && hist.outputs) {\n      var keys = Object.keys(hist.outputs);\n      for (var k = 0; k < keys.length; k++) {\n        var nodeOut = hist.outputs[keys[k]];\n        if (nodeOut.audio && nodeOut.audio.length > 0) {\n          filename = nodeOut.audio[0].filename;\n          pronto = true;\n          break;\n        }\n      }\n    }\n  }\n} catch(e) {}\n\nvar meta = $('Preparar Polling Audio').first().json;\n\nreturn [{ json: {\n  _ready: pronto,\n  _erro: erro,\n  _erroMsg: erroMsg,\n  _timeout: (!pronto && !erro && staticData.audioRetries >= 60),\n  filename: filename,\n  downloadUrl: pronto ? (staticData.comfyuiUrl + '/view?filename=' + encodeURIComponent(filename) + '&type=output') : null,\n  cenaId: meta.cenaId,\n  cenaNumero: meta.cenaNumero,\n  videoId: meta.videoId,\n  emocao: meta.emocao\n} }];"
        },
        "id": "9241891e-0dcf-49d1-9b8f-5410399f81bd",
        "name": "Avaliar Resultado",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          13328,
          1776
        ],
        "notes": "CORRIGIDO v2: Detecta erro/sucesso/timeout.\nErro → para loop e reporta.\nTimeout (60 polls) → para loop."
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "audio-ready",
                "leftValue": "={{ $json._ready }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "8581c374-c4eb-4dd5-b632-7c7cfe9a8733",
        "name": "IF Audio Pronto",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          13536,
          1776
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "audio-erro",
                "leftValue": "={{ $json._erro }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "6fe10478-7f3e-4606-aaf2-a166534e07c7",
        "name": "IF Audio Erro",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          13536,
          1984
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "audio-timeout",
                "leftValue": "={{ $json._timeout }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "c75e1087-5a9e-4abc-b603-9b9e96646ff7",
        "name": "IF Audio Timeout",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          13536,
          2176
        ]
      },
      {
        "parameters": {
          "jsCode": "var staticData = $getWorkflowStaticData('global');\nvar podId = staticData.podId || 'unknown';\nvar erroMsg = $input.first().json._erroMsg || $input.first().json.erro || 'Timeout sem resultado';\nreturn [{ json: {\n  stopBody: { query: 'mutation { podTerminate(input: {podId: \"' + podId + '\"}) }' },\n  erro: 'TTS FALHOU: ' + erroMsg + ' | AÇÃO: Rode post_boot.sh via JupyterLab (8888) e re-execute.'\n} }];"
        },
        "id": "ec18bcc5-3387-4d5a-b99b-d8b2697c2e99",
        "name": "Prep Desligar Erro TTS",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          13728,
          2080
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.runpod.io/graphql",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.stopBody) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "ba708c95-80ab-49ff-a462-1d661a1ff221",
        "name": "Desligar Pod Erro TTS",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          13936,
          2080
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "zQVkS3cYGiH3Ff5m",
            "name": "RunPod API"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "throw new Error($('Prep Desligar Erro TTS').first().json.erro);"
        },
        "id": "c2da8cc3-74a3-49c9-bb67-4bee59b26913",
        "name": "Reportar Erro TTS",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          14128,
          2080
        ],
        "notes": "Lança erro com mensagem clara."
      },
      {
        "parameters": {
          "jsCode": "const meta = $input.first().json;\nconst config = $('Configuração').first().json;\nconst storagePath = meta.videoId + '/narr_' + meta.cenaNumero + '.mp3';\nconst publicUrl = config.SUPABASE_URL + '/storage/v1/object/public/narracoes/' + storagePath;\nreturn [{ json: { downloadUrl: meta.downloadUrl, uploadUrl: config.SUPABASE_URL + '/storage/v1/object/narracoes/' + storagePath, publicUrl: publicUrl, cenaId: meta.cenaId, cenaNumero: meta.cenaNumero, videoId: meta.videoId, supabaseKey: config.SUPABASE_SERVICE_KEY } }];"
        },
        "id": "9c467b2b-f7a6-4ce1-b3bf-c3b6fa1c5701",
        "name": "Prep Download",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          13728,
          1584
        ],
        "notes": "Bucket: narracoes. Path: {video_id}/narr_{numero}.mp3"
      },
      {
        "parameters": {
          "url": "={{ $json.downloadUrl }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "9381fc03-7472-45c7-b8a6-f668d13fbccc",
        "name": "Baixar Audio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          13936,
          1584
        ]
      },
      {
        "parameters": {
          "jsCode": "const meta = $('Prep Download').first().json;\n\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: meta.downloadUrl,\n  encoding: 'arraybuffer',\n  returnFullResponse: true,\n});\n\nconst buffer = Buffer.from(response.body);\n\nlet duration = 0;\ntry {\n  const brV1L3 = [0,32,40,48,56,64,80,96,112,128,160,192,224,256,320,0];\n  const brV2L3 = [0,8,16,24,32,40,48,56,64,80,96,112,128,144,160,0];\n  const srV1 = [44100,48000,32000];\n  const srV2 = [22050,24000,16000];\n  let frameCount = 0; let sampleRate = 24000; let samplesPerFrame = 576; let pos = 0;\n  while (pos < buffer.length - 4) {\n    if (buffer[pos] === 0xFF && (buffer[pos + 1] & 0xE0) === 0xE0) {\n      const header = buffer.readUInt32BE(pos);\n      const mpegVer = (header >> 19) & 3;\n      const brIdx = (header >> 12) & 15;\n      const srIdx = (header >> 10) & 3;\n      const padding = (header >> 9) & 1;\n      let br, sr, spf, frameLen;\n      if (mpegVer === 3) { br = brV1L3[brIdx]*1000; sr = srIdx<3?srV1[srIdx]:44100; spf=1152; frameLen=br>0?Math.floor((144*br)/sr)+padding:0; }\n      else { br = brV2L3[brIdx]*1000; sr = srIdx<3?srV2[srIdx]:24000; spf=576; frameLen=br>0?Math.floor((72*br)/sr)+padding:0; }\n      if (frameLen > 0) { frameCount++; sampleRate=sr; samplesPerFrame=spf; pos+=frameLen; } else { pos++; }\n    } else { pos++; }\n  }\n  if (frameCount > 0 && sampleRate > 0) { duration = (frameCount * samplesPerFrame) / sampleRate; }\n} catch(e) {}\n\nduration = Math.round(duration * 100) / 100;\n\nconst binaryData = await this.helpers.prepareBinaryData(buffer, 'audio.mp3', 'audio/mpeg');\n\nreturn [{ json: { duracao_real: duration }, binary: { data: binaryData } }];"
        },
        "id": "392ed59c-27fa-405b-8592-800c147a9b0d",
        "name": "Medir Duração",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          14128,
          1584
        ],
        "notes": "Parseia header Xing/CBR do MP3."
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Prep Download').first().json.uploadUrl }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Prep Download').first().json.supabaseKey }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Prep Download').first().json.supabaseKey }}"
              },
              {
                "name": "Content-Type",
                "value": "audio/mpeg"
              },
              {
                "name": "x-upsert",
                "value": "true"
              }
            ]
          },
          "sendBody": true,
          "contentType": "binaryData",
          "inputDataFieldName": "data",
          "options": {}
        },
        "id": "8352c148-cb6f-4546-882f-d64f7b51fec0",
        "name": "Upload Supabase Storage",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          14336,
          1584
        ]
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/cenas?id=eq.{{ $('Prep Download').first().json.cenaId }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ tts_url: $('Prep Download').first().json.publicUrl, tts_status: 'gerada', duracao_real: $('Medir Duração').first().json.duracao_real }) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "23ffc69d-beab-4723-9c1e-c342a91395f8",
        "name": "Atualizar Cena",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          14528,
          1584
        ],
        "notes": "PATCH cena: tts_url, tts_status='gerada', duracao_real."
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { _consolidado: true } }];"
        },
        "id": "fc266be1-25ac-4678-a1cd-9b4ab5cc5b46",
        "name": "Consolidar",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          14736,
          1472
        ]
      },
      {
        "parameters": {
          "jsCode": "var staticData = $getWorkflowStaticData('global');\nreturn [{ json: { stopBody: { query: 'mutation { podTerminate(input: {podId: \"' + (staticData.podId || '') + '\"}) }' } } }];"
        },
        "id": "3e3e0828-5a1a-4379-b970-80d95911db18",
        "name": "Prep Desligar Pod",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          12128,
          1376
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.runpod.io/graphql",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.stopBody) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "018ca86f-e2b5-446d-8573-6bc0d7ab8c56",
        "name": "Desligar Pod",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          12320,
          1376
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "zQVkS3cYGiH3Ff5m",
            "name": "RunPod API"
          }
        }
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/videos?id=eq.{{ $('Normalizar Input').first().json.video_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ geracao_tts_status: 'concluido' }) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "1c642b83-904a-4207-9780-d2a13143df89",
        "name": "Marcar Concluído",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          12528,
          1376
        ]
      }
    ],
    "connections": {
      "Início Manual": {
        "main": [
          [
            {
              "node": "Video ID Teste",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Video ID Teste": {
        "main": [
          [
            {
              "node": "Normalizar Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger Externo": {
        "main": [
          [
            {
              "node": "Normalizar Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalizar Input": {
        "main": [
          [
            {
              "node": "Configuração",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Configuração": {
        "main": [
          [
            {
              "node": "Ler Cenas",
              "type": "main",
              "index": 0
            },
            {
              "node": "Marcar Gerando",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ler Cenas": {
        "main": [
          [
            {
              "node": "Prep Criar Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Marcar Gerando": {
        "main": [
          [
            {
              "node": "Prep Criar Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Criar Pod": {
        "main": [
          [
            {
              "node": "Criar Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar Pod": {
        "main": [
          [
            {
              "node": "Processar Novo Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Processar Novo Pod": {
        "main": [
          [
            {
              "node": "Wait Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait Pod": {
        "main": [
          [
            {
              "node": "Prep Checar Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Checar Pod": {
        "main": [
          [
            {
              "node": "Checar Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Checar Pod": {
        "main": [
          [
            {
              "node": "Avaliar Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Avaliar Pod": {
        "main": [
          [
            {
              "node": "IF Pod Pronto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Pod Pronto": {
        "main": [
          [
            {
              "node": "Prep Polling ComfyUI",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF Pod Timeout",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Pod Timeout": {
        "main": [
          [
            {
              "node": "Prep Desligar Timeout",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Desligar Timeout": {
        "main": [
          [
            {
              "node": "Desligar Pod Erro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Polling ComfyUI": {
        "main": [
          [
            {
              "node": "Wait ComfyUI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait ComfyUI": {
        "main": [
          [
            {
              "node": "Prep Checar ComfyUI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Checar ComfyUI": {
        "main": [
          [
            {
              "node": "Checar ComfyUI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Checar ComfyUI": {
        "main": [
          [
            {
              "node": "Avaliar ComfyUI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Avaliar ComfyUI": {
        "main": [
          [
            {
              "node": "IF ComfyUI Pronto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF ComfyUI Pronto": {
        "main": [
          [
            {
              "node": "Preparar Geração",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF ComfyUI Timeout",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF ComfyUI Timeout": {
        "main": [
          [
            {
              "node": "Prep Desligar Timeout",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait ComfyUI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Geração": {
        "main": [
          [
            {
              "node": "Loop Cenas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Cenas": {
        "main": [
          [
            {
              "node": "Prep Desligar Pod",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Montar Payload TTS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Montar Payload TTS": {
        "main": [
          [
            {
              "node": "Enviar ComfyUI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar ComfyUI": {
        "main": [
          [
            {
              "node": "Preparar Polling Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Polling Audio": {
        "main": [
          [
            {
              "node": "Wait Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait Audio": {
        "main": [
          [
            {
              "node": "Prep Buscar Resultado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Buscar Resultado": {
        "main": [
          [
            {
              "node": "Buscar Resultado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Resultado": {
        "main": [
          [
            {
              "node": "Avaliar Resultado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Avaliar Resultado": {
        "main": [
          [
            {
              "node": "IF Audio Pronto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Audio Pronto": {
        "main": [
          [
            {
              "node": "Prep Download",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF Audio Erro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Audio Erro": {
        "main": [
          [
            {
              "node": "Prep Desligar Erro TTS",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF Audio Timeout",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Audio Timeout": {
        "main": [
          [
            {
              "node": "Prep Desligar Erro TTS",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Desligar Erro TTS": {
        "main": [
          [
            {
              "node": "Desligar Pod Erro TTS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Desligar Pod Erro TTS": {
        "main": [
          [
            {
              "node": "Reportar Erro TTS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Download": {
        "main": [
          [
            {
              "node": "Baixar Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Baixar Audio": {
        "main": [
          [
            {
              "node": "Medir Duração",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Medir Duração": {
        "main": [
          [
            {
              "node": "Upload Supabase Storage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Supabase Storage": {
        "main": [
          [
            {
              "node": "Atualizar Cena",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Atualizar Cena": {
        "main": [
          [
            {
              "node": "Consolidar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consolidar": {
        "main": [
          [
            {
              "node": "Loop Cenas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Desligar Pod": {
        "main": [
          [
            {
              "node": "Desligar Pod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Desligar Pod": {
        "main": [
          [
            {
              "node": "Marcar Concluído",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Newton Omune",
    "name": "Version a86bf360",
    "description": "",
    "autosaved": true
  },
  "tags": []
}