workflows/M_dulo_3B_-_Entrada_Chat.json
{
  "updatedAt": "2026-01-30T17:27:34.000Z",
  "createdAt": "2026-01-06T16:06:32.820Z",
  "id": "oRL08u39lKPYv2og",
  "name": "Módulo 3B - Entrada Chat",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Você extrai dados de contas a pagar de texto livre. Retorne APENAS um JSON válido, sem explicações.\n\nSe identificar alguma linha digitável como por exemplo 74593.10004 88589.017404 00031.063100 2 13440000863995 no chatinput, retorne {\"erro\": \"Para boletos, utilize a entrada manual ou o PDF escaneado.\"}\n\nCampos obrigatórios:\n- nome: nome do favorecido\n- documento: CPF (11 dígitos) ou CNPJ (14 dígitos), apenas números\n- valor: número decimal (ex: 1500.00)\n- vencimento: formato YYYY-MM-DD\n- banco: código do banco (3 dígitos)\n- agencia: número da agência\n- conta: número da conta com dígito\n- tipo_conta: CC (corrente) ou PP (poupança)\n- descricao: descrição do pagamento (opcional, pode ser null)\n\nSe faltar algum campo obrigatório, retorne: {\"erro\": \"Campo X não informado\"}\n\nExemplo de retorno:\n{\"nome\":\"João Silva\",\"documento\":\"12345678909\",\"valor\":1500.00,\"vencimento\":\"2026-01-15\",\"banco\":\"341\",\"agencia\":\"1234\",\"conta\":\"56789-0\",\"tipo_conta\":\"CC\",\"descricao\":\"Reembolso viagem\"}\n\n"
            },
            {
              "content": "={{ JSON.stringify($json) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -864,
        -112
      ],
      "id": "4eaea30d-b141-4763-8156-d7523f517556",
      "name": "GPT Extrair Dados",
      "credentials": {
        "openAiApi": {
          "id": "47a3ptzhP4wlIUiz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all()[0].json;\n\n// Extrair o texto da resposta do GPT (formato novo)\nlet responseText;\nif (input.output && input.output[0] && input.output[0].content) {\n  responseText = input.output[0].content[0].text;\n} else if (input.message && input.message.content) {\n  responseText = input.message.content;\n} else if (typeof input === 'string') {\n  responseText = input;\n} else {\n  return [{ json: { valido: false, erro: \"Não foi possível ler a resposta do GPT\" } }];\n}\n\n// Parse o JSON do GPT\nlet dados;\ntry {\n  dados = JSON.parse(responseText);\n} catch (e) {\n  return [{ json: { valido: false, erro: \"Não foi possível interpretar a resposta\" } }];\n}\n\n// Se GPT retornou erro\nif (dados.erro) {\n  return [{ json: { valido: false, erro: dados.erro } }];\n}\n\n// Validar CPF\nfunction validarCPF(cpf) {\n  cpf = cpf.replace(/\\D/g, '');\n  if (cpf.length !== 11 || /^(\\d)\\1+$/.test(cpf)) return false;\n  \n  let soma = 0;\n  for (let i = 0; i < 9; i++) soma += parseInt(cpf[i]) * (10 - i);\n  let resto = (soma * 10) % 11;\n  if (resto === 10 || resto === 11) resto = 0;\n  if (resto !== parseInt(cpf[9])) return false;\n  \n  soma = 0;\n  for (let i = 0; i < 10; i++) soma += parseInt(cpf[i]) * (11 - i);\n  resto = (soma * 10) % 11;\n  if (resto === 10 || resto === 11) resto = 0;\n  return resto === parseInt(cpf[10]);\n}\n\n// Validar CNPJ\nfunction validarCNPJ(cnpj) {\n  cnpj = cnpj.replace(/\\D/g, '');\n  if (cnpj.length !== 14 || /^(\\d)\\1+$/.test(cnpj)) return false;\n  \n  let tamanho = cnpj.length - 2;\n  let numeros = cnpj.substring(0, tamanho);\n  let digitos = cnpj.substring(tamanho);\n  let soma = 0;\n  let pos = tamanho - 7;\n  \n  for (let i = tamanho; i >= 1; i--) {\n    soma += numeros.charAt(tamanho - i) * pos--;\n    if (pos < 2) pos = 9;\n  }\n  \n  let resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;\n  if (resultado !== parseInt(digitos.charAt(0))) return false;\n  \n  tamanho = tamanho + 1;\n  numeros = cnpj.substring(0, tamanho);\n  soma = 0;\n  pos = tamanho - 7;\n  \n  for (let i = tamanho; i >= 1; i--) {\n    soma += numeros.charAt(tamanho - i) * pos--;\n    if (pos < 2) pos = 9;\n  }\n  \n  resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;\n  return resultado === parseInt(digitos.charAt(1));\n}\n\n// Validar documento\nconst doc = dados.documento.replace(/\\D/g, '');\nlet tipoDoc, docValido;\n\nif (doc.length === 11) {\n  tipoDoc = 'pf';\n  docValido = validarCPF(doc);\n} else if (doc.length === 14) {\n  tipoDoc = 'pj';\n  docValido = validarCNPJ(doc);\n} else {\n  return [{ json: { valido: false, erro: \"Documento deve ter 11 (CPF) ou 14 (CNPJ) dígitos\" } }];\n}\n\nif (!docValido) {\n  return [{ json: { valido: false, erro: `${tipoDoc === 'pf' ? 'CPF' : 'CNPJ'} inválido` } }];\n}\n\n// Retorna dados validados\nreturn [{\n  json: {\n    valido: true,\n    nome: dados.nome,\n    documento: doc,\n    tipo: tipoDoc,\n    valor: dados.valor,\n    vencimento: dados.vencimento,\n    banco: dados.banco,\n    agencia: dados.agencia,\n    conta: dados.conta,\n    tipo_conta: dados.tipo_conta,\n    descricao: dados.descricao || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        -112
      ],
      "id": "d5c836e4-1534-4696-8e7f-09269c4a2758",
      "name": "Validar CPF/CNPJ"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "22ffd679-a665-4fbe-a9de-05208a66a61d",
              "leftValue": "={{ $json.valido }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -304,
        -112
      ],
      "id": "c2d0439e-c491-40cc-a89a-d9ff063608db",
      "name": "IF Documento Válido?"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "fornecedores",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "={{ $json.tipo === 'pf' ? 'cpf' : 'cnpj' }}",
              "condition": "eq",
              "keyValue": "={{ $json.documento }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -96,
        -208
      ],
      "id": "5141a4ab-44c4-4c05-9678-baedb33f63ff",
      "name": "Buscar Fornecedor Chat",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "OP3IGsLO3LJ2h9JA",
          "name": "Supabase Accounting Payables"
        }
      }
    },
    {
      "parameters": {
        "tableId": "contas_a_pagar",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "fornecedor_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "tipo_pagamento",
              "fieldValue": "ted"
            },
            {
              "fieldId": "valor",
              "fieldValue": "={{ $('Validar CPF/CNPJ').item.json.valor }}"
            },
            {
              "fieldId": "vencimento",
              "fieldValue": "={{ $('Validar CPF/CNPJ').item.json.vencimento }}"
            },
            {
              "fieldId": "descricao",
              "fieldValue": "={{ $('Validar CPF/CNPJ').item.json.descricao }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "aprovado"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now.setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd HH:mm:ss') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        752,
        -208
      ],
      "id": "cc189546-1f99-4ab4-b927-0b92fd650baf",
      "name": "Criar Conta Chat",
      "credentials": {
        "supabaseApi": {
          "id": "OP3IGsLO3LJ2h9JA",
          "name": "Supabase Accounting Payables"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        560,
        -208
      ],
      "id": "0ca5d782-146d-4f12-b4d1-e9fd10922348",
      "name": "Merge Fornecedor Chat",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "tableId": "fornecedores",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('Validar CPF/CNPJ').item.json.nome }}"
            },
            {
              "fieldId": "cnpj",
              "fieldValue": "={{ $('Validar CPF/CNPJ').item.json.tipo === 'pj' ? $('Validar CPF/CNPJ').item.json.documento : null }}"
            },
            {
              "fieldId": "banco",
              "fieldValue": "={{ $('Validar CPF/CNPJ').item.json.banco }}"
            },
            {
              "fieldId": "agencia",
              "fieldValue": "={{ $('Validar CPF/CNPJ').item.json.agencia }}"
            },
            {
              "fieldId": "conta",
              "fieldValue": "={{ $('Validar CPF/CNPJ').item.json.conta }}"
            },
            {
              "fieldId": "tipo_conta",
              "fieldValue": "={{ $('Validar CPF/CNPJ').item.json.tipo_conta }}"
            },
            {
              "fieldId": "cpf",
              "fieldValue": "={{ $('Validar CPF/CNPJ').item.json.tipo === 'pf' ? $('Validar CPF/CNPJ').item.json.documento : null }}"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $('Validar CPF/CNPJ').item.json.tipo }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now.setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd HH:mm:ss') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        -112
      ],
      "id": "ed7971fb-3993-48c3-bb3a-30b9db9e8d0b",
      "name": "Criar Fornecedor Chat",
      "credentials": {
        "supabaseApi": {
          "id": "OP3IGsLO3LJ2h9JA",
          "name": "Supabase Accounting Payables"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b96e7d88-b533-442e-b33c-07daea782729",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "69736281-f13c-4580-9c4f-85266b5b7710",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        192,
        -208
      ],
      "id": "cf77f4c2-3fad-40e6-bbea-e42133621734",
      "name": "IF Fornecedor Existe Chat?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá!  Copie e cole as informações da conta.\n\n- nome: nome do favorecido\n- documento: CPF (11 dígitos) ou CNPJ (14 dígitos)\n- valor: número decimal (ex: 1500.00)\n- vencimento: formato YYYY-MM-DD\n- banco: código do banco (3 dígitos)\n- agencia: número da agência\n- conta: número da conta com dígito\n- tipo_conta: CC (corrente) ou PP (poupança)\n- descricao: descrição do pagamento (opcional, pode ser null)\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1136,
        -112
      ],
      "id": "e5bf2651-5049-4401-a8dd-d6d4e8ebc02c",
      "name": "Chat Entrada Manual",
      "webhookId": "9ce220eb-fb7f-417f-9440-3fc3b0aa524a"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  output: `❌ Erro: ${$json.erro}`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -16
      ],
      "id": "bb3c7776-4eb9-4c4d-ab8f-e6792786b3d8",
      "name": "Resposta Erro"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const dados = $('Validar CPF/CNPJ').item.json;\nreturn {\n  output: `✅ Conta criada!\n\nFornecedor: ${dados.nome}\nValor: R$ ${dados.valor}\nVencimento: ${dados.vencimento}`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -208
      ],
      "id": "beeea3aa-2231-4112-8a9d-3bb7f8d520a7",
      "name": "Resposta Sucesso"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://prosperidade-n8n.yc5mic.easypanel.host/webhook/sync-contas",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        112
      ],
      "id": "dc4e4dae-b765-47f7-acd5-5b0c917dbb2c",
      "name": "Sync_Planilha_Contas",
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://prosperidade-n8n.yc5mic.easypanel.host/webhook/fornecedores-sync",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        112
      ],
      "id": "79165e8a-630c-456a-9f63-1eb898144a60",
      "name": "Sync_Planilha_Fornecedores",
      "executeOnce": false
    }
  ],
  "connections": {
    "GPT Extrair Dados": {
      "main": [
        [
          {
            "node": "Validar CPF/CNPJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar CPF/CNPJ": {
      "main": [
        [
          {
            "node": "IF Documento Válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Documento Válido?": {
      "main": [
        [
          {
            "node": "Buscar Fornecedor Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Fornecedor Chat": {
      "main": [
        [
          {
            "node": "IF Fornecedor Existe Chat?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Fornecedor Chat": {
      "main": [
        [
          {
            "node": "Criar Conta Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Fornecedor Chat": {
      "main": [
        [
          {
            "node": "Merge Fornecedor Chat",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "IF Fornecedor Existe Chat?": {
      "main": [
        [
          {
            "node": "Merge Fornecedor Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Fornecedor Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Conta Chat": {
      "main": [
        [
          {
            "node": "Resposta Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Entrada Manual": {
      "main": [
        [
          {
            "node": "GPT Extrair Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync_Planilha_Contas": {
      "main": [
        [
          {
            "node": "Sync_Planilha_Fornecedores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta Sucesso": {
      "main": [
        [
          {
            "node": "Sync_Planilha_Contas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f58a97a6-6d10-4e10-98c5-822be4215aaa",
  "activeVersionId": "f58a97a6-6d10-4e10-98c5-822be4215aaa",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-06T16:06:32.871Z",
      "createdAt": "2026-01-06T16:06:32.871Z",
      "role": "workflow:owner",
      "workflowId": "oRL08u39lKPYv2og",
      "projectId": "SoH44tJE4dqRVTiw"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-31T19:17:10.384Z",
    "createdAt": "2026-01-31T19:17:10.384Z",
    "versionId": "f58a97a6-6d10-4e10-98c5-822be4215aaa",
    "workflowId": "oRL08u39lKPYv2og",
    "nodes": [
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "GPT-4O-MINI"
          },
          "responses": {
            "values": [
              {
                "role": "system",
                "content": "=Você extrai dados de contas a pagar de texto livre. Retorne APENAS um JSON válido, sem explicações.\n\nSe identificar alguma linha digitável como por exemplo 74593.10004 88589.017404 00031.063100 2 13440000863995 no chatinput, retorne {\"erro\": \"Para boletos, utilize a entrada manual ou o PDF escaneado.\"}\n\nCampos obrigatórios:\n- nome: nome do favorecido\n- documento: CPF (11 dígitos) ou CNPJ (14 dígitos), apenas números\n- valor: número decimal (ex: 1500.00)\n- vencimento: formato YYYY-MM-DD\n- banco: código do banco (3 dígitos)\n- agencia: número da agência\n- conta: número da conta com dígito\n- tipo_conta: CC (corrente) ou PP (poupança)\n- descricao: descrição do pagamento (opcional, pode ser null)\n\nSe faltar algum campo obrigatório, retorne: {\"erro\": \"Campo X não informado\"}\n\nExemplo de retorno:\n{\"nome\":\"João Silva\",\"documento\":\"12345678909\",\"valor\":1500.00,\"vencimento\":\"2026-01-15\",\"banco\":\"341\",\"agencia\":\"1234\",\"conta\":\"56789-0\",\"tipo_conta\":\"CC\",\"descricao\":\"Reembolso viagem\"}\n\n"
              },
              {
                "content": "={{ JSON.stringify($json) }}"
              }
            ]
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2,
        "position": [
          -864,
          -112
        ],
        "id": "4eaea30d-b141-4763-8156-d7523f517556",
        "name": "GPT Extrair Dados",
        "credentials": {
          "openAiApi": {
            "id": "47a3ptzhP4wlIUiz",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const input = $input.all()[0].json;\n\n// Extrair o texto da resposta do GPT (formato novo)\nlet responseText;\nif (input.output && input.output[0] && input.output[0].content) {\n  responseText = input.output[0].content[0].text;\n} else if (input.message && input.message.content) {\n  responseText = input.message.content;\n} else if (typeof input === 'string') {\n  responseText = input;\n} else {\n  return [{ json: { valido: false, erro: \"Não foi possível ler a resposta do GPT\" } }];\n}\n\n// Parse o JSON do GPT\nlet dados;\ntry {\n  dados = JSON.parse(responseText);\n} catch (e) {\n  return [{ json: { valido: false, erro: \"Não foi possível interpretar a resposta\" } }];\n}\n\n// Se GPT retornou erro\nif (dados.erro) {\n  return [{ json: { valido: false, erro: dados.erro } }];\n}\n\n// Validar CPF\nfunction validarCPF(cpf) {\n  cpf = cpf.replace(/\\D/g, '');\n  if (cpf.length !== 11 || /^(\\d)\\1+$/.test(cpf)) return false;\n  \n  let soma = 0;\n  for (let i = 0; i < 9; i++) soma += parseInt(cpf[i]) * (10 - i);\n  let resto = (soma * 10) % 11;\n  if (resto === 10 || resto === 11) resto = 0;\n  if (resto !== parseInt(cpf[9])) return false;\n  \n  soma = 0;\n  for (let i = 0; i < 10; i++) soma += parseInt(cpf[i]) * (11 - i);\n  resto = (soma * 10) % 11;\n  if (resto === 10 || resto === 11) resto = 0;\n  return resto === parseInt(cpf[10]);\n}\n\n// Validar CNPJ\nfunction validarCNPJ(cnpj) {\n  cnpj = cnpj.replace(/\\D/g, '');\n  if (cnpj.length !== 14 || /^(\\d)\\1+$/.test(cnpj)) return false;\n  \n  let tamanho = cnpj.length - 2;\n  let numeros = cnpj.substring(0, tamanho);\n  let digitos = cnpj.substring(tamanho);\n  let soma = 0;\n  let pos = tamanho - 7;\n  \n  for (let i = tamanho; i >= 1; i--) {\n    soma += numeros.charAt(tamanho - i) * pos--;\n    if (pos < 2) pos = 9;\n  }\n  \n  let resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;\n  if (resultado !== parseInt(digitos.charAt(0))) return false;\n  \n  tamanho = tamanho + 1;\n  numeros = cnpj.substring(0, tamanho);\n  soma = 0;\n  pos = tamanho - 7;\n  \n  for (let i = tamanho; i >= 1; i--) {\n    soma += numeros.charAt(tamanho - i) * pos--;\n    if (pos < 2) pos = 9;\n  }\n  \n  resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;\n  return resultado === parseInt(digitos.charAt(1));\n}\n\n// Validar documento\nconst doc = dados.documento.replace(/\\D/g, '');\nlet tipoDoc, docValido;\n\nif (doc.length === 11) {\n  tipoDoc = 'pf';\n  docValido = validarCPF(doc);\n} else if (doc.length === 14) {\n  tipoDoc = 'pj';\n  docValido = validarCNPJ(doc);\n} else {\n  return [{ json: { valido: false, erro: \"Documento deve ter 11 (CPF) ou 14 (CNPJ) dígitos\" } }];\n}\n\nif (!docValido) {\n  return [{ json: { valido: false, erro: `${tipoDoc === 'pf' ? 'CPF' : 'CNPJ'} inválido` } }];\n}\n\n// Retorna dados validados\nreturn [{\n  json: {\n    valido: true,\n    nome: dados.nome,\n    documento: doc,\n    tipo: tipoDoc,\n    valor: dados.valor,\n    vencimento: dados.vencimento,\n    banco: dados.banco,\n    agencia: dados.agencia,\n    conta: dados.conta,\n    tipo_conta: dados.tipo_conta,\n    descricao: dados.descricao || null\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -512,
          -112
        ],
        "id": "d5c836e4-1534-4696-8e7f-09269c4a2758",
        "name": "Validar CPF/CNPJ"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "22ffd679-a665-4fbe-a9de-05208a66a61d",
                "leftValue": "={{ $json.valido }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -304,
          -112
        ],
        "id": "c2d0439e-c491-40cc-a89a-d9ff063608db",
        "name": "IF Documento Válido?"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "fornecedores",
          "limit": 1,
          "filters": {
            "conditions": [
              {
                "keyName": "={{ $json.tipo === 'pf' ? 'cpf' : 'cnpj' }}",
                "condition": "eq",
                "keyValue": "={{ $json.documento }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -96,
          -208
        ],
        "id": "5141a4ab-44c4-4c05-9678-baedb33f63ff",
        "name": "Buscar Fornecedor Chat",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "OP3IGsLO3LJ2h9JA",
            "name": "Supabase Accounting Payables"
          }
        }
      },
      {
        "parameters": {
          "tableId": "contas_a_pagar",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "fornecedor_id",
                "fieldValue": "={{ $json.id }}"
              },
              {
                "fieldId": "tipo_pagamento",
                "fieldValue": "ted"
              },
              {
                "fieldId": "valor",
                "fieldValue": "={{ $('Validar CPF/CNPJ').item.json.valor }}"
              },
              {
                "fieldId": "vencimento",
                "fieldValue": "={{ $('Validar CPF/CNPJ').item.json.vencimento }}"
              },
              {
                "fieldId": "descricao",
                "fieldValue": "={{ $('Validar CPF/CNPJ').item.json.descricao }}"
              },
              {
                "fieldId": "status",
                "fieldValue": "aprovado"
              },
              {
                "fieldId": "created_at",
                "fieldValue": "={{ $now.setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd HH:mm:ss') }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          752,
          -208
        ],
        "id": "cc189546-1f99-4ab4-b927-0b92fd650baf",
        "name": "Criar Conta Chat",
        "credentials": {
          "supabaseApi": {
            "id": "OP3IGsLO3LJ2h9JA",
            "name": "Supabase Accounting Payables"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {
            "includeUnpaired": true
          }
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          560,
          -208
        ],
        "id": "0ca5d782-146d-4f12-b4d1-e9fd10922348",
        "name": "Merge Fornecedor Chat",
        "alwaysOutputData": false,
        "executeOnce": false
      },
      {
        "parameters": {
          "tableId": "fornecedores",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "nome",
                "fieldValue": "={{ $('Validar CPF/CNPJ').item.json.nome }}"
              },
              {
                "fieldId": "cnpj",
                "fieldValue": "={{ $('Validar CPF/CNPJ').item.json.tipo === 'pj' ? $('Validar CPF/CNPJ').item.json.documento : null }}"
              },
              {
                "fieldId": "banco",
                "fieldValue": "={{ $('Validar CPF/CNPJ').item.json.banco }}"
              },
              {
                "fieldId": "agencia",
                "fieldValue": "={{ $('Validar CPF/CNPJ').item.json.agencia }}"
              },
              {
                "fieldId": "conta",
                "fieldValue": "={{ $('Validar CPF/CNPJ').item.json.conta }}"
              },
              {
                "fieldId": "tipo_conta",
                "fieldValue": "={{ $('Validar CPF/CNPJ').item.json.tipo_conta }}"
              },
              {
                "fieldId": "cpf",
                "fieldValue": "={{ $('Validar CPF/CNPJ').item.json.tipo === 'pf' ? $('Validar CPF/CNPJ').item.json.documento : null }}"
              },
              {
                "fieldId": "tipo",
                "fieldValue": "={{ $('Validar CPF/CNPJ').item.json.tipo }}"
              },
              {
                "fieldId": "created_at",
                "fieldValue": "={{ $now.setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd HH:mm:ss') }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          400,
          -112
        ],
        "id": "ed7971fb-3993-48c3-bb3a-30b9db9e8d0b",
        "name": "Criar Fornecedor Chat",
        "credentials": {
          "supabaseApi": {
            "id": "OP3IGsLO3LJ2h9JA",
            "name": "Supabase Accounting Payables"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "b96e7d88-b533-442e-b33c-07daea782729",
                "leftValue": "={{ $json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "69736281-f13c-4580-9c4f-85266b5b7710",
                "leftValue": "",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          192,
          -208
        ],
        "id": "cf77f4c2-3fad-40e6-bbea-e42133621734",
        "name": "IF Fornecedor Existe Chat?",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "public": true,
          "initialMessages": "Olá!  Copie e cole as informações da conta.\n\n- nome: nome do favorecido\n- documento: CPF (11 dígitos) ou CNPJ (14 dígitos)\n- valor: número decimal (ex: 1500.00)\n- vencimento: formato YYYY-MM-DD\n- banco: código do banco (3 dígitos)\n- agencia: número da agência\n- conta: número da conta com dígito\n- tipo_conta: CC (corrente) ou PP (poupança)\n- descricao: descrição do pagamento (opcional, pode ser null)\n",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.4,
        "position": [
          -1136,
          -112
        ],
        "id": "e5bf2651-5049-4401-a8dd-d6d4e8ebc02c",
        "name": "Chat Entrada Manual",
        "webhookId": "9ce220eb-fb7f-417f-9440-3fc3b0aa524a"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "return {\n  output: `❌ Erro: ${$json.erro}`\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -96,
          -16
        ],
        "id": "bb3c7776-4eb9-4c4d-ab8f-e6792786b3d8",
        "name": "Resposta Erro"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const dados = $('Validar CPF/CNPJ').item.json;\nreturn {\n  output: `✅ Conta criada!\n\nFornecedor: ${dados.nome}\nValor: R$ ${dados.valor}\nVencimento: ${dados.vencimento}`\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          -208
        ],
        "id": "beeea3aa-2231-4112-8a9d-3bb7f8d520a7",
        "name": "Resposta Sucesso"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://prosperidade-n8n.yc5mic.easypanel.host/webhook/sync-contas",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          992,
          112
        ],
        "id": "dc4e4dae-b765-47f7-acd5-5b0c917dbb2c",
        "name": "Sync_Planilha_Contas",
        "executeOnce": false
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://prosperidade-n8n.yc5mic.easypanel.host/webhook/fornecedores-sync",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1200,
          112
        ],
        "id": "79165e8a-630c-456a-9f63-1eb898144a60",
        "name": "Sync_Planilha_Fornecedores",
        "executeOnce": false
      }
    ],
    "connections": {
      "GPT Extrair Dados": {
        "main": [
          [
            {
              "node": "Validar CPF/CNPJ",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar CPF/CNPJ": {
        "main": [
          [
            {
              "node": "IF Documento Válido?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Documento Válido?": {
        "main": [
          [
            {
              "node": "Buscar Fornecedor Chat",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Resposta Erro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Fornecedor Chat": {
        "main": [
          [
            {
              "node": "IF Fornecedor Existe Chat?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Fornecedor Chat": {
        "main": [
          [
            {
              "node": "Criar Conta Chat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar Fornecedor Chat": {
        "main": [
          [
            {
              "node": "Merge Fornecedor Chat",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "IF Fornecedor Existe Chat?": {
        "main": [
          [
            {
              "node": "Merge Fornecedor Chat",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Criar Fornecedor Chat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar Conta Chat": {
        "main": [
          [
            {
              "node": "Resposta Sucesso",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chat Entrada Manual": {
        "main": [
          [
            {
              "node": "GPT Extrair Dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sync_Planilha_Contas": {
        "main": [
          [
            {
              "node": "Sync_Planilha_Fornecedores",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Resposta Sucesso": {
        "main": [
          [
            {
              "node": "Sync_Planilha_Contas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}