workflows/M_dulo_01_-_Ingest_o.json
{
  "updatedAt": "2026-01-30T13:49:49.000Z",
  "createdAt": "2026-01-18T13:52:02.228Z",
  "id": "k0JTvDRVymM5z3R9",
  "name": "Módulo 01 - Ingestão",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1xEY6pxi2iRw-6UiViE5dEy7R6SoDeZS0",
          "mode": "list",
          "cachedResultName": "Processos Novos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1xEY6pxi2iRw-6UiViE5dEy7R6SoDeZS0"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2016,
        32
      ],
      "id": "2815048e-109f-44f8-9382-79419656d109",
      "name": "Trigger_Novo_PDF",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cF17H5HzZzwb2Ssy",
          "name": "newton.ai API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }} ",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1568,
        32
      ],
      "id": "3a040cbd-a4f6-4b47-b970-e79047cf7eb6",
      "name": "Baixar_PDF",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cF17H5HzZzwb2Ssy",
          "name": "newton.ai API"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ $('Baixar_PDF').item.binary.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -960,
        -208
      ],
      "id": "34cddc32-be9f-4d2b-bf37-f10bd91fd924",
      "name": "Extrair_Texto_PDF"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c6276a6-c333-4694-afd3-a820a8fa2166",
              "leftValue": "={{ $json.text.trim().length }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -688,
        -160
      ],
      "id": "d293c0a8-39f7-487f-a6f7-b2e626c15e83",
      "name": "PDF_Digital_ou_Escaneado"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "K88071477188957"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "language",
              "value": "por"
            },
            {
              "name": "OCREngine",
              "value": "2"
            },
            {
              "name": "base64Image",
              "value": "=data:application/pdf;base64,{{ $('Baixar_PDF').item.binary.data.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -480,
        128
      ],
      "id": "8b32bf80-141c-4ea8-99df-f851ecccae79",
      "name": "OCR_PDF_Escaneado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8f1c392a-019a-4330-8000-6eb5e740bd4a",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "2aa668b0-5ef5-4cb1-837a-a009ae3d4c51",
              "leftValue": "={{ $json.size }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "67c46204-690c-4f82-9451-52d31b5b5c30",
              "leftValue": "={{ $json.trashed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1328,
        32
      ],
      "id": "71c45424-eacd-4fa9-89f3-39ed99569e8c",
      "name": "Validar_PDF"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M",
          "mode": "list",
          "cachedResultName": "Contas a Pagar - Automação",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1534141160,
          "mode": "list",
          "cachedResultName": "Log_Erros_PDF",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M/edit#gid=1534141160"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data_hora": "={{ $now.format('dd/MM/yyyy HH:mm:ss') }}",
            "arquivo_nome": "={{ $json.name }}",
            "arquivo_id": "={{ $json.id }}",
            "motivo_erro": "Arquivo inválido: não é PDF, está vazio ou na lixeira",
            "tamanho_bytes": "={{ $json.size }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data_hora",
              "displayName": "data_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "arquivo_nome",
              "displayName": "arquivo_nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "arquivo_id",
              "displayName": "arquivo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "motivo_erro",
              "displayName": "motivo_erro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tamanho_bytes",
              "displayName": "tamanho_bytes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1104,
        192
      ],
      "id": "f34a4d63-450c-4ce2-8ac8-5ea7a42b1a71",
      "name": "Log_Erro_PDF",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RruWc6BrI8tF2hiO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -272,
        -16
      ],
      "id": "af5b90ee-9819-43be-88ec-4af72c04890e",
      "name": "Unificar Saídas"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "'1xEY6pxi2iRw-6UiViE5dEy7R6SoDeZS0' in parents and mimeType='application/pdf' and trashed=false",
        "limit": 100,
        "filter": {},
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1808,
        32
      ],
      "id": "066d5b61-a264-400d-848c-da16326880c0",
      "name": "Listar_Todos_PDFs",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cF17H5HzZzwb2Ssy",
          "name": "newton.ai API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -960,
        48
      ],
      "id": "2fed0f88-9732-4f2e-9ae5-dfcca2a7b1bd",
      "name": "Mesclar_Arquivo_ID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9a41b5d-bd59-4191-b7a4-79a8e540e2a4",
              "name": "processo_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "0b557b49-2b93-4267-9b91-7b26010b4243",
              "name": "numero_processo",
              "value": "={{ $json.name.replace('.pdf', '') }}",
              "type": "string"
            },
            {
              "id": "9941b60d-a0c2-4807-96fa-340c37ae1e0f",
              "name": "texto_completo",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "9d112287-e683-4edf-801a-2c0919952b2a",
              "name": "num_paginas",
              "value": "={{ $json.numpages }}",
              "type": "string"
            },
            {
              "id": "b8ab4ff1-6786-40aa-889f-24fe5224668b",
              "name": "data_upload",
              "value": "={{ $json.createdTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        128
      ],
      "id": "4500b9af-1469-4a57-8c55-a0eb09848e7d",
      "name": "Extrair_Metadados_Processo"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        592,
        -48
      ],
      "id": "5c612867-b055-4fe6-bff7-b1eaf7ee0d1e",
      "name": "Mesclar_Dados_Fundamentacao"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23454a18-58f5-46d7-bc89-9545dda1a14a",
              "name": "processo_id",
              "value": "={{ $json.processo_id }}",
              "type": "string"
            },
            {
              "id": "f04c9f8a-85c7-4b8e-90a4-1397f460cd6e",
              "name": "numero_processo",
              "value": "={{ $json.numero_processo }}",
              "type": "string"
            },
            {
              "id": "7e92c2db-5f45-478f-a76b-a85995566570",
              "name": "num_paginas",
              "value": "={{ $json.num_paginas }}",
              "type": "string"
            },
            {
              "id": "71425559-a9c8-4f55-8205-86aa005267df",
              "name": "data_upload",
              "value": "={{ $json.data_upload }}",
              "type": "string"
            },
            {
              "id": "afae65a4-2608-4373-a4f5-cc24b494728b",
              "name": "fundamentacao",
              "value": "={{ $json.fundamentacao }}",
              "type": "string"
            },
            {
              "id": "43ea00a2-0ddc-4b59-b0fc-ba5ad25da4f7",
              "name": "data_processo",
              "value": "={{ $json.data_processo }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -48
      ],
      "id": "ccb7865b-4da0-48cf-b35f-52dcd250246a",
      "name": "Estruturar_Dados_Processo"
    },
    {
      "parameters": {
        "tableId": "processos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "processo_id",
              "fieldValue": "={{ $json.processo_id }}"
            },
            {
              "fieldId": "numero_processo",
              "fieldValue": "={{ $json.numero_processo }}"
            },
            {
              "fieldId": "num_paginas",
              "fieldValue": "={{ $json.num_paginas }}"
            },
            {
              "fieldId": "data_upload",
              "fieldValue": "={{ $json.data_upload }}"
            },
            {
              "fieldId": "fundamentacao",
              "fieldValue": "={{ $json.fundamentacao }}"
            },
            {
              "fieldId": "data_processo",
              "fieldValue": "={{ $json.data_processo }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now.setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd HH:mm:ss') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1008,
        -48
      ],
      "id": "b54750bb-9f17-490c-a302-9ccd8824d6b9",
      "name": "Salvar_Processo",
      "credentials": {
        "supabaseApi": {
          "id": "exeDVluAj4p6WpBK",
          "name": "Juridico Supabase API"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "i5OVKMghftgUsKoB",
          "mode": "list",
          "cachedResultUrl": "/workflow/i5OVKMghftgUsKoB",
          "cachedResultName": "Módulo 02 - Chunking"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "tema",
              "displayName": "tema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "texto_busca",
              "displayName": "texto_busca",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1216,
        -48
      ],
      "id": "29fa6b35-4bc8-4f37-8fa9-33df98bbb289",
      "name": "Call 'Módulo 02 - Chunking'"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const texto = $json.texto_completo;\n\n// Se não tem texto, retorna null\nif (!texto || texto.trim().replace(/\\s/g, '').length < 50) {\n  return {\n    data_processo: null,\n    fundamentacao: null,\n    erro: \"Texto não extraído ou muito curto\"\n  };\n}\n\n// 1. EXTRAIR FUNDAMENTAÇÃO (entre VOTO e Acórdão)\n// Regex corrigido: só captura ACÓRDÃO/ACORDAM quando está no início de linha\nconst regexFundamentacao = /V\\s*O\\s*T\\s*O\\s*([\\s\\S]*?)(?=^\\s*(?:A\\s*C\\s*[OÓ]\\s*R\\s*D\\s*[ÃA]\\s*[OM])\\b)/im;\nconst matchFund = texto.match(regexFundamentacao);\nlet fundamentacao = matchFund ? matchFund[1].trim() : null;\n\n// Limpar rodapés do PJE\nif (fundamentacao) {\n  fundamentacao = fundamentacao\n    .replace(/Número do processo:[\\s\\S]*?Pág\\. \\d+/gi, '')\n    .replace(/Assinado eletronicamente por:.*$/gim, '')\n    .replace(/https:\\/\\/pje\\.trt\\d*\\.jus\\.br.*$/gim, '')\n    .replace(/ID\\. [a-f0-9]+ - Pág\\. \\d+/gi, '')\n    .replace(/Fls\\.: \\d+/gi, '')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\n// 2. EXTRAIR DATA (prioridade: Julgamento > Assinatura)\nlet dataFormatada = null;\n\n// Tenta data de Julgamento primeiro\nconst regexJulgamento = /Julgamento de (\\d{2}\\/\\d{2}\\/\\d{4})/i;\nconst matchJulg = texto.match(regexJulgamento);\n\nif (matchJulg) {\n  const partes = matchJulg[1].split('/');\n  dataFormatada = `${partes[2]}-${partes[1]}-${partes[0]}`;\n}\n\n// Se não encontrou, tenta data de Assinatura\nif (!dataFormatada) {\n  const regexAssinatura = /Assinado eletronicamente.*?(\\d{2}\\/\\d{2}\\/\\d{4})/i;\n  const matchAss = texto.match(regexAssinatura);\n  \n  if (matchAss) {\n    const partes = matchAss[1].split('/');\n    dataFormatada = `${partes[2]}-${partes[1]}-${partes[0]}`;\n  }\n}\n\n// Se ainda não encontrou, tenta qualquer data no formato DD/MM/YYYY\nif (!dataFormatada) {\n  const regexData = /(\\d{2}\\/\\d{2}\\/\\d{4})/;\n  const matchData = texto.match(regexData);\n  \n  if (matchData) {\n    const partes = matchData[1].split('/');\n    dataFormatada = `${partes[2]}-${partes[1]}-${partes[0]}`;\n  }\n}\n\nreturn {\n  data_processo: dataFormatada,\n  fundamentacao: fundamentacao\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -176
      ],
      "id": "6baa9a4f-193b-4142-ad33-72901e8fa503",
      "name": "Extrair_Fundamentacao_Regex"
    }
  ],
  "connections": {
    "Trigger_Novo_PDF": {
      "main": [
        [
          {
            "node": "Listar_Todos_PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar_PDF": {
      "main": [
        [
          {
            "node": "Validar_PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair_Texto_PDF": {
      "main": [
        [
          {
            "node": "Mesclar_Arquivo_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF_Digital_ou_Escaneado": {
      "main": [
        [
          {
            "node": "Unificar Saídas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OCR_PDF_Escaneado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR_PDF_Escaneado": {
      "main": [
        [
          {
            "node": "Unificar Saídas",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Validar_PDF": {
      "main": [
        [
          {
            "node": "Extrair_Texto_PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mesclar_Arquivo_ID",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Log_Erro_PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar_Todos_PDFs": {
      "main": [
        [
          {
            "node": "Baixar_PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mesclar_Arquivo_ID": {
      "main": [
        [
          {
            "node": "PDF_Digital_ou_Escaneado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unificar Saídas": {
      "main": [
        [
          {
            "node": "Extrair_Metadados_Processo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair_Metadados_Processo": {
      "main": [
        [
          {
            "node": "Mesclar_Dados_Fundamentacao",
            "type": "main",
            "index": 1
          },
          {
            "node": "Extrair_Fundamentacao_Regex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mesclar_Dados_Fundamentacao": {
      "main": [
        [
          {
            "node": "Estruturar_Dados_Processo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estruturar_Dados_Processo": {
      "main": [
        [
          {
            "node": "Salvar_Processo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar_Processo": {
      "main": [
        [
          {
            "node": "Call 'Módulo 02 - Chunking'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair_Fundamentacao_Regex": {
      "main": [
        [
          {
            "node": "Mesclar_Dados_Fundamentacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Trigger_Novo_PDF": {
      "lastTimeChecked": "2026-03-16T19:20:42Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f39db38f-c81a-450d-8132-e2949e01aa0d",
  "activeVersionId": "f39db38f-c81a-450d-8132-e2949e01aa0d",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-18T13:52:02.244Z",
      "createdAt": "2026-01-18T13:52:02.244Z",
      "role": "workflow:owner",
      "workflowId": "k0JTvDRVymM5z3R9",
      "projectId": "SoH44tJE4dqRVTiw"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-31T19:17:10.384Z",
    "createdAt": "2026-01-31T19:17:10.384Z",
    "versionId": "f39db38f-c81a-450d-8132-e2949e01aa0d",
    "workflowId": "k0JTvDRVymM5z3R9",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1xEY6pxi2iRw-6UiViE5dEy7R6SoDeZS0",
            "mode": "list",
            "cachedResultName": "Processos Novos",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1xEY6pxi2iRw-6UiViE5dEy7R6SoDeZS0"
          },
          "event": "fileCreated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -2016,
          32
        ],
        "id": "2815048e-109f-44f8-9382-79419656d109",
        "name": "Trigger_Novo_PDF",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "cF17H5HzZzwb2Ssy",
            "name": "newton.ai API"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }} ",
            "mode": "id"
          },
          "options": {
            "binaryPropertyName": "data"
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -1568,
          32
        ],
        "id": "3a040cbd-a4f6-4b47-b970-e79047cf7eb6",
        "name": "Baixar_PDF",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "cF17H5HzZzwb2Ssy",
            "name": "newton.ai API"
          }
        }
      },
      {
        "parameters": {
          "operation": "pdf",
          "binaryPropertyName": "={{ $('Baixar_PDF').item.binary.data }}",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          -960,
          -208
        ],
        "id": "34cddc32-be9f-4d2b-bf37-f10bd91fd924",
        "name": "Extrair_Texto_PDF"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "4c6276a6-c333-4694-afd3-a820a8fa2166",
                "leftValue": "={{ $json.text.trim().length }}",
                "rightValue": 10,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -688,
          -160
        ],
        "id": "d293c0a8-39f7-487f-a6f7-b2e626c15e83",
        "name": "PDF_Digital_ou_Escaneado"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.ocr.space/parse/image",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "K88071477188957"
              }
            ]
          },
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "name": "language",
                "value": "por"
              },
              {
                "name": "OCREngine",
                "value": "2"
              },
              {
                "name": "base64Image",
                "value": "=data:application/pdf;base64,{{ $('Baixar_PDF').item.binary.data.data }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -480,
          128
        ],
        "id": "8b32bf80-141c-4ea8-99df-f851ecccae79",
        "name": "OCR_PDF_Escaneado"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "8f1c392a-019a-4330-8000-6eb5e740bd4a",
                "leftValue": "={{ $json.mimeType }}",
                "rightValue": "application/pdf",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "2aa668b0-5ef5-4cb1-837a-a009ae3d4c51",
                "leftValue": "={{ $json.size }}",
                "rightValue": "pdf",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "67c46204-690c-4f82-9451-52d31b5b5c30",
                "leftValue": "={{ $json.trashed }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1328,
          32
        ],
        "id": "71c45424-eacd-4fa9-89f3-39ed99569e8c",
        "name": "Validar_PDF"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M",
            "mode": "list",
            "cachedResultName": "Contas a Pagar - Automação",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1534141160,
            "mode": "list",
            "cachedResultName": "Log_Erros_PDF",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M/edit#gid=1534141160"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "data_hora": "={{ $now.format('dd/MM/yyyy HH:mm:ss') }}",
              "arquivo_nome": "={{ $json.name }}",
              "arquivo_id": "={{ $json.id }}",
              "motivo_erro": "Arquivo inválido: não é PDF, está vazio ou na lixeira",
              "tamanho_bytes": "={{ $json.size }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "data_hora",
                "displayName": "data_hora",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "arquivo_nome",
                "displayName": "arquivo_nome",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "arquivo_id",
                "displayName": "arquivo_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "motivo_erro",
                "displayName": "motivo_erro",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "tamanho_bytes",
                "displayName": "tamanho_bytes",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -1104,
          192
        ],
        "id": "f34a4d63-450c-4ce2-8ac8-5ea7a42b1a71",
        "name": "Log_Erro_PDF",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "RruWc6BrI8tF2hiO",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -272,
          -16
        ],
        "id": "af5b90ee-9819-43be-88ec-4af72c04890e",
        "name": "Unificar Saídas"
      },
      {
        "parameters": {
          "resource": "fileFolder",
          "searchMethod": "query",
          "queryString": "'1xEY6pxi2iRw-6UiViE5dEy7R6SoDeZS0' in parents and mimeType='application/pdf' and trashed=false",
          "limit": 100,
          "filter": {},
          "options": {
            "fields": [
              "*"
            ]
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -1808,
          32
        ],
        "id": "066d5b61-a264-400d-848c-da16326880c0",
        "name": "Listar_Todos_PDFs",
        "executeOnce": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "cF17H5HzZzwb2Ssy",
            "name": "newton.ai API"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -960,
          48
        ],
        "id": "2fed0f88-9732-4f2e-9ae5-dfcca2a7b1bd",
        "name": "Mesclar_Arquivo_ID"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a9a41b5d-bd59-4191-b7a4-79a8e540e2a4",
                "name": "processo_id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "0b557b49-2b93-4267-9b91-7b26010b4243",
                "name": "numero_processo",
                "value": "={{ $json.name.replace('.pdf', '') }}",
                "type": "string"
              },
              {
                "id": "9941b60d-a0c2-4807-96fa-340c37ae1e0f",
                "name": "texto_completo",
                "value": "={{ $json.text }}",
                "type": "string"
              },
              {
                "id": "9d112287-e683-4edf-801a-2c0919952b2a",
                "name": "num_paginas",
                "value": "={{ $json.numpages }}",
                "type": "string"
              },
              {
                "id": "b8ab4ff1-6786-40aa-889f-24fe5224668b",
                "name": "data_upload",
                "value": "={{ $json.createdTime }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -64,
          128
        ],
        "id": "4500b9af-1469-4a57-8c55-a0eb09848e7d",
        "name": "Extrair_Metadados_Processo"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          592,
          -48
        ],
        "id": "5c612867-b055-4fe6-bff7-b1eaf7ee0d1e",
        "name": "Mesclar_Dados_Fundamentacao"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "23454a18-58f5-46d7-bc89-9545dda1a14a",
                "name": "processo_id",
                "value": "={{ $json.processo_id }}",
                "type": "string"
              },
              {
                "id": "f04c9f8a-85c7-4b8e-90a4-1397f460cd6e",
                "name": "numero_processo",
                "value": "={{ $json.numero_processo }}",
                "type": "string"
              },
              {
                "id": "7e92c2db-5f45-478f-a76b-a85995566570",
                "name": "num_paginas",
                "value": "={{ $json.num_paginas }}",
                "type": "string"
              },
              {
                "id": "71425559-a9c8-4f55-8205-86aa005267df",
                "name": "data_upload",
                "value": "={{ $json.data_upload }}",
                "type": "string"
              },
              {
                "id": "afae65a4-2608-4373-a4f5-cc24b494728b",
                "name": "fundamentacao",
                "value": "={{ $json.fundamentacao }}",
                "type": "string"
              },
              {
                "id": "43ea00a2-0ddc-4b59-b0fc-ba5ad25da4f7",
                "name": "data_processo",
                "value": "={{ $json.data_processo }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          800,
          -48
        ],
        "id": "ccb7865b-4da0-48cf-b35f-52dcd250246a",
        "name": "Estruturar_Dados_Processo"
      },
      {
        "parameters": {
          "tableId": "processos",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "processo_id",
                "fieldValue": "={{ $json.processo_id }}"
              },
              {
                "fieldId": "numero_processo",
                "fieldValue": "={{ $json.numero_processo }}"
              },
              {
                "fieldId": "num_paginas",
                "fieldValue": "={{ $json.num_paginas }}"
              },
              {
                "fieldId": "data_upload",
                "fieldValue": "={{ $json.data_upload }}"
              },
              {
                "fieldId": "fundamentacao",
                "fieldValue": "={{ $json.fundamentacao }}"
              },
              {
                "fieldId": "data_processo",
                "fieldValue": "={{ $json.data_processo }}"
              },
              {
                "fieldId": "created_at",
                "fieldValue": "={{ $now.setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd HH:mm:ss') }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1008,
          -48
        ],
        "id": "b54750bb-9f17-490c-a302-9ccd8824d6b9",
        "name": "Salvar_Processo",
        "credentials": {
          "supabaseApi": {
            "id": "exeDVluAj4p6WpBK",
            "name": "Juridico Supabase API"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "i5OVKMghftgUsKoB",
            "mode": "list",
            "cachedResultUrl": "/workflow/i5OVKMghftgUsKoB",
            "cachedResultName": "Módulo 02 - Chunking"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [
              {
                "id": "tema",
                "displayName": "tema",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "texto_busca",
                "displayName": "texto_busca",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1216,
          -48
        ],
        "id": "29fa6b35-4bc8-4f37-8fa9-33df98bbb289",
        "name": "Call 'Módulo 02 - Chunking'"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const texto = $json.texto_completo;\n\n// Se não tem texto, retorna null\nif (!texto || texto.trim().replace(/\\s/g, '').length < 50) {\n  return {\n    data_processo: null,\n    fundamentacao: null,\n    erro: \"Texto não extraído ou muito curto\"\n  };\n}\n\n// 1. EXTRAIR FUNDAMENTAÇÃO (entre VOTO e Acórdão)\n// Regex corrigido: só captura ACÓRDÃO/ACORDAM quando está no início de linha\nconst regexFundamentacao = /V\\s*O\\s*T\\s*O\\s*([\\s\\S]*?)(?=^\\s*(?:A\\s*C\\s*[OÓ]\\s*R\\s*D\\s*[ÃA]\\s*[OM])\\b)/im;\nconst matchFund = texto.match(regexFundamentacao);\nlet fundamentacao = matchFund ? matchFund[1].trim() : null;\n\n// Limpar rodapés do PJE\nif (fundamentacao) {\n  fundamentacao = fundamentacao\n    .replace(/Número do processo:[\\s\\S]*?Pág\\. \\d+/gi, '')\n    .replace(/Assinado eletronicamente por:.*$/gim, '')\n    .replace(/https:\\/\\/pje\\.trt\\d*\\.jus\\.br.*$/gim, '')\n    .replace(/ID\\. [a-f0-9]+ - Pág\\. \\d+/gi, '')\n    .replace(/Fls\\.: \\d+/gi, '')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\n// 2. EXTRAIR DATA (prioridade: Julgamento > Assinatura)\nlet dataFormatada = null;\n\n// Tenta data de Julgamento primeiro\nconst regexJulgamento = /Julgamento de (\\d{2}\\/\\d{2}\\/\\d{4})/i;\nconst matchJulg = texto.match(regexJulgamento);\n\nif (matchJulg) {\n  const partes = matchJulg[1].split('/');\n  dataFormatada = `${partes[2]}-${partes[1]}-${partes[0]}`;\n}\n\n// Se não encontrou, tenta data de Assinatura\nif (!dataFormatada) {\n  const regexAssinatura = /Assinado eletronicamente.*?(\\d{2}\\/\\d{2}\\/\\d{4})/i;\n  const matchAss = texto.match(regexAssinatura);\n  \n  if (matchAss) {\n    const partes = matchAss[1].split('/');\n    dataFormatada = `${partes[2]}-${partes[1]}-${partes[0]}`;\n  }\n}\n\n// Se ainda não encontrou, tenta qualquer data no formato DD/MM/YYYY\nif (!dataFormatada) {\n  const regexData = /(\\d{2}\\/\\d{2}\\/\\d{4})/;\n  const matchData = texto.match(regexData);\n  \n  if (matchData) {\n    const partes = matchData[1].split('/');\n    dataFormatada = `${partes[2]}-${partes[1]}-${partes[0]}`;\n  }\n}\n\nreturn {\n  data_processo: dataFormatada,\n  fundamentacao: fundamentacao\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          -176
        ],
        "id": "6baa9a4f-193b-4142-ad33-72901e8fa503",
        "name": "Extrair_Fundamentacao_Regex"
      }
    ],
    "connections": {
      "Trigger_Novo_PDF": {
        "main": [
          [
            {
              "node": "Listar_Todos_PDFs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Baixar_PDF": {
        "main": [
          [
            {
              "node": "Validar_PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extrair_Texto_PDF": {
        "main": [
          [
            {
              "node": "Mesclar_Arquivo_ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PDF_Digital_ou_Escaneado": {
        "main": [
          [
            {
              "node": "Unificar Saídas",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "OCR_PDF_Escaneado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OCR_PDF_Escaneado": {
        "main": [
          [
            {
              "node": "Unificar Saídas",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Validar_PDF": {
        "main": [
          [
            {
              "node": "Extrair_Texto_PDF",
              "type": "main",
              "index": 0
            },
            {
              "node": "Mesclar_Arquivo_ID",
              "type": "main",
              "index": 1
            }
          ],
          [
            {
              "node": "Log_Erro_PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Listar_Todos_PDFs": {
        "main": [
          [
            {
              "node": "Baixar_PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mesclar_Arquivo_ID": {
        "main": [
          [
            {
              "node": "PDF_Digital_ou_Escaneado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Unificar Saídas": {
        "main": [
          [
            {
              "node": "Extrair_Metadados_Processo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extrair_Metadados_Processo": {
        "main": [
          [
            {
              "node": "Mesclar_Dados_Fundamentacao",
              "type": "main",
              "index": 1
            },
            {
              "node": "Extrair_Fundamentacao_Regex",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mesclar_Dados_Fundamentacao": {
        "main": [
          [
            {
              "node": "Estruturar_Dados_Processo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Estruturar_Dados_Processo": {
        "main": [
          [
            {
              "node": "Salvar_Processo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Salvar_Processo": {
        "main": [
          [
            {
              "node": "Call 'Módulo 02 - Chunking'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extrair_Fundamentacao_Regex": {
        "main": [
          [
            {
              "node": "Mesclar_Dados_Fundamentacao",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}