workflows/M_dulo_2_-_Gerar_CNAB.json
{
  "updatedAt": "2026-02-05T00:39:54.999Z",
  "createdAt": "2026-01-15T11:23:13.072Z",
  "id": "z7YlpAflvgCoCZ9H",
  "name": "Módulo 2 - Gerar CNAB",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M",
          "mode": "list",
          "cachedResultName": "Contas a Pagar - Automação",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1827225322,
          "mode": "list",
          "cachedResultName": "Contas a Pagar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M/edit#gid=1827225322"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "aprovado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1552,
        -48
      ],
      "id": "aeb4f27b-8c17-4bd6-ae14-f04c9291b54b",
      "name": "Buscar_Contas_Pagar",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RruWc6BrI8tF2hiO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Tipo }}",
                    "rightValue": "boleto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9fcb9410-424f-40f4-993c-202d4ed3c207"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Boleto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "45cb86a0-9792-42d2-a590-df6d1e2e66be",
                    "leftValue": "={{ $json.Tipo }}",
                    "rightValue": "ted",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "893394f8-f190-4c87-8fdb-01113e193aef",
                    "leftValue": "={{ $json.Tipo }}",
                    "rightValue": "concessionaria",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Concessionaria"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1104,
        144
      ],
      "id": "9f3ac0d8-e26e-48d2-8aa7-290346683f5d",
      "name": "Separar_Por_Tipo"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "contas_a_pagar",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.ID }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -880,
        -384
      ],
      "id": "fade7654-63f4-41ea-99e3-9c95ea2dcf66",
      "name": "Buscar_Dados_Boleto",
      "credentials": {
        "supabaseApi": {
          "id": "OP3IGsLO3LJ2h9JA",
          "name": "Supabase Accounting Payables"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "contas_a_pagar",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.ID }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -752,
        96
      ],
      "id": "e546b5da-052b-4aff-9391-83299d3accb6",
      "name": "Buscar_Dados_Ted",
      "credentials": {
        "supabaseApi": {
          "id": "OP3IGsLO3LJ2h9JA",
          "name": "Supabase Accounting Payables"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "contas_a_pagar",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.ID }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -800,
        480
      ],
      "id": "aabb8769-a32a-4ee4-b67d-0ac703af92c2",
      "name": "Buscar_Dados_Concessionaria",
      "credentials": {
        "supabaseApi": {
          "id": "OP3IGsLO3LJ2h9JA",
          "name": "Supabase Accounting Payables"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Gera registros CNAB 240 para Boletos (Segmento J e J-52)\nconst items = $input.all();\nconst registros = [];\n\nlet sequencial = 1;\n\n// Função para converter linha digitável (47 dígitos) em código de barras (44 dígitos)\nfunction linhaDigitavelParaCodigoBarras(linha) {\n  linha = linha.replace(/[\\s.]/g, '');\n  \n  if (linha.length === 44) {\n    return linha;\n  }\n  \n  if (linha.length === 47) {\n    const bancoMoeda = linha.substring(0, 4);      // Pos 1-4\n    const campoLivre1 = linha.substring(4, 9);     // Pos 5-9 (5 dígitos)\n    // Pos 10 = DV (pular)\n    const campoLivre2 = linha.substring(10, 20);   // Pos 11-20 (10 dígitos)\n    // Pos 21 = DV (pular)\n    const campoLivre3 = linha.substring(21, 31);   // Pos 22-31 (10 dígitos)\n    // Pos 32 = DV (pular)\n    const dvGeral = linha.substring(32, 33);       // Pos 33 (1 dígito)\n    const fatorVenc = linha.substring(33, 37);     // Pos 34-37 (4 dígitos)\n    const valor = linha.substring(37, 47);         // Pos 38-47 (10 dígitos)\n    \n    return bancoMoeda + dvGeral + fatorVenc + valor + campoLivre1 + campoLivre2 + campoLivre3;\n  }\n  \n  return linha.padEnd(44, ' ');\n}\n\nfor (const item of items) {\n  const dados = item.json;\n  const linhaDigitavel = dados.codigo_barras || '';\n  const codigoBarras = linhaDigitavelParaCodigoBarras(linhaDigitavel);\n  const valor = Math.round((dados.valor || 0) * 100);\n  \n  let vencimentoFormatado = '00000000';\n  if (dados.vencimento) {\n    const partes = dados.vencimento.split('-');\n    if (partes.length === 3) {\n      vencimentoFormatado = partes[2] + partes[1] + partes[0];\n    }\n  }\n  \n  const nomeCedente = (dados.nome_cedente_original || '').substring(0, 30).padEnd(30, ' ');\n  \n  const hoje = new Date();\n  const dataPagamento = String(hoje.getDate()).padStart(2, '0') + \n                        String(hoje.getMonth() + 1).padStart(2, '0') + \n                        String(hoje.getFullYear());\n  \n  const segmentoJ = [\n    '745',\n    '0001',\n    '3',\n    String(sequencial).padStart(5, '0'),\n    'J',\n    '0',\n    '00',\n    codigoBarras,\n    nomeCedente,\n    vencimentoFormatado,\n    String(valor).padStart(15, '0'),\n    String(0).padStart(15, '0'),\n    String(0).padStart(15, '0'),\n    dataPagamento,\n    String(valor).padStart(15, '0'),\n    String(0).padStart(15, '0'),\n    ''.padEnd(20, ' '),\n    ''.padEnd(20, ' '),\n    '09',\n    ''.padEnd(6, ' '),\n    ''.padEnd(10, ' ')\n  ].join('');\n  \n  sequencial++;\n  \n  const cnpjBeneficiario = (dados.cnpj_cedente_original || '').replace(/\\D/g, '').padStart(14, '0');\n  \n  const segmentoJ52 = [\n    '745',\n    '0001',\n    '3',\n    String(sequencial).padStart(5, '0'),\n    'J',\n    ' ',\n    '00',\n    '52',\n    '2',\n    '05385049000123'.padStart(15, '0'),\n    'AIR CANADA'.padEnd(40, ' '),\n    '2',\n    cnpjBeneficiario.padStart(15, '0'),\n    nomeCedente.padEnd(40, ' '),\n    '0',\n    ''.padStart(15, '0'),\n    ''.padEnd(40, ' '),\n    ''.padEnd(53, ' ')\n  ].join('');\n  \n  sequencial++;\n  \n  registros.push({\n    id: dados.id,\n    tipo: 'boleto',\n    linhaDigitavelOriginal: linhaDigitavel,\n    codigoBarrasGerado: codigoBarras,\n    codigoBarrasLength: codigoBarras.length,\n    segmentoJ: segmentoJ,\n    segmentoJLength: segmentoJ.length,\n    segmentoJ52: segmentoJ52,\n    segmentoJ52Length: segmentoJ52.length,\n    sequencialFinal: sequencial - 1,\n    valor: dados.valor\n  });\n}\n\nreturn registros.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -320
      ],
      "id": "4262ca62-dea2-4e3a-9826-46acf852f39d",
      "name": "Gerar_Registro_Boleto"
    },
    {
      "parameters": {
        "jsCode": "// Gera Header de Lote para Boletos (Registro Tipo 1)\nconst items = $input.all();\n\n// Header de Lote - Tipo 1 (240 posições)\nconst headerLote = [\n  '745',                                            // 001-003: Banco Citibank\n  '0001',                                           // 004-007: Lote de serviço\n  '1',                                              // 008: Tipo de registro (1=Header Lote)\n  'C',                                              // 009: Tipo de operação (C=Crédito)\n  '20',                                             // 010-011: Tipo de serviço (20=Pagto Fornecedor)\n  '31',                                             // 012-013: Forma de lançamento (31=Títulos Terceiros)\n  '031',                                            // 014-016: Layout do lote\n  ' ',                                              // 017: Brancos\n  '2',                                              // 018: Tipo inscrição empresa (2=CNPJ)\n  '05385049000123',                                 // 019-032: CNPJ Air Canada (14)\n  ''.padEnd(20, ' '),                               // 033-052: Código convênio (20)\n  '00001',                                          // 053-057: Agência (5)\n  ' ',                                              // 058: Dígito agência (1)\n  '000112353011',                                   // 059-070: Conta (12)\n  ' ',                                              // 071: Dígito conta (1)\n  ' ',                                              // 072: Dígito ag/conta (1)\n  'AIR CANADA'.padEnd(30, ' '),                     // 073-102: Nome empresa (30)\n  ''.padEnd(40, ' '),                               // 103-142: Informação 1 (40)\n  'AV. Paulista, 949 13  Andar'.padEnd(30, ' '),    // 143-172: Endereço (30)\n  '00949',                                          // 173-177: Número (5)\n  '13  Andar'.padEnd(15, ' '),                      // 178-192: Complemento (15)\n  'Sao Paulo'.padEnd(20, ' '),                      // 193-212: Cidade (20)\n  '01311',                                          // 213-217: CEP (5)\n  '100',                                            // 218-220: Complemento CEP (3)\n  'SP',                                             // 221-222: Estado (2)\n  ''.padEnd(8, ' '),                                // 223-230: Brancos (8)\n  ''.padEnd(10, ' ')                                // 231-240: Ocorrências (10)\n].join('');\n\n// Retorna o header + todos os registros de detalhe\nconst registrosDetalhe = items.map(item => item.json);\n\nreturn [{ \n  json: {\n    headerLote: headerLote,\n    headerLoteLength: headerLote.length,\n    registros: registrosDetalhe,\n    qtdRegistros: registrosDetalhe.length,\n    somaValores: registrosDetalhe.reduce((sum, r) => sum + (r.valor || 0), 0)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -320
      ],
      "id": "8c171de0-ba74-4a7c-99a8-b33ee8b6979b",
      "name": "Gerar_Header_Lote_Boleto"
    },
    {
      "parameters": {
        "jsCode": "// Gera Trailer de Lote para Boletos (Registro Tipo 5)\nconst dados = $input.first().json;\n\n// Quantidade de registros no lote:\n// 1 (header) + registros detalhe (cada boleto = 2: segmento J + J52) + 1 (trailer)\nconst qtdRegistrosDetalhe = dados.registros.length * 2; // J + J52 por boleto\nconst qtdTotalLote = 1 + qtdRegistrosDetalhe + 1; // header + detalhes + trailer\n\n// Soma dos valores (em centavos)\nconst somaValores = Math.round(dados.somaValores * 100);\n\n// Trailer de Lote - Tipo 5 (240 posições)\nconst trailerLote = [\n  '745',                                            // 001-003: Banco Citibank\n  '0001',                                           // 004-007: Lote de serviço\n  '5',                                              // 008: Tipo de registro (5=Trailer Lote)\n  ''.padEnd(9, ' '),                                // 009-017: Brancos FEBRABAN\n  String(qtdTotalLote).padStart(6, '0'),            // 018-023: Quantidade de registros no lote\n  String(somaValores).padStart(18, '0'),            // 024-041: Somatória dos valores\n  ''.padStart(18, '0'),                             // 042-059: Quantidade de moedas (zeros)\n  ''.padStart(6, '0'),                              // 060-065: Número aviso débito (zeros)\n  ''.padEnd(165, ' '),                              // 066-230: Brancos\n  ''.padEnd(10, ' ')                                // 231-240: Ocorrências\n].join('');\n\nreturn [{ \n  json: {\n    ...dados,\n    trailerLote: trailerLote,\n    trailerLoteLength: trailerLote.length,\n    qtdTotalLote: qtdTotalLote\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -320
      ],
      "id": "776d2a76-14d4-402c-8d13-723b1f9e7299",
      "name": "Gerar_Trailer_Lote_Boleto"
    },
    {
      "parameters": {
        "jsCode": "// Monta o arquivo CNAB completo com múltiplos lotes\nconst lotes = $input.all();\n\n// Arrays para armazenar todas as linhas\nconst linhas = [];\nlet qtdLotes = 0;\nlet qtdRegistrosTotal = 0;\nconst idsProcessados = [];\nlet valorTotal = 0;\n\n// Data e hora de geração (São Paulo - UTC-3)\nconst agora = new Date();\nconst saoPauloOffset = -3 * 60;\nconst saoPauloTime = new Date(agora.getTime() + (saoPauloOffset - agora.getTimezoneOffset()) * 60000);\n\nconst hoje = saoPauloTime;\nconst dataGeracao = String(hoje.getDate()).padStart(2, '0') + \n                    String(hoje.getMonth() + 1).padStart(2, '0') + \n                    String(hoje.getFullYear());\nconst horaGeracao = String(hoje.getHours()).padStart(2, '0') + \n                    String(hoje.getMinutes()).padStart(2, '0') + \n                    String(hoje.getSeconds()).padStart(2, '0');\n\n// NSA - Número Sequencial do Arquivo\nconst nsa = '000000';\n\n// 1. Header de Arquivo (tipo 0)\nconst headerArquivo = [\n  '745',                                            // 001-003: Banco Citibank\n  '0000',                                           // 004-007: Lote (0000 para header arquivo)\n  '0',                                              // 008: Tipo de registro (0=Header Arquivo)\n  ''.padEnd(9, ' '),                                // 009-017: Brancos FEBRABAN\n  '2',                                              // 018: Tipo inscrição empresa (2=CNPJ)\n  '05385049000123',                                 // 019-032: CNPJ Air Canada (14)\n  ''.padEnd(20, ' '),                               // 033-052: Código convênio (20)\n  '00001',                                          // 053-057: Agência (5)\n  ' ',                                              // 058: Dígito agência (1)\n  '000112353011',                                   // 059-070: Conta (12)\n  ' ',                                              // 071: Dígito conta (1)\n  ' ',                                              // 072: Dígito ag/conta (1)\n  'AIR CANADA'.padEnd(30, ' '),                     // 073-102: Nome empresa (30)\n  'CITIBANK'.padEnd(30, ' '),                       // 103-132: Nome do banco (30)\n  ''.padEnd(10, ' '),                               // 133-142: Brancos FEBRABAN\n  '1',                                              // 143: Código remessa (1=Remessa)\n  dataGeracao,                                      // 144-151: Data geração (DDMMAAAA)\n  horaGeracao,                                      // 152-157: Hora geração (HHMMSS)\n  nsa,                                              // 158-163: NSA (6)\n  '060',                                            // 164-166: Layout do arquivo\n  '00000',                                          // 167-171: Densidade (zeros)\n  ''.padEnd(20, ' '),                               // 172-191: Reservado banco\n  ''.padEnd(20, ' '),                               // 192-211: Reservado empresa\n  ''.padEnd(29, ' ')                                // 212-240: Brancos FEBRABAN\n].join('');\n\nlinhas.push(headerArquivo);\nqtdRegistrosTotal++;\n\n// 2. Processar cada lote (Boleto, TED, Concessionária)\nfor (const lote of lotes) {\n  const dados = lote.json;\n  qtdLotes++;\n  \n  // Header do Lote\n  linhas.push(dados.headerLote);\n  qtdRegistrosTotal++;\n  \n  // Registros de Detalhe\n  for (const registro of dados.registros) {\n    // Boleto: Segmento J + J52\n    if (registro.tipo === 'boleto') {\n      linhas.push(registro.segmentoJ);\n      linhas.push(registro.segmentoJ52);\n      qtdRegistrosTotal += 2;\n    }\n    // TED: Segmento A + B\n    else if (registro.tipo === 'ted') {\n      linhas.push(registro.segmentoA);\n      linhas.push(registro.segmentoB);\n      qtdRegistrosTotal += 2;\n    }\n    // Concessionária: Segmento O\n    else if (registro.tipo === 'concessionaria') {\n      linhas.push(registro.segmentoO);\n      qtdRegistrosTotal += 1;\n    }\n    \n    idsProcessados.push(registro.id);\n    valorTotal += registro.valor || 0;\n  }\n  \n  // Trailer do Lote\n  linhas.push(dados.trailerLote);\n  qtdRegistrosTotal++;\n}\n\n// 3. Trailer de Arquivo (tipo 9)\nqtdRegistrosTotal++; // Incluir o próprio trailer na contagem\n\nconst trailerArquivo = [\n  '745',                                            // 001-003: Banco Citibank\n  '9999',                                           // 004-007: Lote (9999 para trailer arquivo)\n  '9',                                              // 008: Tipo de registro (9=Trailer Arquivo)\n  ''.padEnd(9, ' '),                                // 009-017: Brancos FEBRABAN\n  String(qtdLotes).padStart(6, '0'),                // 018-023: Quantidade de lotes\n  String(qtdRegistrosTotal).padStart(6, '0'),       // 024-029: Quantidade de registros\n  ''.padStart(6, '0'),                              // 030-035: Quantidade de contas (zeros)\n  ''.padEnd(205, ' ')                               // 036-240: Brancos\n].join('');\n\nlinhas.push(trailerArquivo);\n\n// Montar arquivo completo\nconst arquivoCompleto = linhas.join('\\n');\n\n// Gerar nome do arquivo\nconst horaArquivo = String(hoje.getHours()).padStart(2, '0') + \n                    String(hoje.getMinutes()).padStart(2, '0');\nconst nomeArquivo = `CNAB240_${dataGeracao}_${horaArquivo}.txt`;\n\nreturn [{ \n  json: {\n    arquivoCompleto: arquivoCompleto,\n    nomeArquivo: nomeArquivo,\n    qtdLinhas: linhas.length,\n    qtdLotes: qtdLotes,\n    idsProcessados: idsProcessados,\n    valorTotal: valorTotal\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        -32
      ],
      "id": "a37ce303-2fd0-4040-972a-1adac2292c6c",
      "name": "Montar_Arquivo_CNAB"
    },
    {
      "parameters": {
        "jsCode": "// Prepara o arquivo para salvar no Google Drive\nconst dados = $input.first().json;\n\n// Converte o conteúdo para binário\nconst conteudo = dados.arquivoCompleto;\n\n// Criar item com binary data\nconst newItem = {\n  json: {\n    nomeArquivo: dados.nomeArquivo,\n    idsProcessados: dados.idsProcessados,\n    valorTotal: dados.valorTotal,\n    qtdLinhas: dados.qtdLinhas\n  },\n  binary: {\n    data: await this.helpers.prepareBinaryData(\n      Buffer.from(conteudo, 'utf-8'),\n      dados.nomeArquivo,\n      'text/plain'\n    )\n  }\n};\n\nreturn [newItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        -32
      ],
      "id": "67138a98-bac4-4fb4-a873-0cd26aacd20c",
      "name": "Criar_Arquivo_CNAB"
    },
    {
      "parameters": {
        "name": "={{ $json.nomeArquivo }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1oO3mgttUO72i7AA6FQUYs3AvUC10MEqF",
          "mode": "list",
          "cachedResultName": "Remessas Citibank",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1oO3mgttUO72i7AA6FQUYs3AvUC10MEqF"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1584,
        -32
      ],
      "id": "048d74fe-44f3-48d2-9538-50e8511b21ab",
      "name": "Salvar_Google_Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QYTP43NGTGZiDumY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contas_a_pagar",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "enviado"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2000,
        -32
      ],
      "id": "f2be62df-f2ac-4f85-8491-0bc76a073d29",
      "name": "Atualizar_Status_Contas",
      "credentials": {
        "supabaseApi": {
          "id": "OP3IGsLO3LJ2h9JA",
          "name": "Supabase Accounting Payables"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1629388-c810-440c-962a-8c33af3a272d",
              "leftValue": "={{ $json.Pagar?.toUpperCase() }}",
              "rightValue": "X",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1344,
        -48
      ],
      "id": "8c98cf4c-4bf7-4e39-9626-a1c06af7e515",
      "name": "Filtrar_Pagar"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Salva os dados da conta no item para usar depois\nconst conta = $json;\n\nreturn {\n  // Dados da conta (prefixados)\n  conta_id: conta.id,\n  conta_valor: conta.valor,\n  conta_vencimento: conta.vencimento,\n  conta_descricao: conta.descricao,\n  // Passa o fornecedor_id para o próximo nó buscar\n  fornecedor_id: conta.fornecedor_id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        96
      ],
      "id": "48b901bc-2cf4-4d45-a9f1-011fbb791e48",
      "name": "Preparar_TED"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "fornecedores",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.fornecedor_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -336,
        96
      ],
      "id": "25457e1e-ff64-46d8-8003-798c26efe641",
      "name": "Buscar_Fornecedor_TED",
      "credentials": {
        "supabaseApi": {
          "id": "OP3IGsLO3LJ2h9JA",
          "name": "Supabase Accounting Payables"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fornecedores = $input.all();\nconst contas = $('Preparar_TED').all();\nconst resultados = [];\n\nfor (let i = 0; i < fornecedores.length; i++) {\n  const fornecedor = fornecedores[i].json;\n  const contaDados = contas[i]?.json || {};\n  \n  resultados.push({\n    json: {\n      conta_id: contaDados.conta_id,\n      valor: contaDados.conta_valor,\n      vencimento: contaDados.conta_vencimento,\n      descricao: contaDados.conta_descricao,\n      fornecedor_nome: fornecedor.nome,\n      fornecedor_cnpj: fornecedor.cnpj,\n      fornecedor_cpf: fornecedor.cpf,\n      fornecedor_tipo: fornecedor.tipo,\n      fornecedor_banco: fornecedor.banco,\n      fornecedor_agencia: fornecedor.agencia,\n      fornecedor_conta: fornecedor.conta,\n      fornecedor_tipo_conta: fornecedor.tipo_conta\n    }\n  });\n}\n\nreturn resultados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        96
      ],
      "id": "d010c72c-dac6-4617-bbc9-3e6c620a5335",
      "name": "Combinar_TED"
    },
    {
      "parameters": {
        "jsCode": "// Gera registros CNAB 240 para TED (Segmento A e B)\nconst items = $input.all();\nconst registros = [];\n\nlet sequencial = 1;\n\nfor (const item of items) {\n  const dados = item.json;\n  \n  const valor = Math.round((dados.valor || 0) * 100);\n  \n  let dataPagamento = '00000000';\n  if (dados.vencimento) {\n    const partes = dados.vencimento.split('-');\n    if (partes.length === 3) {\n      dataPagamento = partes[2] + partes[1] + partes[0];\n    }\n  }\n  \n  // Dados do fornecedor\n  const bancoFavorecido = (dados.fornecedor_banco || '').padStart(3, '0');\n  \n  // Agência: remover não numéricos, 5 posições\n  const agenciaLimpa = (dados.fornecedor_agencia || '').replace(/\\D/g, '');\n  const agencia = agenciaLimpa.padStart(5, '0');\n  const agenciaDigito = ' '; // Se não tiver dígito separado\n  \n  // Conta: separar número e dígito\n  const contaOriginal = (dados.fornecedor_conta || '');\n  let contaNumero = '';\n  let contaDigito = ' ';\n  \n  if (contaOriginal.includes('-')) {\n    const partesConta = contaOriginal.split('-');\n    contaNumero = partesConta[0].replace(/\\D/g, '').padStart(12, '0');\n    contaDigito = partesConta[1] || ' ';\n  } else {\n    contaNumero = contaOriginal.replace(/\\D/g, '').padStart(12, '0');\n  }\n  \n  // Nome em MAIÚSCULO\n  const nomeFavorecido = (dados.fornecedor_nome || '').toUpperCase().substring(0, 30).padEnd(30, ' ');\n  \n  // Tipo de inscrição: 1=CPF, 2=CNPJ\n  const tipoInscricao = dados.fornecedor_tipo === 'pf' ? '1' : '2';\n  const inscricao = (dados.fornecedor_cnpj || dados.fornecedor_cpf || '').replace(/\\D/g, '').padStart(14, '0');\n  \n  // Seu número (identificador)\n  const seuNumero = ''.padEnd(20, ' ');\n  \n  // Segmento A - Layout correto conforme arquivo válido\n  const segmentoA = [\n    '745',                                            // 001-003: Banco Citibank\n    '0002',                                           // 004-007: Lote\n    '3',                                              // 008: Tipo registro\n    String(sequencial).padStart(5, '0'),              // 009-013: Sequencial\n    'A',                                              // 014: Segmento\n    '0',                                              // 015: Tipo movimento\n    '00',                                             // 016-017: Código instrução\n    '018',                                            // 018-020: Câmara (018=TED)\n    bancoFavorecido,                                  // 021-023: Banco favorecido (3)\n    agencia,                                          // 024-028: Agência (5)\n    agenciaDigito,                                    // 029: Dígito agência (1)\n    contaNumero,                                      // 030-041: Conta (12)\n    contaDigito,                                      // 042: Dígito conta (1)\n    ' ',                                              // 043: Dígito ag/conta (1)\n    nomeFavorecido,                                   // 044-073: Nome favorecido (30)\n    seuNumero,                                        // 074-093: Seu número (20)\n    dataPagamento,                                    // 094-101: Data pagamento (8)\n    'BRL',                                            // 102-104: Moeda (3)\n    ''.padStart(15, '0'),                             // 105-119: Quantidade moeda (15)\n    String(valor).padStart(15, '0'),                  // 120-134: Valor pagamento (15)\n    ''.padEnd(20, ' '),                               // 135-154: Nosso número (20)\n    ''.padStart(15, '0'),                             // 155-169: Zeros (15)\n    ''.padEnd(5, ' '),                                // 170-174: Brancos (5)\n    ''.padEnd(5, '0'),                                // 175-179: Zeros (5)\n    ''.padEnd(5, ' '),                                // 180-184: Brancos (5)\n    ''.padEnd(1, ' '),                                // 185: Branco (1)\n    ''.padEnd(44, ' '),                               // 186-229: Brancos (44)\n    '0'.padEnd(10, ' ')                               // 230-240: Ocorrências (10) - ajustar se necessário\n  ].join('');\n  \n  sequencial++;\n  \n  // Segmento B permanece igual\n  const segmentoB = [\n    '745',\n    '0002',\n    '3',\n    String(sequencial).padStart(5, '0'),\n    'B',\n    '   ',\n    tipoInscricao,\n    inscricao,\n    ''.padEnd(30, ' '),\n    ''.padEnd(5, ' '),\n    ''.padEnd(15, ' '),\n    ''.padEnd(15, ' '),\n    ''.padEnd(20, ' '),\n    ''.padEnd(8, ' '),\n    ''.padEnd(2, ' '),\n    dataPagamento,\n    String(valor).padStart(15, '0'),\n    ''.padStart(15, '0'),\n    ''.padStart(15, '0'),\n    ''.padStart(15, '0'),\n    ''.padStart(15, '0'),\n    ''.padEnd(15, ' '),\n    ''.padStart(7, '0'),\n    ''.padEnd(8, ' ')\n  ].join('');\n  \n  sequencial++;\n  \n  registros.push({\n    id: dados.conta_id,\n    tipo: 'ted',\n    segmentoA: segmentoA,\n    segmentoB: segmentoB,\n    segmentoALength: segmentoA.length,\n    segmentoBLength: segmentoB.length,\n    sequencialFinal: sequencial - 1,\n    valor: dados.valor\n  });\n}\n\nreturn registros.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        320
      ],
      "id": "5f0d0677-f474-476b-9d85-bf8df2fe1340",
      "name": "Gerar_Registro_TED"
    },
    {
      "parameters": {
        "jsCode": "// Gera Header de Lote para TED (Registro Tipo 1)\nconst items = $input.all();\n\n// Header de Lote TED - Tipo 1 (240 posições)\n// Baseado na linha 8 do arquivo real\nconst headerLote = [\n  '745',                                            // 001-003: Banco Citibank\n  '0002',                                           // 004-007: Lote de serviço (0002 para TED)\n  '1',                                              // 008: Tipo de registro (1=Header Lote)\n  'C',                                              // 009: Tipo de operação (C=Crédito)\n  '20',                                             // 010-011: Tipo de serviço (20=Pagto Fornecedor)\n  '03',                                             // 012-013: Forma de lançamento (03=TED)\n  '031',                                            // 014-016: Layout do lote\n  ' ',                                              // 017: Brancos\n  '2',                                              // 018: Tipo inscrição empresa (2=CNPJ)\n  '05385049000123',                                 // 019-032: CNPJ Air Canada (14)\n  ''.padEnd(20, ' '),                               // 033-052: Código convênio (20)\n  '00001',                                          // 053-057: Agência (5)\n  ' ',                                              // 058: Dígito agência (1)\n  '000112353011',                                   // 059-070: Conta (12)\n  ' ',                                              // 071: Dígito conta (1)\n  ' ',                                              // 072: Dígito ag/conta (1)\n  'AIR CANADA'.padEnd(30, ' '),                     // 073-102: Nome empresa (30)\n  ''.padEnd(40, ' '),                               // 103-142: Informação 1 (40)\n  'AV. Paulista, 949 13  Andar'.padEnd(30, ' '),    // 143-172: Endereço (30)\n  '00949',                                          // 173-177: Número (5)\n  '13  Andar'.padEnd(15, ' '),                      // 178-192: Complemento (15)\n  'Sao Paulo'.padEnd(20, ' '),                      // 193-212: Cidade (20)\n  '01311',                                          // 213-217: CEP (5)\n  '100',                                            // 218-220: Complemento CEP (3)\n  'SP',                                             // 221-222: Estado (2)\n  ''.padEnd(8, ' '),                                // 223-230: Brancos (8)\n  ''.padEnd(10, ' ')                                // 231-240: Ocorrências (10)\n].join('');\n\n// Retorna o header + todos os registros de detalhe\nconst registrosDetalhe = items.map(item => item.json);\n\nreturn [{ \n  json: {\n    headerLote: headerLote,\n    headerLoteLength: headerLote.length,\n    registros: registrosDetalhe,\n    qtdRegistros: registrosDetalhe.length,\n    somaValores: registrosDetalhe.reduce((sum, r) => sum + (r.valor || 0), 0)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        320
      ],
      "id": "3c63e03c-c8b9-4d2b-8214-20a8c35e71ba",
      "name": "Gerar_Header_Lote_TED"
    },
    {
      "parameters": {
        "jsCode": "// Gera Trailer de Lote para TED (Registro Tipo 5)\nconst dados = $input.first().json;\n\n// Quantidade de registros no lote:\n// 1 (header) + registros detalhe (cada TED = 2: segmento A + B) + 1 (trailer)\nconst qtdRegistrosDetalhe = dados.registros.length * 2; // A + B por TED\nconst qtdTotalLote = 1 + qtdRegistrosDetalhe + 1; // header + detalhes + trailer\n\n// Soma dos valores (em centavos)\nconst somaValores = Math.round(dados.somaValores * 100);\n\n// Trailer de Lote TED - Tipo 5 (240 posições)\nconst trailerLote = [\n  '745',                                            // 001-003: Banco Citibank\n  '0002',                                           // 004-007: Lote de serviço (0002 para TED)\n  '5',                                              // 008: Tipo de registro (5=Trailer Lote)\n  ''.padEnd(9, ' '),                                // 009-017: Brancos FEBRABAN\n  String(qtdTotalLote).padStart(6, '0'),            // 018-023: Quantidade de registros no lote\n  String(somaValores).padStart(18, '0'),            // 024-041: Somatória dos valores\n  ''.padStart(18, '0'),                             // 042-059: Quantidade de moedas (zeros)\n  ''.padStart(6, '0'),                              // 060-065: Número aviso débito (zeros)\n  ''.padEnd(165, ' '),                              // 066-230: Brancos\n  ''.padEnd(10, ' ')                                // 231-240: Ocorrências\n].join('');\n\nreturn [{ \n  json: {\n    ...dados,\n    trailerLote: trailerLote,\n    trailerLoteLength: trailerLote.length,\n    qtdTotalLote: qtdTotalLote\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        320
      ],
      "id": "15888074-64fc-453c-991e-6626884d85a3",
      "name": "Gerar_Trailer_Lote_TED"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1056,
        -16
      ],
      "id": "2452529c-7a33-4a1c-a70a-a4b746a6e671",
      "name": "Merge_Lotes"
    },
    {
      "parameters": {
        "jsCode": "// Pega os IDs do nó Criar_Arquivo_CNAB\nconst ids = $('Criar_Arquivo_CNAB').first().json.idsProcessados;\n\n// Retorna cada ID como um item separado\nreturn ids.map(id => ({ json: { id: id } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        -32
      ],
      "id": "a483c60e-cff2-4576-badc-e89cd2866c0a",
      "name": "Separar_IDs"
    },
    {
      "parameters": {
        "jsCode": "// Gera registros CNAB 240 para Concessionárias (Segmento O)\nconst items = $input.all();\nconst registros = [];\n\nlet sequencial = 1;\n\nfor (const item of items) {\n  const dados = item.json;\n  \n  const valor = Math.round((dados.valor || 0) * 100); // Em centavos\n  \n  // Código de barras de concessionária tem 44 ou 48 dígitos\n  let codigoBarrasOriginal = (dados.codigo_barras || '').replace(/[\\s.-]/g, '');\n  let codigoBarras = codigoBarrasOriginal;\n  \n  // Se for 48 dígitos (linha digitável de convênio), converter para 44 (código de barras)\n  if (codigoBarras.length === 48) {\n    // Remove os dígitos verificadores nas posições 12, 24, 36, 48 (índices 11, 23, 35, 47)\n    const parte1 = codigoBarras.substring(0, 11);   // posições 1-11 (11 chars)\n    const parte2 = codigoBarras.substring(12, 23);  // posições 13-23 (11 chars)\n    const parte3 = codigoBarras.substring(24, 35);  // posições 25-35 (11 chars)\n    const parte4 = codigoBarras.substring(36, 47);  // posições 37-47 (11 chars)\n    codigoBarras = parte1 + parte2 + parte3 + parte4;\n  }\n  \n  // Garantir 44 posições\n  codigoBarras = codigoBarras.substring(0, 44).padEnd(44, ' ');\n  \n  // Formatar vencimento: de YYYY-MM-DD para DDMMAAAA\n  let vencimentoFormatado = '00000000';\n  if (dados.vencimento) {\n    const partes = dados.vencimento.split('-');\n    if (partes.length === 3) {\n      vencimentoFormatado = partes[2] + partes[1] + partes[0]; // DDMMAAAA\n    }\n  }\n  \n  // Data de pagamento = hoje (São Paulo)\n  const agora = new Date();\n  const saoPauloOffset = -3 * 60;\n  const saoPauloTime = new Date(agora.getTime() + (saoPauloOffset - agora.getTimezoneOffset()) * 60000);\n  const dataPagamento = String(saoPauloTime.getDate()).padStart(2, '0') + \n                        String(saoPauloTime.getMonth() + 1).padStart(2, '0') + \n                        String(saoPauloTime.getFullYear());\n  \n  const nomeConcessionaria = (dados.nome_cedente_original || '').substring(0, 30).padEnd(30, ' ');\n  \n  // Segmento O - Pagamento de Concessionárias (240 posições)\n  const segmentoO = [\n    '745',                                            // 001-003: Banco Citibank\n    '0003',                                           // 004-007: Lote (0003 para Concessionária)\n    '3',                                              // 008: Tipo registro (detalhe)\n    String(sequencial).padStart(5, '0'),              // 009-013: Sequencial\n    'O',                                              // 014: Segmento\n    '0',                                              // 015: Tipo movimento (0=Inclusão)\n    '00',                                             // 016-017: Código instrução\n    codigoBarras,                                     // 018-061: Código de barras (44)\n    nomeConcessionaria,                               // 062-091: Nome concessionária (30)\n    vencimentoFormatado,                              // 092-099: Data vencimento (8)\n    dataPagamento,                                    // 100-107: Data pagamento (8)\n    String(valor).padStart(15, '0'),                  // 108-122: Valor pagamento (15)\n    ''.padEnd(20, ' '),                               // 123-142: Seu número (20)\n    ''.padEnd(20, ' '),                               // 143-162: Nosso número (20)\n    ''.padEnd(68, ' '),                               // 163-230: Brancos (68)\n    ''.padEnd(10, ' ')                                // 231-240: Ocorrências (10)\n  ].join('');\n  \n  sequencial++;\n  \n  registros.push({\n    id: dados.id,\n    tipo: 'concessionaria',\n    segmentoO: segmentoO,\n    segmentoOLength: segmentoO.length,\n    codigoBarrasOriginal: codigoBarrasOriginal,\n    codigoBarrasOriginalLength: codigoBarrasOriginal.length,\n    codigoBarrasConvertido: codigoBarras.trim(),\n    codigoBarrasConvertidoLength: codigoBarras.trim().length,\n    sequencialFinal: sequencial - 1,\n    valor: dados.valor\n  });\n}\n\nreturn registros.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        480
      ],
      "id": "70158806-8041-4b36-a7f8-af799e7e1c27",
      "name": "Gerar_Registro_Concessionaria"
    },
    {
      "parameters": {
        "jsCode": "// Gera Header de Lote para Concessionária (Registro Tipo 1)\nconst items = $input.all();\n\n// Header de Lote Concessionária - Tipo 1 (240 posições)\nconst headerLote = [\n  '745',                                            // 001-003: Banco Citibank\n  '0003',                                           // 004-007: Lote de serviço (0003 para Concessionária)\n  '1',                                              // 008: Tipo de registro (1=Header Lote)\n  'C',                                              // 009: Tipo de operação (C=Crédito)\n  '13',                                             // 010-011: Tipo de serviço (13=Concessionárias)\n  '00',                                             // 012-013: Forma de lançamento\n  '030',                                            // 014-016: Layout do lote\n  ' ',                                              // 017: Brancos\n  '2',                                              // 018: Tipo inscrição empresa (2=CNPJ)\n  '05385049000123',                                 // 019-032: CNPJ Air Canada (14)\n  ''.padEnd(20, ' '),                               // 033-052: Código convênio (20)\n  '00001',                                          // 053-057: Agência (5)\n  ' ',                                              // 058: Dígito agência (1)\n  '000112353011',                                   // 059-070: Conta (12)\n  ' ',                                              // 071: Dígito conta (1)\n  ' ',                                              // 072: Dígito ag/conta (1)\n  'AIR CANADA'.padEnd(30, ' '),                     // 073-102: Nome empresa (30)\n  ''.padEnd(40, ' '),                               // 103-142: Informação 1 (40)\n  'AV. Paulista, 949 13  Andar'.padEnd(30, ' '),    // 143-172: Endereço (30)\n  '00949',                                          // 173-177: Número (5)\n  '13  Andar'.padEnd(15, ' '),                      // 178-192: Complemento (15)\n  'Sao Paulo'.padEnd(20, ' '),                      // 193-212: Cidade (20)\n  '01311',                                          // 213-217: CEP (5)\n  '100',                                            // 218-220: Complemento CEP (3)\n  'SP',                                             // 221-222: Estado (2)\n  ''.padEnd(8, ' '),                                // 223-230: Brancos (8)\n  ''.padEnd(10, ' ')                                // 231-240: Ocorrências (10)\n].join('');\n\n// Retorna o header + todos os registros de detalhe\nconst registrosDetalhe = items.map(item => item.json);\n\nreturn [{ \n  json: {\n    headerLote: headerLote,\n    headerLoteLength: headerLote.length,\n    registros: registrosDetalhe,\n    qtdRegistros: registrosDetalhe.length,\n    somaValores: registrosDetalhe.reduce((sum, r) => sum + (r.valor || 0), 0)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        480
      ],
      "id": "f273776a-4e02-42e6-86aa-66b4a2e102e5",
      "name": "Gerar_Header_Lote_Concessionaria"
    },
    {
      "parameters": {
        "jsCode": "// Gera Trailer de Lote para Concessionária (Registro Tipo 5)\nconst dados = $input.first().json;\n\n// Quantidade de registros no lote:\n// 1 (header) + registros detalhe (cada concessionária = 1: segmento O) + 1 (trailer)\nconst qtdRegistrosDetalhe = dados.registros.length; // Só segmento O\nconst qtdTotalLote = 1 + qtdRegistrosDetalhe + 1; // header + detalhes + trailer\n\n// Soma dos valores (em centavos)\nconst somaValores = Math.round(dados.somaValores * 100);\n\n// Trailer de Lote Concessionária - Tipo 5 (240 posições)\nconst trailerLote = [\n  '745',                                            // 001-003: Banco Citibank\n  '0003',                                           // 004-007: Lote de serviço (0003 para Concessionária)\n  '5',                                              // 008: Tipo de registro (5=Trailer Lote)\n  ''.padEnd(9, ' '),                                // 009-017: Brancos FEBRABAN\n  String(qtdTotalLote).padStart(6, '0'),            // 018-023: Quantidade de registros no lote\n  String(somaValores).padStart(18, '0'),            // 024-041: Somatória dos valores\n  ''.padStart(18, '0'),                             // 042-059: Quantidade de moedas (zeros)\n  ''.padStart(6, '0'),                              // 060-065: Número aviso débito (zeros)\n  ''.padEnd(165, ' '),                              // 066-230: Brancos\n  ''.padEnd(10, ' ')                                // 231-240: Ocorrências\n].join('');\n\nreturn [{ \n  json: {\n    ...dados,\n    trailerLote: trailerLote,\n    trailerLoteLength: trailerLote.length,\n    qtdTotalLote: qtdTotalLote\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        480
      ],
      "id": "59cfb9f6-59bd-43b6-8433-e6d0e5860871",
      "name": "Gerar_Trailer_Lote_Concessionaria"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M",
          "mode": "list",
          "cachedResultName": "Contas a Pagar - Automação",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1827225322,
          "mode": "list",
          "cachedResultName": "Contas a Pagar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M/edit#gid=1827225322"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "status_sync": "sincronizado",
            "ultima_sync": "={{ $now.setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd HH:mm:ss') }}",
            "Status": "enviado"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fornecedor",
              "displayName": "Fornecedor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Vencimento",
              "displayName": "Vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pagar",
              "displayName": "Pagar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Descrição",
              "displayName": "Descrição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "codigo_barras",
              "displayName": "codigo_barras",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status_sync",
              "displayName": "status_sync",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ultima_sync",
              "displayName": "ultima_sync",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2208,
        -32
      ],
      "id": "25636705-0cf3-4e99-a928-73218d25407d",
      "name": "Limpar_Coluna_Pagar",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RruWc6BrI8tF2hiO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "fornecedores",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.fornecedor_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -736,
        -224
      ],
      "id": "84725e26-8801-465c-b171-33b1a1a9c07a",
      "name": "Buscar_Fornecedor_Boleto",
      "credentials": {
        "supabaseApi": {
          "id": "OP3IGsLO3LJ2h9JA",
          "name": "Supabase Accounting Payables"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c3e58826-18df-47bf-a198-986e742af472",
              "leftValue": "={{ $json.cnpj }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -304,
        -224
      ],
      "id": "46484c54-e820-4109-ba7c-7e0504c71ef8",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M",
          "mode": "list",
          "cachedResultName": "Contas a Pagar - Automação",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1534141160,
          "mode": "list",
          "cachedResultName": "Log_Erros_PDF",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M/edit#gid=1534141160"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data_hora": "={{ $now.format('dd/MM/yyyy HH:mm:ss') }}",
            "motivo_erro": "Forncedor sem cnpj",
            "fornecedor": "={{ $('Buscar_Fornecedor_Boleto').item.json.nome }}",
            "valor": "={{ $('Buscar_Dados_Boleto').item.json.valor }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data_hora",
              "displayName": "data_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "arquivo_nome",
              "displayName": "arquivo_nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fornecedor",
              "displayName": "fornecedor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "motivo_erro",
              "displayName": "motivo_erro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "arquivo_id",
              "displayName": "arquivo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tamanho_bytes",
              "displayName": "tamanho_bytes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        96,
        -144
      ],
      "id": "0fbfb205-6c02-469d-beff-3ab21c06be4b",
      "name": "Log_Boleto_CNPJ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RruWc6BrI8tF2hiO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "fornecedor_id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -96,
        -352
      ],
      "id": "58fb3f59-3645-4549-9b89-4af2bfce435a",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a3b3b52-0aa7-40a0-a11a-b973facedf8a",
              "name": "fornecedor_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "25ec1b85-1f8c-411b-b428-77bc56a3a164",
              "name": "cnpj",
              "value": "={{ $json.cnpj }}",
              "type": "string"
            },
            {
              "id": "0d3c5336-974b-48d3-abcb-d3eb456d3400",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "29219a6c-8e60-4efd-a0f9-20f23797051e",
              "name": "tipo",
              "value": "={{ $json.tipo }}",
              "type": "string"
            },
            {
              "id": "b2d33de4-2cae-41d3-8740-3ee83f280145",
              "name": "created_at",
              "value": "={{ $json.created_at }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        -224
      ],
      "id": "3d5834ea-9168-4085-bd35-2067b97e2c1c",
      "name": "Separa_fornecedor_id"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M",
          "mode": "list",
          "cachedResultName": "Contas a Pagar - Automação",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1827225322,
          "mode": "list",
          "cachedResultName": "Contas a Pagar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M/edit#gid=1827225322"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Merge1').item.json.id }}",
            "ultima_sync": "={{ $now.setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd HH:mm:ss') }}",
            "status_sync": "sincronizado"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fornecedor",
              "displayName": "Fornecedor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Vencimento",
              "displayName": "Vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Pagar",
              "displayName": "Pagar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Descrição",
              "displayName": "Descrição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "codigo_barras",
              "displayName": "codigo_barras",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status_sync",
              "displayName": "status_sync",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ultima_sync",
              "displayName": "ultima_sync",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        64
      ],
      "id": "af74afd4-c529-41c5-97da-4fc4e3247b5e",
      "name": "Limpar_Coluna_Pagar1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RruWc6BrI8tF2hiO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "fornecedor_id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -96,
        -112
      ],
      "id": "fa3ded74-4d36-4364-a0d8-dd65668fb685",
      "name": "Merge1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        112,
        -352
      ],
      "id": "e88cb2fb-9953-48bb-8e11-23e13e805336",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1824,
        -48
      ],
      "id": "c0fde677-a3e2-434d-bb13-8da334b09d96",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Buscar_Contas_Pagar": {
      "main": [
        [
          {
            "node": "Filtrar_Pagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar_Por_Tipo": {
      "main": [
        [
          {
            "node": "Buscar_Dados_Boleto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar_Dados_Ted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar_Dados_Concessionaria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar_Dados_Boleto": {
      "main": [
        [
          {
            "node": "Buscar_Fornecedor_Boleto",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Gerar_Registro_Boleto": {
      "main": [
        [
          {
            "node": "Gerar_Header_Lote_Boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar_Header_Lote_Boleto": {
      "main": [
        [
          {
            "node": "Gerar_Trailer_Lote_Boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar_Trailer_Lote_Boleto": {
      "main": [
        [
          {
            "node": "Merge_Lotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar_Arquivo_CNAB": {
      "main": [
        [
          {
            "node": "Criar_Arquivo_CNAB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar_Arquivo_CNAB": {
      "main": [
        [
          {
            "node": "Salvar_Google_Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar_Google_Drive": {
      "main": [
        [
          {
            "node": "Separar_IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar_Pagar": {
      "main": [
        [
          {
            "node": "Separar_Por_Tipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar_Dados_Ted": {
      "main": [
        [
          {
            "node": "Preparar_TED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar_TED": {
      "main": [
        [
          {
            "node": "Buscar_Fornecedor_TED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar_Fornecedor_TED": {
      "main": [
        [
          {
            "node": "Combinar_TED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar_TED": {
      "main": [
        [
          {
            "node": "Gerar_Registro_TED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar_Registro_TED": {
      "main": [
        [
          {
            "node": "Gerar_Header_Lote_TED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar_Header_Lote_TED": {
      "main": [
        [
          {
            "node": "Gerar_Trailer_Lote_TED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar_Status_Contas": {
      "main": [
        [
          {
            "node": "Limpar_Coluna_Pagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar_Trailer_Lote_TED": {
      "main": [
        [
          {
            "node": "Merge_Lotes",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge_Lotes": {
      "main": [
        [
          {
            "node": "Montar_Arquivo_CNAB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar_IDs": {
      "main": [
        [
          {
            "node": "Atualizar_Status_Contas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar_Dados_Concessionaria": {
      "main": [
        [
          {
            "node": "Gerar_Registro_Concessionaria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar_Registro_Concessionaria": {
      "main": [
        [
          {
            "node": "Gerar_Header_Lote_Concessionaria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar_Header_Lote_Concessionaria": {
      "main": [
        [
          {
            "node": "Gerar_Trailer_Lote_Concessionaria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar_Trailer_Lote_Concessionaria": {
      "main": [
        [
          {
            "node": "Merge_Lotes",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Buscar_Fornecedor_Boleto": {
      "main": [
        [
          {
            "node": "Separa_fornecedor_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa_fornecedor_id": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log_Boleto_CNPJ": {
      "main": [
        [
          {
            "node": "Limpar_Coluna_Pagar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Log_Boleto_CNPJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Gerar_Registro_Boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Buscar_Contas_Pagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6cf9245b-81a1-4242-94a3-0e3def602c4f",
  "activeVersionId": "6cf9245b-81a1-4242-94a3-0e3def602c4f",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-15T11:23:13.087Z",
      "createdAt": "2026-01-15T11:23:13.087Z",
      "role": "workflow:owner",
      "workflowId": "z7YlpAflvgCoCZ9H",
      "projectId": "SoH44tJE4dqRVTiw"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-05T00:39:57.000Z",
    "createdAt": "2026-02-05T00:39:55.003Z",
    "versionId": "6cf9245b-81a1-4242-94a3-0e3def602c4f",
    "workflowId": "z7YlpAflvgCoCZ9H",
    "nodes": [
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M",
            "mode": "list",
            "cachedResultName": "Contas a Pagar - Automação",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1827225322,
            "mode": "list",
            "cachedResultName": "Contas a Pagar",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M/edit#gid=1827225322"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Status",
                "lookupValue": "aprovado"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -1552,
          -48
        ],
        "id": "aeb4f27b-8c17-4bd6-ae14-f04c9291b54b",
        "name": "Buscar_Contas_Pagar",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "RruWc6BrI8tF2hiO",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.Tipo }}",
                      "rightValue": "boleto",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "9fcb9410-424f-40f4-993c-202d4ed3c207"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Boleto"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "45cb86a0-9792-42d2-a590-df6d1e2e66be",
                      "leftValue": "={{ $json.Tipo }}",
                      "rightValue": "ted",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "TED"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "893394f8-f190-4c87-8fdb-01113e193aef",
                      "leftValue": "={{ $json.Tipo }}",
                      "rightValue": "concessionaria",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Concessionaria"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          -1104,
          144
        ],
        "id": "9f3ac0d8-e26e-48d2-8aa7-290346683f5d",
        "name": "Separar_Por_Tipo"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "contas_a_pagar",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "keyValue": "={{ $json.ID }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -880,
          -384
        ],
        "id": "fade7654-63f4-41ea-99e3-9c95ea2dcf66",
        "name": "Buscar_Dados_Boleto",
        "credentials": {
          "supabaseApi": {
            "id": "OP3IGsLO3LJ2h9JA",
            "name": "Supabase Accounting Payables"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "contas_a_pagar",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "keyValue": "={{ $json.ID }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -752,
          96
        ],
        "id": "e546b5da-052b-4aff-9391-83299d3accb6",
        "name": "Buscar_Dados_Ted",
        "credentials": {
          "supabaseApi": {
            "id": "OP3IGsLO3LJ2h9JA",
            "name": "Supabase Accounting Payables"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "contas_a_pagar",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "keyValue": "={{ $json.ID }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -800,
          480
        ],
        "id": "aabb8769-a32a-4ee4-b67d-0ac703af92c2",
        "name": "Buscar_Dados_Concessionaria",
        "credentials": {
          "supabaseApi": {
            "id": "OP3IGsLO3LJ2h9JA",
            "name": "Supabase Accounting Payables"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Gera registros CNAB 240 para Boletos (Segmento J e J-52)\nconst items = $input.all();\nconst registros = [];\n\nlet sequencial = 1;\n\n// Função para converter linha digitável (47 dígitos) em código de barras (44 dígitos)\nfunction linhaDigitavelParaCodigoBarras(linha) {\n  linha = linha.replace(/[\\s.]/g, '');\n  \n  if (linha.length === 44) {\n    return linha;\n  }\n  \n  if (linha.length === 47) {\n    const bancoMoeda = linha.substring(0, 4);      // Pos 1-4\n    const campoLivre1 = linha.substring(4, 9);     // Pos 5-9 (5 dígitos)\n    // Pos 10 = DV (pular)\n    const campoLivre2 = linha.substring(10, 20);   // Pos 11-20 (10 dígitos)\n    // Pos 21 = DV (pular)\n    const campoLivre3 = linha.substring(21, 31);   // Pos 22-31 (10 dígitos)\n    // Pos 32 = DV (pular)\n    const dvGeral = linha.substring(32, 33);       // Pos 33 (1 dígito)\n    const fatorVenc = linha.substring(33, 37);     // Pos 34-37 (4 dígitos)\n    const valor = linha.substring(37, 47);         // Pos 38-47 (10 dígitos)\n    \n    return bancoMoeda + dvGeral + fatorVenc + valor + campoLivre1 + campoLivre2 + campoLivre3;\n  }\n  \n  return linha.padEnd(44, ' ');\n}\n\nfor (const item of items) {\n  const dados = item.json;\n  const linhaDigitavel = dados.codigo_barras || '';\n  const codigoBarras = linhaDigitavelParaCodigoBarras(linhaDigitavel);\n  const valor = Math.round((dados.valor || 0) * 100);\n  \n  let vencimentoFormatado = '00000000';\n  if (dados.vencimento) {\n    const partes = dados.vencimento.split('-');\n    if (partes.length === 3) {\n      vencimentoFormatado = partes[2] + partes[1] + partes[0];\n    }\n  }\n  \n  const nomeCedente = (dados.nome_cedente_original || '').substring(0, 30).padEnd(30, ' ');\n  \n  const hoje = new Date();\n  const dataPagamento = String(hoje.getDate()).padStart(2, '0') + \n                        String(hoje.getMonth() + 1).padStart(2, '0') + \n                        String(hoje.getFullYear());\n  \n  const segmentoJ = [\n    '745',\n    '0001',\n    '3',\n    String(sequencial).padStart(5, '0'),\n    'J',\n    '0',\n    '00',\n    codigoBarras,\n    nomeCedente,\n    vencimentoFormatado,\n    String(valor).padStart(15, '0'),\n    String(0).padStart(15, '0'),\n    String(0).padStart(15, '0'),\n    dataPagamento,\n    String(valor).padStart(15, '0'),\n    String(0).padStart(15, '0'),\n    ''.padEnd(20, ' '),\n    ''.padEnd(20, ' '),\n    '09',\n    ''.padEnd(6, ' '),\n    ''.padEnd(10, ' ')\n  ].join('');\n  \n  sequencial++;\n  \n  const cnpjBeneficiario = (dados.cnpj_cedente_original || '').replace(/\\D/g, '').padStart(14, '0');\n  \n  const segmentoJ52 = [\n    '745',\n    '0001',\n    '3',\n    String(sequencial).padStart(5, '0'),\n    'J',\n    ' ',\n    '00',\n    '52',\n    '2',\n    '05385049000123'.padStart(15, '0'),\n    'AIR CANADA'.padEnd(40, ' '),\n    '2',\n    cnpjBeneficiario.padStart(15, '0'),\n    nomeCedente.padEnd(40, ' '),\n    '0',\n    ''.padStart(15, '0'),\n    ''.padEnd(40, ' '),\n    ''.padEnd(53, ' ')\n  ].join('');\n  \n  sequencial++;\n  \n  registros.push({\n    id: dados.id,\n    tipo: 'boleto',\n    linhaDigitavelOriginal: linhaDigitavel,\n    codigoBarrasGerado: codigoBarras,\n    codigoBarrasLength: codigoBarras.length,\n    segmentoJ: segmentoJ,\n    segmentoJLength: segmentoJ.length,\n    segmentoJ52: segmentoJ52,\n    segmentoJ52Length: segmentoJ52.length,\n    sequencialFinal: sequencial - 1,\n    valor: dados.valor\n  });\n}\n\nreturn registros.map(r => ({ json: r }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          336,
          -320
        ],
        "id": "4262ca62-dea2-4e3a-9826-46acf852f39d",
        "name": "Gerar_Registro_Boleto"
      },
      {
        "parameters": {
          "jsCode": "// Gera Header de Lote para Boletos (Registro Tipo 1)\nconst items = $input.all();\n\n// Header de Lote - Tipo 1 (240 posições)\nconst headerLote = [\n  '745',                                            // 001-003: Banco Citibank\n  '0001',                                           // 004-007: Lote de serviço\n  '1',                                              // 008: Tipo de registro (1=Header Lote)\n  'C',                                              // 009: Tipo de operação (C=Crédito)\n  '20',                                             // 010-011: Tipo de serviço (20=Pagto Fornecedor)\n  '31',                                             // 012-013: Forma de lançamento (31=Títulos Terceiros)\n  '031',                                            // 014-016: Layout do lote\n  ' ',                                              // 017: Brancos\n  '2',                                              // 018: Tipo inscrição empresa (2=CNPJ)\n  '05385049000123',                                 // 019-032: CNPJ Air Canada (14)\n  ''.padEnd(20, ' '),                               // 033-052: Código convênio (20)\n  '00001',                                          // 053-057: Agência (5)\n  ' ',                                              // 058: Dígito agência (1)\n  '000112353011',                                   // 059-070: Conta (12)\n  ' ',                                              // 071: Dígito conta (1)\n  ' ',                                              // 072: Dígito ag/conta (1)\n  'AIR CANADA'.padEnd(30, ' '),                     // 073-102: Nome empresa (30)\n  ''.padEnd(40, ' '),                               // 103-142: Informação 1 (40)\n  'AV. Paulista, 949 13  Andar'.padEnd(30, ' '),    // 143-172: Endereço (30)\n  '00949',                                          // 173-177: Número (5)\n  '13  Andar'.padEnd(15, ' '),                      // 178-192: Complemento (15)\n  'Sao Paulo'.padEnd(20, ' '),                      // 193-212: Cidade (20)\n  '01311',                                          // 213-217: CEP (5)\n  '100',                                            // 218-220: Complemento CEP (3)\n  'SP',                                             // 221-222: Estado (2)\n  ''.padEnd(8, ' '),                                // 223-230: Brancos (8)\n  ''.padEnd(10, ' ')                                // 231-240: Ocorrências (10)\n].join('');\n\n// Retorna o header + todos os registros de detalhe\nconst registrosDetalhe = items.map(item => item.json);\n\nreturn [{ \n  json: {\n    headerLote: headerLote,\n    headerLoteLength: headerLote.length,\n    registros: registrosDetalhe,\n    qtdRegistros: registrosDetalhe.length,\n    somaValores: registrosDetalhe.reduce((sum, r) => sum + (r.valor || 0), 0)\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          528,
          -320
        ],
        "id": "8c171de0-ba74-4a7c-99a8-b33ee8b6979b",
        "name": "Gerar_Header_Lote_Boleto"
      },
      {
        "parameters": {
          "jsCode": "// Gera Trailer de Lote para Boletos (Registro Tipo 5)\nconst dados = $input.first().json;\n\n// Quantidade de registros no lote:\n// 1 (header) + registros detalhe (cada boleto = 2: segmento J + J52) + 1 (trailer)\nconst qtdRegistrosDetalhe = dados.registros.length * 2; // J + J52 por boleto\nconst qtdTotalLote = 1 + qtdRegistrosDetalhe + 1; // header + detalhes + trailer\n\n// Soma dos valores (em centavos)\nconst somaValores = Math.round(dados.somaValores * 100);\n\n// Trailer de Lote - Tipo 5 (240 posições)\nconst trailerLote = [\n  '745',                                            // 001-003: Banco Citibank\n  '0001',                                           // 004-007: Lote de serviço\n  '5',                                              // 008: Tipo de registro (5=Trailer Lote)\n  ''.padEnd(9, ' '),                                // 009-017: Brancos FEBRABAN\n  String(qtdTotalLote).padStart(6, '0'),            // 018-023: Quantidade de registros no lote\n  String(somaValores).padStart(18, '0'),            // 024-041: Somatória dos valores\n  ''.padStart(18, '0'),                             // 042-059: Quantidade de moedas (zeros)\n  ''.padStart(6, '0'),                              // 060-065: Número aviso débito (zeros)\n  ''.padEnd(165, ' '),                              // 066-230: Brancos\n  ''.padEnd(10, ' ')                                // 231-240: Ocorrências\n].join('');\n\nreturn [{ \n  json: {\n    ...dados,\n    trailerLote: trailerLote,\n    trailerLoteLength: trailerLote.length,\n    qtdTotalLote: qtdTotalLote\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          752,
          -320
        ],
        "id": "776d2a76-14d4-402c-8d13-723b1f9e7299",
        "name": "Gerar_Trailer_Lote_Boleto"
      },
      {
        "parameters": {
          "jsCode": "// Monta o arquivo CNAB completo com múltiplos lotes\nconst lotes = $input.all();\n\n// Arrays para armazenar todas as linhas\nconst linhas = [];\nlet qtdLotes = 0;\nlet qtdRegistrosTotal = 0;\nconst idsProcessados = [];\nlet valorTotal = 0;\n\n// Data e hora de geração (São Paulo - UTC-3)\nconst agora = new Date();\nconst saoPauloOffset = -3 * 60;\nconst saoPauloTime = new Date(agora.getTime() + (saoPauloOffset - agora.getTimezoneOffset()) * 60000);\n\nconst hoje = saoPauloTime;\nconst dataGeracao = String(hoje.getDate()).padStart(2, '0') + \n                    String(hoje.getMonth() + 1).padStart(2, '0') + \n                    String(hoje.getFullYear());\nconst horaGeracao = String(hoje.getHours()).padStart(2, '0') + \n                    String(hoje.getMinutes()).padStart(2, '0') + \n                    String(hoje.getSeconds()).padStart(2, '0');\n\n// NSA - Número Sequencial do Arquivo\nconst nsa = '000000';\n\n// 1. Header de Arquivo (tipo 0)\nconst headerArquivo = [\n  '745',                                            // 001-003: Banco Citibank\n  '0000',                                           // 004-007: Lote (0000 para header arquivo)\n  '0',                                              // 008: Tipo de registro (0=Header Arquivo)\n  ''.padEnd(9, ' '),                                // 009-017: Brancos FEBRABAN\n  '2',                                              // 018: Tipo inscrição empresa (2=CNPJ)\n  '05385049000123',                                 // 019-032: CNPJ Air Canada (14)\n  ''.padEnd(20, ' '),                               // 033-052: Código convênio (20)\n  '00001',                                          // 053-057: Agência (5)\n  ' ',                                              // 058: Dígito agência (1)\n  '000112353011',                                   // 059-070: Conta (12)\n  ' ',                                              // 071: Dígito conta (1)\n  ' ',                                              // 072: Dígito ag/conta (1)\n  'AIR CANADA'.padEnd(30, ' '),                     // 073-102: Nome empresa (30)\n  'CITIBANK'.padEnd(30, ' '),                       // 103-132: Nome do banco (30)\n  ''.padEnd(10, ' '),                               // 133-142: Brancos FEBRABAN\n  '1',                                              // 143: Código remessa (1=Remessa)\n  dataGeracao,                                      // 144-151: Data geração (DDMMAAAA)\n  horaGeracao,                                      // 152-157: Hora geração (HHMMSS)\n  nsa,                                              // 158-163: NSA (6)\n  '060',                                            // 164-166: Layout do arquivo\n  '00000',                                          // 167-171: Densidade (zeros)\n  ''.padEnd(20, ' '),                               // 172-191: Reservado banco\n  ''.padEnd(20, ' '),                               // 192-211: Reservado empresa\n  ''.padEnd(29, ' ')                                // 212-240: Brancos FEBRABAN\n].join('');\n\nlinhas.push(headerArquivo);\nqtdRegistrosTotal++;\n\n// 2. Processar cada lote (Boleto, TED, Concessionária)\nfor (const lote of lotes) {\n  const dados = lote.json;\n  qtdLotes++;\n  \n  // Header do Lote\n  linhas.push(dados.headerLote);\n  qtdRegistrosTotal++;\n  \n  // Registros de Detalhe\n  for (const registro of dados.registros) {\n    // Boleto: Segmento J + J52\n    if (registro.tipo === 'boleto') {\n      linhas.push(registro.segmentoJ);\n      linhas.push(registro.segmentoJ52);\n      qtdRegistrosTotal += 2;\n    }\n    // TED: Segmento A + B\n    else if (registro.tipo === 'ted') {\n      linhas.push(registro.segmentoA);\n      linhas.push(registro.segmentoB);\n      qtdRegistrosTotal += 2;\n    }\n    // Concessionária: Segmento O\n    else if (registro.tipo === 'concessionaria') {\n      linhas.push(registro.segmentoO);\n      qtdRegistrosTotal += 1;\n    }\n    \n    idsProcessados.push(registro.id);\n    valorTotal += registro.valor || 0;\n  }\n  \n  // Trailer do Lote\n  linhas.push(dados.trailerLote);\n  qtdRegistrosTotal++;\n}\n\n// 3. Trailer de Arquivo (tipo 9)\nqtdRegistrosTotal++; // Incluir o próprio trailer na contagem\n\nconst trailerArquivo = [\n  '745',                                            // 001-003: Banco Citibank\n  '9999',                                           // 004-007: Lote (9999 para trailer arquivo)\n  '9',                                              // 008: Tipo de registro (9=Trailer Arquivo)\n  ''.padEnd(9, ' '),                                // 009-017: Brancos FEBRABAN\n  String(qtdLotes).padStart(6, '0'),                // 018-023: Quantidade de lotes\n  String(qtdRegistrosTotal).padStart(6, '0'),       // 024-029: Quantidade de registros\n  ''.padStart(6, '0'),                              // 030-035: Quantidade de contas (zeros)\n  ''.padEnd(205, ' ')                               // 036-240: Brancos\n].join('');\n\nlinhas.push(trailerArquivo);\n\n// Montar arquivo completo\nconst arquivoCompleto = linhas.join('\\n');\n\n// Gerar nome do arquivo\nconst horaArquivo = String(hoje.getHours()).padStart(2, '0') + \n                    String(hoje.getMinutes()).padStart(2, '0');\nconst nomeArquivo = `CNAB240_${dataGeracao}_${horaArquivo}.txt`;\n\nreturn [{ \n  json: {\n    arquivoCompleto: arquivoCompleto,\n    nomeArquivo: nomeArquivo,\n    qtdLinhas: linhas.length,\n    qtdLotes: qtdLotes,\n    idsProcessados: idsProcessados,\n    valorTotal: valorTotal\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1248,
          -32
        ],
        "id": "a37ce303-2fd0-4040-972a-1adac2292c6c",
        "name": "Montar_Arquivo_CNAB"
      },
      {
        "parameters": {
          "jsCode": "// Prepara o arquivo para salvar no Google Drive\nconst dados = $input.first().json;\n\n// Converte o conteúdo para binário\nconst conteudo = dados.arquivoCompleto;\n\n// Criar item com binary data\nconst newItem = {\n  json: {\n    nomeArquivo: dados.nomeArquivo,\n    idsProcessados: dados.idsProcessados,\n    valorTotal: dados.valorTotal,\n    qtdLinhas: dados.qtdLinhas\n  },\n  binary: {\n    data: await this.helpers.prepareBinaryData(\n      Buffer.from(conteudo, 'utf-8'),\n      dados.nomeArquivo,\n      'text/plain'\n    )\n  }\n};\n\nreturn [newItem];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1424,
          -32
        ],
        "id": "67138a98-bac4-4fb4-a873-0cd26aacd20c",
        "name": "Criar_Arquivo_CNAB"
      },
      {
        "parameters": {
          "name": "={{ $json.nomeArquivo }}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1oO3mgttUO72i7AA6FQUYs3AvUC10MEqF",
            "mode": "list",
            "cachedResultName": "Remessas Citibank",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1oO3mgttUO72i7AA6FQUYs3AvUC10MEqF"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1584,
          -32
        ],
        "id": "048d74fe-44f3-48d2-9538-50e8511b21ab",
        "name": "Salvar_Google_Drive",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "QYTP43NGTGZiDumY",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "contas_a_pagar",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "enviado"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2000,
          -32
        ],
        "id": "f2be62df-f2ac-4f85-8491-0bc76a073d29",
        "name": "Atualizar_Status_Contas",
        "credentials": {
          "supabaseApi": {
            "id": "OP3IGsLO3LJ2h9JA",
            "name": "Supabase Accounting Payables"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c1629388-c810-440c-962a-8c33af3a272d",
                "leftValue": "={{ $json.Pagar?.toUpperCase() }}",
                "rightValue": "X",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          -1344,
          -48
        ],
        "id": "8c98cf4c-4bf7-4e39-9626-a1c06af7e515",
        "name": "Filtrar_Pagar"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Salva os dados da conta no item para usar depois\nconst conta = $json;\n\nreturn {\n  // Dados da conta (prefixados)\n  conta_id: conta.id,\n  conta_valor: conta.valor,\n  conta_vencimento: conta.vencimento,\n  conta_descricao: conta.descricao,\n  // Passa o fornecedor_id para o próximo nó buscar\n  fornecedor_id: conta.fornecedor_id\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -544,
          96
        ],
        "id": "48b901bc-2cf4-4d45-a9f1-011fbb791e48",
        "name": "Preparar_TED"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "fornecedores",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "keyValue": "={{ $json.fornecedor_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -336,
          96
        ],
        "id": "25457e1e-ff64-46d8-8003-798c26efe641",
        "name": "Buscar_Fornecedor_TED",
        "credentials": {
          "supabaseApi": {
            "id": "OP3IGsLO3LJ2h9JA",
            "name": "Supabase Accounting Payables"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const fornecedores = $input.all();\nconst contas = $('Preparar_TED').all();\nconst resultados = [];\n\nfor (let i = 0; i < fornecedores.length; i++) {\n  const fornecedor = fornecedores[i].json;\n  const contaDados = contas[i]?.json || {};\n  \n  resultados.push({\n    json: {\n      conta_id: contaDados.conta_id,\n      valor: contaDados.conta_valor,\n      vencimento: contaDados.conta_vencimento,\n      descricao: contaDados.conta_descricao,\n      fornecedor_nome: fornecedor.nome,\n      fornecedor_cnpj: fornecedor.cnpj,\n      fornecedor_cpf: fornecedor.cpf,\n      fornecedor_tipo: fornecedor.tipo,\n      fornecedor_banco: fornecedor.banco,\n      fornecedor_agencia: fornecedor.agencia,\n      fornecedor_conta: fornecedor.conta,\n      fornecedor_tipo_conta: fornecedor.tipo_conta\n    }\n  });\n}\n\nreturn resultados;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -128,
          96
        ],
        "id": "d010c72c-dac6-4617-bbc9-3e6c620a5335",
        "name": "Combinar_TED"
      },
      {
        "parameters": {
          "jsCode": "// Gera registros CNAB 240 para TED (Segmento A e B)\nconst items = $input.all();\nconst registros = [];\n\nlet sequencial = 1;\n\nfor (const item of items) {\n  const dados = item.json;\n  \n  const valor = Math.round((dados.valor || 0) * 100);\n  \n  let dataPagamento = '00000000';\n  if (dados.vencimento) {\n    const partes = dados.vencimento.split('-');\n    if (partes.length === 3) {\n      dataPagamento = partes[2] + partes[1] + partes[0];\n    }\n  }\n  \n  // Dados do fornecedor\n  const bancoFavorecido = (dados.fornecedor_banco || '').padStart(3, '0');\n  \n  // Agência: remover não numéricos, 5 posições\n  const agenciaLimpa = (dados.fornecedor_agencia || '').replace(/\\D/g, '');\n  const agencia = agenciaLimpa.padStart(5, '0');\n  const agenciaDigito = ' '; // Se não tiver dígito separado\n  \n  // Conta: separar número e dígito\n  const contaOriginal = (dados.fornecedor_conta || '');\n  let contaNumero = '';\n  let contaDigito = ' ';\n  \n  if (contaOriginal.includes('-')) {\n    const partesConta = contaOriginal.split('-');\n    contaNumero = partesConta[0].replace(/\\D/g, '').padStart(12, '0');\n    contaDigito = partesConta[1] || ' ';\n  } else {\n    contaNumero = contaOriginal.replace(/\\D/g, '').padStart(12, '0');\n  }\n  \n  // Nome em MAIÚSCULO\n  const nomeFavorecido = (dados.fornecedor_nome || '').toUpperCase().substring(0, 30).padEnd(30, ' ');\n  \n  // Tipo de inscrição: 1=CPF, 2=CNPJ\n  const tipoInscricao = dados.fornecedor_tipo === 'pf' ? '1' : '2';\n  const inscricao = (dados.fornecedor_cnpj || dados.fornecedor_cpf || '').replace(/\\D/g, '').padStart(14, '0');\n  \n  // Seu número (identificador)\n  const seuNumero = ''.padEnd(20, ' ');\n  \n  // Segmento A - Layout correto conforme arquivo válido\n  const segmentoA = [\n    '745',                                            // 001-003: Banco Citibank\n    '0002',                                           // 004-007: Lote\n    '3',                                              // 008: Tipo registro\n    String(sequencial).padStart(5, '0'),              // 009-013: Sequencial\n    'A',                                              // 014: Segmento\n    '0',                                              // 015: Tipo movimento\n    '00',                                             // 016-017: Código instrução\n    '018',                                            // 018-020: Câmara (018=TED)\n    bancoFavorecido,                                  // 021-023: Banco favorecido (3)\n    agencia,                                          // 024-028: Agência (5)\n    agenciaDigito,                                    // 029: Dígito agência (1)\n    contaNumero,                                      // 030-041: Conta (12)\n    contaDigito,                                      // 042: Dígito conta (1)\n    ' ',                                              // 043: Dígito ag/conta (1)\n    nomeFavorecido,                                   // 044-073: Nome favorecido (30)\n    seuNumero,                                        // 074-093: Seu número (20)\n    dataPagamento,                                    // 094-101: Data pagamento (8)\n    'BRL',                                            // 102-104: Moeda (3)\n    ''.padStart(15, '0'),                             // 105-119: Quantidade moeda (15)\n    String(valor).padStart(15, '0'),                  // 120-134: Valor pagamento (15)\n    ''.padEnd(20, ' '),                               // 135-154: Nosso número (20)\n    ''.padStart(15, '0'),                             // 155-169: Zeros (15)\n    ''.padEnd(5, ' '),                                // 170-174: Brancos (5)\n    ''.padEnd(5, '0'),                                // 175-179: Zeros (5)\n    ''.padEnd(5, ' '),                                // 180-184: Brancos (5)\n    ''.padEnd(1, ' '),                                // 185: Branco (1)\n    ''.padEnd(44, ' '),                               // 186-229: Brancos (44)\n    '0'.padEnd(10, ' ')                               // 230-240: Ocorrências (10) - ajustar se necessário\n  ].join('');\n  \n  sequencial++;\n  \n  // Segmento B permanece igual\n  const segmentoB = [\n    '745',\n    '0002',\n    '3',\n    String(sequencial).padStart(5, '0'),\n    'B',\n    '   ',\n    tipoInscricao,\n    inscricao,\n    ''.padEnd(30, ' '),\n    ''.padEnd(5, ' '),\n    ''.padEnd(15, ' '),\n    ''.padEnd(15, ' '),\n    ''.padEnd(20, ' '),\n    ''.padEnd(8, ' '),\n    ''.padEnd(2, ' '),\n    dataPagamento,\n    String(valor).padStart(15, '0'),\n    ''.padStart(15, '0'),\n    ''.padStart(15, '0'),\n    ''.padStart(15, '0'),\n    ''.padStart(15, '0'),\n    ''.padEnd(15, ' '),\n    ''.padStart(7, '0'),\n    ''.padEnd(8, ' ')\n  ].join('');\n  \n  sequencial++;\n  \n  registros.push({\n    id: dados.conta_id,\n    tipo: 'ted',\n    segmentoA: segmentoA,\n    segmentoB: segmentoB,\n    segmentoALength: segmentoA.length,\n    segmentoBLength: segmentoB.length,\n    sequencialFinal: sequencial - 1,\n    valor: dados.valor\n  });\n}\n\nreturn registros.map(r => ({ json: r }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -624,
          320
        ],
        "id": "5f0d0677-f474-476b-9d85-bf8df2fe1340",
        "name": "Gerar_Registro_TED"
      },
      {
        "parameters": {
          "jsCode": "// Gera Header de Lote para TED (Registro Tipo 1)\nconst items = $input.all();\n\n// Header de Lote TED - Tipo 1 (240 posições)\n// Baseado na linha 8 do arquivo real\nconst headerLote = [\n  '745',                                            // 001-003: Banco Citibank\n  '0002',                                           // 004-007: Lote de serviço (0002 para TED)\n  '1',                                              // 008: Tipo de registro (1=Header Lote)\n  'C',                                              // 009: Tipo de operação (C=Crédito)\n  '20',                                             // 010-011: Tipo de serviço (20=Pagto Fornecedor)\n  '03',                                             // 012-013: Forma de lançamento (03=TED)\n  '031',                                            // 014-016: Layout do lote\n  ' ',                                              // 017: Brancos\n  '2',                                              // 018: Tipo inscrição empresa (2=CNPJ)\n  '05385049000123',                                 // 019-032: CNPJ Air Canada (14)\n  ''.padEnd(20, ' '),                               // 033-052: Código convênio (20)\n  '00001',                                          // 053-057: Agência (5)\n  ' ',                                              // 058: Dígito agência (1)\n  '000112353011',                                   // 059-070: Conta (12)\n  ' ',                                              // 071: Dígito conta (1)\n  ' ',                                              // 072: Dígito ag/conta (1)\n  'AIR CANADA'.padEnd(30, ' '),                     // 073-102: Nome empresa (30)\n  ''.padEnd(40, ' '),                               // 103-142: Informação 1 (40)\n  'AV. Paulista, 949 13  Andar'.padEnd(30, ' '),    // 143-172: Endereço (30)\n  '00949',                                          // 173-177: Número (5)\n  '13  Andar'.padEnd(15, ' '),                      // 178-192: Complemento (15)\n  'Sao Paulo'.padEnd(20, ' '),                      // 193-212: Cidade (20)\n  '01311',                                          // 213-217: CEP (5)\n  '100',                                            // 218-220: Complemento CEP (3)\n  'SP',                                             // 221-222: Estado (2)\n  ''.padEnd(8, ' '),                                // 223-230: Brancos (8)\n  ''.padEnd(10, ' ')                                // 231-240: Ocorrências (10)\n].join('');\n\n// Retorna o header + todos os registros de detalhe\nconst registrosDetalhe = items.map(item => item.json);\n\nreturn [{ \n  json: {\n    headerLote: headerLote,\n    headerLoteLength: headerLote.length,\n    registros: registrosDetalhe,\n    qtdRegistros: registrosDetalhe.length,\n    somaValores: registrosDetalhe.reduce((sum, r) => sum + (r.valor || 0), 0)\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -352,
          320
        ],
        "id": "3c63e03c-c8b9-4d2b-8214-20a8c35e71ba",
        "name": "Gerar_Header_Lote_TED"
      },
      {
        "parameters": {
          "jsCode": "// Gera Trailer de Lote para TED (Registro Tipo 5)\nconst dados = $input.first().json;\n\n// Quantidade de registros no lote:\n// 1 (header) + registros detalhe (cada TED = 2: segmento A + B) + 1 (trailer)\nconst qtdRegistrosDetalhe = dados.registros.length * 2; // A + B por TED\nconst qtdTotalLote = 1 + qtdRegistrosDetalhe + 1; // header + detalhes + trailer\n\n// Soma dos valores (em centavos)\nconst somaValores = Math.round(dados.somaValores * 100);\n\n// Trailer de Lote TED - Tipo 5 (240 posições)\nconst trailerLote = [\n  '745',                                            // 001-003: Banco Citibank\n  '0002',                                           // 004-007: Lote de serviço (0002 para TED)\n  '5',                                              // 008: Tipo de registro (5=Trailer Lote)\n  ''.padEnd(9, ' '),                                // 009-017: Brancos FEBRABAN\n  String(qtdTotalLote).padStart(6, '0'),            // 018-023: Quantidade de registros no lote\n  String(somaValores).padStart(18, '0'),            // 024-041: Somatória dos valores\n  ''.padStart(18, '0'),                             // 042-059: Quantidade de moedas (zeros)\n  ''.padStart(6, '0'),                              // 060-065: Número aviso débito (zeros)\n  ''.padEnd(165, ' '),                              // 066-230: Brancos\n  ''.padEnd(10, ' ')                                // 231-240: Ocorrências\n].join('');\n\nreturn [{ \n  json: {\n    ...dados,\n    trailerLote: trailerLote,\n    trailerLoteLength: trailerLote.length,\n    qtdTotalLote: qtdTotalLote\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -128,
          320
        ],
        "id": "15888074-64fc-453c-991e-6626884d85a3",
        "name": "Gerar_Trailer_Lote_TED"
      },
      {
        "parameters": {
          "numberInputs": 3
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1056,
          -16
        ],
        "id": "2452529c-7a33-4a1c-a70a-a4b746a6e671",
        "name": "Merge_Lotes"
      },
      {
        "parameters": {
          "jsCode": "// Pega os IDs do nó Criar_Arquivo_CNAB\nconst ids = $('Criar_Arquivo_CNAB').first().json.idsProcessados;\n\n// Retorna cada ID como um item separado\nreturn ids.map(id => ({ json: { id: id } }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1792,
          -32
        ],
        "id": "a483c60e-cff2-4576-badc-e89cd2866c0a",
        "name": "Separar_IDs"
      },
      {
        "parameters": {
          "jsCode": "// Gera registros CNAB 240 para Concessionárias (Segmento O)\nconst items = $input.all();\nconst registros = [];\n\nlet sequencial = 1;\n\nfor (const item of items) {\n  const dados = item.json;\n  \n  const valor = Math.round((dados.valor || 0) * 100); // Em centavos\n  \n  // Código de barras de concessionária tem 44 ou 48 dígitos\n  let codigoBarrasOriginal = (dados.codigo_barras || '').replace(/[\\s.-]/g, '');\n  let codigoBarras = codigoBarrasOriginal;\n  \n  // Se for 48 dígitos (linha digitável de convênio), converter para 44 (código de barras)\n  if (codigoBarras.length === 48) {\n    // Remove os dígitos verificadores nas posições 12, 24, 36, 48 (índices 11, 23, 35, 47)\n    const parte1 = codigoBarras.substring(0, 11);   // posições 1-11 (11 chars)\n    const parte2 = codigoBarras.substring(12, 23);  // posições 13-23 (11 chars)\n    const parte3 = codigoBarras.substring(24, 35);  // posições 25-35 (11 chars)\n    const parte4 = codigoBarras.substring(36, 47);  // posições 37-47 (11 chars)\n    codigoBarras = parte1 + parte2 + parte3 + parte4;\n  }\n  \n  // Garantir 44 posições\n  codigoBarras = codigoBarras.substring(0, 44).padEnd(44, ' ');\n  \n  // Formatar vencimento: de YYYY-MM-DD para DDMMAAAA\n  let vencimentoFormatado = '00000000';\n  if (dados.vencimento) {\n    const partes = dados.vencimento.split('-');\n    if (partes.length === 3) {\n      vencimentoFormatado = partes[2] + partes[1] + partes[0]; // DDMMAAAA\n    }\n  }\n  \n  // Data de pagamento = hoje (São Paulo)\n  const agora = new Date();\n  const saoPauloOffset = -3 * 60;\n  const saoPauloTime = new Date(agora.getTime() + (saoPauloOffset - agora.getTimezoneOffset()) * 60000);\n  const dataPagamento = String(saoPauloTime.getDate()).padStart(2, '0') + \n                        String(saoPauloTime.getMonth() + 1).padStart(2, '0') + \n                        String(saoPauloTime.getFullYear());\n  \n  const nomeConcessionaria = (dados.nome_cedente_original || '').substring(0, 30).padEnd(30, ' ');\n  \n  // Segmento O - Pagamento de Concessionárias (240 posições)\n  const segmentoO = [\n    '745',                                            // 001-003: Banco Citibank\n    '0003',                                           // 004-007: Lote (0003 para Concessionária)\n    '3',                                              // 008: Tipo registro (detalhe)\n    String(sequencial).padStart(5, '0'),              // 009-013: Sequencial\n    'O',                                              // 014: Segmento\n    '0',                                              // 015: Tipo movimento (0=Inclusão)\n    '00',                                             // 016-017: Código instrução\n    codigoBarras,                                     // 018-061: Código de barras (44)\n    nomeConcessionaria,                               // 062-091: Nome concessionária (30)\n    vencimentoFormatado,                              // 092-099: Data vencimento (8)\n    dataPagamento,                                    // 100-107: Data pagamento (8)\n    String(valor).padStart(15, '0'),                  // 108-122: Valor pagamento (15)\n    ''.padEnd(20, ' '),                               // 123-142: Seu número (20)\n    ''.padEnd(20, ' '),                               // 143-162: Nosso número (20)\n    ''.padEnd(68, ' '),                               // 163-230: Brancos (68)\n    ''.padEnd(10, ' ')                                // 231-240: Ocorrências (10)\n  ].join('');\n  \n  sequencial++;\n  \n  registros.push({\n    id: dados.id,\n    tipo: 'concessionaria',\n    segmentoO: segmentoO,\n    segmentoOLength: segmentoO.length,\n    codigoBarrasOriginal: codigoBarrasOriginal,\n    codigoBarrasOriginalLength: codigoBarrasOriginal.length,\n    codigoBarrasConvertido: codigoBarras.trim(),\n    codigoBarrasConvertidoLength: codigoBarras.trim().length,\n    sequencialFinal: sequencial - 1,\n    valor: dados.valor\n  });\n}\n\nreturn registros.map(r => ({ json: r }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -592,
          480
        ],
        "id": "70158806-8041-4b36-a7f8-af799e7e1c27",
        "name": "Gerar_Registro_Concessionaria"
      },
      {
        "parameters": {
          "jsCode": "// Gera Header de Lote para Concessionária (Registro Tipo 1)\nconst items = $input.all();\n\n// Header de Lote Concessionária - Tipo 1 (240 posições)\nconst headerLote = [\n  '745',                                            // 001-003: Banco Citibank\n  '0003',                                           // 004-007: Lote de serviço (0003 para Concessionária)\n  '1',                                              // 008: Tipo de registro (1=Header Lote)\n  'C',                                              // 009: Tipo de operação (C=Crédito)\n  '13',                                             // 010-011: Tipo de serviço (13=Concessionárias)\n  '00',                                             // 012-013: Forma de lançamento\n  '030',                                            // 014-016: Layout do lote\n  ' ',                                              // 017: Brancos\n  '2',                                              // 018: Tipo inscrição empresa (2=CNPJ)\n  '05385049000123',                                 // 019-032: CNPJ Air Canada (14)\n  ''.padEnd(20, ' '),                               // 033-052: Código convênio (20)\n  '00001',                                          // 053-057: Agência (5)\n  ' ',                                              // 058: Dígito agência (1)\n  '000112353011',                                   // 059-070: Conta (12)\n  ' ',                                              // 071: Dígito conta (1)\n  ' ',                                              // 072: Dígito ag/conta (1)\n  'AIR CANADA'.padEnd(30, ' '),                     // 073-102: Nome empresa (30)\n  ''.padEnd(40, ' '),                               // 103-142: Informação 1 (40)\n  'AV. Paulista, 949 13  Andar'.padEnd(30, ' '),    // 143-172: Endereço (30)\n  '00949',                                          // 173-177: Número (5)\n  '13  Andar'.padEnd(15, ' '),                      // 178-192: Complemento (15)\n  'Sao Paulo'.padEnd(20, ' '),                      // 193-212: Cidade (20)\n  '01311',                                          // 213-217: CEP (5)\n  '100',                                            // 218-220: Complemento CEP (3)\n  'SP',                                             // 221-222: Estado (2)\n  ''.padEnd(8, ' '),                                // 223-230: Brancos (8)\n  ''.padEnd(10, ' ')                                // 231-240: Ocorrências (10)\n].join('');\n\n// Retorna o header + todos os registros de detalhe\nconst registrosDetalhe = items.map(item => item.json);\n\nreturn [{ \n  json: {\n    headerLote: headerLote,\n    headerLoteLength: headerLote.length,\n    registros: registrosDetalhe,\n    qtdRegistros: registrosDetalhe.length,\n    somaValores: registrosDetalhe.reduce((sum, r) => sum + (r.valor || 0), 0)\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -384,
          480
        ],
        "id": "f273776a-4e02-42e6-86aa-66b4a2e102e5",
        "name": "Gerar_Header_Lote_Concessionaria"
      },
      {
        "parameters": {
          "jsCode": "// Gera Trailer de Lote para Concessionária (Registro Tipo 5)\nconst dados = $input.first().json;\n\n// Quantidade de registros no lote:\n// 1 (header) + registros detalhe (cada concessionária = 1: segmento O) + 1 (trailer)\nconst qtdRegistrosDetalhe = dados.registros.length; // Só segmento O\nconst qtdTotalLote = 1 + qtdRegistrosDetalhe + 1; // header + detalhes + trailer\n\n// Soma dos valores (em centavos)\nconst somaValores = Math.round(dados.somaValores * 100);\n\n// Trailer de Lote Concessionária - Tipo 5 (240 posições)\nconst trailerLote = [\n  '745',                                            // 001-003: Banco Citibank\n  '0003',                                           // 004-007: Lote de serviço (0003 para Concessionária)\n  '5',                                              // 008: Tipo de registro (5=Trailer Lote)\n  ''.padEnd(9, ' '),                                // 009-017: Brancos FEBRABAN\n  String(qtdTotalLote).padStart(6, '0'),            // 018-023: Quantidade de registros no lote\n  String(somaValores).padStart(18, '0'),            // 024-041: Somatória dos valores\n  ''.padStart(18, '0'),                             // 042-059: Quantidade de moedas (zeros)\n  ''.padStart(6, '0'),                              // 060-065: Número aviso débito (zeros)\n  ''.padEnd(165, ' '),                              // 066-230: Brancos\n  ''.padEnd(10, ' ')                                // 231-240: Ocorrências\n].join('');\n\nreturn [{ \n  json: {\n    ...dados,\n    trailerLote: trailerLote,\n    trailerLoteLength: trailerLote.length,\n    qtdTotalLote: qtdTotalLote\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -176,
          480
        ],
        "id": "59cfb9f6-59bd-43b6-8433-e6d0e5860871",
        "name": "Gerar_Trailer_Lote_Concessionaria"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M",
            "mode": "list",
            "cachedResultName": "Contas a Pagar - Automação",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1827225322,
            "mode": "list",
            "cachedResultName": "Contas a Pagar",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M/edit#gid=1827225322"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "ID": "={{ $json.id }}",
              "status_sync": "sincronizado",
              "ultima_sync": "={{ $now.setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd HH:mm:ss') }}",
              "Status": "enviado"
            },
            "matchingColumns": [
              "ID"
            ],
            "schema": [
              {
                "id": "ID",
                "displayName": "ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Fornecedor",
                "displayName": "Fornecedor",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Tipo",
                "displayName": "Tipo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Valor",
                "displayName": "Valor",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Vencimento",
                "displayName": "Vencimento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Pagar",
                "displayName": "Pagar",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Descrição",
                "displayName": "Descrição",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "codigo_barras",
                "displayName": "codigo_barras",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "status_sync",
                "displayName": "status_sync",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "ultima_sync",
                "displayName": "ultima_sync",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          2208,
          -32
        ],
        "id": "25636705-0cf3-4e99-a928-73218d25407d",
        "name": "Limpar_Coluna_Pagar",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "RruWc6BrI8tF2hiO",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "fornecedores",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.fornecedor_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -736,
          -224
        ],
        "id": "84725e26-8801-465c-b171-33b1a1a9c07a",
        "name": "Buscar_Fornecedor_Boleto",
        "credentials": {
          "supabaseApi": {
            "id": "OP3IGsLO3LJ2h9JA",
            "name": "Supabase Accounting Payables"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c3e58826-18df-47bf-a198-986e742af472",
                "leftValue": "={{ $json.cnpj }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -304,
          -224
        ],
        "id": "46484c54-e820-4109-ba7c-7e0504c71ef8",
        "name": "If"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M",
            "mode": "list",
            "cachedResultName": "Contas a Pagar - Automação",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1534141160,
            "mode": "list",
            "cachedResultName": "Log_Erros_PDF",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M/edit#gid=1534141160"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "data_hora": "={{ $now.format('dd/MM/yyyy HH:mm:ss') }}",
              "motivo_erro": "Forncedor sem cnpj",
              "fornecedor": "={{ $('Buscar_Fornecedor_Boleto').item.json.nome }}",
              "valor": "={{ $('Buscar_Dados_Boleto').item.json.valor }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "data_hora",
                "displayName": "data_hora",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "arquivo_nome",
                "displayName": "arquivo_nome",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "fornecedor",
                "displayName": "fornecedor",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "valor",
                "displayName": "valor",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "motivo_erro",
                "displayName": "motivo_erro",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "arquivo_id",
                "displayName": "arquivo_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "tamanho_bytes",
                "displayName": "tamanho_bytes",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          96,
          -144
        ],
        "id": "0fbfb205-6c02-469d-beff-3ab21c06be4b",
        "name": "Log_Boleto_CNPJ",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "RruWc6BrI8tF2hiO",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "fornecedor_id",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -96,
          -352
        ],
        "id": "58fb3f59-3645-4549-9b89-4af2bfce435a",
        "name": "Merge"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9a3b3b52-0aa7-40a0-a11a-b973facedf8a",
                "name": "fornecedor_id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "25ec1b85-1f8c-411b-b428-77bc56a3a164",
                "name": "cnpj",
                "value": "={{ $json.cnpj }}",
                "type": "string"
              },
              {
                "id": "0d3c5336-974b-48d3-abcb-d3eb456d3400",
                "name": "nome",
                "value": "={{ $json.nome }}",
                "type": "string"
              },
              {
                "id": "29219a6c-8e60-4efd-a0f9-20f23797051e",
                "name": "tipo",
                "value": "={{ $json.tipo }}",
                "type": "string"
              },
              {
                "id": "b2d33de4-2cae-41d3-8740-3ee83f280145",
                "name": "created_at",
                "value": "={{ $json.created_at }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -528,
          -224
        ],
        "id": "3d5834ea-9168-4085-bd35-2067b97e2c1c",
        "name": "Separa_fornecedor_id"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M",
            "mode": "list",
            "cachedResultName": "Contas a Pagar - Automação",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1827225322,
            "mode": "list",
            "cachedResultName": "Contas a Pagar",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QP6jz8eMoNdNOw2WzhMJMeJeAfCuIY6ZBit3p4CpJ2M/edit#gid=1827225322"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "ID": "={{ $('Merge1').item.json.id }}",
              "ultima_sync": "={{ $now.setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd HH:mm:ss') }}",
              "status_sync": "sincronizado"
            },
            "matchingColumns": [
              "ID"
            ],
            "schema": [
              {
                "id": "ID",
                "displayName": "ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Fornecedor",
                "displayName": "Fornecedor",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Tipo",
                "displayName": "Tipo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Valor",
                "displayName": "Valor",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Vencimento",
                "displayName": "Vencimento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Pagar",
                "displayName": "Pagar",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Descrição",
                "displayName": "Descrição",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "codigo_barras",
                "displayName": "codigo_barras",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "status_sync",
                "displayName": "status_sync",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "ultima_sync",
                "displayName": "ultima_sync",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          112,
          64
        ],
        "id": "af74afd4-c529-41c5-97da-4fc4e3247b5e",
        "name": "Limpar_Coluna_Pagar1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "RruWc6BrI8tF2hiO",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "fornecedor_id",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -96,
          -112
        ],
        "id": "fa3ded74-4d36-4364-a0d8-dd65668fb685",
        "name": "Merge1"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.removeDuplicates",
        "typeVersion": 2,
        "position": [
          112,
          -352
        ],
        "id": "e88cb2fb-9953-48bb-8e11-23e13e805336",
        "name": "Remove Duplicates"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1824,
          -48
        ],
        "id": "c0fde677-a3e2-434d-bb13-8da334b09d96",
        "name": "When Executed by Another Workflow"
      }
    ],
    "connections": {
      "Buscar_Contas_Pagar": {
        "main": [
          [
            {
              "node": "Filtrar_Pagar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Separar_Por_Tipo": {
        "main": [
          [
            {
              "node": "Buscar_Dados_Boleto",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Buscar_Dados_Ted",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Buscar_Dados_Concessionaria",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar_Dados_Boleto": {
        "main": [
          [
            {
              "node": "Buscar_Fornecedor_Boleto",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Gerar_Registro_Boleto": {
        "main": [
          [
            {
              "node": "Gerar_Header_Lote_Boleto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gerar_Header_Lote_Boleto": {
        "main": [
          [
            {
              "node": "Gerar_Trailer_Lote_Boleto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gerar_Trailer_Lote_Boleto": {
        "main": [
          [
            {
              "node": "Merge_Lotes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Montar_Arquivo_CNAB": {
        "main": [
          [
            {
              "node": "Criar_Arquivo_CNAB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar_Arquivo_CNAB": {
        "main": [
          [
            {
              "node": "Salvar_Google_Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Salvar_Google_Drive": {
        "main": [
          [
            {
              "node": "Separar_IDs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtrar_Pagar": {
        "main": [
          [
            {
              "node": "Separar_Por_Tipo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar_Dados_Ted": {
        "main": [
          [
            {
              "node": "Preparar_TED",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar_TED": {
        "main": [
          [
            {
              "node": "Buscar_Fornecedor_TED",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar_Fornecedor_TED": {
        "main": [
          [
            {
              "node": "Combinar_TED",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Combinar_TED": {
        "main": [
          [
            {
              "node": "Gerar_Registro_TED",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gerar_Registro_TED": {
        "main": [
          [
            {
              "node": "Gerar_Header_Lote_TED",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gerar_Header_Lote_TED": {
        "main": [
          [
            {
              "node": "Gerar_Trailer_Lote_TED",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Atualizar_Status_Contas": {
        "main": [
          [
            {
              "node": "Limpar_Coluna_Pagar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gerar_Trailer_Lote_TED": {
        "main": [
          [
            {
              "node": "Merge_Lotes",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge_Lotes": {
        "main": [
          [
            {
              "node": "Montar_Arquivo_CNAB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Separar_IDs": {
        "main": [
          [
            {
              "node": "Atualizar_Status_Contas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar_Dados_Concessionaria": {
        "main": [
          [
            {
              "node": "Gerar_Registro_Concessionaria",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gerar_Registro_Concessionaria": {
        "main": [
          [
            {
              "node": "Gerar_Header_Lote_Concessionaria",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gerar_Header_Lote_Concessionaria": {
        "main": [
          [
            {
              "node": "Gerar_Trailer_Lote_Concessionaria",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gerar_Trailer_Lote_Concessionaria": {
        "main": [
          [
            {
              "node": "Merge_Lotes",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Buscar_Fornecedor_Boleto": {
        "main": [
          [
            {
              "node": "Separa_fornecedor_id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ],
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Remove Duplicates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Separa_fornecedor_id": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log_Boleto_CNPJ": {
        "main": [
          [
            {
              "node": "Limpar_Coluna_Pagar1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Log_Boleto_CNPJ",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove Duplicates": {
        "main": [
          [
            {
              "node": "Gerar_Registro_Boleto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Buscar_Contas_Pagar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Newton Omune",
    "name": "Version 6cf9245b",
    "description": "",
    "autosaved": true
  },
  "tags": []
}