workflows/M_dulo_03___Dire__o_Art_stica.json
{
  "updatedAt": "2026-04-06T17:26:36.180Z",
  "createdAt": "2026-03-27T20:19:56.905Z",
  "id": "fpo8mOjOzNyn0pbZ",
  "name": "Módulo 03 — Direção Artística",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "ed26d695-53ed-4581-a6b8-0504685e0981",
      "name": "Início Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        -48
      ],
      "notes": "⚠️ TESTE MANUAL: clique 'Test workflow' para rodar com video_id hardcoded."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "test-video-id",
              "name": "video_id",
              "value": "91cd740e-9e76-48bc-a876-fdfb7515af2c",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2cc59f10-6e37-4568-aad4-82fbbece69b2",
      "name": "Video ID Teste",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -48
      ],
      "notes": "⚠️ TROQUE O UUID AQUI para testar.\nApós testes, desconecte e use o Execute Workflow Trigger."
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "video_id"
            }
          ]
        }
      },
      "id": "90cd1b95-6376-4ceb-bde3-c85a2c3c929c",
      "name": "Chamado pelo 02B",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -144,
        352
      ],
      "notes": "Recebe { video_id } do Módulo 02B via Execute Workflow.\nDisparado automaticamente após aprovação do roteiro."
    },
    {
      "parameters": {
        "jsCode": "// ===================================================================\n// NORMALIZAR INPUT — Módulo 03\n// ===================================================================\n// Aceita input do Manual Trigger ou do Execute Workflow Trigger.\n// Saída unificada: { video_id }\n// ===================================================================\n\nconst item = $input.first().json;\nconst video_id = item.video_id || null;\n\nif (!video_id) {\n  throw new Error('video_id não encontrado no input.');\n}\n\nreturn [{ json: { video_id } }];"
      },
      "id": "6f9c879a-cd9d-4f01-9099-52629caf1a7d",
      "name": "Normalizar Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        160
      ],
      "notes": "Unifica input de Manual Trigger e Execute Workflow Trigger.\nSaída: { video_id }"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-supa-url",
              "name": "SUPABASE_URL",
              "value": "https://vngtopghlmgqjaibqiyb.supabase.co",
              "type": "string"
            },
            {
              "id": "cfg-supa-key",
              "name": "SUPABASE_SERVICE_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuZ3RvcGdobG1ncWphaWJxaXliIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzUzOTg4NiwiZXhwIjoyMDg5MTE1ODg2fQ.xywZiNZ3h6_uVE9-ltt2LAXtZJ8jTezHCE4LmjBxzTk",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b6478d7c-ae5d-44c0-b2a9-18d28ae5249f",
      "name": "Configuração",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        160
      ],
      "notes": "⚠️ CONFIGURE AQUI:\n1. SUPABASE_URL\n2. SUPABASE_SERVICE_KEY"
    },
    {
      "parameters": {
        "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/cenas?video_id=eq.{{ $('Normalizar Input').first().json.video_id }}&opcao_id=is.null&order=ordem.asc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "309f1f2a-3f8d-4d84-b7ae-536ef8ab0748",
      "name": "Ler Cenas do Vídeo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        160
      ],
      "notes": "GET cenas aprovadas do vídeo (opcao_id IS NULL), ordenadas por ordem.\nRetorna array com todas as cenas."
    },
    {
      "parameters": {
        "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/videos?id=eq.{{ $('Normalizar Input').first().json.video_id }}&select=titulo,formato,sinopse,tom",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "1bef4340-cb19-4d8d-ae8f-2a5c5ecc2c00",
      "name": "Ler Vídeo Metadados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        352
      ],
      "notes": "GET metadados do vídeo (título, formato, sinopse, tom).\nContexto para o Claude Diretor Artístico."
    },
    {
      "parameters": {
        "jsCode": "// ===================================================================\n// PREPARAR PROMPT DIRETOR — Módulo 03\n// ===================================================================\n// Monta system prompt com regras visuais + user message com todas\n// as cenas para o Claude enriquecer com direção artística.\n// Uma única chamada para manter coerência entre cenas.\n// ===================================================================\n\nconst cenasItems = $('Ler Cenas do Vídeo').all().map(i => i.json);\nconst cenas = Array.isArray(cenasItems) && cenasItems.length > 0 && Array.isArray(cenasItems[0]) ? cenasItems[0] : cenasItems;\nconst videoMeta = $('Ler Vídeo Metadados').first().json;\nconst videoArr = Array.isArray(videoMeta) ? videoMeta[0] : videoMeta;\nconst videoId = $('Normalizar Input').first().json.video_id;\n\nconst systemPrompt = `Você é um diretor artístico de stop motion claymation especializado em horror. Receba as cenas do roteiro e enriqueça cada uma com direção visual técnica para geração de imagens via FLUX e animação via WAN 2.2.\n\nPERSONAGEM — CLAY (único personagem, NUNCA duplicar):\nThin man clay figure with spiky dark brown hair, large curved mustache, deep set eyes with heavy dark circles, white shirt suspenders.\nSempre descrever expressão facial e postura corporal condizentes com a emoção da cena.\nevery fingerprint mark and clay imperfection visible.\n\nSETUP FOTOGRÁFICO FIXO (incluir em TODO prompt_flux):\nclaymation_stoners, stop motion photography, miniature set photography, Canon C500 Mark II, macro lens, Cooke Speed Panchro vintage 50mm, 9:16 vertical frame, shallow depth of field, creamy bokeh, visible clay textures, plasticine texture, handmade imperfections, Kodak Vision3 500T emulation, medium film grain, subtle halation, organic texture, NO TEXT, NO WATERMARK, NO LOGO, NO PLASTIC HDR, NO OVERSHARPEN\n\nESTRUTURA DO prompt_flux (seções obrigatórias nesta ordem exata):\n[SETUP FIXO acima], ANGLE: [angulo], [abertura], SUBJECT: [descrição], LIGHT: [iluminação completa], FOREGROUND: [foreground], MIDGROUND: [midground], BACKGROUND: [background], COLOR: [paleta]\n\nREGRAS VISUAIS OBRIGATÓRIAS:\n\n1. ILUMINAÇÃO: Sempre especificar tipo de luz, fonte com temperatura Kelvin, sombras e fill light. Padrão: Low Key Chiaroscuro. Subject SEMPRE bem iluminado com texturas de clay visíveis — incluir \"subject well lit with visible clay textures\" na seção LIGHT. Progredir temperatura ao longo do arco: cenas calma/neutra = 2700-3200K (quente), tensa = 3500-4500K, suspense/pânico = 4500-6500K (fria).\n\n2. ÂNGULOS: Variar entre Close-Up, Medium Close-Up, Medium Shot, Full Shot, POV, Low Angle, High Angle. NUNCA repetir o mesmo ângulo em cenas consecutivas. Ângulo deve reforçar a emoção: Low Angle = vulnerabilidade, High Angle = opressão, Close-Up = intimidade/terror, Full Shot = isolamento.\n\n3. ABERTURA: f/2.0 para close-ups (bokeh máximo), f/2.8 para planos médios, f/4.0 para planos abertos. Abertura menor = mais profundidade de campo.\n\n4. RIQUEZA DE CENÁRIO: O ambiente foi definido pelo roteiro no campo visual. Seu papel é populá-lo como um miniature set profissional de stop motion. Cada cena deve ter 3-5 props detalhados no MIDGROUND e BACKGROUND com texturas de clay visíveis: marcas de dedo, imperfeições, superfícies irregulares, objetos minúsculos com pátina. FOREGROUND sempre com um elemento em primeiro plano com textura extrema de clay. Nunca deixar áreas vazias — cada centímetro do diorama conta. Explorar: poeira suspensa, rachaduras, teias de aranha de clay, objetos envelhecidos, camadas de textura, patina, desgaste.\n\n5. FOREGROUND: Sempre um elemento em primeiro plano com textura de clay extrema. NUNCA usar partes do corpo do personagem no foreground (gera duplicação no FLUX). Exemplos: objetos do cenário levemente fora de foco, superfícies com textura, molduras, prateleiras, ferramentas.\n\n6. ANTI-DUPLICAÇÃO: Incluir \"single character only, one clay figure\" em cenas com personagem. NUNCA mostrar segundo personagem, cópia, reflexo de corpo inteiro, ou silhueta com forma humana definida.\n\n7. CONTINUIDADE (Regra 27): Quando continuidade: true, COPIAR LITERALMENTE os elementos de MIDGROUND e BACKGROUND da cena anterior que você acabou de gerar. Alterar apenas ANGLE, SUBJECT, FOREGROUND e abertura. Manter mesma iluminação base (mesma temperatura Kelvin, mesma fonte), mesma paleta, mesmos props. O prompt_flux dessas cenas deve ter os mesmos termos descritivos para midground e background.\n\n8. PALETA: Sempre incluir \"desaturated horror palette\" como sufixo. Definir 3-4 tons dominantes por cena. Paletas devem ser coerentes dentro do vídeo mas progredir sutilmente: calma = tons terrosos/âmbar, pânico = tons frios/dessaturados/esverdeados.\n\n9. SUBJECT quando personagem_presente = true: Descrever Clay com a descrição fixa acima + pose específica + expressão facial + postura corporal que reflitam a emoção da cena. Sempre incluir \"every fingerprint mark and clay imperfection visible\".\n   SUBJECT quando personagem_presente = false: Descrever o cenário ou ameaça como subject — sombras sem forma definida, silhuetas abstratas, escuridão com presença, objetos com presença ominosa. Nunca formas humanas definidas.\n\n10. VALIDAÇÃO PERSONAGEM: Se o prompt_flux que você gerar menciona Clay, character, figure, man ou thin man em QUALQUER seção (SUBJECT, MIDGROUND, BACKGROUND), o campo personagem_presente DEVE ser true. Se o input tem personagem_presente: false mas você incluiu Clay no visual, corrija para true no JSON de saída e atribua redux_strength conforme a Regra 28. Adicione o campo personagem_presente: true no JSON de output para essa cena.\n\nREDUX STRENGTH (Regra 28 — preencher campo redux_strength):\n- Close-Up: 0.78-0.85\n- Medium Close-Up: 0.75-0.80\n- Medium Shot pose padrão: 0.72-0.78\n- Medium Shot pose diferente: 0.70-0.75\n- Full Shot: 0.70-0.75\n- Variação mínima (mesma pose, ângulo similar ao da cena anterior): 0.85-0.90\n- Cenas sem personagem (personagem_presente: false): null\n- NUNCA abaixo de 0.70, NUNCA acima de 0.90\n\nPROMPT DE MOVIMENTO WAN (campo prompt_movimento_wan):\n- Descrever UM movimento principal por cena em inglês.\n- Incluir \"continuous motion throughout\" ou \"slow movement throughout\" ao final.\n- Movimentos sutis e lentos — stop motion claymation não tem movimentos bruscos.\n- Para cenas sem personagem: descrever movimento ambiental (sombras se movendo, poeira, luz piscando, objetos balançando).\n- Exemplos bons: \"character slowly reaches hand toward collar, fingers tremble slightly, slow movement throughout\"\n- Exemplos ruins: \"character runs across room and jumps\" (muito rápido para claymation)\n\nRESPONDA APENAS com JSON válido. Sem markdown, sem backticks, sem explicação.\n\nFORMATO JSON EXATO:\n{\n  \"cenas\": [\n    {\n      \"id\": \"copiar o uuid id da cena do input\",\n      \"angulo\": \"Close-Up, eye level\",\n      \"abertura\": \"f/2.0\",\n      \"iluminacao\": \"descrição completa: tipo, fonte, Kelvin, sombras, fill\",\n      \"foreground\": \"descrição detalhada com texturas clay\",\n      \"midground\": \"descrição detalhada com texturas clay\",\n      \"background\": \"descrição detalhada com bokeh e profundidade\",\n      \"paleta_cores\": \"3-4 tons, desaturated horror palette\",\n      \"prompt_flux\": \"prompt COMPLETO montado com SETUP FIXO + todas as seções ANGLE/SUBJECT/LIGHT/FOREGROUND/MIDGROUND/BACKGROUND/COLOR\",\n      \"prompt_movimento_wan\": \"movimento único em inglês, continuous motion throughout\",\n      \"redux_strength\": 0.65\n    }\n  ]\n}`;\n\n// Montar user message com todas as cenas\nconst cenasTexto = cenas.map(c => {\n  return `---\\nCENA ${c.numero} (id: ${c.id})\\nEmoção: ${c.emocao}\\nTipo: ${c.tipo_cena}\\nPersonagem presente: ${c.personagem_presente}\\nPerspectiva: ${c.perspectiva}\\nContinuidade: ${c.continuidade}\\nTransição: ${c.transicao_entrada}\\nNarração: \"${c.narracao}\"\\nVisual: ${c.visual}\\nMovimento: ${c.movimento}`;\n}).join('\\n');\n\nconst userMessage = `VÍDEO: ${videoArr.titulo || '(sem título)'}\\nFORMATO: ${videoArr.formato || 'shorts'}\\nTOM: ${videoArr.tom || 'horror'}\\nSINOPSE: ${videoArr.sinopse || ''}\\n\\nTOTAL DE CENAS: ${cenas.length}\\n\\n${cenasTexto}\\n\\n---\\nGere a direção artística para TODAS as ${cenas.length} cenas acima em JSON.`;\n\nreturn [{\n  json: {\n    _systemPrompt: systemPrompt,\n    _userMessage: userMessage,\n    _videoId: videoId,\n    _cenas: cenas\n  }\n}];"
      },
      "id": "1a6615c0-0b87-4a67-ace7-3193fdfab2f5",
      "name": "Preparar Prompt Diretor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        160
      ],
      "notes": "Monta system prompt com todas as regras visuais (1-18 + 27 + 28)\ne user message com todas as cenas para direção artística.\nUma única chamada Claude para manter coerência."
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "maxTokensToSample": 16384,
          "temperature": 0.7
        }
      },
      "id": "bac02458-d528-473a-8278-af68f4a23f29",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1360,
        352
      ],
      "credentials": {
        "anthropicApi": {
          "id": "h5r0hNi26YDkGMvp",
          "name": "Anthropic"
        }
      },
      "notes": "Sonnet 4.5, 16384 tokens (prompts FLUX completos para todas as cenas),\ntemperature 0.7 (criativo mas consistente)."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json._userMessage }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json._systemPrompt }}"
            }
          ]
        }
      },
      "id": "53fdd043-f58d-4998-961c-b43d0d9ed18a",
      "name": "Claude Diretor Artístico",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1264,
        160
      ],
      "notes": "Enriquece todas as cenas com direção artística:\nangulo, abertura, iluminacao, foreground, midground, background,\npaleta_cores, prompt_flux, prompt_movimento_wan, redux_strength."
    },
    {
      "parameters": {
        "jsCode": "// ===================================================================\n// PARSE E ATUALIZAR CENAS — Módulo 03\n// ===================================================================\n// Parseia resposta do Claude Diretor Artístico.\n// Atualiza cada cena no Supabase com os campos visuais.\n// Usa this.helpers.httpRequest (não fetch).\n// ===================================================================\n\nconst response = $input.first().json;\nconst config = $('Configuração').first().json;\nconst videoId = $('Normalizar Input').first().json.video_id;\nconst cenasOriginais = $('Preparar Prompt Diretor').first().json._cenas;\nconst baseUrl = config.SUPABASE_URL;\nconst apiKey = config.SUPABASE_SERVICE_KEY;\n\n// Parse da resposta\nlet cenasVisuais = [];\ntry {\n  const text = response.text || response.response || '';\n  const clean = text.replace(/```json|```/g, '').trim();\n  const parsed = JSON.parse(clean);\n  cenasVisuais = parsed.cenas || [];\n} catch (e) {\n  return [{ json: { _erro: `Parse falhou: ${e.message}`, _videoId: videoId } }];\n}\n\nif (cenasVisuais.length === 0) {\n  return [{ json: { _erro: 'Claude não retornou cenas', _videoId: videoId } }];\n}\n\nconst headers = {\n  'apikey': apiKey,\n  'Authorization': `Bearer ${apiKey}`,\n  'Content-Type': 'application/json',\n  'Prefer': 'return=minimal'\n};\n\nlet atualizadas = 0;\nlet erros = [];\n\nfor (const cv of cenasVisuais) {\n  if (!cv.id) {\n    erros.push('Cena sem id — ignorada');\n    continue;\n  }\n\n  try {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: `${baseUrl}/rest/v1/cenas?id=eq.${cv.id}`,\n      headers,\n      body: {\n        angulo: cv.angulo || null,\n        abertura: cv.abertura || null,\n        iluminacao: cv.iluminacao || null,\n        foreground: cv.foreground || null,\n        midground: cv.midground || null,\n        background: cv.background || null,\n        paleta_cores: cv.paleta_cores || null,\n        prompt_flux: cv.prompt_flux || null,\n        prompt_movimento_wan: cv.prompt_movimento_wan || null,\n        redux_strength: cv.redux_strength !== undefined ? cv.redux_strength : null\n      }\n    });\n    atualizadas++;\n  } catch (e) {\n    erros.push(`Cena ${cv.id}: ${e.message}`);\n  }\n}\n\nreturn [{\n  json: {\n    _videoId: videoId,\n    _cenasAtualizadas: atualizadas,\n    _cenasTotal: cenasVisuais.length,\n    _erros: erros\n  }\n}];"
      },
      "id": "dcb097c4-2f5b-4840-877e-112a327b706b",
      "name": "Parse e Atualizar Cenas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        160
      ],
      "notes": "Parseia JSON do Claude Diretor Artístico.\nAtualiza cada cena no Supabase com campos visuais.\nUsa this.helpers.httpRequest."
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/videos?id=eq.{{ $('Normalizar Input').first().json.video_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ modulo_atual: '04', status: 'processando' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "843e72c7-e292-4c49-b20e-8015b6c3384a",
      "name": "Avançar Módulo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        144
      ],
      "notes": "PATCH videos: avança modulo_atual para '04'.\nO Módulo 04 (Imagens) pode ser disparado na sequência."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "q9a97KpjBXTUmD4X",
          "mode": "list",
          "cachedResultUrl": "/workflow/q9a97KpjBXTUmD4X",
          "cachedResultName": "Módulo 04 — Imagens + Thumbnail"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_id": "={{ $('Normalizar Input').first().json.video_id }}"
          },
          "matchingColumns": [
            "video_id"
          ],
          "schema": [
            {
              "id": "video_id",
              "displayName": "video_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1936,
        144
      ],
      "id": "13cd3f99-8b89-47be-b513-fd40973769d2",
      "name": "Call 'Módulo 04 — Imagens + Thumbnail'"
    }
  ],
  "connections": {
    "Início Manual": {
      "main": [
        [
          {
            "node": "Video ID Teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video ID Teste": {
      "main": [
        [
          {
            "node": "Normalizar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamado pelo 02B": {
      "main": [
        [
          {
            "node": "Normalizar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Input": {
      "main": [
        [
          {
            "node": "Configuração",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuração": {
      "main": [
        [
          {
            "node": "Ler Cenas do Vídeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Cenas do Vídeo": {
      "main": [
        [
          {
            "node": "Ler Vídeo Metadados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Vídeo Metadados": {
      "main": [
        [
          {
            "node": "Preparar Prompt Diretor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt Diretor": {
      "main": [
        [
          {
            "node": "Claude Diretor Artístico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Claude Diretor Artístico",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Claude Diretor Artístico": {
      "main": [
        [
          {
            "node": "Parse e Atualizar Cenas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse e Atualizar Cenas": {
      "main": [
        [
          {
            "node": "Avançar Módulo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avançar Módulo": {
      "main": [
        [
          {
            "node": "Call 'Módulo 04 — Imagens + Thumbnail'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "c19f9ddb-e46b-43ab-be2a-9b734530c14f",
  "activeVersionId": "c19f9ddb-e46b-43ab-be2a-9b734530c14f",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-27T20:19:56.910Z",
      "createdAt": "2026-03-27T20:19:56.910Z",
      "role": "workflow:owner",
      "workflowId": "fpo8mOjOzNyn0pbZ",
      "projectId": "SoH44tJE4dqRVTiw"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-06T17:34:24.000Z",
    "createdAt": "2026-04-06T17:26:36.182Z",
    "versionId": "c19f9ddb-e46b-43ab-be2a-9b734530c14f",
    "workflowId": "fpo8mOjOzNyn0pbZ",
    "nodes": [
      {
        "parameters": {},
        "id": "ed26d695-53ed-4581-a6b8-0504685e0981",
        "name": "Início Manual",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -144,
          -48
        ],
        "notes": "⚠️ TESTE MANUAL: clique 'Test workflow' para rodar com video_id hardcoded."
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "test-video-id",
                "name": "video_id",
                "value": "91cd740e-9e76-48bc-a876-fdfb7515af2c",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "2cc59f10-6e37-4568-aad4-82fbbece69b2",
        "name": "Video ID Teste",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          64,
          -48
        ],
        "notes": "⚠️ TROQUE O UUID AQUI para testar.\nApós testes, desconecte e use o Execute Workflow Trigger."
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "video_id"
              }
            ]
          }
        },
        "id": "90cd1b95-6376-4ceb-bde3-c85a2c3c929c",
        "name": "Chamado pelo 02B",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -144,
          352
        ],
        "notes": "Recebe { video_id } do Módulo 02B via Execute Workflow.\nDisparado automaticamente após aprovação do roteiro."
      },
      {
        "parameters": {
          "jsCode": "// ===================================================================\n// NORMALIZAR INPUT — Módulo 03\n// ===================================================================\n// Aceita input do Manual Trigger ou do Execute Workflow Trigger.\n// Saída unificada: { video_id }\n// ===================================================================\n\nconst item = $input.first().json;\nconst video_id = item.video_id || null;\n\nif (!video_id) {\n  throw new Error('video_id não encontrado no input.');\n}\n\nreturn [{ json: { video_id } }];"
        },
        "id": "6f9c879a-cd9d-4f01-9099-52629caf1a7d",
        "name": "Normalizar Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          256,
          160
        ],
        "notes": "Unifica input de Manual Trigger e Execute Workflow Trigger.\nSaída: { video_id }"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cfg-supa-url",
                "name": "SUPABASE_URL",
                "value": "https://vngtopghlmgqjaibqiyb.supabase.co",
                "type": "string"
              },
              {
                "id": "cfg-supa-key",
                "name": "SUPABASE_SERVICE_KEY",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuZ3RvcGdobG1ncWphaWJxaXliIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzUzOTg4NiwiZXhwIjoyMDg5MTE1ODg2fQ.xywZiNZ3h6_uVE9-ltt2LAXtZJ8jTezHCE4LmjBxzTk",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "b6478d7c-ae5d-44c0-b2a9-18d28ae5249f",
        "name": "Configuração",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          464,
          160
        ],
        "notes": "⚠️ CONFIGURE AQUI:\n1. SUPABASE_URL\n2. SUPABASE_SERVICE_KEY"
      },
      {
        "parameters": {
          "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/cenas?video_id=eq.{{ $('Normalizar Input').first().json.video_id }}&opcao_id=is.null&order=ordem.asc",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "309f1f2a-3f8d-4d84-b7ae-536ef8ab0748",
        "name": "Ler Cenas do Vídeo",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          656,
          160
        ],
        "notes": "GET cenas aprovadas do vídeo (opcao_id IS NULL), ordenadas por ordem.\nRetorna array com todas as cenas."
      },
      {
        "parameters": {
          "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/videos?id=eq.{{ $('Normalizar Input').first().json.video_id }}&select=titulo,formato,sinopse,tom",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "1bef4340-cb19-4d8d-ae8f-2a5c5ecc2c00",
        "name": "Ler Vídeo Metadados",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          656,
          352
        ],
        "notes": "GET metadados do vídeo (título, formato, sinopse, tom).\nContexto para o Claude Diretor Artístico."
      },
      {
        "parameters": {
          "jsCode": "// ===================================================================\n// PREPARAR PROMPT DIRETOR — Módulo 03\n// ===================================================================\n// Monta system prompt com regras visuais + user message com todas\n// as cenas para o Claude enriquecer com direção artística.\n// Uma única chamada para manter coerência entre cenas.\n// ===================================================================\n\nconst cenasItems = $('Ler Cenas do Vídeo').all().map(i => i.json);\nconst cenas = Array.isArray(cenasItems) && cenasItems.length > 0 && Array.isArray(cenasItems[0]) ? cenasItems[0] : cenasItems;\nconst videoMeta = $('Ler Vídeo Metadados').first().json;\nconst videoArr = Array.isArray(videoMeta) ? videoMeta[0] : videoMeta;\nconst videoId = $('Normalizar Input').first().json.video_id;\n\nconst systemPrompt = `Você é um diretor artístico de stop motion claymation especializado em horror. Receba as cenas do roteiro e enriqueça cada uma com direção visual técnica para geração de imagens via FLUX e animação via WAN 2.2.\n\nPERSONAGEM — CLAY (único personagem, NUNCA duplicar):\nThin man clay figure with spiky dark brown hair, large curved mustache, deep set eyes with heavy dark circles, white shirt suspenders.\nSempre descrever expressão facial e postura corporal condizentes com a emoção da cena.\nevery fingerprint mark and clay imperfection visible.\n\nSETUP FOTOGRÁFICO FIXO (incluir em TODO prompt_flux):\nclaymation_stoners, stop motion photography, miniature set photography, Canon C500 Mark II, macro lens, Cooke Speed Panchro vintage 50mm, 9:16 vertical frame, shallow depth of field, creamy bokeh, visible clay textures, plasticine texture, handmade imperfections, Kodak Vision3 500T emulation, medium film grain, subtle halation, organic texture, NO TEXT, NO WATERMARK, NO LOGO, NO PLASTIC HDR, NO OVERSHARPEN\n\nESTRUTURA DO prompt_flux (seções obrigatórias nesta ordem exata):\n[SETUP FIXO acima], ANGLE: [angulo], [abertura], SUBJECT: [descrição], LIGHT: [iluminação completa], FOREGROUND: [foreground], MIDGROUND: [midground], BACKGROUND: [background], COLOR: [paleta]\n\nREGRAS VISUAIS OBRIGATÓRIAS:\n\n1. ILUMINAÇÃO: Sempre especificar tipo de luz, fonte com temperatura Kelvin, sombras e fill light. Padrão: Low Key Chiaroscuro. Subject SEMPRE bem iluminado com texturas de clay visíveis — incluir \"subject well lit with visible clay textures\" na seção LIGHT. Progredir temperatura ao longo do arco: cenas calma/neutra = 2700-3200K (quente), tensa = 3500-4500K, suspense/pânico = 4500-6500K (fria).\n\n2. ÂNGULOS: Variar entre Close-Up, Medium Close-Up, Medium Shot, Full Shot, POV, Low Angle, High Angle. NUNCA repetir o mesmo ângulo em cenas consecutivas. Ângulo deve reforçar a emoção: Low Angle = vulnerabilidade, High Angle = opressão, Close-Up = intimidade/terror, Full Shot = isolamento.\n\n3. ABERTURA: f/2.0 para close-ups (bokeh máximo), f/2.8 para planos médios, f/4.0 para planos abertos. Abertura menor = mais profundidade de campo.\n\n4. RIQUEZA DE CENÁRIO: O ambiente foi definido pelo roteiro no campo visual. Seu papel é populá-lo como um miniature set profissional de stop motion. Cada cena deve ter 3-5 props detalhados no MIDGROUND e BACKGROUND com texturas de clay visíveis: marcas de dedo, imperfeições, superfícies irregulares, objetos minúsculos com pátina. FOREGROUND sempre com um elemento em primeiro plano com textura extrema de clay. Nunca deixar áreas vazias — cada centímetro do diorama conta. Explorar: poeira suspensa, rachaduras, teias de aranha de clay, objetos envelhecidos, camadas de textura, patina, desgaste.\n\n5. FOREGROUND: Sempre um elemento em primeiro plano com textura de clay extrema. NUNCA usar partes do corpo do personagem no foreground (gera duplicação no FLUX). Exemplos: objetos do cenário levemente fora de foco, superfícies com textura, molduras, prateleiras, ferramentas.\n\n6. ANTI-DUPLICAÇÃO: Incluir \"single character only, one clay figure\" em cenas com personagem. NUNCA mostrar segundo personagem, cópia, reflexo de corpo inteiro, ou silhueta com forma humana definida.\n\n7. CONTINUIDADE (Regra 27): Quando continuidade: true, COPIAR LITERALMENTE os elementos de MIDGROUND e BACKGROUND da cena anterior que você acabou de gerar. Alterar apenas ANGLE, SUBJECT, FOREGROUND e abertura. Manter mesma iluminação base (mesma temperatura Kelvin, mesma fonte), mesma paleta, mesmos props. O prompt_flux dessas cenas deve ter os mesmos termos descritivos para midground e background.\n\n8. PALETA: Sempre incluir \"desaturated horror palette\" como sufixo. Definir 3-4 tons dominantes por cena. Paletas devem ser coerentes dentro do vídeo mas progredir sutilmente: calma = tons terrosos/âmbar, pânico = tons frios/dessaturados/esverdeados.\n\n9. SUBJECT quando personagem_presente = true: Descrever Clay com a descrição fixa acima + pose específica + expressão facial + postura corporal que reflitam a emoção da cena. Sempre incluir \"every fingerprint mark and clay imperfection visible\".\n   SUBJECT quando personagem_presente = false: Descrever o cenário ou ameaça como subject — sombras sem forma definida, silhuetas abstratas, escuridão com presença, objetos com presença ominosa. Nunca formas humanas definidas.\n\n10. VALIDAÇÃO PERSONAGEM: Se o prompt_flux que você gerar menciona Clay, character, figure, man ou thin man em QUALQUER seção (SUBJECT, MIDGROUND, BACKGROUND), o campo personagem_presente DEVE ser true. Se o input tem personagem_presente: false mas você incluiu Clay no visual, corrija para true no JSON de saída e atribua redux_strength conforme a Regra 28. Adicione o campo personagem_presente: true no JSON de output para essa cena.\n\nREDUX STRENGTH (Regra 28 — preencher campo redux_strength):\n- Close-Up: 0.78-0.85\n- Medium Close-Up: 0.75-0.80\n- Medium Shot pose padrão: 0.72-0.78\n- Medium Shot pose diferente: 0.70-0.75\n- Full Shot: 0.70-0.75\n- Variação mínima (mesma pose, ângulo similar ao da cena anterior): 0.85-0.90\n- Cenas sem personagem (personagem_presente: false): null\n- NUNCA abaixo de 0.70, NUNCA acima de 0.90\n\nPROMPT DE MOVIMENTO WAN (campo prompt_movimento_wan):\n- Descrever UM movimento principal por cena em inglês.\n- Incluir \"continuous motion throughout\" ou \"slow movement throughout\" ao final.\n- Movimentos sutis e lentos — stop motion claymation não tem movimentos bruscos.\n- Para cenas sem personagem: descrever movimento ambiental (sombras se movendo, poeira, luz piscando, objetos balançando).\n- Exemplos bons: \"character slowly reaches hand toward collar, fingers tremble slightly, slow movement throughout\"\n- Exemplos ruins: \"character runs across room and jumps\" (muito rápido para claymation)\n\nRESPONDA APENAS com JSON válido. Sem markdown, sem backticks, sem explicação.\n\nFORMATO JSON EXATO:\n{\n  \"cenas\": [\n    {\n      \"id\": \"copiar o uuid id da cena do input\",\n      \"angulo\": \"Close-Up, eye level\",\n      \"abertura\": \"f/2.0\",\n      \"iluminacao\": \"descrição completa: tipo, fonte, Kelvin, sombras, fill\",\n      \"foreground\": \"descrição detalhada com texturas clay\",\n      \"midground\": \"descrição detalhada com texturas clay\",\n      \"background\": \"descrição detalhada com bokeh e profundidade\",\n      \"paleta_cores\": \"3-4 tons, desaturated horror palette\",\n      \"prompt_flux\": \"prompt COMPLETO montado com SETUP FIXO + todas as seções ANGLE/SUBJECT/LIGHT/FOREGROUND/MIDGROUND/BACKGROUND/COLOR\",\n      \"prompt_movimento_wan\": \"movimento único em inglês, continuous motion throughout\",\n      \"redux_strength\": 0.65\n    }\n  ]\n}`;\n\n// Montar user message com todas as cenas\nconst cenasTexto = cenas.map(c => {\n  return `---\\nCENA ${c.numero} (id: ${c.id})\\nEmoção: ${c.emocao}\\nTipo: ${c.tipo_cena}\\nPersonagem presente: ${c.personagem_presente}\\nPerspectiva: ${c.perspectiva}\\nContinuidade: ${c.continuidade}\\nTransição: ${c.transicao_entrada}\\nNarração: \"${c.narracao}\"\\nVisual: ${c.visual}\\nMovimento: ${c.movimento}`;\n}).join('\\n');\n\nconst userMessage = `VÍDEO: ${videoArr.titulo || '(sem título)'}\\nFORMATO: ${videoArr.formato || 'shorts'}\\nTOM: ${videoArr.tom || 'horror'}\\nSINOPSE: ${videoArr.sinopse || ''}\\n\\nTOTAL DE CENAS: ${cenas.length}\\n\\n${cenasTexto}\\n\\n---\\nGere a direção artística para TODAS as ${cenas.length} cenas acima em JSON.`;\n\nreturn [{\n  json: {\n    _systemPrompt: systemPrompt,\n    _userMessage: userMessage,\n    _videoId: videoId,\n    _cenas: cenas\n  }\n}];"
        },
        "id": "1a6615c0-0b87-4a67-ace7-3193fdfab2f5",
        "name": "Preparar Prompt Diretor",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1056,
          160
        ],
        "notes": "Monta system prompt com todas as regras visuais (1-18 + 27 + 28)\ne user message com todas as cenas para direção artística.\nUma única chamada Claude para manter coerência."
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-sonnet-4-5-20250929",
            "mode": "list",
            "cachedResultName": "Claude Sonnet 4.5"
          },
          "options": {
            "maxTokensToSample": 16384,
            "temperature": 0.7
          }
        },
        "id": "bac02458-d528-473a-8278-af68f4a23f29",
        "name": "Anthropic Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          1360,
          352
        ],
        "credentials": {
          "anthropicApi": {
            "id": "h5r0hNi26YDkGMvp",
            "name": "Anthropic"
          }
        },
        "notes": "Sonnet 4.5, 16384 tokens (prompts FLUX completos para todas as cenas),\ntemperature 0.7 (criativo mas consistente)."
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json._userMessage }}",
          "messages": {
            "messageValues": [
              {
                "message": "={{ $json._systemPrompt }}"
              }
            ]
          }
        },
        "id": "53fdd043-f58d-4998-961c-b43d0d9ed18a",
        "name": "Claude Diretor Artístico",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.4,
        "position": [
          1264,
          160
        ],
        "notes": "Enriquece todas as cenas com direção artística:\nangulo, abertura, iluminacao, foreground, midground, background,\npaleta_cores, prompt_flux, prompt_movimento_wan, redux_strength."
      },
      {
        "parameters": {
          "jsCode": "// ===================================================================\n// PARSE E ATUALIZAR CENAS — Módulo 03\n// ===================================================================\n// Parseia resposta do Claude Diretor Artístico.\n// Atualiza cada cena no Supabase com os campos visuais.\n// Usa this.helpers.httpRequest (não fetch).\n// ===================================================================\n\nconst response = $input.first().json;\nconst config = $('Configuração').first().json;\nconst videoId = $('Normalizar Input').first().json.video_id;\nconst cenasOriginais = $('Preparar Prompt Diretor').first().json._cenas;\nconst baseUrl = config.SUPABASE_URL;\nconst apiKey = config.SUPABASE_SERVICE_KEY;\n\n// Parse da resposta\nlet cenasVisuais = [];\ntry {\n  const text = response.text || response.response || '';\n  const clean = text.replace(/```json|```/g, '').trim();\n  const parsed = JSON.parse(clean);\n  cenasVisuais = parsed.cenas || [];\n} catch (e) {\n  return [{ json: { _erro: `Parse falhou: ${e.message}`, _videoId: videoId } }];\n}\n\nif (cenasVisuais.length === 0) {\n  return [{ json: { _erro: 'Claude não retornou cenas', _videoId: videoId } }];\n}\n\nconst headers = {\n  'apikey': apiKey,\n  'Authorization': `Bearer ${apiKey}`,\n  'Content-Type': 'application/json',\n  'Prefer': 'return=minimal'\n};\n\nlet atualizadas = 0;\nlet erros = [];\n\nfor (const cv of cenasVisuais) {\n  if (!cv.id) {\n    erros.push('Cena sem id — ignorada');\n    continue;\n  }\n\n  try {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: `${baseUrl}/rest/v1/cenas?id=eq.${cv.id}`,\n      headers,\n      body: {\n        angulo: cv.angulo || null,\n        abertura: cv.abertura || null,\n        iluminacao: cv.iluminacao || null,\n        foreground: cv.foreground || null,\n        midground: cv.midground || null,\n        background: cv.background || null,\n        paleta_cores: cv.paleta_cores || null,\n        prompt_flux: cv.prompt_flux || null,\n        prompt_movimento_wan: cv.prompt_movimento_wan || null,\n        redux_strength: cv.redux_strength !== undefined ? cv.redux_strength : null\n      }\n    });\n    atualizadas++;\n  } catch (e) {\n    erros.push(`Cena ${cv.id}: ${e.message}`);\n  }\n}\n\nreturn [{\n  json: {\n    _videoId: videoId,\n    _cenasAtualizadas: atualizadas,\n    _cenasTotal: cenasVisuais.length,\n    _erros: erros\n  }\n}];"
        },
        "id": "dcb097c4-2f5b-4840-877e-112a327b706b",
        "name": "Parse e Atualizar Cenas",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1536,
          160
        ],
        "notes": "Parseia JSON do Claude Diretor Artístico.\nAtualiza cada cena no Supabase com campos visuais.\nUsa this.helpers.httpRequest."
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/videos?id=eq.{{ $('Normalizar Input').first().json.video_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ modulo_atual: '04', status: 'processando' }) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "843e72c7-e292-4c49-b20e-8015b6c3384a",
        "name": "Avançar Módulo",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1728,
          144
        ],
        "notes": "PATCH videos: avança modulo_atual para '04'.\nO Módulo 04 (Imagens) pode ser disparado na sequência."
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "q9a97KpjBXTUmD4X",
            "mode": "list",
            "cachedResultUrl": "/workflow/q9a97KpjBXTUmD4X",
            "cachedResultName": "Módulo 04 — Imagens + Thumbnail"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "video_id": "={{ $('Normalizar Input').first().json.video_id }}"
            },
            "matchingColumns": [
              "video_id"
            ],
            "schema": [
              {
                "id": "video_id",
                "displayName": "video_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1936,
          144
        ],
        "id": "13cd3f99-8b89-47be-b513-fd40973769d2",
        "name": "Call 'Módulo 04 — Imagens + Thumbnail'"
      }
    ],
    "connections": {
      "Início Manual": {
        "main": [
          [
            {
              "node": "Video ID Teste",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Video ID Teste": {
        "main": [
          [
            {
              "node": "Normalizar Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chamado pelo 02B": {
        "main": [
          [
            {
              "node": "Normalizar Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalizar Input": {
        "main": [
          [
            {
              "node": "Configuração",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Configuração": {
        "main": [
          [
            {
              "node": "Ler Cenas do Vídeo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ler Cenas do Vídeo": {
        "main": [
          [
            {
              "node": "Ler Vídeo Metadados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ler Vídeo Metadados": {
        "main": [
          [
            {
              "node": "Preparar Prompt Diretor",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Prompt Diretor": {
        "main": [
          [
            {
              "node": "Claude Diretor Artístico",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Claude Diretor Artístico",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Claude Diretor Artístico": {
        "main": [
          [
            {
              "node": "Parse e Atualizar Cenas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse e Atualizar Cenas": {
        "main": [
          [
            {
              "node": "Avançar Módulo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Avançar Módulo": {
        "main": [
          [
            {
              "node": "Call 'Módulo 04 — Imagens + Thumbnail'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Newton Omune",
    "name": "Version c19f9ddb",
    "description": "",
    "autosaved": true
  },
  "tags": []
}