workflows/M_dulo_02B___Aprova__o_de_Roteiro.json
{
  "updatedAt": "2026-04-10T23:31:54.384Z",
  "createdAt": "2026-03-22T17:48:44.580Z",
  "id": "QlJgq9kmmR0eJmDP",
  "name": "Módulo 02B — Aprovação de Roteiro",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "07a9aa0e-7f81-4873-a61d-ef7596b87453",
      "name": "Início Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "notes": "⚠️ TESTE MANUAL: clique 'Test workflow' para rodar com video_id e opcao_id hardcoded no nó seguinte."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "test-video-id",
              "name": "video_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "test-opcao-id",
              "name": "opcao_id",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "83743244-b1cc-41f2-824b-0b5368ef9c7a",
      "name": "IDs Teste",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "notes": "⚠️ TROQUE OS UUIDs AQUI para testar.\nApós testes, desconecte este caminho e use só o webhook."
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "roteiro/aprovar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7d5ad658-85f5-4b4e-8d5b-5e165b4e55dc",
      "name": "Webhook Aprovar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "webhookId": "roteiro-aprovar-02b",
      "notes": "POST /roteiro/aprovar\nPayload: { video_id: uuid, opcao_id: uuid }\nDisparado pelo frontend ao aprovar um roteiro."
    },
    {
      "parameters": {
        "jsCode": "// ===================================================================\n// NORMALIZAR INPUT — Módulo 02B\n// ===================================================================\n// Aceita input do Manual Trigger ou do Webhook.\n// Saída unificada: { video_id, opcao_id }\n// ===================================================================\n\nconst item = $input.first().json;\nconst video_id = item.video_id || (item.body && item.body.video_id) || null;\nconst opcao_id = item.opcao_id || (item.body && item.body.opcao_id) || null;\n\nif (!video_id || !opcao_id) {\n  throw new Error('video_id e opcao_id são obrigatórios.');\n}\n\nreturn [{ json: { video_id, opcao_id } }];"
      },
      "id": "4e72d5d2-1067-4e2d-8267-3bfe72a99e47",
      "name": "Normalizar Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        208
      ],
      "notes": "Unifica input de Webhook e Manual Trigger.\nSaída: { video_id, opcao_id }"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-supa-url",
              "name": "SUPABASE_URL",
              "value": "https://vngtopghlmgqjaibqiyb.supabase.co",
              "type": "string"
            },
            {
              "id": "cfg-supa-key",
              "name": "SUPABASE_SERVICE_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuZ3RvcGdobG1ncWphaWJxaXliIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzUzOTg4NiwiZXhwIjoyMDg5MTE1ODg2fQ.xywZiNZ3h6_uVE9-ltt2LAXtZJ8jTezHCE4LmjBxzTk",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5ae39ba0-99c2-4b0a-bbf3-3bdba93e21cc",
      "name": "Configuração",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        208
      ],
      "notes": "⚠️ CONFIGURE AQUI:\n1. SUPABASE_URL\n2. SUPABASE_SERVICE_KEY"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "roteiro_opcoes",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Normalizar Input').first().json.opcao_id }}"
            }
          ]
        }
      },
      "id": "47623aa6-34ba-4c75-bbc2-9d6002607fcf",
      "name": "Ler Opção Aprovada",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        208
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "7Q7gKenrdhP7dHXE",
          "name": "OMundodeClay_Supabase"
        }
      },
      "notes": "Busca a opção de roteiro aprovada pelo usuário.\nNó nativo Supabase getAll com filtro por id."
    },
    {
      "parameters": {
        "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/cenas?or=(opcao_id.eq.{{ $('Normalizar Input').first().json.opcao_id }},and(video_id.eq.{{ $('Normalizar Input').first().json.video_id }},opcao_id.is.null))&order=ordem.asc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "47490668-13ab-4f24-9030-baa56149ef75",
      "name": "Ler Cenas Editadas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        208
      ],
      "notes": "GET cenas da opção aprovada, ordenadas por ordem ASC.\nHTTP Request porque precisa de query params no URL (order)."
    },
    {
      "parameters": {
        "jsCode": "// ===================================================================\n// PREPARAR PROMPT ANALISTA — Módulo 02B\n// ===================================================================\n// Monta prompt para o Claude recalcular campos narrativos\n// do Módulo 10 com base nas cenas editadas.\n// ===================================================================\n\nconst opcao = $('Ler Opção Aprovada').first().json;\nconst cenas = $('Ler Cenas Editadas').all().map(i => i.json);\nconst videoId = $('Normalizar Input').first().json.video_id;\nconst opcaoId = $('Normalizar Input').first().json.opcao_id;\n\nconst cenasTexto = cenas.map(c =>\n  `Cena ${c.numero} (${c.emocao}, ${c.tipo_cena}): \"${c.narracao}\" [${c.transicao_entrada}]`\n).join('\\n');\n\nconst systemPrompt = `Você é um analista narrativo. Analise o roteiro abaixo e classifique os campos narrativos. Responda APENAS com JSON válido, sem markdown, sem backticks, sem explicação.\n\nCAMPOS PARA CLASSIFICAR:\n- arco_tipo: escalada_linear | revelacao_tardia | degradacao_gradual | falsa_seguranca | loop\n- cena_virada: número da cena onde a história muda de direção (string, ex: \"4\")\n- num_revelacoes: quantos elementos novos a história apresenta ao espectador (int)\n- encerramento_tipo: pergunta_aberta | convite_sinistro | afirmacao | silencio\n- resolucao: aberto | resolvido\n- papel_clay: vitima | testemunha | perigo_iminente\n- hook_tipo: pergunta | afirmacao | acao | cenario (baseado na cena 1)\n\nFormato JSON exato:\n{\"arco_tipo\": \"...\", \"cena_virada\": \"...\", \"num_revelacoes\": 0, \"encerramento_tipo\": \"...\", \"resolucao\": \"...\", \"papel_clay\": \"...\", \"hook_tipo\": \"...\"}`;\n\nconst userMessage = `TÍTULO: ${opcao.titulo || '(sem título)'}\nFORMATO: ${opcao.formato || 'shorts'}\nSINOPSE: ${opcao.sinopse || '(sem sinopse)'}\nTEXTO FINAL: ${opcao.texto_final_tela || '(sem texto)'}\n\nCENAS (${cenas.length}):\n${cenasTexto}`;\n\nreturn [{\n  json: {\n    _systemPrompt: systemPrompt,\n    _userMessage: userMessage,\n    _videoId: videoId,\n    _opcaoId: opcaoId,\n    _opcao: opcao,\n    _cenas: cenas\n  }\n}];"
      },
      "id": "123d429c-0a25-4705-a38a-8d9e03605e56",
      "name": "Preparar Prompt Analista",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        208
      ],
      "notes": "Monta prompt curto para o Claude recalcular campos narrativos\ndo Módulo 10 com base nas cenas editadas pelo usuário."
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "maxTokensToSample": 512,
          "temperature": 0.3
        }
      },
      "id": "d0057b69-c2c6-4ec2-93e5-b29e1b0a333d",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1504,
        400
      ],
      "credentials": {
        "anthropicApi": {
          "id": "h5r0hNi26YDkGMvp",
          "name": "Anthropic"
        }
      },
      "notes": "Sonnet 4.5, 512 tokens (análise curta), temperature 0.3 (determinístico)."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json._userMessage }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json._systemPrompt }}"
            }
          ]
        }
      },
      "id": "9c4a340e-8981-497f-aee6-1ba553d6dbeb",
      "name": "Claude Analista",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1408,
        208
      ],
      "notes": "Chamada leve ao Claude: recalcula campos narrativos\ndo Módulo 10 após edições do usuário."
    },
    {
      "parameters": {
        "jsCode": "// ===================================================================\n// PARSE ANÁLISE + RECOMPOR JSON — Módulo 02B\n// ===================================================================\n// Parseia campos narrativos do Claude Analista.\n// Recompõe roteiro_json final com opção + cenas editadas.\n// Calcula num_cenas e duracao_estimada.\n// ===================================================================\n\nconst response = $input.first().json;\nconst prev = $('Preparar Prompt Analista').first().json;\nconst opcao = prev._opcao;\nconst cenas = prev._cenas;\nconst videoId = prev._videoId;\nconst opcaoId = prev._opcaoId;\n\n// Parse dos campos narrativos do Claude\nlet narrativo = {};\ntry {\n  const text = response.text || response.response || '';\n  const clean = text.replace(/```json|```/g, '').trim();\n  narrativo = JSON.parse(clean);\n} catch (e) {\n  // Fallback: valores conservadores\n  narrativo = {\n    arco_tipo: 'escalada_linear',\n    cena_virada: '1',\n    num_revelacoes: 1,\n    encerramento_tipo: 'aberto',\n    resolucao: 'aberto',\n    papel_clay: 'vitima',\n    hook_tipo: 'acao'\n  };\n}\n\n// Recompor JSON final do roteiro\nconst roteiroJson = {\n  titulo: opcao.titulo,\n  sinopse: opcao.sinopse,\n  arco_narrativo: opcao.arco_narrativo,\n  tom: opcao.tom,\n  formato: opcao.formato,\n  caption: opcao.caption,\n  descricao_youtube: opcao.descricao_youtube,\n  hashtags: opcao.hashtags,\n  tags: opcao.tags,\n  thumbnail_prompt: opcao.thumbnail_prompt,\n  texto_final_tela: opcao.texto_final_tela,\n  arco_tipo: narrativo.arco_tipo,\n  cena_virada: narrativo.cena_virada,\n  num_revelacoes: narrativo.num_revelacoes,\n  encerramento_tipo: narrativo.encerramento_tipo,\n  resolucao: narrativo.resolucao,\n  papel_clay: narrativo.papel_clay,\n  cenas: cenas.map(c => ({\n    numero: c.numero,\n    ordem: c.ordem,\n    narracao: c.narracao,\n    emocao: c.emocao,\n    visual: c.visual,\n    tipo_cena: c.tipo_cena,\n    movimento: c.movimento,\n    som_ambiente: c.som_ambiente,\n    efeitos_sonoros: c.efeitos_sonoros,\n    duracao_estimada: c.duracao_estimada,\n    continuidade: c.continuidade,\n    personagem_presente: c.personagem_presente,\n    perspectiva: c.perspectiva,\n    transicao_entrada: c.transicao_entrada,\n    hook_tipo: c.hook_tipo\n  }))\n};\n\nconst numCenas = cenas.length;\nconst duracaoEstimada = cenas.reduce((sum, c) => sum + (c.duracao_estimada || 4), 0);\n\nreturn [{\n  json: {\n    _videoId: videoId,\n    _opcaoId: opcaoId,\n    _roteiroJson: roteiroJson,\n    _narrativo: narrativo,\n    _numCenas: numCenas,\n    _duracaoEstimada: duracaoEstimada,\n    _opcao: opcao\n  }\n}];"
      },
      "id": "a57b7b4a-07e0-4640-9885-e119bf6f6279",
      "name": "Parse e Recompor JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        208
      ],
      "notes": "Parseia campos narrativos do Claude.\nRecompõe roteiro_json final completo.\nCalcula num_cenas e duracao_estimada."
    },
    {
      "parameters": {
        "jsCode": "// ===================================================================\n// EXECUTAR APROVAÇÃO — Módulo 02B\n// ===================================================================\n// Executa todas as operações de aprovação via this.helpers.httpRequest:\n// 1. PATCH videos — metadados + campos narrativos + modulo_atual='03'\n// 2. PATCH cenas — opcao_id = null (desconectar das opções)\n// 3. PATCH roteiro_opcoes — status = 'aprovada'\n// 4. DELETE roteiro_opcoes rejeitadas (CASCADE limpa cenas)\n// ===================================================================\n\nconst data = $input.first().json;\nconst config = $('Configuração').first().json;\nconst baseUrl = config.SUPABASE_URL;\nconst apiKey = config.SUPABASE_SERVICE_KEY;\n\nconst headers = {\n  'apikey': apiKey,\n  'Authorization': `Bearer ${apiKey}`,\n  'Content-Type': 'application/json',\n  'Prefer': 'return=minimal'\n};\n\nconst erros = [];\n\n// 1. Atualizar vídeo com metadados + campos narrativos + avançar módulo\ntry {\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: `${baseUrl}/rest/v1/videos?id=eq.${data._videoId}`,\n    headers,\n    body: {\n      titulo: data._opcao.titulo,\n      caption: data._opcao.caption,\n      descricao_youtube: data._opcao.descricao_youtube,\n      hashtags: data._opcao.hashtags,\n      tags: data._opcao.tags,\n      thumbnail_prompt: data._opcao.thumbnail_prompt || null,\n      texto_final_tela: data._opcao.texto_final_tela,\n      formato: data._opcao.formato,\n      sinopse: data._opcao.sinopse,\n      tom: data._opcao.tom,\n      arco_narrativo: data._opcao.arco_narrativo,\n      roteiro_json: data._roteiroJson,\n      num_cenas: data._numCenas,\n      duracao_estimada: data._duracaoEstimada,\n      arco_tipo: data._narrativo.arco_tipo,\n      cena_virada: data._narrativo.cena_virada,\n      num_revelacoes: data._narrativo.num_revelacoes,\n      encerramento_tipo: data._narrativo.encerramento_tipo,\n      resolucao: data._narrativo.resolucao,\n      papel_clay: data._narrativo.papel_clay,\n      modulo_atual: '03',\n      status: 'processando'\n    }\n  });\n} catch (e) {\n  erros.push(`Atualizar vídeo: ${e.message}`);\n}\n\n// 2. Desconectar cenas aprovadas (opcao_id = null)\ntry {\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: `${baseUrl}/rest/v1/cenas?opcao_id=eq.${data._opcaoId}`,\n    headers,\n    body: { opcao_id: null }\n  });\n} catch (e) {\n  erros.push(`Desconectar cenas: ${e.message}`);\n}\n\n// 3. Marcar opção como aprovada\ntry {\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: `${baseUrl}/rest/v1/roteiro_opcoes?id=eq.${data._opcaoId}`,\n    headers,\n    body: { status: 'aprovada' }\n  });\n} catch (e) {\n  erros.push(`Marcar aprovada: ${e.message}`);\n}\n\n// 4. Deletar opções rejeitadas (CASCADE limpa cenas vinculadas a elas)\ntry {\n  await this.helpers.httpRequest({\n    method: 'DELETE',\n    url: `${baseUrl}/rest/v1/roteiro_opcoes?video_id=eq.${data._videoId}&id=neq.${data._opcaoId}`,\n    headers: {\n      'apikey': apiKey,\n      'Authorization': `Bearer ${apiKey}`\n    }\n  });\n} catch (e) {\n  erros.push(`Deletar rejeitadas: ${e.message}`);\n}\n\n// 5. Marcar cenas de texto como aprovadas em todos os módulos\ntry {\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: `${baseUrl}/rest/v1/cenas?video_id=eq.${data._videoId}&tipo_cena=eq.texto`,\n    headers,\n    body: {\n      imagem_status: 'aprovada',\n      tts_status: 'aprovada',\n      efeito_status: 'aprovada',\n      video_status: 'aprovada'\n    }\n  });\n} catch (e) {\n  erros.push(`Marcar cenas texto: ${e.message}`);\n}\n\n// 5. Criar cena de texto final (tela final em Creepster)\ntry {\n  if (data._opcao.texto_final_tela && data._opcao.texto_final_tela.trim().length > 0) {\n    // Buscar maior ordem atual das cenas aprovadas\n    const cenasOrdem = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${baseUrl}/rest/v1/cenas?video_id=eq.${data._videoId}&opcao_id=is.null&select=ordem&order=ordem.desc&limit=1`,\n      headers: { 'apikey': apiKey, 'Authorization': `Bearer ${apiKey}` }\n    });\n    const proximaOrdem = (cenasOrdem && cenasOrdem.length > 0 ? cenasOrdem[0].ordem : 0) + 1;\n\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${baseUrl}/rest/v1/cenas`,\n      headers,\n      body: {\n        video_id: data._videoId,\n        opcao_id: null,\n        numero: 'final',\n        ordem: proximaOrdem,\n        narracao: data._opcao.texto_final_tela,\n        tipo_cena: 'texto',\n        duracao_estimada: 3,\n        transicao_entrada: 'dip_to_black',\n        imagem_status: 'aprovada',\n        tts_status: 'aprovada',\n        efeito_status: 'aprovada',\n        video_status: 'aprovada'\n      }\n    });\n  }\n} catch (e) {\n  erros.push(`Criar cena texto final: ${e.message}`);\n}\n\nreturn [{\n  json: {\n    success: erros.length === 0,\n    video_id: data._videoId,\n    modulo_atual: '03',\n    erros\n  }\n}];"
      },
      "id": "b8240758-54b8-4577-834e-41af8a2ed01a",
      "name": "Executar Aprovação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        208
      ],
      "notes": "Executa todas as operações de aprovação:\n1. PATCH videos (metadados + narrativo + modulo_atual='03')\n2. PATCH cenas (opcao_id = null)\n3. PATCH roteiro_opcoes (status = 'aprovada')\n4. DELETE roteiro_opcoes rejeitadas (CASCADE)\nUsa this.helpers.httpRequest (não fetch)."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "d1d9423c-840b-4e5b-8e96-00866171dffd",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2144,
        224
      ],
      "notes": "Responde ao frontend com resultado da aprovação.\n{ success: bool, video_id: uuid, modulo_atual: '03', erros: [] }"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fpo8mOjOzNyn0pbZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/fpo8mOjOzNyn0pbZ",
          "cachedResultName": "Módulo 03 — Direção Artística"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_id": "={{ $('Normalizar Input').first().json.video_id }}"
          },
          "matchingColumns": [
            "video_id"
          ],
          "schema": [
            {
              "id": "video_id",
              "displayName": "video_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2368,
        144
      ],
      "id": "6844f526-aab8-431a-9b5a-577c98830994",
      "name": "Call 'Módulo 03 — Direção Artística'"
    }
  ],
  "connections": {
    "Início Manual": {
      "main": [
        [
          {
            "node": "IDs Teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IDs Teste": {
      "main": [
        [
          {
            "node": "Normalizar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Aprovar": {
      "main": [
        [
          {
            "node": "Normalizar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Input": {
      "main": [
        [
          {
            "node": "Configuração",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuração": {
      "main": [
        [
          {
            "node": "Ler Opção Aprovada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Opção Aprovada": {
      "main": [
        [
          {
            "node": "Ler Cenas Editadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Cenas Editadas": {
      "main": [
        [
          {
            "node": "Preparar Prompt Analista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt Analista": {
      "main": [
        [
          {
            "node": "Claude Analista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Claude Analista",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Claude Analista": {
      "main": [
        [
          {
            "node": "Parse e Recompor JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse e Recompor JSON": {
      "main": [
        [
          {
            "node": "Executar Aprovação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar Aprovação": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Módulo 03 — Direção Artística'": {
      "main": [
        []
      ]
    },
    "Responder Webhook": {
      "main": [
        [
          {
            "node": "Call 'Módulo 03 — Direção Artística'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "fbdf52b9-2de3-4180-ada1-62d085052965",
  "activeVersionId": "fbdf52b9-2de3-4180-ada1-62d085052965",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-22T17:48:44.586Z",
      "createdAt": "2026-03-22T17:48:44.586Z",
      "role": "workflow:owner",
      "workflowId": "QlJgq9kmmR0eJmDP",
      "projectId": "SoH44tJE4dqRVTiw"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-10T23:32:10.000Z",
    "createdAt": "2026-04-10T23:31:54.387Z",
    "versionId": "fbdf52b9-2de3-4180-ada1-62d085052965",
    "workflowId": "QlJgq9kmmR0eJmDP",
    "nodes": [
      {
        "parameters": {},
        "id": "07a9aa0e-7f81-4873-a61d-ef7596b87453",
        "name": "Início Manual",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "notes": "⚠️ TESTE MANUAL: clique 'Test workflow' para rodar com video_id e opcao_id hardcoded no nó seguinte."
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "test-video-id",
                "name": "video_id",
                "value": "",
                "type": "string"
              },
              {
                "id": "test-opcao-id",
                "name": "opcao_id",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "83743244-b1cc-41f2-824b-0b5368ef9c7a",
        "name": "IDs Teste",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          0
        ],
        "notes": "⚠️ TROQUE OS UUIDs AQUI para testar.\nApós testes, desconecte este caminho e use só o webhook."
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "roteiro/aprovar",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "7d5ad658-85f5-4b4e-8d5b-5e165b4e55dc",
        "name": "Webhook Aprovar",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          400
        ],
        "webhookId": "roteiro-aprovar-02b",
        "notes": "POST /roteiro/aprovar\nPayload: { video_id: uuid, opcao_id: uuid }\nDisparado pelo frontend ao aprovar um roteiro."
      },
      {
        "parameters": {
          "jsCode": "// ===================================================================\n// NORMALIZAR INPUT — Módulo 02B\n// ===================================================================\n// Aceita input do Manual Trigger ou do Webhook.\n// Saída unificada: { video_id, opcao_id }\n// ===================================================================\n\nconst item = $input.first().json;\nconst video_id = item.video_id || (item.body && item.body.video_id) || null;\nconst opcao_id = item.opcao_id || (item.body && item.body.opcao_id) || null;\n\nif (!video_id || !opcao_id) {\n  throw new Error('video_id e opcao_id são obrigatórios.');\n}\n\nreturn [{ json: { video_id, opcao_id } }];"
        },
        "id": "4e72d5d2-1067-4e2d-8267-3bfe72a99e47",
        "name": "Normalizar Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          208
        ],
        "notes": "Unifica input de Webhook e Manual Trigger.\nSaída: { video_id, opcao_id }"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cfg-supa-url",
                "name": "SUPABASE_URL",
                "value": "https://vngtopghlmgqjaibqiyb.supabase.co",
                "type": "string"
              },
              {
                "id": "cfg-supa-key",
                "name": "SUPABASE_SERVICE_KEY",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuZ3RvcGdobG1ncWphaWJxaXliIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzUzOTg4NiwiZXhwIjoyMDg5MTE1ODg2fQ.xywZiNZ3h6_uVE9-ltt2LAXtZJ8jTezHCE4LmjBxzTk",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "5ae39ba0-99c2-4b0a-bbf3-3bdba93e21cc",
        "name": "Configuração",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          608,
          208
        ],
        "notes": "⚠️ CONFIGURE AQUI:\n1. SUPABASE_URL\n2. SUPABASE_SERVICE_KEY"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "roteiro_opcoes",
          "limit": 1,
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('Normalizar Input').first().json.opcao_id }}"
              }
            ]
          }
        },
        "id": "47623aa6-34ba-4c75-bbc2-9d6002607fcf",
        "name": "Ler Opção Aprovada",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          800,
          208
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "7Q7gKenrdhP7dHXE",
            "name": "OMundodeClay_Supabase"
          }
        },
        "notes": "Busca a opção de roteiro aprovada pelo usuário.\nNó nativo Supabase getAll com filtro por id."
      },
      {
        "parameters": {
          "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/cenas?or=(opcao_id.eq.{{ $('Normalizar Input').first().json.opcao_id }},and(video_id.eq.{{ $('Normalizar Input').first().json.video_id }},opcao_id.is.null))&order=ordem.asc",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "47490668-13ab-4f24-9030-baa56149ef75",
        "name": "Ler Cenas Editadas",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1008,
          208
        ],
        "notes": "GET cenas da opção aprovada, ordenadas por ordem ASC.\nHTTP Request porque precisa de query params no URL (order)."
      },
      {
        "parameters": {
          "jsCode": "// ===================================================================\n// PREPARAR PROMPT ANALISTA — Módulo 02B\n// ===================================================================\n// Monta prompt para o Claude recalcular campos narrativos\n// do Módulo 10 com base nas cenas editadas.\n// ===================================================================\n\nconst opcao = $('Ler Opção Aprovada').first().json;\nconst cenas = $('Ler Cenas Editadas').all().map(i => i.json);\nconst videoId = $('Normalizar Input').first().json.video_id;\nconst opcaoId = $('Normalizar Input').first().json.opcao_id;\n\nconst cenasTexto = cenas.map(c =>\n  `Cena ${c.numero} (${c.emocao}, ${c.tipo_cena}): \"${c.narracao}\" [${c.transicao_entrada}]`\n).join('\\n');\n\nconst systemPrompt = `Você é um analista narrativo. Analise o roteiro abaixo e classifique os campos narrativos. Responda APENAS com JSON válido, sem markdown, sem backticks, sem explicação.\n\nCAMPOS PARA CLASSIFICAR:\n- arco_tipo: escalada_linear | revelacao_tardia | degradacao_gradual | falsa_seguranca | loop\n- cena_virada: número da cena onde a história muda de direção (string, ex: \"4\")\n- num_revelacoes: quantos elementos novos a história apresenta ao espectador (int)\n- encerramento_tipo: pergunta_aberta | convite_sinistro | afirmacao | silencio\n- resolucao: aberto | resolvido\n- papel_clay: vitima | testemunha | perigo_iminente\n- hook_tipo: pergunta | afirmacao | acao | cenario (baseado na cena 1)\n\nFormato JSON exato:\n{\"arco_tipo\": \"...\", \"cena_virada\": \"...\", \"num_revelacoes\": 0, \"encerramento_tipo\": \"...\", \"resolucao\": \"...\", \"papel_clay\": \"...\", \"hook_tipo\": \"...\"}`;\n\nconst userMessage = `TÍTULO: ${opcao.titulo || '(sem título)'}\nFORMATO: ${opcao.formato || 'shorts'}\nSINOPSE: ${opcao.sinopse || '(sem sinopse)'}\nTEXTO FINAL: ${opcao.texto_final_tela || '(sem texto)'}\n\nCENAS (${cenas.length}):\n${cenasTexto}`;\n\nreturn [{\n  json: {\n    _systemPrompt: systemPrompt,\n    _userMessage: userMessage,\n    _videoId: videoId,\n    _opcaoId: opcaoId,\n    _opcao: opcao,\n    _cenas: cenas\n  }\n}];"
        },
        "id": "123d429c-0a25-4705-a38a-8d9e03605e56",
        "name": "Preparar Prompt Analista",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          208
        ],
        "notes": "Monta prompt curto para o Claude recalcular campos narrativos\ndo Módulo 10 com base nas cenas editadas pelo usuário."
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-sonnet-4-5-20250929",
            "mode": "list",
            "cachedResultName": "Claude Sonnet 4.5"
          },
          "options": {
            "maxTokensToSample": 512,
            "temperature": 0.3
          }
        },
        "id": "d0057b69-c2c6-4ec2-93e5-b29e1b0a333d",
        "name": "Anthropic Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          1504,
          400
        ],
        "credentials": {
          "anthropicApi": {
            "id": "h5r0hNi26YDkGMvp",
            "name": "Anthropic"
          }
        },
        "notes": "Sonnet 4.5, 512 tokens (análise curta), temperature 0.3 (determinístico)."
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json._userMessage }}",
          "messages": {
            "messageValues": [
              {
                "message": "={{ $json._systemPrompt }}"
              }
            ]
          }
        },
        "id": "9c4a340e-8981-497f-aee6-1ba553d6dbeb",
        "name": "Claude Analista",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.4,
        "position": [
          1408,
          208
        ],
        "notes": "Chamada leve ao Claude: recalcula campos narrativos\ndo Módulo 10 após edições do usuário."
      },
      {
        "parameters": {
          "jsCode": "// ===================================================================\n// PARSE ANÁLISE + RECOMPOR JSON — Módulo 02B\n// ===================================================================\n// Parseia campos narrativos do Claude Analista.\n// Recompõe roteiro_json final com opção + cenas editadas.\n// Calcula num_cenas e duracao_estimada.\n// ===================================================================\n\nconst response = $input.first().json;\nconst prev = $('Preparar Prompt Analista').first().json;\nconst opcao = prev._opcao;\nconst cenas = prev._cenas;\nconst videoId = prev._videoId;\nconst opcaoId = prev._opcaoId;\n\n// Parse dos campos narrativos do Claude\nlet narrativo = {};\ntry {\n  const text = response.text || response.response || '';\n  const clean = text.replace(/```json|```/g, '').trim();\n  narrativo = JSON.parse(clean);\n} catch (e) {\n  // Fallback: valores conservadores\n  narrativo = {\n    arco_tipo: 'escalada_linear',\n    cena_virada: '1',\n    num_revelacoes: 1,\n    encerramento_tipo: 'aberto',\n    resolucao: 'aberto',\n    papel_clay: 'vitima',\n    hook_tipo: 'acao'\n  };\n}\n\n// Recompor JSON final do roteiro\nconst roteiroJson = {\n  titulo: opcao.titulo,\n  sinopse: opcao.sinopse,\n  arco_narrativo: opcao.arco_narrativo,\n  tom: opcao.tom,\n  formato: opcao.formato,\n  caption: opcao.caption,\n  descricao_youtube: opcao.descricao_youtube,\n  hashtags: opcao.hashtags,\n  tags: opcao.tags,\n  thumbnail_prompt: opcao.thumbnail_prompt,\n  texto_final_tela: opcao.texto_final_tela,\n  arco_tipo: narrativo.arco_tipo,\n  cena_virada: narrativo.cena_virada,\n  num_revelacoes: narrativo.num_revelacoes,\n  encerramento_tipo: narrativo.encerramento_tipo,\n  resolucao: narrativo.resolucao,\n  papel_clay: narrativo.papel_clay,\n  cenas: cenas.map(c => ({\n    numero: c.numero,\n    ordem: c.ordem,\n    narracao: c.narracao,\n    emocao: c.emocao,\n    visual: c.visual,\n    tipo_cena: c.tipo_cena,\n    movimento: c.movimento,\n    som_ambiente: c.som_ambiente,\n    efeitos_sonoros: c.efeitos_sonoros,\n    duracao_estimada: c.duracao_estimada,\n    continuidade: c.continuidade,\n    personagem_presente: c.personagem_presente,\n    perspectiva: c.perspectiva,\n    transicao_entrada: c.transicao_entrada,\n    hook_tipo: c.hook_tipo\n  }))\n};\n\nconst numCenas = cenas.length;\nconst duracaoEstimada = cenas.reduce((sum, c) => sum + (c.duracao_estimada || 4), 0);\n\nreturn [{\n  json: {\n    _videoId: videoId,\n    _opcaoId: opcaoId,\n    _roteiroJson: roteiroJson,\n    _narrativo: narrativo,\n    _numCenas: numCenas,\n    _duracaoEstimada: duracaoEstimada,\n    _opcao: opcao\n  }\n}];"
        },
        "id": "a57b7b4a-07e0-4640-9885-e119bf6f6279",
        "name": "Parse e Recompor JSON",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1712,
          208
        ],
        "notes": "Parseia campos narrativos do Claude.\nRecompõe roteiro_json final completo.\nCalcula num_cenas e duracao_estimada."
      },
      {
        "parameters": {
          "jsCode": "// ===================================================================\n// EXECUTAR APROVAÇÃO — Módulo 02B\n// ===================================================================\n// Executa todas as operações de aprovação via this.helpers.httpRequest:\n// 1. PATCH videos — metadados + campos narrativos + modulo_atual='03'\n// 2. PATCH cenas — opcao_id = null (desconectar das opções)\n// 3. PATCH roteiro_opcoes — status = 'aprovada'\n// 4. DELETE roteiro_opcoes rejeitadas (CASCADE limpa cenas)\n// ===================================================================\n\nconst data = $input.first().json;\nconst config = $('Configuração').first().json;\nconst baseUrl = config.SUPABASE_URL;\nconst apiKey = config.SUPABASE_SERVICE_KEY;\n\nconst headers = {\n  'apikey': apiKey,\n  'Authorization': `Bearer ${apiKey}`,\n  'Content-Type': 'application/json',\n  'Prefer': 'return=minimal'\n};\n\nconst erros = [];\n\n// 1. Atualizar vídeo com metadados + campos narrativos + avançar módulo\ntry {\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: `${baseUrl}/rest/v1/videos?id=eq.${data._videoId}`,\n    headers,\n    body: {\n      titulo: data._opcao.titulo,\n      caption: data._opcao.caption,\n      descricao_youtube: data._opcao.descricao_youtube,\n      hashtags: data._opcao.hashtags,\n      tags: data._opcao.tags,\n      thumbnail_prompt: data._opcao.thumbnail_prompt || null,\n      texto_final_tela: data._opcao.texto_final_tela,\n      formato: data._opcao.formato,\n      sinopse: data._opcao.sinopse,\n      tom: data._opcao.tom,\n      arco_narrativo: data._opcao.arco_narrativo,\n      roteiro_json: data._roteiroJson,\n      num_cenas: data._numCenas,\n      duracao_estimada: data._duracaoEstimada,\n      arco_tipo: data._narrativo.arco_tipo,\n      cena_virada: data._narrativo.cena_virada,\n      num_revelacoes: data._narrativo.num_revelacoes,\n      encerramento_tipo: data._narrativo.encerramento_tipo,\n      resolucao: data._narrativo.resolucao,\n      papel_clay: data._narrativo.papel_clay,\n      modulo_atual: '03',\n      status: 'processando'\n    }\n  });\n} catch (e) {\n  erros.push(`Atualizar vídeo: ${e.message}`);\n}\n\n// 2. Desconectar cenas aprovadas (opcao_id = null)\ntry {\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: `${baseUrl}/rest/v1/cenas?opcao_id=eq.${data._opcaoId}`,\n    headers,\n    body: { opcao_id: null }\n  });\n} catch (e) {\n  erros.push(`Desconectar cenas: ${e.message}`);\n}\n\n// 3. Marcar opção como aprovada\ntry {\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: `${baseUrl}/rest/v1/roteiro_opcoes?id=eq.${data._opcaoId}`,\n    headers,\n    body: { status: 'aprovada' }\n  });\n} catch (e) {\n  erros.push(`Marcar aprovada: ${e.message}`);\n}\n\n// 4. Deletar opções rejeitadas (CASCADE limpa cenas vinculadas a elas)\ntry {\n  await this.helpers.httpRequest({\n    method: 'DELETE',\n    url: `${baseUrl}/rest/v1/roteiro_opcoes?video_id=eq.${data._videoId}&id=neq.${data._opcaoId}`,\n    headers: {\n      'apikey': apiKey,\n      'Authorization': `Bearer ${apiKey}`\n    }\n  });\n} catch (e) {\n  erros.push(`Deletar rejeitadas: ${e.message}`);\n}\n\n// 5. Marcar cenas de texto como aprovadas em todos os módulos\ntry {\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: `${baseUrl}/rest/v1/cenas?video_id=eq.${data._videoId}&tipo_cena=eq.texto`,\n    headers,\n    body: {\n      imagem_status: 'aprovada',\n      tts_status: 'aprovada',\n      efeito_status: 'aprovada',\n      video_status: 'aprovada'\n    }\n  });\n} catch (e) {\n  erros.push(`Marcar cenas texto: ${e.message}`);\n}\n\n// 5. Criar cena de texto final (tela final em Creepster)\ntry {\n  if (data._opcao.texto_final_tela && data._opcao.texto_final_tela.trim().length > 0) {\n    // Buscar maior ordem atual das cenas aprovadas\n    const cenasOrdem = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${baseUrl}/rest/v1/cenas?video_id=eq.${data._videoId}&opcao_id=is.null&select=ordem&order=ordem.desc&limit=1`,\n      headers: { 'apikey': apiKey, 'Authorization': `Bearer ${apiKey}` }\n    });\n    const proximaOrdem = (cenasOrdem && cenasOrdem.length > 0 ? cenasOrdem[0].ordem : 0) + 1;\n\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${baseUrl}/rest/v1/cenas`,\n      headers,\n      body: {\n        video_id: data._videoId,\n        opcao_id: null,\n        numero: 'final',\n        ordem: proximaOrdem,\n        narracao: data._opcao.texto_final_tela,\n        tipo_cena: 'texto',\n        duracao_estimada: 3,\n        transicao_entrada: 'dip_to_black',\n        imagem_status: 'aprovada',\n        tts_status: 'aprovada',\n        efeito_status: 'aprovada',\n        video_status: 'aprovada'\n      }\n    });\n  }\n} catch (e) {\n  erros.push(`Criar cena texto final: ${e.message}`);\n}\n\nreturn [{\n  json: {\n    success: erros.length === 0,\n    video_id: data._videoId,\n    modulo_atual: '03',\n    erros\n  }\n}];"
        },
        "id": "b8240758-54b8-4577-834e-41af8a2ed01a",
        "name": "Executar Aprovação",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1920,
          208
        ],
        "notes": "Executa todas as operações de aprovação:\n1. PATCH videos (metadados + narrativo + modulo_atual='03')\n2. PATCH cenas (opcao_id = null)\n3. PATCH roteiro_opcoes (status = 'aprovada')\n4. DELETE roteiro_opcoes rejeitadas (CASCADE)\nUsa this.helpers.httpRequest (não fetch)."
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "id": "d1d9423c-840b-4e5b-8e96-00866171dffd",
        "name": "Responder Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          2144,
          224
        ],
        "notes": "Responde ao frontend com resultado da aprovação.\n{ success: bool, video_id: uuid, modulo_atual: '03', erros: [] }"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "fpo8mOjOzNyn0pbZ",
            "mode": "list",
            "cachedResultUrl": "/workflow/fpo8mOjOzNyn0pbZ",
            "cachedResultName": "Módulo 03 — Direção Artística"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "video_id": "={{ $('Normalizar Input').first().json.video_id }}"
            },
            "matchingColumns": [
              "video_id"
            ],
            "schema": [
              {
                "id": "video_id",
                "displayName": "video_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2368,
          144
        ],
        "id": "6844f526-aab8-431a-9b5a-577c98830994",
        "name": "Call 'Módulo 03 — Direção Artística'"
      }
    ],
    "connections": {
      "Início Manual": {
        "main": [
          [
            {
              "node": "IDs Teste",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IDs Teste": {
        "main": [
          [
            {
              "node": "Normalizar Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Aprovar": {
        "main": [
          [
            {
              "node": "Normalizar Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalizar Input": {
        "main": [
          [
            {
              "node": "Configuração",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Configuração": {
        "main": [
          [
            {
              "node": "Ler Opção Aprovada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ler Opção Aprovada": {
        "main": [
          [
            {
              "node": "Ler Cenas Editadas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ler Cenas Editadas": {
        "main": [
          [
            {
              "node": "Preparar Prompt Analista",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Prompt Analista": {
        "main": [
          [
            {
              "node": "Claude Analista",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Claude Analista",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Claude Analista": {
        "main": [
          [
            {
              "node": "Parse e Recompor JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse e Recompor JSON": {
        "main": [
          [
            {
              "node": "Executar Aprovação",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Executar Aprovação": {
        "main": [
          [
            {
              "node": "Responder Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Módulo 03 — Direção Artística'": {
        "main": [
          []
        ]
      },
      "Responder Webhook": {
        "main": [
          [
            {
              "node": "Call 'Módulo 03 — Direção Artística'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Newton Omune",
    "name": "Version fbdf52b9",
    "description": "",
    "autosaved": true
  },
  "tags": []
}