workflows/NR_1_2_2_-_Filtro_de_Satura__o.json
{
  "updatedAt": "2026-02-19T23:25:24.202Z",
  "createdAt": "2026-02-17T16:19:33.923Z",
  "id": "lFBVy-ND57xKzLGhX9WZw",
  "name": "NR 1.2.2 - Filtro de Saturação",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 14 * * *"
            }
          ]
        }
      },
      "id": "bdb8d5e9-584d-44c8-9940-c1e7372a582f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "subtemas",
        "returnAll": true
      },
      "id": "bbe8b749-dd36-44c3-8925-dd4a5be72a16",
      "name": "Buscar Subtemas",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "V613Fz5xtUhnKknD",
          "name": "Supabase Niche Radar"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ead778f1-3885-4f19-a462-cc39b6896e39",
      "name": "Um por Vez",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "amount": 1.5
      },
      "id": "938e1a88-929b-441b-a0ca-a70f0c124a04",
      "name": "Esperar 1.5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ],
      "webhookId": "3615d9a5-261d-4f1c-863b-7673a7b861cd"
    },
    {
      "parameters": {
        "jsCode": "// === NR 1.2.2 — MONTAR QUERY ===\n// Transforma keywords do subtema em query de busca YouTube\n// Usa keyword[0] (mais search-friendly que o nome completo)\n// Salva contexto no staticData para nodes seguintes\n\nconst item = $input.first().json;\n\nif (!item.subId) {\n  return [{ json: { _vazio: true } }];\n}\n\nconst keywords = item.keywords || [];\nconst query = keywords[0] || item.nome || '';\n\nif (!query.trim()) {\n  return [{ json: { _vazio: true, subId: item.subId } }];\n}\n\nconst staticData = $getWorkflowStaticData('global');\nstaticData.currentSub = {\n  subId: item.subId,\n  nome: item.nome,\n  keywords: item.keywords,\n  is_onda: item.is_onda_entre_mercados || false\n};\n\nreturn [{ json: { query, subId: item.subId } }];"
      },
      "id": "74a587ee-ea95-4417-ba86-cdb5318cd13f",
      "name": "Montar Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "q",
              "value": "={{ $json.query }}"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "maxResults",
              "value": "50"
            },
            {
              "name": "key",
              "value": "AIzaSyD5R7ZES-pdL3jOwIP_U_4_qFlmeoZWw44"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "NicheRadar/1.0 (n8n-workflow; nicheradar-bot)"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "39a10c05-4c17-4293-a368-692e55f7e370",
      "name": "YouTube Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// === NR 1.2.2 — PROCESSAR BUSCA ===\n// Extrai video IDs do resultado da busca YouTube\n// Se sem resultados, marca _semVideos para tratar no Calcular Métricas\n\nconst response = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nconst sub = staticData.currentSub || {};\n\nconst items = response?.items || [];\nconst totalResults = parseInt(response?.pageInfo?.totalResults || '0');\n\nif (items.length === 0) {\n  return [{ json: {\n    _semVideos: true,\n    subId: sub.subId,\n    totalResults,\n    videoIds: ''\n  } }];\n}\n\nconst videoIds = items\n  .map(r => r.id?.videoId)\n  .filter(Boolean);\n\nif (videoIds.length === 0) {\n  return [{ json: {\n    _semVideos: true,\n    subId: sub.subId,\n    totalResults,\n    videoIds: ''\n  } }];\n}\n\nreturn [{ json: {\n  _semVideos: false,\n  subId: sub.subId,\n  totalResults,\n  videoIds: videoIds.join(','),\n  resultCount: videoIds.length\n} }];"
      },
      "id": "790186bc-2d45-40e3-8ff8-c9faa1ab05bf",
      "name": "Processar Busca",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet,statistics"
            },
            {
              "name": "id",
              "value": "={{ $json.videoIds }}"
            },
            {
              "name": "key",
              "value": "AIzaSyD5R7ZES-pdL3jOwIP_U_4_qFlmeoZWw44"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "NicheRadar/1.0 (n8n-workflow; nicheradar-bot)"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "20284e6b-053a-449f-b8b6-848a5095480b",
      "name": "YouTube Videos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// === NR 1.2.2 — CALCULAR MÉTRICAS ===\n// Computa índices de saturação e oportunidade\n// Determina tipo_oportunidade e status do subtema\n//\n// Índice de Saturação (0-10):\n//   Vídeos recentes 365d (0-3) + Canais únicos (0-3)\n//   + Idade média (0-2) + Views top 20 (0-2)\n//\n// Tipo de Oportunidade:\n//   direta (<2) | qualidade (2-5) | angulo (5-7.0) | saturado (≥7.0)\n\nconst input = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nconst sub = staticData.currentSub || {};\nconst subId = sub.subId;\n\nlet buscaData;\ntry {\n  buscaData = $('Processar Busca').first().json;\n} catch(e) {\n  buscaData = { _semVideos: true, totalResults: 0 };\n}\n\nconst now = new Date();\n\n// === CASO SEM VÍDEOS ===\nif (buscaData._semVideos || !input.items || input.items.length === 0) {\n  const totalResults = buscaData.totalResults || 0;\n  return [{ json: {\n    id: subId,\n    volume_busca_est: totalResults,\n    views_youtube_top20: 0,\n    saturacao_videos_recentes: 0,\n    saturacao_canais_unicos: 0,\n    saturacao_idade_media_dias: null,\n    indice_saturacao: 0,\n    indice_oportunidade: 10,\n    tipo_oportunidade: 'direta',\n    is_demanda_silenciosa: totalResults > 10000,\n    status: 'validado'\n  } }];\n}\n\n// === PROCESSAR VÍDEOS ===\nconst videos = input.items || [];\nconst channelIds = new Set();\nconst viewsList = [];\nlet totalAgeDays = 0;\nlet recentCount = 0;\n\nfor (const v of videos) {\n  const views = parseInt(v.statistics?.viewCount || '0');\n  const publishedAt = new Date(v.snippet?.publishedAt || now);\n  const ageDays = Math.floor((now - publishedAt) / (1000 * 60 * 60 * 24));\n\n  channelIds.add(v.snippet?.channelId);\n  viewsList.push(views);\n  totalAgeDays += ageDays;\n\n  if (ageDays <= 365) recentCount++;\n}\n\nviewsList.sort((a, b) => b - a);\nconst top20Views = viewsList.slice(0, 20).reduce((sum, v) => sum + v, 0);\n\nconst videoCount = videos.length;\nconst canaisUnicos = channelIds.size;\nconst idadeMediaDias = videoCount > 0\n  ? Math.round(totalAgeDays / videoCount)\n  : null;\nconst totalResults = buscaData.totalResults || 0;\n\n// === ÍNDICE DE SATURAÇÃO (0-10) ===\nlet sat = 0;\n\n// 1. Vídeos recentes — últimos 365 dias (0-3)\nif (recentCount >= 21) sat += 3;\nelse if (recentCount >= 9) sat += 2.5;\nelse if (recentCount >= 4) sat += 1.5;\nelse if (recentCount >= 1) sat += 0.5;\n\n// 2. Canais únicos (0-3)\nif (canaisUnicos >= 16) sat += 3;\nelse if (canaisUnicos >= 9) sat += 2.5;\nelse if (canaisUnicos >= 4) sat += 1.5;\nelse if (canaisUnicos >= 2) sat += 0.5;\n\n// 3. Idade média — mais novo = mais saturado (0-2)\nif (idadeMediaDias !== null) {\n  if (idadeMediaDias < 90) sat += 2;\n  else if (idadeMediaDias < 180) sat += 1.5;\n  else if (idadeMediaDias < 365) sat += 1;\n  else if (idadeMediaDias < 730) sat += 0.5;\n}\n\n// 4. Views top 20 (0-2)\nif (top20Views > 10000000) sat += 2;\nelse if (top20Views > 1000000) sat += 1.5;\nelse if (top20Views > 100000) sat += 1;\nelse if (top20Views > 10000) sat += 0.5;\n\nconst indiceSaturacao = Math.round(sat * 100) / 100;\nconst indiceOportunidade = Math.round((10 - indiceSaturacao) * 100) / 100;\n\n// === TIPO DE OPORTUNIDADE ===\nlet tipoOportunidade;\nif (indiceSaturacao < 2) {\n  tipoOportunidade = 'direta';\n} else if (indiceSaturacao < 5) {\n  tipoOportunidade = 'qualidade';\n} else if (indiceSaturacao < 7.0) {\n  tipoOportunidade = 'angulo';\n} else {\n  tipoOportunidade = 'saturado';\n}\n\nconst status = tipoOportunidade === 'saturado' ? 'saturado' : 'validado';\n\n// === DEMANDA SILENCIOSA ===\nconst isDemandaSilenciosa = totalResults > 10000\n  && recentCount <= 5\n  && canaisUnicos <= 3;\n\nreturn [{ json: {\n  id: subId,\n  volume_busca_est: totalResults,\n  views_youtube_top20: top20Views,\n  saturacao_videos_recentes: recentCount,\n  saturacao_canais_unicos: canaisUnicos,\n  saturacao_idade_media_dias: idadeMediaDias,\n  indice_saturacao: indiceSaturacao,\n  indice_oportunidade: indiceOportunidade,\n  tipo_oportunidade: tipoOportunidade,\n  is_demanda_silenciosa: isDemandaSilenciosa,\n  status\n} }];"
      },
      "id": "dac822e4-b20d-484d-9ca3-3aa3a79a74ae",
      "name": "Calcular Métricas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "subtemas",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "dataToSend": "autoMapInputData",
        "inputsToIgnore": "id"
      },
      "id": "086b7bf7-9089-40ae-b1cd-8c6ec5ba9bf8",
      "name": "Atualizar Subtema",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2208,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "V613Fz5xtUhnKknD",
          "name": "Supabase Niche Radar"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { _consolidado: true } }];"
      },
      "id": "22e0e200-bf4c-42be-8818-ec9d3ce531cc",
      "name": "Consolidar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// === NR 1.2.2 — Preparar Subtemas (TESTE: limite 3) ===\nconst subtemas = $('Buscar Subtemas').all().map(i => i.json);\n\nconst novos = subtemas.filter(s => s.status === 'novo');\n\nif (novos.length === 0) {\n  return [{ json: { _vazio: true, motivo: 'nenhum_subtema_novo' } }];\n}\n\n// TESTE: limitar a 70 subtemas\nconst limitados = novos.slice(0, 70);\n\nreturn limitados.map(s => ({\n  json: {\n    subId: s.id,\n    nome: s.nome,\n    keywords: s.keywords || [],\n    is_onda_entre_mercados: s.is_onda_entre_mercados || false\n  }\n}));"
      },
      "id": "75999053-7335-4b41-9af6-8a96364b3cc9",
      "name": "Preparar Subtemas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Buscar Subtemas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Subtemas": {
      "main": [
        [
          {
            "node": "Preparar Subtemas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Um por Vez": {
      "main": [
        [],
        [
          {
            "node": "Esperar 1.5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar 1.5s": {
      "main": [
        [
          {
            "node": "Montar Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Query": {
      "main": [
        [
          {
            "node": "YouTube Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Search": {
      "main": [
        [
          {
            "node": "Processar Busca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Busca": {
      "main": [
        [
          {
            "node": "YouTube Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Videos": {
      "main": [
        [
          {
            "node": "Calcular Métricas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Métricas": {
      "main": [
        [
          {
            "node": "Atualizar Subtema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Subtema": {
      "main": [
        [
          {
            "node": "Consolidar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidar": {
      "main": [
        [
          {
            "node": "Um por Vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Subtemas": {
      "main": [
        [
          {
            "node": "Um por Vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "global": {
      "currentSub": {
        "subId": "63cb3df0-9f2f-4c99-be23-96068990f70e",
        "nome": "Culpa Moral e o Cérebro: Por Que Fugir Não Funciona",
        "keywords": [
          "culpa moral",
          "neurociência da redenção",
          "auto-julgamento"
        ],
        "is_onda": true
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9b932052-d146-4c31-bc78-a20281fc5d7f",
  "activeVersionId": "9b932052-d146-4c31-bc78-a20281fc5d7f",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-17T16:19:33.930Z",
      "createdAt": "2026-02-17T16:19:33.930Z",
      "role": "workflow:owner",
      "workflowId": "lFBVy-ND57xKzLGhX9WZw",
      "projectId": "SoH44tJE4dqRVTiw"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-19T23:25:31.000Z",
    "createdAt": "2026-02-19T23:25:24.204Z",
    "versionId": "9b932052-d146-4c31-bc78-a20281fc5d7f",
    "workflowId": "lFBVy-ND57xKzLGhX9WZw",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 0 14 * * *"
              }
            ]
          }
        },
        "id": "bdb8d5e9-584d-44c8-9940-c1e7372a582f",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "subtemas",
          "returnAll": true
        },
        "id": "bbe8b749-dd36-44c3-8925-dd4a5be72a16",
        "name": "Buscar Subtemas",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          224,
          0
        ],
        "executeOnce": true,
        "credentials": {
          "supabaseApi": {
            "id": "V613Fz5xtUhnKknD",
            "name": "Supabase Niche Radar"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "ead778f1-3885-4f19-a462-cc39b6896e39",
        "name": "Um por Vez",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          672,
          0
        ]
      },
      {
        "parameters": {
          "amount": 1.5
        },
        "id": "938e1a88-929b-441b-a0ca-a70f0c124a04",
        "name": "Esperar 1.5s",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          880,
          0
        ],
        "webhookId": "3615d9a5-261d-4f1c-863b-7673a7b861cd"
      },
      {
        "parameters": {
          "jsCode": "// === NR 1.2.2 — MONTAR QUERY ===\n// Transforma keywords do subtema em query de busca YouTube\n// Usa keyword[0] (mais search-friendly que o nome completo)\n// Salva contexto no staticData para nodes seguintes\n\nconst item = $input.first().json;\n\nif (!item.subId) {\n  return [{ json: { _vazio: true } }];\n}\n\nconst keywords = item.keywords || [];\nconst query = keywords[0] || item.nome || '';\n\nif (!query.trim()) {\n  return [{ json: { _vazio: true, subId: item.subId } }];\n}\n\nconst staticData = $getWorkflowStaticData('global');\nstaticData.currentSub = {\n  subId: item.subId,\n  nome: item.nome,\n  keywords: item.keywords,\n  is_onda: item.is_onda_entre_mercados || false\n};\n\nreturn [{ json: { query, subId: item.subId } }];"
        },
        "id": "74a587ee-ea95-4417-ba86-cdb5318cd13f",
        "name": "Montar Query",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1104,
          0
        ]
      },
      {
        "parameters": {
          "url": "https://www.googleapis.com/youtube/v3/search",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "part",
                "value": "snippet"
              },
              {
                "name": "q",
                "value": "={{ $json.query }}"
              },
              {
                "name": "type",
                "value": "video"
              },
              {
                "name": "maxResults",
                "value": "50"
              },
              {
                "name": "key",
                "value": "AIzaSyD5R7ZES-pdL3jOwIP_U_4_qFlmeoZWw44"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "User-Agent",
                "value": "NicheRadar/1.0 (n8n-workflow; nicheradar-bot)"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "39a10c05-4c17-4293-a368-692e55f7e370",
        "name": "YouTube Search",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1328,
          0
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// === NR 1.2.2 — PROCESSAR BUSCA ===\n// Extrai video IDs do resultado da busca YouTube\n// Se sem resultados, marca _semVideos para tratar no Calcular Métricas\n\nconst response = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nconst sub = staticData.currentSub || {};\n\nconst items = response?.items || [];\nconst totalResults = parseInt(response?.pageInfo?.totalResults || '0');\n\nif (items.length === 0) {\n  return [{ json: {\n    _semVideos: true,\n    subId: sub.subId,\n    totalResults,\n    videoIds: ''\n  } }];\n}\n\nconst videoIds = items\n  .map(r => r.id?.videoId)\n  .filter(Boolean);\n\nif (videoIds.length === 0) {\n  return [{ json: {\n    _semVideos: true,\n    subId: sub.subId,\n    totalResults,\n    videoIds: ''\n  } }];\n}\n\nreturn [{ json: {\n  _semVideos: false,\n  subId: sub.subId,\n  totalResults,\n  videoIds: videoIds.join(','),\n  resultCount: videoIds.length\n} }];"
        },
        "id": "790186bc-2d45-40e3-8ff8-c9faa1ab05bf",
        "name": "Processar Busca",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1552,
          0
        ]
      },
      {
        "parameters": {
          "url": "https://www.googleapis.com/youtube/v3/videos",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "part",
                "value": "snippet,statistics"
              },
              {
                "name": "id",
                "value": "={{ $json.videoIds }}"
              },
              {
                "name": "key",
                "value": "AIzaSyD5R7ZES-pdL3jOwIP_U_4_qFlmeoZWw44"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "User-Agent",
                "value": "NicheRadar/1.0 (n8n-workflow; nicheradar-bot)"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "20284e6b-053a-449f-b8b6-848a5095480b",
        "name": "YouTube Videos",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1760,
          0
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// === NR 1.2.2 — CALCULAR MÉTRICAS ===\n// Computa índices de saturação e oportunidade\n// Determina tipo_oportunidade e status do subtema\n//\n// Índice de Saturação (0-10):\n//   Vídeos recentes 365d (0-3) + Canais únicos (0-3)\n//   + Idade média (0-2) + Views top 20 (0-2)\n//\n// Tipo de Oportunidade:\n//   direta (<2) | qualidade (2-5) | angulo (5-7.0) | saturado (≥7.0)\n\nconst input = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nconst sub = staticData.currentSub || {};\nconst subId = sub.subId;\n\nlet buscaData;\ntry {\n  buscaData = $('Processar Busca').first().json;\n} catch(e) {\n  buscaData = { _semVideos: true, totalResults: 0 };\n}\n\nconst now = new Date();\n\n// === CASO SEM VÍDEOS ===\nif (buscaData._semVideos || !input.items || input.items.length === 0) {\n  const totalResults = buscaData.totalResults || 0;\n  return [{ json: {\n    id: subId,\n    volume_busca_est: totalResults,\n    views_youtube_top20: 0,\n    saturacao_videos_recentes: 0,\n    saturacao_canais_unicos: 0,\n    saturacao_idade_media_dias: null,\n    indice_saturacao: 0,\n    indice_oportunidade: 10,\n    tipo_oportunidade: 'direta',\n    is_demanda_silenciosa: totalResults > 10000,\n    status: 'validado'\n  } }];\n}\n\n// === PROCESSAR VÍDEOS ===\nconst videos = input.items || [];\nconst channelIds = new Set();\nconst viewsList = [];\nlet totalAgeDays = 0;\nlet recentCount = 0;\n\nfor (const v of videos) {\n  const views = parseInt(v.statistics?.viewCount || '0');\n  const publishedAt = new Date(v.snippet?.publishedAt || now);\n  const ageDays = Math.floor((now - publishedAt) / (1000 * 60 * 60 * 24));\n\n  channelIds.add(v.snippet?.channelId);\n  viewsList.push(views);\n  totalAgeDays += ageDays;\n\n  if (ageDays <= 365) recentCount++;\n}\n\nviewsList.sort((a, b) => b - a);\nconst top20Views = viewsList.slice(0, 20).reduce((sum, v) => sum + v, 0);\n\nconst videoCount = videos.length;\nconst canaisUnicos = channelIds.size;\nconst idadeMediaDias = videoCount > 0\n  ? Math.round(totalAgeDays / videoCount)\n  : null;\nconst totalResults = buscaData.totalResults || 0;\n\n// === ÍNDICE DE SATURAÇÃO (0-10) ===\nlet sat = 0;\n\n// 1. Vídeos recentes — últimos 365 dias (0-3)\nif (recentCount >= 21) sat += 3;\nelse if (recentCount >= 9) sat += 2.5;\nelse if (recentCount >= 4) sat += 1.5;\nelse if (recentCount >= 1) sat += 0.5;\n\n// 2. Canais únicos (0-3)\nif (canaisUnicos >= 16) sat += 3;\nelse if (canaisUnicos >= 9) sat += 2.5;\nelse if (canaisUnicos >= 4) sat += 1.5;\nelse if (canaisUnicos >= 2) sat += 0.5;\n\n// 3. Idade média — mais novo = mais saturado (0-2)\nif (idadeMediaDias !== null) {\n  if (idadeMediaDias < 90) sat += 2;\n  else if (idadeMediaDias < 180) sat += 1.5;\n  else if (idadeMediaDias < 365) sat += 1;\n  else if (idadeMediaDias < 730) sat += 0.5;\n}\n\n// 4. Views top 20 (0-2)\nif (top20Views > 10000000) sat += 2;\nelse if (top20Views > 1000000) sat += 1.5;\nelse if (top20Views > 100000) sat += 1;\nelse if (top20Views > 10000) sat += 0.5;\n\nconst indiceSaturacao = Math.round(sat * 100) / 100;\nconst indiceOportunidade = Math.round((10 - indiceSaturacao) * 100) / 100;\n\n// === TIPO DE OPORTUNIDADE ===\nlet tipoOportunidade;\nif (indiceSaturacao < 2) {\n  tipoOportunidade = 'direta';\n} else if (indiceSaturacao < 5) {\n  tipoOportunidade = 'qualidade';\n} else if (indiceSaturacao < 7.0) {\n  tipoOportunidade = 'angulo';\n} else {\n  tipoOportunidade = 'saturado';\n}\n\nconst status = tipoOportunidade === 'saturado' ? 'saturado' : 'validado';\n\n// === DEMANDA SILENCIOSA ===\nconst isDemandaSilenciosa = totalResults > 10000\n  && recentCount <= 5\n  && canaisUnicos <= 3;\n\nreturn [{ json: {\n  id: subId,\n  volume_busca_est: totalResults,\n  views_youtube_top20: top20Views,\n  saturacao_videos_recentes: recentCount,\n  saturacao_canais_unicos: canaisUnicos,\n  saturacao_idade_media_dias: idadeMediaDias,\n  indice_saturacao: indiceSaturacao,\n  indice_oportunidade: indiceOportunidade,\n  tipo_oportunidade: tipoOportunidade,\n  is_demanda_silenciosa: isDemandaSilenciosa,\n  status\n} }];"
        },
        "id": "dac822e4-b20d-484d-9ca3-3aa3a79a74ae",
        "name": "Calcular Métricas",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1984,
          0
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "subtemas",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.id }}"
              }
            ]
          },
          "dataToSend": "autoMapInputData",
          "inputsToIgnore": "id"
        },
        "id": "086b7bf7-9089-40ae-b1cd-8c6ec5ba9bf8",
        "name": "Atualizar Subtema",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2208,
          0
        ],
        "credentials": {
          "supabaseApi": {
            "id": "V613Fz5xtUhnKknD",
            "name": "Supabase Niche Radar"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { _consolidado: true } }];"
        },
        "id": "22e0e200-bf4c-42be-8818-ec9d3ce531cc",
        "name": "Consolidar",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2432,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "// === NR 1.2.2 — Preparar Subtemas (TESTE: limite 3) ===\nconst subtemas = $('Buscar Subtemas').all().map(i => i.json);\n\nconst novos = subtemas.filter(s => s.status === 'novo');\n\nif (novos.length === 0) {\n  return [{ json: { _vazio: true, motivo: 'nenhum_subtema_novo' } }];\n}\n\n// TESTE: limitar a 70 subtemas\nconst limitados = novos.slice(0, 70);\n\nreturn limitados.map(s => ({\n  json: {\n    subId: s.id,\n    nome: s.nome,\n    keywords: s.keywords || [],\n    is_onda_entre_mercados: s.is_onda_entre_mercados || false\n  }\n}));"
        },
        "id": "75999053-7335-4b41-9af6-8a96364b3cc9",
        "name": "Preparar Subtemas",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          0
        ]
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Buscar Subtemas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Subtemas": {
        "main": [
          [
            {
              "node": "Preparar Subtemas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Um por Vez": {
        "main": [
          [],
          [
            {
              "node": "Esperar 1.5s",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Esperar 1.5s": {
        "main": [
          [
            {
              "node": "Montar Query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Montar Query": {
        "main": [
          [
            {
              "node": "YouTube Search",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "YouTube Search": {
        "main": [
          [
            {
              "node": "Processar Busca",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Processar Busca": {
        "main": [
          [
            {
              "node": "YouTube Videos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "YouTube Videos": {
        "main": [
          [
            {
              "node": "Calcular Métricas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calcular Métricas": {
        "main": [
          [
            {
              "node": "Atualizar Subtema",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Atualizar Subtema": {
        "main": [
          [
            {
              "node": "Consolidar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consolidar": {
        "main": [
          [
            {
              "node": "Um por Vez",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Subtemas": {
        "main": [
          [
            {
              "node": "Um por Vez",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Newton Omune",
    "name": "Version 9b932052",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-02-16T17:19:33.490Z",
      "createdAt": "2026-02-16T17:19:33.490Z",
      "id": "8PJAUW0QcFnJRm3N",
      "name": "Niche Radar"
    },
    {
      "updatedAt": "2026-02-17T17:38:55.567Z",
      "createdAt": "2026-02-17T17:38:55.567Z",
      "id": "TDWKJOK0pErLa9BZ",
      "name": "Fase 1.2"
    }
  ]
}