workflows/Prosperidade_CriarCartaoNoTrello.json
{
  "updatedAt": "2025-12-12T01:21:48.000Z",
  "createdAt": "2025-12-11T20:06:52.543Z",
  "id": "m06gZW7InHcllYVR",
  "name": "Prosperidade_CriarCartaoNoTrello",
  "active": true,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "nome"
            },
            {
              "name": "telefone"
            },
            {
              "name": "email"
            },
            {
              "name": "cpfCnpj"
            }
          ]
        }
      },
      "id": "49bd80e8-e0fd-402e-8398-c7b980fed44d",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "listId": "693b1f17a3a0e962a747ea05",
        "name": "={{ $('When Executed by Another Workflow').item.json.Nome }}",
        "description": "=Telefone: {{ $('When Executed by Another Workflow').item.json.Telefone }}\nEmail: {{ $('When Executed by Another Workflow').item.json.Email }}\nCPF/CNPJ: {{ $('When Executed by Another Workflow').item.json.cpfCnpj }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        480,
        352
      ],
      "id": "417783c5-5660-4278-8c9a-379f486a643a",
      "name": "Create a card",
      "credentials": {
        "trelloApi": {
          "id": "CNO5xgfgJ2QsnXK3",
          "name": "Trello Prosperidade"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Leads",
        "filters": {
          "conditions": [
            {
              "keyName": "lead_cpf_cnpj",
              "condition": "eq",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.cpfCnpj }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "trello_id",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        688,
        352
      ],
      "id": "9278016c-a1c9-4145-8ac5-e59b4e5456d5",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "NyAprj4gLt3S4b1d",
          "name": "Fernando_Prosperidade"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        896,
        352
      ],
      "id": "ccc2c47a-fbe8-466d-8fe7-3995167d1f7b",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Create a card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a card": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9ab09342-630e-4261-a1e8-55c076b0a3e7",
  "activeVersionId": "9ab09342-630e-4261-a1e8-55c076b0a3e7",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-11T20:06:52.550Z",
      "createdAt": "2025-12-11T20:06:52.550Z",
      "role": "workflow:owner",
      "workflowId": "m06gZW7InHcllYVR",
      "projectId": "SoH44tJE4dqRVTiw"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-31T19:17:10.384Z",
    "createdAt": "2026-01-31T19:17:10.384Z",
    "versionId": "9ab09342-630e-4261-a1e8-55c076b0a3e7",
    "workflowId": "m06gZW7InHcllYVR",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "nome"
              },
              {
                "name": "telefone"
              },
              {
                "name": "email"
              },
              {
                "name": "cpfCnpj"
              }
            ]
          }
        },
        "id": "49bd80e8-e0fd-402e-8398-c7b980fed44d",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          272,
          352
        ]
      },
      {
        "parameters": {
          "listId": "693b1f17a3a0e962a747ea05",
          "name": "={{ $('When Executed by Another Workflow').item.json.Nome }}",
          "description": "=Telefone: {{ $('When Executed by Another Workflow').item.json.Telefone }}\nEmail: {{ $('When Executed by Another Workflow').item.json.Email }}\nCPF/CNPJ: {{ $('When Executed by Another Workflow').item.json.cpfCnpj }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.trello",
        "typeVersion": 1,
        "position": [
          480,
          352
        ],
        "id": "417783c5-5660-4278-8c9a-379f486a643a",
        "name": "Create a card",
        "credentials": {
          "trelloApi": {
            "id": "CNO5xgfgJ2QsnXK3",
            "name": "Trello Prosperidade"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "Leads",
          "filters": {
            "conditions": [
              {
                "keyName": "lead_cpf_cnpj",
                "condition": "eq",
                "keyValue": "={{ $('When Executed by Another Workflow').item.json.cpfCnpj }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "trello_id",
                "fieldValue": "={{ $json.id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          688,
          352
        ],
        "id": "9278016c-a1c9-4145-8ac5-e59b4e5456d5",
        "name": "Update a row",
        "credentials": {
          "supabaseApi": {
            "id": "NyAprj4gLt3S4b1d",
            "name": "Fernando_Prosperidade"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          896,
          352
        ],
        "id": "ccc2c47a-fbe8-466d-8fe7-3995167d1f7b",
        "name": "No Operation, do nothing"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Create a card",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a card": {
        "main": [
          [
            {
              "node": "Update a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a row": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}