workflows/Prosperidade_cartaoTrello.json
{
  "updatedAt": "2025-12-30T11:30:29.000Z",
  "createdAt": "2025-12-12T01:20:00.860Z",
  "id": "hoLTpzskKJN64fRa",
  "name": "Prosperidade_cartaoTrello",
  "active": true,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "nome"
            },
            {
              "name": "telefone"
            },
            {
              "name": "email"
            },
            {
              "name": "cpfCnpj"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -16,
        336
      ]
    },
    {
      "parameters": {
        "listId": "693b1f17a3a0e962a747ea05",
        "name": "={{ $('When Executed by Another Workflow').item.json.nome }}",
        "description": "=Telefone: {{ $('When Executed by Another Workflow').item.json.telefone }}\nEmail: {{ $('When Executed by Another Workflow').item.json.email }}\nCPF/CNPJ: {{ $('When Executed by Another Workflow').item.json.cpfCnpj }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        304,
        352
      ],
      "id": "2d680a90-1280-4451-acf8-5b7ea6ade78b",
      "name": "Create a card",
      "credentials": {
        "trelloApi": {
          "id": "CNO5xgfgJ2QsnXK3",
          "name": "Trello Prosperidade"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Leads",
        "filters": {
          "conditions": [
            {
              "keyName": "lead_cpf_cnpj",
              "condition": "eq",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.cpfCnpj }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "trello_id",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        512,
        352
      ],
      "id": "ab85a3b2-e7fe-429f-8e6f-35ab651abe03",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "NyAprj4gLt3S4b1d",
          "name": "Fernando_Prosperidade"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        720,
        352
      ],
      "id": "aa8f5f30-6bc3-4b69-b966-b3b307a73af7",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Create a card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a card": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "827f3a4f-8340-47e3-b361-da293f3866d4",
  "activeVersionId": "827f3a4f-8340-47e3-b361-da293f3866d4",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-12T01:20:00.867Z",
      "createdAt": "2025-12-12T01:20:00.867Z",
      "role": "workflow:owner",
      "workflowId": "hoLTpzskKJN64fRa",
      "projectId": "SoH44tJE4dqRVTiw"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-31T19:17:10.384Z",
    "createdAt": "2026-01-31T19:17:10.384Z",
    "versionId": "827f3a4f-8340-47e3-b361-da293f3866d4",
    "workflowId": "hoLTpzskKJN64fRa",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "nome"
              },
              {
                "name": "telefone"
              },
              {
                "name": "email"
              },
              {
                "name": "cpfCnpj"
              }
            ]
          }
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -16,
          336
        ]
      },
      {
        "parameters": {
          "listId": "693b1f17a3a0e962a747ea05",
          "name": "={{ $('When Executed by Another Workflow').item.json.nome }}",
          "description": "=Telefone: {{ $('When Executed by Another Workflow').item.json.telefone }}\nEmail: {{ $('When Executed by Another Workflow').item.json.email }}\nCPF/CNPJ: {{ $('When Executed by Another Workflow').item.json.cpfCnpj }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.trello",
        "typeVersion": 1,
        "position": [
          304,
          352
        ],
        "id": "2d680a90-1280-4451-acf8-5b7ea6ade78b",
        "name": "Create a card",
        "credentials": {
          "trelloApi": {
            "id": "CNO5xgfgJ2QsnXK3",
            "name": "Trello Prosperidade"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "Leads",
          "filters": {
            "conditions": [
              {
                "keyName": "lead_cpf_cnpj",
                "condition": "eq",
                "keyValue": "={{ $('When Executed by Another Workflow').item.json.cpfCnpj }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "trello_id",
                "fieldValue": "={{ $json.id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          512,
          352
        ],
        "id": "ab85a3b2-e7fe-429f-8e6f-35ab651abe03",
        "name": "Update a row",
        "credentials": {
          "supabaseApi": {
            "id": "NyAprj4gLt3S4b1d",
            "name": "Fernando_Prosperidade"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          720,
          352
        ],
        "id": "aa8f5f30-6bc3-4b69-b966-b3b307a73af7",
        "name": "No Operation, do nothing"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Create a card",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a card": {
        "main": [
          [
            {
              "node": "Update a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a row": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}