workflows/Regenera__o_Unificada___Preview.json
{
  "updatedAt": "2026-04-10T23:05:54.920Z",
  "createdAt": "2026-04-06T00:00:57.680Z",
  "id": "gC3JbSLPXKggdieZ",
  "name": "Regeneração Unificada — Preview",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "preview/regenerar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8be8ea7f-8a22-428b-b0e1-27c91447e941",
      "name": "Webhook Regenerar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2272,
        208
      ],
      "webhookId": "preview-regenerar-unificado",
      "notes": "POST /preview/regenerar { video_id }\nDisparado pelo frontend de preview."
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst video_id = item.video_id || (item.body && item.body.video_id) || null;\nif (!video_id) throw new Error('video_id obrigatório.');\nreturn [{ json: { video_id } }];"
      },
      "id": "16ecf2b3-b066-49d9-8408-ee977e61dd17",
      "name": "Normalizar Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2064,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-url",
              "name": "SUPABASE_URL",
              "value": "https://vngtopghlmgqjaibqiyb.supabase.co",
              "type": "string"
            },
            {
              "id": "cfg-key",
              "name": "SUPABASE_SERVICE_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuZ3RvcGdobG1ncWphaWJxaXliIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzUzOTg4NiwiZXhwIjoyMDg5MTE1ODg2fQ.xywZiNZ3h6_uVE9-ltt2LAXtZJ8jTezHCE4LmjBxzTk",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "df793bcf-85d1-4c61-a0fb-b1cc0b71068b",
      "name": "Configuração",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1856,
        208
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/cenas?video_id=eq.{{ $('Normalizar Input').first().json.video_id }}&opcao_id=is.null&tipo_cena=neq.texto&or=(nota_correcao.not.is.null,imagem_status.eq.pendente,video_status.eq.pendente,efeito_status.eq.pendente,tts_status.eq.pendente)&order=ordem.asc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "2dc58d4e-8a99-4879-8aae-de0a0a482ee6",
      "name": "Ler Cenas com Nota",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1648,
        208
      ],
      "notes": "GET cenas com nota_correcao preenchida, excluindo texto."
    },
    {
      "parameters": {
        "jsCode": "const cenasRaw = $('Ler Cenas com Nota').all().map(i => i.json);\nconst cenas = Array.isArray(cenasRaw[0]) ? cenasRaw[0] : cenasRaw;\nconst total = cenas.length;\nreturn [{ json: { success: true, cenas_com_nota: total, mensagem: total > 0 ? 'Processando ' + total + ' cena(s) com nota.' : 'Nenhuma cena com nota de correção.' } }];"
      },
      "id": "9ed48eb9-490d-4348-ba1e-8485c2ae3ec5",
      "name": "Contar e Responder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        208
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a3bb8f6c-cef1-4fd7-9085-edeb062c1abe",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1232,
        208
      ],
      "notes": "Responde imediatamente ao frontend."
    },
    {
      "parameters": {
        "jsCode": "const cenasRaw = $('Ler Cenas com Nota').all().map(i => i.json);\nconst cenas = Array.isArray(cenasRaw[0]) ? cenasRaw[0] : cenasRaw;\nconst tagsRaw = $('Ler Tags Banco').all().map(i => i.json);\nconst tagsList = Array.isArray(tagsRaw[0]) ? tagsRaw[0] : tagsRaw;\nconst tagsDisponiveis = [...new Set(tagsList.map(t => t.tag))].sort().join(', ');\n\nconst cenasComNota = cenas.filter(c => c.nota_correcao && c.nota_correcao.trim().length > 0);\nconst cenasSemNota = cenas.filter(c => !c.nota_correcao || c.nota_correcao.trim().length === 0);\n\nif (cenas.length === 0) {\n  return [{ json: { _semNotas: true, _cenasPendentes: [] } }];\n}\n\n// Sem cenas com nota → pula Claude, passa pendentes adiante\nif (cenasComNota.length === 0) {\n  return [{ json: {\n    _semNotas: true,\n    _cenasPendentes: cenasSemNota\n  } }];\n}\n\nlet efxParse = (efx) => {\n  if (!efx) return [];\n  if (typeof efx === 'string') { try { return JSON.parse(efx); } catch(e) { return []; } }\n  return efx;\n};\n\nconst cenasTexto = cenasComNota.map(c => {\n  const efx = efxParse(c.efeitos_sonoros);\n  return [\n    `CENA ${c.numero} (id: ${c.id}):`,\n    `Narração atual: \"${c.narracao}\"`,\n    `Emoção atual: ${c.emocao}`,\n    `Prompt movimento WAN atual: ${c.prompt_movimento_wan || '—'}`,\n    `Prompt FLUX atual: ${c.prompt_flux || '—'}`,\n    `Efeitos sonoros atuais: ${efx.map(e => (e.tipo === 'banco' ? 'banco:' + e.tag : 'stable_audio:' + e.prompt) + ' (w:' + e.weight + ')').join(', ') || 'nenhum'}`,\n    `Personagem presente: ${c.personagem_presente}`,\n    `Redux strength: ${c.redux_strength || 'null'}`,\n    `NOTA DE CORREÇÃO: ${c.nota_correcao}`\n  ].join('\\n');\n}).join('\\n\\n---\\n\\n');\n\nconst systemPrompt = `Você é o diretor técnico do canal O Mundo de Clay, um canal de horror claymation. Você recebe cenas com notas de correção em linguagem natural e determina EXATAMENTE o que precisa mudar em cada módulo.\n\nMÓDULOS DISPONÍVEIS:\n- IMAGEM: prompt_flux (gera nova imagem FLUX). Só mudar se a nota menciona problema visual na imagem (composição, enquadramento, cenário, personagem).\n- ANIMAÇÃO: prompt_movimento_wan (gera novo vídeo WAN). Só mudar se a nota menciona movimento (muito sutil, muito rápido, direção errada).\n- EFEITO: efeitos_sonoros (busca novos efeitos no banco). Só mudar se a nota menciona efeito sonoro (volume, tag errada, trocar efeito). Tags disponíveis no banco: ${tagsDisponiveis}.\n- NARRAÇÃO: narracao e/ou emocao (regera TTS). Só mudar se a nota menciona texto da narração ou tom/emoção da voz.\n\nREGRAS:\n1. Se a nota NÃO menciona um módulo, NÃO o inclua em modulos_afetados.\n2. Para IMAGEM: manter estrutura claymation_stoners... ANGLE... SUBJECT... LIGHT... FOREGROUND... MIDGROUND... BACKGROUND... COLOR. NUNCA partes do corpo no FOREGROUND.\n3. Para ANIMAÇÃO: descrever UM movimento principal em inglês. Incluir \"continuous motion throughout\" ou \"slow movement throughout\".\n4. Para EFEITO: usar APENAS tags existentes no banco. Cada efeito: {tipo: \"banco\", tag: \"...\", weight: 0.0-1.0}.\n5. Para NARRAÇÃO: manter narração curta (máximo ~15 palavras). Emoções: calma, neutra, tensa, suspense, panico.\n6. Se a nota pede ajuste de volume/weight de efeito, incluir EFEITO nos módulos afetados e retornar o array completo de efeitos_sonoros com weights ajustados.\n\nResponda APENAS com JSON válido, sem markdown:\\n{\"cenas\": [{\"id\": \"uuid\", \"modulos_afetados\": [\"imagem\"|\"animacao\"|\"efeito\"|\"narracao\"], \"prompt_flux\": \"...\", \"prompt_movimento_wan\": \"...\", \"efeitos_sonoros\": [...], \"narracao\": \"...\", \"emocao\": \"...\"}]}`;\n\nreturn [{ json: {\n  _systemPrompt: systemPrompt,\n  _userMessage: 'Interprete as notas de correção e retorne as modificações necessárias:\\n\\n' + cenasTexto,\n  _semNotas: false,\n  _cenasPendentes: cenasSemNota\n} }];"
      },
      "id": "6125d7ea-7f6e-4b87-9a55-3c9c01fbe8b0",
      "name": "Preparar Prompt Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        208
      ],
      "notes": "Monta contexto com dados atuais da cena + nota.\nClaude interpreta e roteia para módulos corretos."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "sem-notas",
              "leftValue": "={{ $json._semNotas }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1b1852eb-605c-4179-828c-dd2f8153f592",
      "name": "IF Sem Notas",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -656,
        -16
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "maxTokensToSample": 8192,
          "temperature": 0.3
        }
      },
      "id": "50165615-09cc-4832-b0d1-dc4b9024297d",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -304,
        400
      ],
      "credentials": {
        "anthropicApi": {
          "id": "h5r0hNi26YDkGMvp",
          "name": "Anthropic"
        }
      },
      "notes": "Sonnet 4.5, 8192 tokens, temp 0.3 (mais determinístico)."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Preparar Prompt Claude').first().json._userMessage }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Preparar Prompt Claude').first().json._systemPrompt }}"
            }
          ]
        }
      },
      "id": "cff4bd27-8929-4fe9-93e0-2d47f42ce17e",
      "name": "Claude Corretor",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -416,
        208
      ],
      "notes": "Claude interpreta notas e retorna JSON com correções por módulo."
    },
    {
      "parameters": {
        "jsCode": "// Parse resposta do Claude e aplicar correções no Supabase\nconst response = $input.first().json;\nconst config = $('Configuração').first().json;\nconst videoId = $('Normalizar Input').first().json.video_id;\n\nlet cenasCorrigidas = [];\ntry {\n  const text = response.text || response.response || '';\n  const clean = text.replace(/```json|```/g, '').trim();\n  cenasCorrigidas = JSON.parse(clean).cenas || [];\n} catch(e) {\n  throw new Error('Parse da resposta do Claude falhou: ' + e.message + '\\nResposta: ' + JSON.stringify(response).substring(0, 500));\n}\n\nconst headers = {\n  'apikey': config.SUPABASE_SERVICE_KEY,\n  'Authorization': 'Bearer ' + config.SUPABASE_SERVICE_KEY,\n  'Content-Type': 'application/json',\n  'Prefer': 'return=minimal'\n};\n\nconst modulosNecessarios = new Set();\n\nfor (const c of cenasCorrigidas) {\n  if (!c.id || !c.modulos_afetados) continue;\n  const modulos = c.modulos_afetados;\n  const updateBody = {};\n\n  // IMAGEM\n  if (modulos.includes('imagem') && c.prompt_flux) {\n    updateBody.prompt_flux = c.prompt_flux;\n    updateBody.imagem_status = 'pendente';\n    modulosNecessarios.add('imagem');\n  }\n\n  // ANIMAÇÃO\n  if (modulos.includes('animacao')) {\n    if (c.prompt_movimento_wan) updateBody.prompt_movimento_wan = c.prompt_movimento_wan;\n    updateBody.video_status = 'pendente';\n    modulosNecessarios.add('animacao');\n  }\n\n  // EFEITO\n  if (modulos.includes('efeito')) {\n    if (c.efeitos_sonoros) updateBody.efeitos_sonoros = c.efeitos_sonoros;\n    updateBody.efeito_status = 'pendente';\n    modulosNecessarios.add('efeito');\n  }\n\n  // NARRAÇÃO\n  if (modulos.includes('narracao')) {\n    if (c.narracao) updateBody.narracao = c.narracao;\n    if (c.emocao) updateBody.emocao = c.emocao;\n    updateBody.tts_status = 'pendente';\n    updateBody.tts_url = null;\n    updateBody.duracao_real = null;\n    modulosNecessarios.add('narracao');\n  }\n\n  // Limpar nota após aplicar\n  updateBody.nota_correcao = null;\n\n  try {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: config.SUPABASE_URL + '/rest/v1/cenas?id=eq.' + c.id,\n      headers,\n      body: updateBody\n    });\n  } catch(e) {}\n}\n\nconst modulosList = Array.from(modulosNecessarios);\n\nreturn [{ json: {\n  _modulosNecessarios: modulosList,\n  _precisaImagem: modulosList.includes('imagem'),\n  _precisaAnimacao: modulosList.includes('animacao'),\n  _precisaEfeito: modulosList.includes('efeito'),\n  _precisaNarracao: modulosList.includes('narracao'),\n  _cenasCorrigidas: cenasCorrigidas.length,\n  videoId: videoId\n} }];"
      },
      "id": "2894976b-17f2-48a5-8d34-f9a68969a338",
      "name": "Aplicar Correções",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        208
      ],
      "notes": "Parseia JSON do Claude.\nAtualiza campos no Supabase.\nMarca status pendente nos módulos afetados.\nLimpa nota_correcao.\nDetermina quais módulos disparar."
    },
    {
      "parameters": {
        "jsCode": "// Dois caminhos de entrada:\n// - Via \"Aplicar Correções\" (tinha notas): já vem com flags calculadas\n// - Via \"IF Sem Notas\" saída true (sem notas): vem do Preparar Prompt Claude, só com _cenasPendentes\n\nconst data = $input.first().json;\nconst videoId = $('Normalizar Input').first().json.video_id;\n\n// Caso 1: já vem com _modulosNecessarios (caminho com notas)\nif (data._modulosNecessarios) {\n  const modulos = data._modulosNecessarios || [];\n  if (modulos.length === 0) {\n    return [{ json: { _mensagem: 'Nenhum módulo precisa ser redisparado.', videoId: videoId } }];\n  }\n  return [{ json: {\n    videoId: videoId,\n    _precisaImagem: data._precisaImagem,\n    _precisaNarracao: data._precisaNarracao,\n    _precisaEfeito: data._precisaEfeito,\n    _precisaAnimacao: data._precisaAnimacao,\n    _modulosNecessarios: modulos\n  } }];\n}\n\n// Caso 2: veio do IF Sem Notas true — calcular módulos a partir de _cenasPendentes\nconst cenasPendentes = data._cenasPendentes || [];\nconst modulosNecessarios = new Set();\n\nfor (const c of cenasPendentes) {\n  if (c.imagem_status === 'pendente') modulosNecessarios.add('imagem');\n  if (c.video_status === 'pendente') modulosNecessarios.add('animacao');\n  if (c.efeito_status === 'pendente') modulosNecessarios.add('efeito');\n  if (c.tts_status === 'pendente') modulosNecessarios.add('narracao');\n}\n\nconst modulosList = Array.from(modulosNecessarios);\n\nif (modulosList.length === 0) {\n  return [{ json: { _mensagem: 'Nenhum módulo precisa ser redisparado.', videoId: videoId } }];\n}\n\nreturn [{ json: {\n  videoId: videoId,\n  _precisaImagem: modulosList.includes('imagem'),\n  _precisaNarracao: modulosList.includes('narracao'),\n  _precisaEfeito: modulosList.includes('efeito'),\n  _precisaAnimacao: modulosList.includes('animacao'),\n  _modulosNecessarios: modulosList\n} }];"
      },
      "id": "579c7cb6-9669-422e-b392-a133d66514f2",
      "name": "Determinar Módulos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        208
      ],
      "notes": "Decide quais módulos disparar baseado nos status pendentes."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "img",
              "leftValue": "={{ $json._precisaImagem }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "13faabb0-694e-4329-b217-283d11d2f5ee",
      "name": "IF Imagem",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "narr",
              "leftValue": "={{ $json._precisaNarracao }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e02a8ce6-ae43-47ee-834d-33a66acaa78e",
      "name": "IF Narração",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        208,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "efx",
              "leftValue": "={{ $json._precisaEfeito }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0e09ea0d-5e61-4781-99ee-da5b77a7c288",
      "name": "IF Efeito",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        208,
        384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "anim",
              "leftValue": "={{ $json._precisaAnimacao }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e3ee7f59-5150-440f-8528-b5a999390ed7",
      "name": "IF Animação",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        208,
        576
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ggwAbeqUPUtmcYcE",
          "mode": "list",
          "cachedResultUrl": "/workflow/ggwAbeqUPUtmcYcE",
          "cachedResultName": "Módulo 04R — Regeneração de Imagens"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_id": "={{ $('Normalizar Input').first().json.video_id }}"
          },
          "matchingColumns": [
            "video_id"
          ],
          "schema": [
            {
              "id": "video_id",
              "displayName": "video_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "9fdaa255-ce5b-4ead-95c5-50177e5170b6",
      "name": "Disparar M04R",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "notes": "⚠️ Selecione 'Módulo 04R — Regeneração de Imagens'.\nvideo_id = {{ $('Normalizar Input').first().json.video_id }}"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ivaHfIgh7u3cuGEW",
          "mode": "list",
          "cachedResultUrl": "/workflow/ivaHfIgh7u3cuGEW",
          "cachedResultName": "Módulo 05R — Regeneração de TTS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_id": "={{ $('Normalizar Input').first().json.video_id }}"
          },
          "matchingColumns": [
            "video_id"
          ],
          "schema": [
            {
              "id": "video_id",
              "displayName": "video_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "41e89bcf-e08f-4f21-8e92-58f90a6ff28f",
      "name": "Disparar M05R",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        416,
        192
      ],
      "notes": "⚠️ Selecione 'Módulo 05R — Regeneração de TTS'.\nvideo_id = {{ $('Normalizar Input').first().json.video_id }}"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "odxHHXuNJHjPYXpo",
          "mode": "list",
          "cachedResultUrl": "/workflow/odxHHXuNJHjPYXpo",
          "cachedResultName": "Módulo 06 — Efeitos Sonoros"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_id": "={{ $('Normalizar Input').first().json.video_id }}"
          },
          "matchingColumns": [
            "video_id"
          ],
          "schema": [
            {
              "id": "video_id",
              "displayName": "video_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "a424622e-fe14-4970-9b19-0ac14a34f328",
      "name": "Disparar M06",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        416,
        384
      ],
      "notes": "⚠️ Selecione 'Módulo 06 — Efeitos Sonoros'.\nvideo_id = {{ $('Normalizar Input').first().json.video_id }}"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Kt0NSgagid8joa1d",
          "mode": "list",
          "cachedResultUrl": "/workflow/Kt0NSgagid8joa1d",
          "cachedResultName": "Módulo 07 — Animação (WAN)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_id": "={{ $('Normalizar Input').first().json.video_id }}"
          },
          "matchingColumns": [
            "video_id"
          ],
          "schema": [
            {
              "id": "video_id",
              "displayName": "video_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "8b988e43-e392-4ee2-9d5f-83c314a7775d",
      "name": "Disparar M07",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        416,
        576
      ],
      "notes": "⚠️ Selecione 'Módulo 07 — Animação (WAN)'.\nvideo_id = {{ $('Normalizar Input').first().json.video_id }}"
    },
    {
      "parameters": {
        "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/banco_efeitos?select=tag",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1024,
        208
      ],
      "id": "e6ebef33-ea9b-4713-b5ad-9b00506f4910",
      "name": "Ler Tags Banco"
    }
  ],
  "connections": {
    "Webhook Regenerar": {
      "main": [
        [
          {
            "node": "Normalizar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Input": {
      "main": [
        [
          {
            "node": "Configuração",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuração": {
      "main": [
        [
          {
            "node": "Ler Cenas com Nota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Cenas com Nota": {
      "main": [
        [
          {
            "node": "Contar e Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contar e Responder": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Webhook": {
      "main": [
        [
          {
            "node": "Ler Tags Banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt Claude": {
      "main": [
        [
          {
            "node": "IF Sem Notas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Sem Notas": {
      "main": [
        [
          {
            "node": "Determinar Módulos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claude Corretor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Claude Corretor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Claude Corretor": {
      "main": [
        [
          {
            "node": "Aplicar Correções",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aplicar Correções": {
      "main": [
        [
          {
            "node": "Determinar Módulos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determinar Módulos": {
      "main": [
        [
          {
            "node": "IF Imagem",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Narração",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Efeito",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Animação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Imagem": {
      "main": [
        [
          {
            "node": "Disparar M04R",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Narração": {
      "main": [
        [
          {
            "node": "Disparar M05R",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Efeito": {
      "main": [
        [
          {
            "node": "Disparar M06",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Animação": {
      "main": [
        [
          {
            "node": "Disparar M07",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Tags Banco": {
      "main": [
        [
          {
            "node": "Preparar Prompt Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "cc68b7ae-1f17-46f3-a30a-88907eca4b31",
  "activeVersionId": "cc68b7ae-1f17-46f3-a30a-88907eca4b31",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-06T00:00:57.690Z",
      "createdAt": "2026-04-06T00:00:57.690Z",
      "role": "workflow:owner",
      "workflowId": "gC3JbSLPXKggdieZ",
      "projectId": "SoH44tJE4dqRVTiw"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-10T23:05:57.000Z",
    "createdAt": "2026-04-10T23:05:54.922Z",
    "versionId": "cc68b7ae-1f17-46f3-a30a-88907eca4b31",
    "workflowId": "gC3JbSLPXKggdieZ",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "preview/regenerar",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "8be8ea7f-8a22-428b-b0e1-27c91447e941",
        "name": "Webhook Regenerar",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -2272,
          208
        ],
        "webhookId": "preview-regenerar-unificado",
        "notes": "POST /preview/regenerar { video_id }\nDisparado pelo frontend de preview."
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst video_id = item.video_id || (item.body && item.body.video_id) || null;\nif (!video_id) throw new Error('video_id obrigatório.');\nreturn [{ json: { video_id } }];"
        },
        "id": "16ecf2b3-b066-49d9-8408-ee977e61dd17",
        "name": "Normalizar Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2064,
          208
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cfg-url",
                "name": "SUPABASE_URL",
                "value": "https://vngtopghlmgqjaibqiyb.supabase.co",
                "type": "string"
              },
              {
                "id": "cfg-key",
                "name": "SUPABASE_SERVICE_KEY",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuZ3RvcGdobG1ncWphaWJxaXliIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzUzOTg4NiwiZXhwIjoyMDg5MTE1ODg2fQ.xywZiNZ3h6_uVE9-ltt2LAXtZJ8jTezHCE4LmjBxzTk",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "df793bcf-85d1-4c61-a0fb-b1cc0b71068b",
        "name": "Configuração",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1856,
          208
        ]
      },
      {
        "parameters": {
          "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/cenas?video_id=eq.{{ $('Normalizar Input').first().json.video_id }}&opcao_id=is.null&tipo_cena=neq.texto&or=(nota_correcao.not.is.null,imagem_status.eq.pendente,video_status.eq.pendente,efeito_status.eq.pendente,tts_status.eq.pendente)&order=ordem.asc",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "2dc58d4e-8a99-4879-8aae-de0a0a482ee6",
        "name": "Ler Cenas com Nota",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1648,
          208
        ],
        "notes": "GET cenas com nota_correcao preenchida, excluindo texto."
      },
      {
        "parameters": {
          "jsCode": "const cenasRaw = $('Ler Cenas com Nota').all().map(i => i.json);\nconst cenas = Array.isArray(cenasRaw[0]) ? cenasRaw[0] : cenasRaw;\nconst total = cenas.length;\nreturn [{ json: { success: true, cenas_com_nota: total, mensagem: total > 0 ? 'Processando ' + total + ' cena(s) com nota.' : 'Nenhuma cena com nota de correção.' } }];"
        },
        "id": "9ed48eb9-490d-4348-ba1e-8485c2ae3ec5",
        "name": "Contar e Responder",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1440,
          208
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "id": "a3bb8f6c-cef1-4fd7-9085-edeb062c1abe",
        "name": "Responder Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          -1232,
          208
        ],
        "notes": "Responde imediatamente ao frontend."
      },
      {
        "parameters": {
          "jsCode": "const cenasRaw = $('Ler Cenas com Nota').all().map(i => i.json);\nconst cenas = Array.isArray(cenasRaw[0]) ? cenasRaw[0] : cenasRaw;\nconst tagsRaw = $('Ler Tags Banco').all().map(i => i.json);\nconst tagsList = Array.isArray(tagsRaw[0]) ? tagsRaw[0] : tagsRaw;\nconst tagsDisponiveis = [...new Set(tagsList.map(t => t.tag))].sort().join(', ');\n\nconst cenasComNota = cenas.filter(c => c.nota_correcao && c.nota_correcao.trim().length > 0);\nconst cenasSemNota = cenas.filter(c => !c.nota_correcao || c.nota_correcao.trim().length === 0);\n\nif (cenas.length === 0) {\n  return [{ json: { _semNotas: true, _cenasPendentes: [] } }];\n}\n\n// Sem cenas com nota → pula Claude, passa pendentes adiante\nif (cenasComNota.length === 0) {\n  return [{ json: {\n    _semNotas: true,\n    _cenasPendentes: cenasSemNota\n  } }];\n}\n\nlet efxParse = (efx) => {\n  if (!efx) return [];\n  if (typeof efx === 'string') { try { return JSON.parse(efx); } catch(e) { return []; } }\n  return efx;\n};\n\nconst cenasTexto = cenasComNota.map(c => {\n  const efx = efxParse(c.efeitos_sonoros);\n  return [\n    `CENA ${c.numero} (id: ${c.id}):`,\n    `Narração atual: \"${c.narracao}\"`,\n    `Emoção atual: ${c.emocao}`,\n    `Prompt movimento WAN atual: ${c.prompt_movimento_wan || '—'}`,\n    `Prompt FLUX atual: ${c.prompt_flux || '—'}`,\n    `Efeitos sonoros atuais: ${efx.map(e => (e.tipo === 'banco' ? 'banco:' + e.tag : 'stable_audio:' + e.prompt) + ' (w:' + e.weight + ')').join(', ') || 'nenhum'}`,\n    `Personagem presente: ${c.personagem_presente}`,\n    `Redux strength: ${c.redux_strength || 'null'}`,\n    `NOTA DE CORREÇÃO: ${c.nota_correcao}`\n  ].join('\\n');\n}).join('\\n\\n---\\n\\n');\n\nconst systemPrompt = `Você é o diretor técnico do canal O Mundo de Clay, um canal de horror claymation. Você recebe cenas com notas de correção em linguagem natural e determina EXATAMENTE o que precisa mudar em cada módulo.\n\nMÓDULOS DISPONÍVEIS:\n- IMAGEM: prompt_flux (gera nova imagem FLUX). Só mudar se a nota menciona problema visual na imagem (composição, enquadramento, cenário, personagem).\n- ANIMAÇÃO: prompt_movimento_wan (gera novo vídeo WAN). Só mudar se a nota menciona movimento (muito sutil, muito rápido, direção errada).\n- EFEITO: efeitos_sonoros (busca novos efeitos no banco). Só mudar se a nota menciona efeito sonoro (volume, tag errada, trocar efeito). Tags disponíveis no banco: ${tagsDisponiveis}.\n- NARRAÇÃO: narracao e/ou emocao (regera TTS). Só mudar se a nota menciona texto da narração ou tom/emoção da voz.\n\nREGRAS:\n1. Se a nota NÃO menciona um módulo, NÃO o inclua em modulos_afetados.\n2. Para IMAGEM: manter estrutura claymation_stoners... ANGLE... SUBJECT... LIGHT... FOREGROUND... MIDGROUND... BACKGROUND... COLOR. NUNCA partes do corpo no FOREGROUND.\n3. Para ANIMAÇÃO: descrever UM movimento principal em inglês. Incluir \"continuous motion throughout\" ou \"slow movement throughout\".\n4. Para EFEITO: usar APENAS tags existentes no banco. Cada efeito: {tipo: \"banco\", tag: \"...\", weight: 0.0-1.0}.\n5. Para NARRAÇÃO: manter narração curta (máximo ~15 palavras). Emoções: calma, neutra, tensa, suspense, panico.\n6. Se a nota pede ajuste de volume/weight de efeito, incluir EFEITO nos módulos afetados e retornar o array completo de efeitos_sonoros com weights ajustados.\n\nResponda APENAS com JSON válido, sem markdown:\\n{\"cenas\": [{\"id\": \"uuid\", \"modulos_afetados\": [\"imagem\"|\"animacao\"|\"efeito\"|\"narracao\"], \"prompt_flux\": \"...\", \"prompt_movimento_wan\": \"...\", \"efeitos_sonoros\": [...], \"narracao\": \"...\", \"emocao\": \"...\"}]}`;\n\nreturn [{ json: {\n  _systemPrompt: systemPrompt,\n  _userMessage: 'Interprete as notas de correção e retorne as modificações necessárias:\\n\\n' + cenasTexto,\n  _semNotas: false,\n  _cenasPendentes: cenasSemNota\n} }];"
        },
        "id": "6125d7ea-7f6e-4b87-9a55-3c9c01fbe8b0",
        "name": "Preparar Prompt Claude",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -816,
          208
        ],
        "notes": "Monta contexto com dados atuais da cena + nota.\nClaude interpreta e roteia para módulos corretos."
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "sem-notas",
                "leftValue": "={{ $json._semNotas }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "1b1852eb-605c-4179-828c-dd2f8153f592",
        "name": "IF Sem Notas",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -656,
          -16
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-sonnet-4-5-20250929",
            "mode": "list",
            "cachedResultName": "Claude Sonnet 4.5"
          },
          "options": {
            "maxTokensToSample": 8192,
            "temperature": 0.3
          }
        },
        "id": "50165615-09cc-4832-b0d1-dc4b9024297d",
        "name": "Anthropic Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          -304,
          400
        ],
        "credentials": {
          "anthropicApi": {
            "id": "h5r0hNi26YDkGMvp",
            "name": "Anthropic"
          }
        },
        "notes": "Sonnet 4.5, 8192 tokens, temp 0.3 (mais determinístico)."
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('Preparar Prompt Claude').first().json._userMessage }}",
          "messages": {
            "messageValues": [
              {
                "message": "={{ $('Preparar Prompt Claude').first().json._systemPrompt }}"
              }
            ]
          }
        },
        "id": "cff4bd27-8929-4fe9-93e0-2d47f42ce17e",
        "name": "Claude Corretor",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.4,
        "position": [
          -416,
          208
        ],
        "notes": "Claude interpreta notas e retorna JSON com correções por módulo."
      },
      {
        "parameters": {
          "jsCode": "// Parse resposta do Claude e aplicar correções no Supabase\nconst response = $input.first().json;\nconst config = $('Configuração').first().json;\nconst videoId = $('Normalizar Input').first().json.video_id;\n\nlet cenasCorrigidas = [];\ntry {\n  const text = response.text || response.response || '';\n  const clean = text.replace(/```json|```/g, '').trim();\n  cenasCorrigidas = JSON.parse(clean).cenas || [];\n} catch(e) {\n  throw new Error('Parse da resposta do Claude falhou: ' + e.message + '\\nResposta: ' + JSON.stringify(response).substring(0, 500));\n}\n\nconst headers = {\n  'apikey': config.SUPABASE_SERVICE_KEY,\n  'Authorization': 'Bearer ' + config.SUPABASE_SERVICE_KEY,\n  'Content-Type': 'application/json',\n  'Prefer': 'return=minimal'\n};\n\nconst modulosNecessarios = new Set();\n\nfor (const c of cenasCorrigidas) {\n  if (!c.id || !c.modulos_afetados) continue;\n  const modulos = c.modulos_afetados;\n  const updateBody = {};\n\n  // IMAGEM\n  if (modulos.includes('imagem') && c.prompt_flux) {\n    updateBody.prompt_flux = c.prompt_flux;\n    updateBody.imagem_status = 'pendente';\n    modulosNecessarios.add('imagem');\n  }\n\n  // ANIMAÇÃO\n  if (modulos.includes('animacao')) {\n    if (c.prompt_movimento_wan) updateBody.prompt_movimento_wan = c.prompt_movimento_wan;\n    updateBody.video_status = 'pendente';\n    modulosNecessarios.add('animacao');\n  }\n\n  // EFEITO\n  if (modulos.includes('efeito')) {\n    if (c.efeitos_sonoros) updateBody.efeitos_sonoros = c.efeitos_sonoros;\n    updateBody.efeito_status = 'pendente';\n    modulosNecessarios.add('efeito');\n  }\n\n  // NARRAÇÃO\n  if (modulos.includes('narracao')) {\n    if (c.narracao) updateBody.narracao = c.narracao;\n    if (c.emocao) updateBody.emocao = c.emocao;\n    updateBody.tts_status = 'pendente';\n    updateBody.tts_url = null;\n    updateBody.duracao_real = null;\n    modulosNecessarios.add('narracao');\n  }\n\n  // Limpar nota após aplicar\n  updateBody.nota_correcao = null;\n\n  try {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: config.SUPABASE_URL + '/rest/v1/cenas?id=eq.' + c.id,\n      headers,\n      body: updateBody\n    });\n  } catch(e) {}\n}\n\nconst modulosList = Array.from(modulosNecessarios);\n\nreturn [{ json: {\n  _modulosNecessarios: modulosList,\n  _precisaImagem: modulosList.includes('imagem'),\n  _precisaAnimacao: modulosList.includes('animacao'),\n  _precisaEfeito: modulosList.includes('efeito'),\n  _precisaNarracao: modulosList.includes('narracao'),\n  _cenasCorrigidas: cenasCorrigidas.length,\n  videoId: videoId\n} }];"
        },
        "id": "2894976b-17f2-48a5-8d34-f9a68969a338",
        "name": "Aplicar Correções",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -208,
          208
        ],
        "notes": "Parseia JSON do Claude.\nAtualiza campos no Supabase.\nMarca status pendente nos módulos afetados.\nLimpa nota_correcao.\nDetermina quais módulos disparar."
      },
      {
        "parameters": {
          "jsCode": "// Dois caminhos de entrada:\n// - Via \"Aplicar Correções\" (tinha notas): já vem com flags calculadas\n// - Via \"IF Sem Notas\" saída true (sem notas): vem do Preparar Prompt Claude, só com _cenasPendentes\n\nconst data = $input.first().json;\nconst videoId = $('Normalizar Input').first().json.video_id;\n\n// Caso 1: já vem com _modulosNecessarios (caminho com notas)\nif (data._modulosNecessarios) {\n  const modulos = data._modulosNecessarios || [];\n  if (modulos.length === 0) {\n    return [{ json: { _mensagem: 'Nenhum módulo precisa ser redisparado.', videoId: videoId } }];\n  }\n  return [{ json: {\n    videoId: videoId,\n    _precisaImagem: data._precisaImagem,\n    _precisaNarracao: data._precisaNarracao,\n    _precisaEfeito: data._precisaEfeito,\n    _precisaAnimacao: data._precisaAnimacao,\n    _modulosNecessarios: modulos\n  } }];\n}\n\n// Caso 2: veio do IF Sem Notas true — calcular módulos a partir de _cenasPendentes\nconst cenasPendentes = data._cenasPendentes || [];\nconst modulosNecessarios = new Set();\n\nfor (const c of cenasPendentes) {\n  if (c.imagem_status === 'pendente') modulosNecessarios.add('imagem');\n  if (c.video_status === 'pendente') modulosNecessarios.add('animacao');\n  if (c.efeito_status === 'pendente') modulosNecessarios.add('efeito');\n  if (c.tts_status === 'pendente') modulosNecessarios.add('narracao');\n}\n\nconst modulosList = Array.from(modulosNecessarios);\n\nif (modulosList.length === 0) {\n  return [{ json: { _mensagem: 'Nenhum módulo precisa ser redisparado.', videoId: videoId } }];\n}\n\nreturn [{ json: {\n  videoId: videoId,\n  _precisaImagem: modulosList.includes('imagem'),\n  _precisaNarracao: modulosList.includes('narracao'),\n  _precisaEfeito: modulosList.includes('efeito'),\n  _precisaAnimacao: modulosList.includes('animacao'),\n  _modulosNecessarios: modulosList\n} }];"
        },
        "id": "579c7cb6-9669-422e-b392-a133d66514f2",
        "name": "Determinar Módulos",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          208
        ],
        "notes": "Decide quais módulos disparar baseado nos status pendentes."
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "img",
                "leftValue": "={{ $json._precisaImagem }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "13faabb0-694e-4329-b217-283d11d2f5ee",
        "name": "IF Imagem",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          208,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "narr",
                "leftValue": "={{ $json._precisaNarracao }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "e02a8ce6-ae43-47ee-834d-33a66acaa78e",
        "name": "IF Narração",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          208,
          192
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "efx",
                "leftValue": "={{ $json._precisaEfeito }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "0e09ea0d-5e61-4781-99ee-da5b77a7c288",
        "name": "IF Efeito",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          208,
          384
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "anim",
                "leftValue": "={{ $json._precisaAnimacao }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "e3ee7f59-5150-440f-8528-b5a999390ed7",
        "name": "IF Animação",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          208,
          576
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "ggwAbeqUPUtmcYcE",
            "mode": "list",
            "cachedResultUrl": "/workflow/ggwAbeqUPUtmcYcE",
            "cachedResultName": "Módulo 04R — Regeneração de Imagens"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "video_id": "={{ $('Normalizar Input').first().json.video_id }}"
            },
            "matchingColumns": [
              "video_id"
            ],
            "schema": [
              {
                "id": "video_id",
                "displayName": "video_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "9fdaa255-ce5b-4ead-95c5-50177e5170b6",
        "name": "Disparar M04R",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          416,
          0
        ],
        "notes": "⚠️ Selecione 'Módulo 04R — Regeneração de Imagens'.\nvideo_id = {{ $('Normalizar Input').first().json.video_id }}"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "ivaHfIgh7u3cuGEW",
            "mode": "list",
            "cachedResultUrl": "/workflow/ivaHfIgh7u3cuGEW",
            "cachedResultName": "Módulo 05R — Regeneração de TTS"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "video_id": "={{ $('Normalizar Input').first().json.video_id }}"
            },
            "matchingColumns": [
              "video_id"
            ],
            "schema": [
              {
                "id": "video_id",
                "displayName": "video_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "41e89bcf-e08f-4f21-8e92-58f90a6ff28f",
        "name": "Disparar M05R",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          416,
          192
        ],
        "notes": "⚠️ Selecione 'Módulo 05R — Regeneração de TTS'.\nvideo_id = {{ $('Normalizar Input').first().json.video_id }}"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "odxHHXuNJHjPYXpo",
            "mode": "list",
            "cachedResultUrl": "/workflow/odxHHXuNJHjPYXpo",
            "cachedResultName": "Módulo 06 — Efeitos Sonoros"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "video_id": "={{ $('Normalizar Input').first().json.video_id }}"
            },
            "matchingColumns": [
              "video_id"
            ],
            "schema": [
              {
                "id": "video_id",
                "displayName": "video_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "a424622e-fe14-4970-9b19-0ac14a34f328",
        "name": "Disparar M06",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          416,
          384
        ],
        "notes": "⚠️ Selecione 'Módulo 06 — Efeitos Sonoros'.\nvideo_id = {{ $('Normalizar Input').first().json.video_id }}"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "Kt0NSgagid8joa1d",
            "mode": "list",
            "cachedResultUrl": "/workflow/Kt0NSgagid8joa1d",
            "cachedResultName": "Módulo 07 — Animação (WAN)"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "video_id": "={{ $('Normalizar Input').first().json.video_id }}"
            },
            "matchingColumns": [
              "video_id"
            ],
            "schema": [
              {
                "id": "video_id",
                "displayName": "video_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "8b988e43-e392-4ee2-9d5f-83c314a7775d",
        "name": "Disparar M07",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          416,
          576
        ],
        "notes": "⚠️ Selecione 'Módulo 07 — Animação (WAN)'.\nvideo_id = {{ $('Normalizar Input').first().json.video_id }}"
      },
      {
        "parameters": {
          "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/banco_efeitos?select=tag",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -1024,
          208
        ],
        "id": "e6ebef33-ea9b-4713-b5ad-9b00506f4910",
        "name": "Ler Tags Banco"
      }
    ],
    "connections": {
      "Webhook Regenerar": {
        "main": [
          [
            {
              "node": "Normalizar Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalizar Input": {
        "main": [
          [
            {
              "node": "Configuração",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Configuração": {
        "main": [
          [
            {
              "node": "Ler Cenas com Nota",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ler Cenas com Nota": {
        "main": [
          [
            {
              "node": "Contar e Responder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Contar e Responder": {
        "main": [
          [
            {
              "node": "Responder Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Responder Webhook": {
        "main": [
          [
            {
              "node": "Ler Tags Banco",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Prompt Claude": {
        "main": [
          [
            {
              "node": "IF Sem Notas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Sem Notas": {
        "main": [
          [
            {
              "node": "Determinar Módulos",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Claude Corretor",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Claude Corretor",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Claude Corretor": {
        "main": [
          [
            {
              "node": "Aplicar Correções",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aplicar Correções": {
        "main": [
          [
            {
              "node": "Determinar Módulos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Determinar Módulos": {
        "main": [
          [
            {
              "node": "IF Imagem",
              "type": "main",
              "index": 0
            },
            {
              "node": "IF Narração",
              "type": "main",
              "index": 0
            },
            {
              "node": "IF Efeito",
              "type": "main",
              "index": 0
            },
            {
              "node": "IF Animação",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Imagem": {
        "main": [
          [
            {
              "node": "Disparar M04R",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Narração": {
        "main": [
          [
            {
              "node": "Disparar M05R",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Efeito": {
        "main": [
          [
            {
              "node": "Disparar M06",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Animação": {
        "main": [
          [
            {
              "node": "Disparar M07",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ler Tags Banco": {
        "main": [
          [
            {
              "node": "Preparar Prompt Claude",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Newton Omune",
    "name": "Version cc68b7ae",
    "description": "",
    "autosaved": true
  },
  "tags": []
}