workflows/Tool_-_atualizar_fase.json
{
  "updatedAt": "2025-12-30T00:03:41.000Z",
  "createdAt": "2025-12-27T00:42:32.318Z",
  "id": "d2zLLGtbvva6sPVg",
  "name": "Tool - atualizar_fase",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "atualizar-fase",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -720,
        -16
      ],
      "id": "ae693f3d-a992-451a-a2b1-501517cda7af",
      "name": "Webhook - Fase",
      "webhookId": "8a7ae12d-ea6f-44e8-83fc-2116f11c393a"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "conversas",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $json.telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "fase_atual",
              "fieldValue": "={{ $json.nova_fase }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -512,
        -16
      ],
      "id": "8d2beff8-3715-4204-8175-8b940b443fa4",
      "name": "Atualizar Fase",
      "credentials": {
        "supabaseApi": {
          "id": "C87gCgyLKdnG6PSu",
          "name": "baralho_prosperidade"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"fase_atualizada\": \"{{ $('Webhook - Fase').first().json.body.nova_fase }}\",\n  \"mensagem\": \"Fase atualizada com sucesso\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        128,
        -16
      ],
      "id": "64ea50ed-7614-4794-8bf2-fe06261171ae",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "conversas",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $json.telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -304,
        -16
      ],
      "id": "1b86f72d-c64a-441c-bf35-abff7fd399d8",
      "name": "Buscar Conversa Completa",
      "credentials": {
        "supabaseApi": {
          "id": "C87gCgyLKdnG6PSu",
          "name": "baralho_prosperidade"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": {
          "__rl": true,
          "value": "={{ $json.trello_card_id }}",
          "mode": "id"
        },
        "updateFields": {
          "desc": "={{ $json.nome }}\nCPF: {{ $json.cpf || 'Não informado' }}\nTelefone: {{ $json.telefone }}\n\n🎴 BARALHO APRESENTADO\n\n✨ Cliente visualizou:\n- 52 cartas com ensinamentos\n- Formas de uso (individual e em dupla)\n- Valor: R$ 50,00 com frete grátis\n\n📊 STATUS:\nStatus: {{ $json.status }}\nFase: apresentacao_venda\n\n🗓️ Apresentado em: {{ $now.toFormat('dd/MM/yyyy HH:mm') }}\n\n💬 Aguardando decisão de compra"
        }
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        -96,
        -16
      ],
      "id": "7c3c9ebd-5331-4839-845c-d6ea18ec5251",
      "name": "Trello - Apresentação",
      "credentials": {
        "trelloApi": {
          "id": "Rw0karD0UnTWxue6",
          "name": "Trello account"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Fase": {
      "main": [
        [
          {
            "node": "Atualizar Fase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Fase": {
      "main": [
        [
          {
            "node": "Buscar Conversa Completa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Conversa Completa": {
      "main": [
        [
          {
            "node": "Trello - Apresentação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trello - Apresentação": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "30b08d68-342f-4180-8847-ad688fefdc44",
  "activeVersionId": "30b08d68-342f-4180-8847-ad688fefdc44",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-27T00:42:32.323Z",
      "createdAt": "2025-12-27T00:42:32.323Z",
      "role": "workflow:owner",
      "workflowId": "d2zLLGtbvva6sPVg",
      "projectId": "SoH44tJE4dqRVTiw"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-31T19:17:10.384Z",
    "createdAt": "2026-01-31T19:17:10.384Z",
    "versionId": "30b08d68-342f-4180-8847-ad688fefdc44",
    "workflowId": "d2zLLGtbvva6sPVg",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "atualizar-fase",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -720,
          -16
        ],
        "id": "ae693f3d-a992-451a-a2b1-501517cda7af",
        "name": "Webhook - Fase",
        "webhookId": "8a7ae12d-ea6f-44e8-83fc-2116f11c393a"
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "conversas",
          "filters": {
            "conditions": [
              {
                "keyName": "telefone",
                "condition": "eq",
                "keyValue": "={{ $json.telefone }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "fase_atual",
                "fieldValue": "={{ $json.nova_fase }}"
              },
              {
                "fieldId": "updated_at",
                "fieldValue": "={{ $now }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -512,
          -16
        ],
        "id": "8d2beff8-3715-4204-8175-8b940b443fa4",
        "name": "Atualizar Fase",
        "credentials": {
          "supabaseApi": {
            "id": "C87gCgyLKdnG6PSu",
            "name": "baralho_prosperidade"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\n  \"success\": true,\n  \"fase_atualizada\": \"{{ $('Webhook - Fase').first().json.body.nova_fase }}\",\n  \"mensagem\": \"Fase atualizada com sucesso\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          128,
          -16
        ],
        "id": "64ea50ed-7614-4794-8bf2-fe06261171ae",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "conversas",
          "limit": 1,
          "filters": {
            "conditions": [
              {
                "keyName": "telefone",
                "condition": "eq",
                "keyValue": "={{ $json.telefone }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -304,
          -16
        ],
        "id": "1b86f72d-c64a-441c-bf35-abff7fd399d8",
        "name": "Buscar Conversa Completa",
        "credentials": {
          "supabaseApi": {
            "id": "C87gCgyLKdnG6PSu",
            "name": "baralho_prosperidade"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "id": {
            "__rl": true,
            "value": "={{ $json.trello_card_id }}",
            "mode": "id"
          },
          "updateFields": {
            "desc": "={{ $json.nome }}\nCPF: {{ $json.cpf || 'Não informado' }}\nTelefone: {{ $json.telefone }}\n\n🎴 BARALHO APRESENTADO\n\n✨ Cliente visualizou:\n- 52 cartas com ensinamentos\n- Formas de uso (individual e em dupla)\n- Valor: R$ 50,00 com frete grátis\n\n📊 STATUS:\nStatus: {{ $json.status }}\nFase: apresentacao_venda\n\n🗓️ Apresentado em: {{ $now.toFormat('dd/MM/yyyy HH:mm') }}\n\n💬 Aguardando decisão de compra"
          }
        },
        "type": "n8n-nodes-base.trello",
        "typeVersion": 1,
        "position": [
          -96,
          -16
        ],
        "id": "7c3c9ebd-5331-4839-845c-d6ea18ec5251",
        "name": "Trello - Apresentação",
        "credentials": {
          "trelloApi": {
            "id": "Rw0karD0UnTWxue6",
            "name": "Trello account"
          }
        }
      }
    ],
    "connections": {
      "Webhook - Fase": {
        "main": [
          [
            {
              "node": "Atualizar Fase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Atualizar Fase": {
        "main": [
          [
            {
              "node": "Buscar Conversa Completa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Conversa Completa": {
        "main": [
          [
            {
              "node": "Trello - Apresentação",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trello - Apresentação": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}