workflows/Webhook___Premissa_Descartar.json
{
  "updatedAt": "2026-04-08T01:08:15.000Z",
  "createdAt": "2026-04-08T01:08:15.818Z",
  "id": "JZsmz5atdBFPvTHS",
  "name": "Webhook — Premissa Descartar",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "premissa/descartar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "097aace8-d595-439b-b249-75f8c915204c",
      "name": "Webhook Descartar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "premissa-descartar",
      "notes": "POST /premissa/descartar { premissa_id }\nMarca premissa como 'descartada' (esconde do feed, pode ser restaurada)."
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst premissa_id = item.premissa_id || (item.body && item.body.premissa_id) || null;\nif (!premissa_id) throw new Error('premissa_id obrigatório.');\nreturn [{ json: { premissa_id } }];"
      },
      "id": "976ac1a8-333b-4774-a393-e723b49bad2b",
      "name": "Normalizar Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-url",
              "name": "SUPABASE_URL",
              "value": "https://vngtopghlmgqjaibqiyb.supabase.co",
              "type": "string"
            },
            {
              "id": "cfg-key",
              "name": "SUPABASE_SERVICE_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuZ3RvcGdobG1ncWphaWJxaXliIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzUzOTg4NiwiZXhwIjoyMDg5MTE1ODg2fQ.xywZiNZ3h6_uVE9-ltt2LAXtZJ8jTezHCE4LmjBxzTk",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "928a9f5c-f949-45ab-9dea-fac8dd38717f",
      "name": "Configuração",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, mensagem: 'Premissa descartada.' }) }}",
        "options": {}
      },
      "id": "124fdce1-2ab6-4354-8de0-4a42df6e5997",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "notes": "Responde imediatamente ao frontend."
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/premissas?id=eq.{{ $('Normalizar Input').first().json.premissa_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'descartada' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f0f2feb5-323e-4f1d-b4cd-4281cdc629db",
      "name": "Marcar Descartada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        0
      ],
      "notes": "PATCH premissas SET status='descartada'."
    }
  ],
  "connections": {
    "Webhook Descartar": {
      "main": [
        [
          {
            "node": "Normalizar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Input": {
      "main": [
        [
          {
            "node": "Configuração",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuração": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Webhook": {
      "main": [
        [
          {
            "node": "Marcar Descartada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "8bb67a23-836c-4038-83f9-9ba781bd64ca",
  "activeVersionId": "8bb67a23-836c-4038-83f9-9ba781bd64ca",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-08T01:08:15.824Z",
      "createdAt": "2026-04-08T01:08:15.824Z",
      "role": "workflow:owner",
      "workflowId": "JZsmz5atdBFPvTHS",
      "projectId": "SoH44tJE4dqRVTiw"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-08T01:08:19.000Z",
    "createdAt": "2026-04-08T01:08:15.826Z",
    "versionId": "8bb67a23-836c-4038-83f9-9ba781bd64ca",
    "workflowId": "JZsmz5atdBFPvTHS",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "premissa/descartar",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "097aace8-d595-439b-b249-75f8c915204c",
        "name": "Webhook Descartar",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "webhookId": "premissa-descartar",
        "notes": "POST /premissa/descartar { premissa_id }\nMarca premissa como 'descartada' (esconde do feed, pode ser restaurada)."
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst premissa_id = item.premissa_id || (item.body && item.body.premissa_id) || null;\nif (!premissa_id) throw new Error('premissa_id obrigatório.');\nreturn [{ json: { premissa_id } }];"
        },
        "id": "976ac1a8-333b-4774-a393-e723b49bad2b",
        "name": "Normalizar Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          0
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cfg-url",
                "name": "SUPABASE_URL",
                "value": "https://vngtopghlmgqjaibqiyb.supabase.co",
                "type": "string"
              },
              {
                "id": "cfg-key",
                "name": "SUPABASE_SERVICE_KEY",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuZ3RvcGdobG1ncWphaWJxaXliIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzUzOTg4NiwiZXhwIjoyMDg5MTE1ODg2fQ.xywZiNZ3h6_uVE9-ltt2LAXtZJ8jTezHCE4LmjBxzTk",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "928a9f5c-f949-45ab-9dea-fac8dd38717f",
        "name": "Configuração",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          416,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ success: true, mensagem: 'Premissa descartada.' }) }}",
          "options": {}
        },
        "id": "124fdce1-2ab6-4354-8de0-4a42df6e5997",
        "name": "Responder Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          624,
          0
        ],
        "notes": "Responde imediatamente ao frontend."
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/premissas?id=eq.{{ $('Normalizar Input').first().json.premissa_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ status: 'descartada' }) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "f0f2feb5-323e-4f1d-b4cd-4281cdc629db",
        "name": "Marcar Descartada",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          832,
          0
        ],
        "notes": "PATCH premissas SET status='descartada'."
      }
    ],
    "connections": {
      "Webhook Descartar": {
        "main": [
          [
            {
              "node": "Normalizar Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalizar Input": {
        "main": [
          [
            {
              "node": "Configuração",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Configuração": {
        "main": [
          [
            {
              "node": "Responder Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Responder Webhook": {
        "main": [
          [
            {
              "node": "Marcar Descartada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Newton Omune",
    "name": "Version 8bb67a23",
    "description": "",
    "autosaved": true
  },
  "tags": []
}