workflows/Webhook___Continuar_para_Montagem.json
{
  "updatedAt": "2026-04-06T14:56:18.230Z",
  "createdAt": "2026-04-06T14:45:15.721Z",
  "id": "lvFN2B9abHm5jpev",
  "name": "Webhook — Continuar para Montagem",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "montagem/disparar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e472329a-2744-4db7-b415-dc4385433095",
      "name": "Webhook Continuar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "montagem-disparar-08",
      "notes": "POST /montagem/disparar { video_id }\nDisparado pelo frontend de preview quando todas as cenas estão aprovadas."
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst video_id = item.video_id || (item.body && item.body.video_id) || null;\nif (!video_id) throw new Error('video_id obrigatório.');\nreturn [{ json: { video_id } }];"
      },
      "id": "700d982e-4cd8-4698-a185-11275e597fc8",
      "name": "Normalizar Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-url",
              "name": "SUPABASE_URL",
              "value": "https://vngtopghlmgqjaibqiyb.supabase.co",
              "type": "string"
            },
            {
              "id": "cfg-key",
              "name": "SUPABASE_SERVICE_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuZ3RvcGdobG1ncWphaWJxaXliIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzUzOTg4NiwiZXhwIjoyMDg5MTE1ODg2fQ.xywZiNZ3h6_uVE9-ltt2LAXtZJ8jTezHCE4LmjBxzTk",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c39c0ee3-7eb5-4a7a-94cc-441696a12a46",
      "name": "Configuração",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, mensagem: 'Avançando para Montagem.' }) }}",
        "options": {}
      },
      "id": "c61b22c1-87fa-42a9-a04f-e4dac78c9c32",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "notes": "Responde imediatamente ao frontend."
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/videos?id=eq.{{ $('Normalizar Input').first().json.video_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ modulo_atual: '08', status: 'processando' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "b2c33e95-717a-4859-8856-b44a02149cd3",
      "name": "Avançar Módulo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        0
      ],
      "notes": "PATCH videos: modulo_atual='08', status='processando'."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xXCs1EYlltvlmUUn",
          "mode": "list",
          "cachedResultUrl": "/workflow/xXCs1EYlltvlmUUn",
          "cachedResultName": "Módulo 08 — Montagem (FFmpeg)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_id": "={{ $('Normalizar Input').first().json.video_id }}"
          },
          "matchingColumns": [
            "video_id"
          ],
          "schema": [
            {
              "id": "video_id",
              "displayName": "video_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "e6e583b7-d8a9-4fe0-bf89-775a77a1338a",
      "name": "Disparar Módulo 08",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1040,
        0
      ],
      "notes": "⚠️ Após importar o Módulo 08, atualize o workflowId aqui.\nPassa { video_id } como input."
    }
  ],
  "connections": {
    "Webhook Continuar": {
      "main": [
        [
          {
            "node": "Normalizar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Input": {
      "main": [
        [
          {
            "node": "Configuração",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuração": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Webhook": {
      "main": [
        [
          {
            "node": "Avançar Módulo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avançar Módulo": {
      "main": [
        [
          {
            "node": "Disparar Módulo 08",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "5dee5e17-5d56-4d89-b252-01c91c27cfc0",
  "activeVersionId": "5dee5e17-5d56-4d89-b252-01c91c27cfc0",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-06T14:45:15.724Z",
      "createdAt": "2026-04-06T14:45:15.724Z",
      "role": "workflow:owner",
      "workflowId": "lvFN2B9abHm5jpev",
      "projectId": "SoH44tJE4dqRVTiw"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-06T15:01:40.000Z",
    "createdAt": "2026-04-06T14:56:18.234Z",
    "versionId": "5dee5e17-5d56-4d89-b252-01c91c27cfc0",
    "workflowId": "lvFN2B9abHm5jpev",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "montagem/disparar",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "e472329a-2744-4db7-b415-dc4385433095",
        "name": "Webhook Continuar",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "webhookId": "montagem-disparar-08",
        "notes": "POST /montagem/disparar { video_id }\nDisparado pelo frontend de preview quando todas as cenas estão aprovadas."
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst video_id = item.video_id || (item.body && item.body.video_id) || null;\nif (!video_id) throw new Error('video_id obrigatório.');\nreturn [{ json: { video_id } }];"
        },
        "id": "700d982e-4cd8-4698-a185-11275e597fc8",
        "name": "Normalizar Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          0
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cfg-url",
                "name": "SUPABASE_URL",
                "value": "https://vngtopghlmgqjaibqiyb.supabase.co",
                "type": "string"
              },
              {
                "id": "cfg-key",
                "name": "SUPABASE_SERVICE_KEY",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuZ3RvcGdobG1ncWphaWJxaXliIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzUzOTg4NiwiZXhwIjoyMDg5MTE1ODg2fQ.xywZiNZ3h6_uVE9-ltt2LAXtZJ8jTezHCE4LmjBxzTk",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "c39c0ee3-7eb5-4a7a-94cc-441696a12a46",
        "name": "Configuração",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          416,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ success: true, mensagem: 'Avançando para Montagem.' }) }}",
          "options": {}
        },
        "id": "c61b22c1-87fa-42a9-a04f-e4dac78c9c32",
        "name": "Responder Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          624,
          0
        ],
        "notes": "Responde imediatamente ao frontend."
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "={{ $('Configuração').first().json.SUPABASE_URL }}/rest/v1/videos?id=eq.{{ $('Normalizar Input').first().json.video_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Configuração').first().json.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ modulo_atual: '08', status: 'processando' }) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "b2c33e95-717a-4859-8856-b44a02149cd3",
        "name": "Avançar Módulo",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          832,
          0
        ],
        "notes": "PATCH videos: modulo_atual='08', status='processando'."
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "xXCs1EYlltvlmUUn",
            "mode": "list",
            "cachedResultUrl": "/workflow/xXCs1EYlltvlmUUn",
            "cachedResultName": "Módulo 08 — Montagem (FFmpeg)"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "video_id": "={{ $('Normalizar Input').first().json.video_id }}"
            },
            "matchingColumns": [
              "video_id"
            ],
            "schema": [
              {
                "id": "video_id",
                "displayName": "video_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "e6e583b7-d8a9-4fe0-bf89-775a77a1338a",
        "name": "Disparar Módulo 08",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1040,
          0
        ],
        "notes": "⚠️ Após importar o Módulo 08, atualize o workflowId aqui.\nPassa { video_id } como input."
      }
    ],
    "connections": {
      "Webhook Continuar": {
        "main": [
          [
            {
              "node": "Normalizar Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalizar Input": {
        "main": [
          [
            {
              "node": "Configuração",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Configuração": {
        "main": [
          [
            {
              "node": "Responder Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Responder Webhook": {
        "main": [
          [
            {
              "node": "Avançar Módulo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Avançar Módulo": {
        "main": [
          [
            {
              "node": "Disparar Módulo 08",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Newton Omune",
    "name": "Version 5dee5e17",
    "description": "",
    "autosaved": true
  },
  "tags": []
}