workflows/Webhook___Premissa_Cancelar.json
{
  "updatedAt": "2026-04-08T01:07:49.000Z",
  "createdAt": "2026-04-08T01:07:49.474Z",
  "id": "JHWhn4hoO78mzXCI",
  "name": "Webhook — Premissa Cancelar",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "premissa/cancelar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "120c7e56-71b6-4905-a129-e2c7983fecee",
      "name": "Webhook Cancelar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "premissa-cancelar",
      "notes": "POST /premissa/cancelar { premissa_id }\nDeleta cascata: storage (6 buckets) + cenas + roteiro_opcoes + videos.\nVolta premissa para 'disponível' (video_id = null)."
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst premissa_id = item.premissa_id || (item.body && item.body.premissa_id) || null;\nif (!premissa_id) throw new Error('premissa_id obrigatório.');\nreturn [{ json: { premissa_id } }];"
      },
      "id": "fc6704f7-65f7-4342-8116-649b6816b26f",
      "name": "Normalizar Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-url",
              "name": "SUPABASE_URL",
              "value": "https://vngtopghlmgqjaibqiyb.supabase.co",
              "type": "string"
            },
            {
              "id": "cfg-key",
              "name": "SUPABASE_SERVICE_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuZ3RvcGdobG1ncWphaWJxaXliIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzUzOTg4NiwiZXhwIjoyMDg5MTE1ODg2fQ.xywZiNZ3h6_uVE9-ltt2LAXtZJ8jTezHCE4LmjBxzTk",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ad01b605-5559-480b-bda6-bcb3771e39f0",
      "name": "Configuração",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, mensagem: 'Cancelamento iniciado. Pode levar alguns segundos.' }) }}",
        "options": {}
      },
      "id": "d3e30a89-3078-470a-bb79-fd2d632f70d5",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "notes": "Responde imediatamente. Cascata roda async."
    },
    {
      "parameters": {
        "jsCode": "// ===================================================================\n// CANCELAR PREMISSA — Cascata completa\n// ===================================================================\n// 1. Busca todos os videos.id da premissa\n// 2. Para cada video: lista e deleta arquivos nos 6 buckets de storage\n// 3. Deleta cenas, roteiro_opcoes, videos\n// 4. Reseta premissa para 'disponível' com video_id=null\n// ===================================================================\n\nconst config = $('Configuração').first().json;\nconst premissa_id = $('Normalizar Input').first().json.premissa_id;\nconst SUPA = config.SUPABASE_URL;\nconst KEY = config.SUPABASE_SERVICE_KEY;\n\nconst BUCKETS = ['imagens', 'narracoes', 'efeitos', 'trilhas', 'animacoes', 'videos-finais'];\n\nconst headersJson = {\n  apikey: KEY,\n  Authorization: 'Bearer ' + KEY,\n  'Content-Type': 'application/json'\n};\nconst headersMinimal = { ...headersJson, Prefer: 'return=minimal' };\n\nconst log = [];\n\n// -------------------------------------------------------------------\n// 1. Buscar videos da premissa\n// -------------------------------------------------------------------\nconst videosResp = await this.helpers.httpRequest({\n  method: 'GET',\n  url: SUPA + '/rest/v1/videos?premissa_id=eq.' + premissa_id + '&select=id',\n  headers: headersJson,\n  json: true\n});\n\nconst videoIds = (videosResp || []).map(v => v.id);\nlog.push('videos encontrados: ' + videoIds.length);\n\n// -------------------------------------------------------------------\n// 2. Para cada video: limpar storage + deletar registros\n// -------------------------------------------------------------------\nfor (const video_id of videoIds) {\n  // 2.1 Storage: lista + delete por bucket\n  for (const bucket of BUCKETS) {\n    try {\n      const listResp = await this.helpers.httpRequest({\n        method: 'POST',\n        url: SUPA + '/storage/v1/object/list/' + bucket,\n        headers: headersJson,\n        body: { prefix: video_id, limit: 1000, offset: 0 },\n        json: true\n      });\n\n      const files = (listResp || []).map(f => video_id + '/' + f.name);\n      if (files.length > 0) {\n        await this.helpers.httpRequest({\n          method: 'DELETE',\n          url: SUPA + '/storage/v1/object/' + bucket,\n          headers: headersJson,\n          body: { prefixes: files },\n          json: true\n        });\n        log.push(bucket + '/' + video_id + ': ' + files.length + ' arquivos deletados');\n      }\n    } catch (e) {\n      log.push('ERRO storage ' + bucket + '/' + video_id + ': ' + (e.message || e));\n    }\n  }\n\n  // 2.2 Deletar cenas\n  try {\n    await this.helpers.httpRequest({\n      method: 'DELETE',\n      url: SUPA + '/rest/v1/cenas?video_id=eq.' + video_id,\n      headers: headersMinimal,\n      json: true\n    });\n    log.push('cenas deletadas (video ' + video_id + ')');\n  } catch (e) {\n    log.push('ERRO cenas ' + video_id + ': ' + (e.message || e));\n  }\n\n  // 2.3 Deletar roteiro_opcoes\n  try {\n    await this.helpers.httpRequest({\n      method: 'DELETE',\n      url: SUPA + '/rest/v1/roteiro_opcoes?video_id=eq.' + video_id,\n      headers: headersMinimal,\n      json: true\n    });\n    log.push('roteiro_opcoes deletadas (video ' + video_id + ')');\n  } catch (e) {\n    log.push('ERRO roteiro_opcoes ' + video_id + ': ' + (e.message || e));\n  }\n\n  // 2.4 Deletar video\n  try {\n    await this.helpers.httpRequest({\n      method: 'DELETE',\n      url: SUPA + '/rest/v1/videos?id=eq.' + video_id,\n      headers: headersMinimal,\n      json: true\n    });\n    log.push('video ' + video_id + ' deletado');\n  } catch (e) {\n    log.push('ERRO delete video ' + video_id + ': ' + (e.message || e));\n  }\n}\n\n// -------------------------------------------------------------------\n// 3. Resetar premissa\n// -------------------------------------------------------------------\ntry {\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: SUPA + '/rest/v1/premissas?id=eq.' + premissa_id,\n    headers: headersMinimal,\n    body: { status: 'disponível', video_id: null },\n    json: true\n  });\n  log.push('premissa ' + premissa_id + ' resetada para disponível');\n} catch (e) {\n  log.push('ERRO reset premissa: ' + (e.message || e));\n}\n\nreturn [{ json: { premissa_id, videos_deletados: videoIds.length, log } }];"
      },
      "id": "e7311249-14d8-469c-9829-165673dd5283",
      "name": "Cascata Cancelar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "notes": "Cascata completa: storage (6 buckets) + cenas + roteiro_opcoes + videos + reset premissa.\nUsa this.helpers.httpRequest pra todas as chamadas.\nLog detalhado retornado pra debug."
    }
  ],
  "connections": {
    "Webhook Cancelar": {
      "main": [
        [
          {
            "node": "Normalizar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Input": {
      "main": [
        [
          {
            "node": "Configuração",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuração": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Webhook": {
      "main": [
        [
          {
            "node": "Cascata Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "1a827d33-a1c0-4c5c-bdff-5e8b162ba853",
  "activeVersionId": "1a827d33-a1c0-4c5c-bdff-5e8b162ba853",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-08T01:07:49.480Z",
      "createdAt": "2026-04-08T01:07:49.480Z",
      "role": "workflow:owner",
      "workflowId": "JHWhn4hoO78mzXCI",
      "projectId": "SoH44tJE4dqRVTiw"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-08T01:07:53.000Z",
    "createdAt": "2026-04-08T01:07:49.482Z",
    "versionId": "1a827d33-a1c0-4c5c-bdff-5e8b162ba853",
    "workflowId": "JHWhn4hoO78mzXCI",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "premissa/cancelar",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "120c7e56-71b6-4905-a129-e2c7983fecee",
        "name": "Webhook Cancelar",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "webhookId": "premissa-cancelar",
        "notes": "POST /premissa/cancelar { premissa_id }\nDeleta cascata: storage (6 buckets) + cenas + roteiro_opcoes + videos.\nVolta premissa para 'disponível' (video_id = null)."
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst premissa_id = item.premissa_id || (item.body && item.body.premissa_id) || null;\nif (!premissa_id) throw new Error('premissa_id obrigatório.');\nreturn [{ json: { premissa_id } }];"
        },
        "id": "fc6704f7-65f7-4342-8116-649b6816b26f",
        "name": "Normalizar Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          0
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cfg-url",
                "name": "SUPABASE_URL",
                "value": "https://vngtopghlmgqjaibqiyb.supabase.co",
                "type": "string"
              },
              {
                "id": "cfg-key",
                "name": "SUPABASE_SERVICE_KEY",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuZ3RvcGdobG1ncWphaWJxaXliIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzUzOTg4NiwiZXhwIjoyMDg5MTE1ODg2fQ.xywZiNZ3h6_uVE9-ltt2LAXtZJ8jTezHCE4LmjBxzTk",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "ad01b605-5559-480b-bda6-bcb3771e39f0",
        "name": "Configuração",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          416,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ success: true, mensagem: 'Cancelamento iniciado. Pode levar alguns segundos.' }) }}",
          "options": {}
        },
        "id": "d3e30a89-3078-470a-bb79-fd2d632f70d5",
        "name": "Responder Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          624,
          0
        ],
        "notes": "Responde imediatamente. Cascata roda async."
      },
      {
        "parameters": {
          "jsCode": "// ===================================================================\n// CANCELAR PREMISSA — Cascata completa\n// ===================================================================\n// 1. Busca todos os videos.id da premissa\n// 2. Para cada video: lista e deleta arquivos nos 6 buckets de storage\n// 3. Deleta cenas, roteiro_opcoes, videos\n// 4. Reseta premissa para 'disponível' com video_id=null\n// ===================================================================\n\nconst config = $('Configuração').first().json;\nconst premissa_id = $('Normalizar Input').first().json.premissa_id;\nconst SUPA = config.SUPABASE_URL;\nconst KEY = config.SUPABASE_SERVICE_KEY;\n\nconst BUCKETS = ['imagens', 'narracoes', 'efeitos', 'trilhas', 'animacoes', 'videos-finais'];\n\nconst headersJson = {\n  apikey: KEY,\n  Authorization: 'Bearer ' + KEY,\n  'Content-Type': 'application/json'\n};\nconst headersMinimal = { ...headersJson, Prefer: 'return=minimal' };\n\nconst log = [];\n\n// -------------------------------------------------------------------\n// 1. Buscar videos da premissa\n// -------------------------------------------------------------------\nconst videosResp = await this.helpers.httpRequest({\n  method: 'GET',\n  url: SUPA + '/rest/v1/videos?premissa_id=eq.' + premissa_id + '&select=id',\n  headers: headersJson,\n  json: true\n});\n\nconst videoIds = (videosResp || []).map(v => v.id);\nlog.push('videos encontrados: ' + videoIds.length);\n\n// -------------------------------------------------------------------\n// 2. Para cada video: limpar storage + deletar registros\n// -------------------------------------------------------------------\nfor (const video_id of videoIds) {\n  // 2.1 Storage: lista + delete por bucket\n  for (const bucket of BUCKETS) {\n    try {\n      const listResp = await this.helpers.httpRequest({\n        method: 'POST',\n        url: SUPA + '/storage/v1/object/list/' + bucket,\n        headers: headersJson,\n        body: { prefix: video_id, limit: 1000, offset: 0 },\n        json: true\n      });\n\n      const files = (listResp || []).map(f => video_id + '/' + f.name);\n      if (files.length > 0) {\n        await this.helpers.httpRequest({\n          method: 'DELETE',\n          url: SUPA + '/storage/v1/object/' + bucket,\n          headers: headersJson,\n          body: { prefixes: files },\n          json: true\n        });\n        log.push(bucket + '/' + video_id + ': ' + files.length + ' arquivos deletados');\n      }\n    } catch (e) {\n      log.push('ERRO storage ' + bucket + '/' + video_id + ': ' + (e.message || e));\n    }\n  }\n\n  // 2.2 Deletar cenas\n  try {\n    await this.helpers.httpRequest({\n      method: 'DELETE',\n      url: SUPA + '/rest/v1/cenas?video_id=eq.' + video_id,\n      headers: headersMinimal,\n      json: true\n    });\n    log.push('cenas deletadas (video ' + video_id + ')');\n  } catch (e) {\n    log.push('ERRO cenas ' + video_id + ': ' + (e.message || e));\n  }\n\n  // 2.3 Deletar roteiro_opcoes\n  try {\n    await this.helpers.httpRequest({\n      method: 'DELETE',\n      url: SUPA + '/rest/v1/roteiro_opcoes?video_id=eq.' + video_id,\n      headers: headersMinimal,\n      json: true\n    });\n    log.push('roteiro_opcoes deletadas (video ' + video_id + ')');\n  } catch (e) {\n    log.push('ERRO roteiro_opcoes ' + video_id + ': ' + (e.message || e));\n  }\n\n  // 2.4 Deletar video\n  try {\n    await this.helpers.httpRequest({\n      method: 'DELETE',\n      url: SUPA + '/rest/v1/videos?id=eq.' + video_id,\n      headers: headersMinimal,\n      json: true\n    });\n    log.push('video ' + video_id + ' deletado');\n  } catch (e) {\n    log.push('ERRO delete video ' + video_id + ': ' + (e.message || e));\n  }\n}\n\n// -------------------------------------------------------------------\n// 3. Resetar premissa\n// -------------------------------------------------------------------\ntry {\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: SUPA + '/rest/v1/premissas?id=eq.' + premissa_id,\n    headers: headersMinimal,\n    body: { status: 'disponível', video_id: null },\n    json: true\n  });\n  log.push('premissa ' + premissa_id + ' resetada para disponível');\n} catch (e) {\n  log.push('ERRO reset premissa: ' + (e.message || e));\n}\n\nreturn [{ json: { premissa_id, videos_deletados: videoIds.length, log } }];"
        },
        "id": "e7311249-14d8-469c-9829-165673dd5283",
        "name": "Cascata Cancelar",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          832,
          0
        ],
        "notes": "Cascata completa: storage (6 buckets) + cenas + roteiro_opcoes + videos + reset premissa.\nUsa this.helpers.httpRequest pra todas as chamadas.\nLog detalhado retornado pra debug."
      }
    ],
    "connections": {
      "Webhook Cancelar": {
        "main": [
          [
            {
              "node": "Normalizar Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalizar Input": {
        "main": [
          [
            {
              "node": "Configuração",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Configuração": {
        "main": [
          [
            {
              "node": "Responder Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Responder Webhook": {
        "main": [
          [
            {
              "node": "Cascata Cancelar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Newton Omune",
    "name": "Version 1a827d33",
    "description": "",
    "autosaved": true
  },
  "tags": []
}